.app-wrapper {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}

::ng-deep .lang-option .mat-select-value {
  color: white !important;
  overflow: visible;
  padding-right: 0px !important;
  font-family: 'Innerspace';
}

::ng-deep .lang-option-text .mat-option-text {
  width: 0;
  padding: 0;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: white !important;

  &:hover {
    background-color: transparent !important;
  }
}

@media (max-width: 800px) {
  .mat-mdc-outlined-button.header-login {
    color: white;
    border-color: white;
    border-radius: 20px;
  }

  .mat-mdc-button.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  mat-icon.mat-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
    margin: 0;
  }

  .mobile-sidenav {
    width: 100%;
    position: fixed;
    z-index: 10001;

    &-header {
      font-family: Innerspace;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 92px;
      box-sizing: border-box;
      padding: 40px 0 7px 8px;
      background-color: #3849f9;
      color: white;

      &-not-auth {
        padding-left: 15px;
      }
    }

    &-shell {
      display: flex;
      flex-direction: column;
      font-family: Innerspace;
      font-size: 13px;
      font-weight: bold;
      color: black;
    }

    &-icon {
      color: gray;
      font-size: 22px;
      vertical-align: middle;
    }

    &-account {
      height: 40px;
      width: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-language {
      ::ng-deep .mat-select-value-text {
        color: black !important;
      }
    }

    &-theme {
      padding: 7px 16px;

      ::ng-deep .mdc-switch__track {
        box-shadow: 0 0 0 1px lightgray;
      }
    }

    &-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;

      &-notification {
        padding: 0;
      }

      & > a {
        padding: 0.5rem 0;
      }
      & > .notif {
        padding: 0;
      }
    }
  }

  .hr-grey {
    color: grey;
    height: 1px;
    background-color: rgba(133, 133, 133, 0.521);
    border-top: 2px;
    opacity: 0.4;
    width: 100%;
    margin: 0;
  }
}
.full-width {
  width: 100%;
}
