<div 
fxLayout='column' 
fxLayoutAlign='space-evenly center' 
fxLayoutGap='20px'>
  <h1 fxLayoutAlign='start'>Знайди найкращі гуртки у своєму місті!</h1>
  <app-searchbar></app-searchbar>

  <div fxLayout='row' fxLayoutAlign='space-evenly center'>
    <app-city-filter></app-city-filter>
    <app-ownership-type-filter></app-ownership-type-filter>
    <app-age-filter></app-age-filter>
    <label>
      <input type="checkbox">
      Лише з відкритм набором
    </label>
  </div> 

  <app-categories-filter></app-categories-filter>
</div>
