<form [formGroup]="AboutItemFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step"
  [ngClass]="(aboutFormAmount > 1) ? 'step-border' : ''">

  <label class="step-label"> Назва розділу </label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="sectionName">
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="AboutItemFormGroup.get('sectionName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <div class="step-label-combined">
    <label class="step-label"> Опис <span class="step-required">*</span></label>
    <label class="step-characters-count">
      {{AboutItemFormGroup.get('description').value.length}}/{{validationConstants.MAX_DESCRIPTION_LENGTH_2000}}</label>
  </div>
  <mat-form-field appearance="none">
    <textarea matInput class="step-textarea" placeholder="Максимум {{validationConstants.MAX_DESCRIPTION_LENGTH_2000}} символів"
      formControlName="description" maxlength="{{validationConstants.MAX_DESCRIPTION_LENGTH_2000}}"></textarea>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="AboutItemFormGroup.get('description')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.MAX_DESCRIPTION_LENGTH_2000">
  </app-validation-hint>
  
  <div fxLayout="row" fxLayoutAlign="center" *ngIf="aboutFormAmount > 1">
    <button class="btn-reset" type="reset" mat-button (click)="onDelete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити дані
    </button>
  </div>
</form>