<div>

  <div class="card-person">
    <div *ngIf="(CardType.child === cardType) then ChildView; else ParentView"></div>
  </div>
  <div *ngIf="(CardType.user === cardType) then UserView"></div>

</div>

<ng-template #ChildView>
  <div class="card-edit">
    <label class="card-label">ПІБ</label>
    <a class="edit" [routerLink]="['/create-child', card.id]">
      <mat-icon>create</mat-icon>Редагувати
    </a>
  </div>
  <p>{{ card?.lastName }} {{ card?.firstName }} {{ card?.middleName }} </p>
  <label class="card-label">Дата народження</label>
  <p>{{ card.dateOfBirth | date: constants.SHORT_DATE_FORMAT }}</p>
  <label class="card-label">Стать дитини</label>
  <p> {{ card.gender === 0 ? 'Чоловіча' : "Жіноча" }} </p>
  <label class="card-label">Соціальна група</label>
  <p> {{ card.socialGroupId === 0 ? 'Відстуня' : "Присутня" }} </p>
</ng-template>

<ng-template #ParentView>
  <div class="card-edit">
    <label class="card-label">ПІБ</label>
    <a class="edit" routerLink="/personal-cabinet/config/edit">
      <mat-icon>create</mat-icon>Редагувати
    </a>
  </div>
  <p>{{ card?.lastName }} {{ card?.firstName }} {{ card?.middleName }} </p>
  <label class="card-label">Телефон</label>
  <p> {{ phonePrefix + card?.phoneNumber | phoneTransform }} </p>
  <label class="card-label">Електронна пошта</label>
  <p> {{ card.email}} </p>
</ng-template>

<ng-template #UserView>
  <form [formGroup]="UserFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="user-form">

    <label class="step-label">Дата народження<span class="step-required">*</span></label>
    <mat-form-field appPlaceholderStyling class="step-input step-input-date" floatLabel="never">
      <input matInput [matDatepicker]="picker" formControlName="birthDay" placeholder="ДД/ММ/РРРР">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label class="step-label">Стать<span class="step-required">*</span></label>
    <mat-radio-group formControlName="gender" color="primary">
      <mat-radio-button class="step-radio" [value]="0">Чоловіча</mat-radio-button>
      <mat-radio-button class="step-radio" [value]="1">Жіноча</mat-radio-button>
    </mat-radio-group>

    <label class="step-label">Соціальна група<span class="step-required">*</span></label>
    <mat-form-field appPlaceholderStyling floatLabel="never" appearance="none">
      <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input"
        placeholder="Соціальна група" formControlName="socialGroupId">
        <mat-option value="0" selected class="dropdown-option"> Присутня </mat-option>
        <mat-option value="1" class="dropdown-option"> Відсутня </mat-option>
      </mat-select>
    </mat-form-field>


  </form>

</ng-template>
