<div class="card-person">
  <div class="card-edit">
    <label class="card-label">ПІБ</label>
    <a [routerLink]="[editLink]" class="edit">
      <button mat-button style="color: #3849f9"><mat-icon style="color: #3849f9">edit</mat-icon>Редагувати</button>
    </a>
  </div>
  <p>{{ child.lastName }} {{ child.firstName }} {{ child.middleName }}</p>
  <label class="card-label">Дата народження</label>
  <p>{{ child.dateOfBirth | date: dateFormat }}</p>
  <label class="card-label">Стать</label>
  <p>{{ gender[child.gender] }}</p>

  <ng-container *ngIf="!child.isParent">
    <div class="info-group">
      <h5 class="text">Соціальні групи:</h5>
      <p>{{ child.socialGroups | join: 'name' }}</p>
    </div>
  </ng-container>
</div>
