@use '../../../../shared/styles/components/card-wrapper';
@use '../../../../shared/styles/components/cards';
@use '../../../../shared/styles/components/list-wrappers';
@use '../../../../shared/styles/components/navigation-tabs';
@use '../../../../shared/styles/components/buttons';
.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--list-text-color);
}
.add-wrapper {
  margin-top: 2rem;
}
