<div *ngIf="isAllowedEdit" class="add-wrapper">
  <p class="text">Тут ви можете додати досягнення.</p>
  <a [routerLink]="['/create-achievement', workshop.id]">
    <button class="btn" mat-raised-button>Додати досягнення</button>
  </a>
</div>
<ng-container *ngIf="!(isLoading$ | async) && !!achievements">
  <div class="card-wrapper" *ngIf="achievements?.totalAmount; else isEmptyList">
    <ng-container *ngIf="achievementsTypes">
      <app-achievement-card
        *ngFor="let achievement of achievements?.entities"
        [achievement]="achievement"
        [workshop]="workshop"
        [achievementsTypes]="achievementsTypes"
        (deleteAchievement)="onDelete($event)"
        [isAllowedEdit]="isAllowedEdit"
      >
      </app-achievement-card>
    </ng-container>
  </div>
  <ng-container *ngIf="achievements.totalAmount">
    <app-paginator
      [totalEntities]="achievements.totalAmount"
      [currentPage]="currentPage"
      [itemsPerPage]="achievementPerPage"
      (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
    >
    </app-paginator>
  </ng-container>
</ng-container>


<ng-template #isEmptyList>
  <ng-container *ngIf="!isAllowedEdit">
    <app-no-result-card [title]="noResultAchievements"></app-no-result-card>
  </ng-container>
</ng-template>
