<mat-card [ngClass]="application.status === applicationStatuses.Pending ? 'card card-new' : 'card'">
  <mat-card-content [ngClass]="userRole === role.parent ? 'card-block card-block__parent' : 'card-block'">
    <div class="card-block__info">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="start">
          <h4 class="title">{{ childFullName }}</h4>
          <i [ngClass]="childTrigger.menuOpen
                   ? 'material-icons status-info-icon activeInfoBtn'
                   : 'material-icons status-info-icon inactiveInfoBtn'"
             [matMenuTriggerFor]="childInfo"
             #childTrigger="matMenuTrigger">
            info_outline
          </i>
          <mat-menu class="status-menu childInfo-menu" #childInfo="matMenu" [overlapTrigger]="false">
            <app-child-info-box [child]="application.child" (click)="$event.stopPropagation()"></app-child-info-box>
          </mat-menu>
        </div>
        <p class="text text-bold">
          {{ childAge
             ? (childAge | translateCases : YearDeclination)
             : ('LESS_THAN_ONE_YEAR' | translate) }}
        </p>
        <p class="text">
          {{ application.creationTime | date : constants.FULL_DATE_FORMAT }}
        </p>
      </div>
      <div class="workshop-description">
        <h4 [routerLink]="['/details/workshop', application?.workshopId]"
            [matTooltip]="application?.workshop.title"
            showTooltipIfTruncated
            matTooltipClass="tooltip"
            matTooltipPosition="below"
            [classList]="userIsAdmin ? 'text text-link' : 'title text-link'">
          {{ application?.workshop.title }}
        </h4>
        <div class="organization"
             fxLayout="row"
             fxLayoutAlign="center center"
             *ngIf="userRole === role.parent || userIsAdmin">
          <mat-icon class="text_icon" *ngIf="!userIsAdmin">home</mat-icon>
          <p [classList]="userIsAdmin ? 'text title text-link' : 'text text-link'"
             [routerLink]="['/details/provider', application?.workshop.providerId]">
            {{ application?.workshop.providerTitle }}
          </p>
        </div>
        <p *ngIf="userIsAdmin" class="text title">
          {{ application.workshop.address.codeficatorAddressDto.settlement }}
        </p>
        <div class="workshop-age" *ngIf="userRole === role.parent">
          <mat-icon class="text_icon">person</mat-icon>
          <p class="text">
            {{ application?.workshop.minAge }} - {{ application?.workshop.maxAge }} {{ 'YEARS' | translate }}
          </p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <app-info-status [application]="application"></app-info-status>
      </div>
    </div>
    <ng-container *ngIf="isMobileView; then actionsBlock"></ng-container>
  </mat-card-content>
  <mat-card-content class="card-block card-block__buttons" *ngIf="userRole === role.provider && !application.isBlocked">
    <button class="btn btn-blue" (click)="approve.emit(application)" [ngClass]="isApproveBtnHidden && 'hidden'">
      <p>{{ 'BUTTONS.APPROVE_APPLICATION' | translate }}</p>
    </button>
    <button class="btn btn-gray"
            (click)="reject.emit(application)"
            [ngClass]="(application.status === applicationStatuses.Rejected
            || application.status === applicationStatuses.Left)
            && 'hidden'">
      <p>{{ 'BUTTONS.REJECT' | translate }}</p>
    </button>
  </mat-card-content>

  <mat-card-content class="card-block card-block__buttons"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    *ngIf="userRole === role.parent">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         [ngClass]="(application.status === applicationStatuses.Left
         || application.status === applicationStatuses.Rejected)
         && 'hidden'">
      <button class="btn btn-gray" (click)="leave.emit(application)">
        <p>{{ 'BUTTONS.LEAVE_WORKSHOP' | translate }}</p>
      </button>
    </div>
  </mat-card-content>

  <ng-container *ngIf="!isMobileView; then actionsBlock"></ng-container>
</mat-card>

<ng-template #actionsBlock>
  <mat-card-content class="card-block card-block__actions">
    <mat-icon *ngIf="userRole === role.provider"
              class="material-icons material-icons__actions"
              [matMenuTriggerFor]="actions">
      more_vert
    </mat-icon>
    <mat-icon *ngIf="userRole === role.provider || userRole === role.parent"
              class="material-icons material-icons__actions"
              [matMenuTriggerFor]="email">
      email
    </mat-icon>
    <mat-menu #actions="matMenu" class="header_menu">
      <button *ngIf="!application.isBlocked" mat-menu-item (click)="block.emit(application.parentId)">
        {{ 'BUTTONS.BLOCK_USER' | translate }}
      </button>
      <button *ngIf="application.isBlocked" mat-menu-item (click)="unblock.emit(application.parentId)">
        {{ 'BUTTONS.UNBLOCK_USER' | translate }}
      </button>
    </mat-menu>
    <mat-menu #email="matMenu" class="header_menu">
      <button mat-menu-item (click)="sendMessage.emit(application)">{{ 'BUTTONS.SEND_MESSAGE' | translate }}</button>
    </mat-menu>
  </mat-card-content>
</ng-template>
