@import "src/app/shared/styles/buttons.scss";
@import "src/app/shared/styles/application-statuses.scss";

p {
  margin: 0px;
}
.card>:nth-of-type(2) {
  max-width: 20%;
}
.card {
  background: white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  width: inherit;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  &-block{
    flex: 1;
  }
  &-new {
    border-left: 5px solid #3849f9;
  }
}
::ng-deep .mat-menu-panel.childInfo-menu{
  max-width:none;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px !important;
}
::ng-deep .childInfo-menu .mat-menu-content {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0px !important;
  padding: 0px !important;
}

.title{
  font-family: 'Innerspace';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  padding-bottom: 8px;
}
.text{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  &-bold{
    font-weight: 700;
    padding-bottom: 8px;
  }
  &-link{
    &:hover {
      color: #3849F9;
      cursor: pointer;
      opacity: 0.5;
    }
  }
  &_icon{
    color: #AAAAAA;
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.application-status {
  padding: 2px;
}
.application-popup-status {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.btn{
  font-family: 'Innerspace';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  padding: 0.6rem 1.9rem;
  &-blue{
    min-width: 10rem;
  }

  &-gray{
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #444444;
    min-width: 10rem;
    padding: 0.6rem 1.9rem;
  }
}
.hidden{
  visibility: hidden;
}
.card-block {
  margin: 0px;
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.material-icons {
  font-size: 16px;
  line-height: 14.6px;
  color: #888;
}
.organization {
  padding-bottom: 8px;
}
.workshop-description {
  width: 100%;

  h4 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.application-status {
  width: 80%;
}
.status-icon {
  font-size: 12px!important;
}
.activeInfoBtn {
  color: #3849f9;
  font-size: 16px;
}
.inactiveInfoBtn {
  color: #AAAAAA;
  font-size: 16px;
}

@media (min-width: 751px) and (max-width: 950px) {
  .card-block {
    max-width: 25%;
  }
  .card-block-buttons {
    flex-flow: wrap;
    row-gap: 1rem;
  }
  .hidden {
    display: none !important;
  }
}

@media(max-width: 750px) {
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start !important;
  }

  .card>:nth-of-type(2) {
    max-width: 100%;
  }

  .card-block,
  .workshop-description,
  .application-status,
  .workshop-header,
  .status-menu {
    margin: 0px;
    width: 100%;
    text-align: center;
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .btn{
        min-width: min-content;
        margin: 1rem 0 0 0;
      }
    }
    .title,.name{
      width: 100%;
      text-align: center;
    }
    .application-status, .title, .btn-gray{
      margin-top: 1rem;
    }
  }
  .status-info-icon{
    margin-left: 1px;
  }
  .activeInfoBtn {
    color: #3849f9;
    font-size: 25px;
  }
  .inactiveInfoBtn {
    color: #AAAAAA;
    font-size: 25px;
  }
}
