<mat-card [ngClass]="application.status === applicationStatuses.Pending ? 'card card-new' : 'card'">
  <mat-card-content [ngClass]="userRole === role.parent ? 'card-block card-block__parent' : 'card-block'">
    <div class="card-block__info">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="start">
          <h4 class="title">{{ childFullName }}</h4>
          <i
            [ngClass]="
              cildTriger.menuOpen ? 'material-icons status-info-icon activeInfoBtn' : 'material-icons status-info-icon inactiveInfoBtn'
            "
            [matMenuTriggerFor]="childInfo"
            #cildTriger="matMenuTrigger"
            >info_outline</i
          >
          <mat-menu class="status-menu childInfo-menu" #childInfo="matMenu" [overlapTrigger]="false">
            <app-child-info-box [child]="application.child" (click)="$event.stopPropagation()"></app-child-info-box>
          </mat-menu>
        </div>
        <p class="text text-bold">{{ childAge }}</p>
        <p class="text">
          {{ application.creationTime | date: constants.FULL_DATE_FORMAT }}
        </p>
      </div>
      <div class="workshop-description">
        <h4
          [routerLink]="['/details/workshop', application?.workshopId]"
          [matTooltip]="application?.workshop.title"
          showTooltipIfTruncated
          matTooltipClass="tooltip"
          matTooltipPosition="below"
          [classList]="userIsAdmin ? 'text text-link' : 'title text-link'"
        >
          {{ application?.workshop.title }}
        </h4>
        <div class="organization" fxLayout="row" fxLayoutAlign="center center" *ngIf="userRole === role.parent || userIsAdmin">
          <mat-icon class="text_icon" *ngIf="!userIsAdmin">home</mat-icon>
          <p
            [classList]="userIsAdmin ? 'text title text-link' : 'text text-link'"
            [routerLink]="['/details/provider', application?.workshop.providerId]"
          >
            {{ application?.workshop.providerTitle }}
          </p>
        </div>
        <p *ngIf="userIsAdmin" class="text title">
          {{ application.workshop.address.codeficatorAddressDto.settlement }}
        </p>
        <div class="workshop-age" *ngIf="userRole === role.parent">
          <mat-icon class="text_icon">person</mat-icon>
          <p class="text">{{ application?.workshop.minAge }} - {{ application?.workshop.maxAge }} {{"YEARS" | translate}}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <app-info-status [application]="application"></app-info-status>
      </div>
    </div>

    <ng-container *ngIf="userRole === role.provider && isMobileView; then actionsBlock"> </ng-container>
  </mat-card-content>
  <mat-card-content class="card-block card-block__buttons" *ngIf="userRole === role.provider">
    <button class="btn btn-blue" (click)="onApprove(application)" [ngClass]="application.status === applicationStatuses.Approved && 'hidden'">
      <p>{{ 'BUTTONS.APPROVE_APPLICATION' | translate }}</p>
    </button>
    <button
      class="btn btn-gray"
      (click)="onReject(application)"
      [ngClass]="(application.status === applicationStatuses.Rejected || application.status === applicationStatuses.Left) && 'hidden'"
    >
      <p>{{ 'BUTTONS.REJECT' | translate }}</p>
    </button>
  </mat-card-content>

  <ng-container *ngIf="userRole === role.provider && !isMobileView; then actionsBlock"> </ng-container>

  <mat-card-content class="card-block card-block__buttons" fxLayout="row" fxLayoutAlign="center center" *ngIf="userRole === role.parent">
    <div
      fxLayout="column"
      fxLayoutAlign="start start"
      [ngClass]="(application.status === applicationStatuses.Left || application.status === applicationStatuses.Rejected) && 'hidden'"
    >
      <button class="btn btn-gray" (click)="onLeave(application)">
        <p>{{ 'BUTTONS.LEAVE' | translate }}</p>
      </button>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #actionsBlock>
  <mat-card-content class="card-block card-block__actions">
    <mat-icon class="material-icons material-icons__actions" [matMenuTriggerFor]="actions">more_vert</mat-icon>
    <mat-menu #actions="matMenu" class="header_menu">
      <button *ngIf="!application.isBlocked" mat-menu-item (click)="onBlock()">{{ 'BUTTONS.BLOCK' | translate }}</button>
      <button *ngIf="application.isBlocked" mat-menu-item (click)="onUnBlock()">{{ 'BUTTONS.UNBLOCK' | translate }}</button>
    </mat-menu>
  </mat-card-content>
</ng-template>
