<mat-card
  class="card"
  [class.card-new]="application.status === ApplicationStatuses.Pending"
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <mat-card-content class="card-block" [class.card-block__parent]="userRole === Role.parent">
    <div class="card-block__info">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="space-between" class="card-block__child-name">
          <h4 class="title" showTooltipIfTruncated matTooltip="{{ childFullName }}" matTooltipClass="tooltip">{{ childFullName }}</h4>
          <app-info-menu [type]="InfoMenuType.Component">
            <app-child-info-box [child]="application.child" (click)="$event.stopPropagation()"></app-child-info-box>
          </app-info-menu>
        </div>
        <p class="text text-bold">
          {{ childAge ? (childAge | translateCases: YearDeclination) : ('LESS_THAN_ONE_YEAR' | translate) }}
        </p>
        <p class="text">
          {{ application.creationTime | date: Constants.FULL_DATE_FORMAT }}
        </p>
      </div>
      <div class="workshop-description">
        <h4
          [routerLink]="['/details/workshop', application?.workshopId]"
          [matTooltip]="application?.workshop.title"
          showTooltipIfTruncated
          matTooltipClass="tooltip"
          matTooltipPosition="below"
          [classList]="userIsAdmin ? 'text text-link' : 'title text-link'">
          {{ application?.workshop.title }}
        </h4>
        <h5 *ngIf="userRole === Role.provider">
          {{ applicationDirections }}
        </h5>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          *ngIf="userRole === Role.provider && application?.workshop.availableSeats !== Constants.WORKSHOP_UNLIMITED_SEATS">
          <mat-icon class="text_icon">person</mat-icon>
          <p class="text">
            Доступних місць:&nbsp;
            <b>{{ application?.workshop.availableSeats - application?.workshop.takenSeats }}</b>
          </p>
        </div>
        <div class="organization" fxLayout="row" fxLayoutAlign="center center" *ngIf="userRole === Role.parent || userIsAdmin">
          <mat-icon class="text_icon" *ngIf="!userIsAdmin">home</mat-icon>
          <p
            [classList]="userIsAdmin ? 'text title text-link' : 'text text-link'"
            [routerLink]="['/details/provider', application?.workshop.providerId]">
            {{ application?.workshop.providerTitle }}
          </p>
        </div>
        <p *ngIf="userIsAdmin" class="text title">
          {{ application.workshop.address.codeficatorAddressDto.settlement }}
        </p>
        <div class="workshop-age" *ngIf="userRole === Role.parent">
          <mat-icon class="text_icon">person</mat-icon>
          <p class="text">{{ application?.workshop.minAge }} - {{ application?.workshop.maxAge }} {{ 'YEARS' | translate }}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <app-info-status [application]="application"></app-info-status>
      </div>
      <div class="workshop_actions" fxLayoutAlign="start center">
        <ng-container *ngIf="userRole === Role.provider && !application.isBlockedByProvider; else whenParentIsBlocked">
          <mat-card-content class="card-block card-block__buttons">
            <ng-container *ngIf="application.workshop.competitiveSelection; else approveButtonBlock">
              <ng-container *ngIf="application.status === ApplicationStatuses.Pending">
                <button class="btn" (click)="acceptForSelection.emit(application)" [class.hidden]="isApproveBtnHidden">
                  <p>{{ 'BUTTONS.ACCEPT_TO_COMPETITIVE_SELECTION' | translate }}</p>
                </button>
              </ng-container>
              <ng-container *ngIf="application.status === ApplicationStatuses.AcceptedForSelection">
                <button class="btn" (click)="approve.emit(application)" [class.hidden]="isApproveBtnHidden">
                  <p>{{ 'BUTTONS.ENROLL_TO_WORKSHOP' | translate }}</p>
                </button>
              </ng-container>
            </ng-container>
            <ng-template #approveButtonBlock>
              <button class="btn" (click)="approve.emit(application)" [class.hidden]="isApproveBtnHidden">
                <p>{{ 'BUTTONS.ENROLL_TO_WORKSHOP' | translate }}</p>
              </button>
            </ng-template>
            <button
              class="btn btn-gray"
              (click)="reject.emit(application)"
              [ngClass]="
                (application.status === ApplicationStatuses.Rejected || application.status === ApplicationStatuses.Left) && 'hidden'
              ">
              <p>{{ 'BUTTONS.REJECT' | translate }}</p>
            </button>
          </mat-card-content>
        </ng-container>
        <mat-card-content class="card-block card-block__buttons" fxLayout="row" fxLayoutAlign="end center" *ngIf="userRole === Role.parent">
          <div
            fxLayout="column"
            fxLayoutAlign="start start"
            [ngClass]="(application.status === ApplicationStatuses.Left || application.status === ApplicationStatuses.Rejected) && 'hidden'">
            <button class="btn btn-gray" (click)="leave.emit(application)">
              <p>{{ 'BUTTONS.LEAVE_WORKSHOP' | translate }}</p>
            </button>
          </div>
        </mat-card-content>
      </div>
    </div>
    <ng-container *ngIf="isMobileView; then actionsBlock"></ng-container>
  </mat-card-content>

  <ng-template #whenParentIsBlocked>
    <mat-card-content class="card-block card-block__buttons"></mat-card-content>
  </ng-template>

  <ng-container *ngIf="!isMobileView; then actionsBlock"></ng-container>
</mat-card>

<ng-template #actionsBlock>
  <mat-card-content class="card-block card-block__actions">
    <mat-icon *ngIf="userRole === Role.provider" class="material-icons material-icons__actions" [matMenuTriggerFor]="actions">
      more_vert
    </mat-icon>
    <mat-icon
      *ngIf="userRole === Role.provider || userRole === Role.parent"
      class="material-icons material-icons__actions"
      [matMenuTriggerFor]="email">
      email
    </mat-icon>
    <mat-menu #actions="matMenu" class="header_menu">
      <button *ngIf="!application.isBlockedByProvider" mat-menu-item (click)="block.emit(application.parentId)">
        {{ 'BUTTONS.BLOCK_USER' | translate }}
      </button>
      <button *ngIf="application.isBlockedByProvider" mat-menu-item (click)="unblock.emit(application.parentId)">
        {{ 'BUTTONS.UNBLOCK_USER' | translate }}
      </button>
    </mat-menu>
    <mat-menu #email="matMenu" class="header_menu">
      <button mat-menu-item (click)="sendMessage.emit(application)">{{ 'BUTTONS.SEND_MESSAGE' | translate }}</button>
    </mat-menu>
  </mat-card-content>
</ng-template>
