<div class="wrapper" fxLayout="row wrap" fxLayoutAlign="start">
  <div class="config">
    <a routerLink="edit" class="config_edit-icon">
      <button mat-button style="color:#3849F9;">
        <mat-icon style="color:#3849F9;">edit</mat-icon>Редагувати
      </button>
    </a>
    <h5 class="support-title">Підтримка</h5>
    <p><strong>У разі технічних питань писати на:</strong>
    <a class="link" href="mailto:pozashkillia@gmail.com" target="_blank">
      pozashkillia@gmail.com
    </a>
    </p>
    <p><strong>У разі будь яких інших питань звертатися на:</strong>
      <a class="link" href="mailto:pozashkillyainfo@gmail.com" target="_blank">
        pozashkillyainfo@gmail.com
      </a>
    </p>
    <p><strong>Або за телефоном:</strong>
      <a class="link" href="tel:+380977777777" alt="Телефон +380977777777">+38(097) 777 7 777</a>
    </p>
  </div>
</div>