<form [formGroup]="DescriptionFormGroup" class="step flex flex-col justify-center items-between">
  <app-image-form-control
    *ngIf="isImagesFeature"
    [entity]="Entities.Competition"
    [imgMaxAmount]="10"
    [cropperConfig]="cropperConfig"
    [base64Images]="competition.base64ImageFiles"
    [label]="'FORMS.LABELS.PHOTOS' | translate"
    formControlName="imageFiles"
    [imageIdsFormControl]="DescriptionFormGroup.get('imageIds')"
    (deleteImage)="onImageDelete()">
  </app-image-form-control>
  <app-validation-hint [validationFormControl]="DescriptionFormGroup.get('imageFiles')" [isImage]="true" [minImages]="1" [maxImages]="10">
  </app-validation-hint>

  <span class="font-semibold inline-block mt-2">
    {{ 'FORMS.LABELS.ADDITIONAL_DESCRIPTION' | translate }}<span class="step-required">*</span>
  </span>
  <fieldset class="fieldset-additional-desc flex flex-col justify-center">
    <app-info-form
      *ngFor="let form of SectionItemsFormArray.controls"
      [infoEditFormGroup]="form"
      [entity]="Entities.Competition"
      [index]="SectionItemsFormArray.controls.indexOf(form)"
      [formAmount]="SectionItemsFormArray.controls.length"
      [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_2000"
      (deleteForm)="onDeleteForm($event)">
    </app-info-form>
    <button
      *ngIf="SectionItemsFormArray.controls.length < 10"
      [disabled]="SectionItemsFormArray.invalid"
      class="btn-add"
      mat-button
      (click)="onAddForm()">
      <mat-icon class="mat-icon-add">add</mat-icon>
      {{ 'BUTTONS.ADD_ANOTHER_SECTION' | translate }}
    </button>
  </fieldset>

  <label class="step-label">{{ 'FORMS.LABELS.COVERAGE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appearance="fill">
    <mat-select
      name="coverage"
      placeholder="{{ 'FORMS.LABELS.COVERAGE' | translate }}"
      disableOptionCentering
      panelClass="dropdown-panel"
      [formControl]="coverageControl"
      class="step-input">
      <mat-option *ngFor="let competitionCoverage of filteredCompetitionCoverage" [value]="competitionCoverage.key" class="dropdown-option">
        {{ CompetitionCoverageEnum[competitionCoverage.value] | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="coverageControl"></app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.DIRECTION' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appearance="fill">
    <mat-select
      placeholder="{{ 'FORMS.LABELS.DIRECTION' | translate }}"
      disableOptionCentering
      panelClass="dropdown-panel"
      [formControl]="directionControl"
      class="step-input">
      <mat-option *ngFor="let type of directions$ | async" [value]="type.id" class="dropdown-option">
        {{ type.title | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="directionControl"></app-validation-hint>

  <ng-container *ngIf="directionControl.value">
    <label class="step-label">{{ 'FORMS.LABELS.SUB_DIRECTION' | translate }}<span class="step-required">*</span></label>
    <mat-form-field>
      <mat-select
        multiple
        disableOptionCentering
        panelClass="dropdown-panel select-with-form-field"
        class="step-input chips"
        [compareWith]="compareItems"
        formControlName="subDirectionIds">
        <mat-select-trigger>
          <mat-chip-set>
            <mat-chip class="flex items-center" *ngFor="let subDirection of subDirectionControl.value" (removed)="onRemove(subDirection)">
              <mat-icon>tag</mat-icon>
              <span>{{ subDirection.title }}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-set>
        </mat-select-trigger>
        <ng-container *ngIf="(subDirections$ | async) && (subDirections$ | async).length; else Loading">
          <mat-option class="dropdown-option" *ngFor="let subDirection of subDirections$ | async" [value]="subDirection">
            {{ subDirection.title }}
          </mat-option>
        </ng-container>
        <ng-template #Loading>
          <mat-option class="spinner" disabled="true">
            <div class="flex items-center">
              <mat-spinner class="spinner mr-2" diameter="20"></mat-spinner>
              <span class="flex-1">{{ 'LOADING.FETCHING_SUBDIRECTIONS' | translate }}</span>
            </div>
          </mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <app-validation-hint [validationFormControl]="subDirectionControl"></app-validation-hint>
  </ng-container>

  <label class="step-label">{{ 'FORMS.LABELS.FORM_OF_LEARNING' | translate }}</label>
  <mat-radio-group formControlName="formOfLearning" class="flex flex-col justify-center items-between" color="primary">
    <ng-container *ngFor="let formOfLearning of FormOfLearning | keyvalue: Util.keyValueNumericSorting">
      <mat-radio-button *ngIf="FormOfLearningEnum[formOfLearning.key]" [value]="formOfLearning.key">
        {{ FormOfLearningEnum[formOfLearning.key] | translate }}
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>

  <label class="step-label"> {{ 'FORMS.LABELS.COMPETITIVE_SELECTION' | translate }}</label>
  <mat-radio-group [formControl]="selectionOptionRadioBtn" color="primary" class="flex flex-col justify-center items-between">
    <mat-radio-button #selectionRadio1 name="selectionRadioBtn1" [value]="false"
      >{{ 'WITHOUT_COMPETITIVE_SELECTION' | translate }}
    </mat-radio-button>
    <mat-radio-button #selectionRadio2 name="selectionRadioBtn2" [value]="true"
      >{{ 'WITH_COMPETITIVE_SELECTION' | translate }}
    </mat-radio-button>
    <ng-container *ngIf="selectionOptionRadioBtn.value">
      <div class="step-label-combined" [ngClass]="{ 'disabled-field': !selectionOptionRadioBtn.value }">
        <label class="step-label" for="competitiveSelectionDescription"> {{ 'INFO_ABOUT_SELECTION' | translate }}</label>
        <span class="step-characters-count">
          {{ DescriptionFormGroup.get('competitiveSelectionDescription').value?.length ?? 0 }}/{{
            validationConstants.MAX_DESCRIPTION_LENGTH_500
          }}
        </span>
      </div>
      <mat-form-field appearance="fill">
        <textarea
          matInput
          class="step-textarea"
          [ngClass]="{ 'disabled-field': !selectionOptionRadioBtn.value }"
          placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
            'FORMS.PLACEHOLDERS.SYMBOLS' | translate
          }}"
          formControlName="competitiveSelectionDescription"
          maxlength="{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}"
          appTrimValue
          (focusout)="onFocusOut('competitiveSelectionDescription')"
          id="competitiveSelectionDescription"></textarea>
      </mat-form-field>
      <app-validation-hint
        [validationFormControl]="DescriptionFormGroup.get('competitiveSelectionDescription')"
        [minCharacters]="validationConstants.MIN_DESCRIPTION_LENGTH_3"
        [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
      </app-validation-hint>
    </ng-container>
  </mat-radio-group>

  <div class="step-label-combined">
    <label class="step-label" for="venueName"> {{ 'FORMS.LABELS.VENUE_NAME' | translate }}</label>
    <span class="step-characters-count">
      {{ DescriptionFormGroup.get('venueName').value?.length ?? 0 }}/{{ validationConstants.INPUT_LENGTH_60 }}
    </span>
  </div>

  <mat-form-field appearance="fill">
    <textarea
      matInput
      class="step-textarea"
      placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.INPUT_LENGTH_60 }} {{
        'FORMS.PLACEHOLDERS.SYMBOLS' | translate
      }}"
      formControlName="venueName"
      maxlength="{{ validationConstants.INPUT_LENGTH_60 }}"
      appTrimValue></textarea>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="DescriptionFormGroup.get('venueName')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <div class="step-label-combined">
    <label class="step-label" for="descriptionOfTheEnrollmentProcedure"> {{ 'FORMS.LABELS.TERMS_OF_PARTICIPATION' | translate }}</label>
    <span class="step-characters-count">
      {{ DescriptionFormGroup.get('descriptionOfTheEnrollmentProcedure').value?.length ?? 0 }}/{{
        validationConstants.MAX_DESCRIPTION_LENGTH_500
      }}
    </span>
  </div>
  <mat-form-field appearance="fill">
    <textarea
      matInput
      class="step-textarea"
      placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
        'FORMS.PLACEHOLDERS.SYMBOLS' | translate
      }}"
      formControlName="descriptionOfTheEnrollmentProcedure"
      maxlength="{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}"
      appTrimValue></textarea>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="DescriptionFormGroup.get('descriptionOfTheEnrollmentProcedure')"
    [minCharacters]="validationConstants.MIN_DESCRIPTION_LENGTH_1"
    [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.PRICE' | translate }}</label>
  <mat-radio-group [formControl]="priceRadioBtn" color="primary">
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">{{ 'FOR_FREE' | translate }}</mat-radio-button>
    <div class="container flex flex-row justify-between items-center">
      <div class="price flex flex-row justify-center items-center">
        <mat-radio-button #radio2 name="radioBtn2" [value]="true"
          ><input
            matInput
            class="step-input price-input"
            appDigitOnly
            required
            formControlName="price"
            type="number"
            [min]="validationConstants.MIN_PRICE"
            [max]="validationConstants.MAX_PRICE" />
        </mat-radio-button>
        <p class="step-text">{{ 'FORMS.UAH' | translate }}</p>
      </div>
    </div>
  </mat-radio-group>
  <div class="pay-type__error">
    <app-validation-hint
      [validationFormControl]="priceControl"
      [isPrice]="true"
      [minValue]="validationConstants.MIN_PRICE"
      [maxValue]="validationConstants.MAX_PRICE"></app-validation-hint>
  </div>

  <ng-container *ngIf="priceRadioBtn.value">
    <label class="step-label"> {{ 'FORMS.LABELS.ARE_THERE_BENEFITS' | translate }}</label>
    <mat-radio-group [formControl]="benefitsOptionRadioBtn" color="primary" class="flex flex-col justify-center items-between">
      <mat-radio-button #benefitsRadio1 name="benefitsRadioBtn1" [value]="false"
        >{{ 'FORMS.LABELS.BENEFITS_NEGATIVE' | translate }}
      </mat-radio-button>
      <mat-radio-button #benefitsRadio2 name="benefitsnRadioBtn2" [value]="true"
        >{{ 'FORMS.LABELS.BENEFITS_POSITIVE' | translate }}
      </mat-radio-button>
      <ng-container *ngIf="benefitsOptionRadioBtn.value">
        <div class="step-label-combined">
          <label class="step-label" for="benefitsOptionsDesc"> {{ 'FORMS.LABELS.PREFERENTIAL_TERMS_OF_PARTICIPATION' | translate }}</label>
          <span class="step-characters-count">
            {{ DescriptionFormGroup.get('benefitsOptionsDesc').value?.length ?? 0 }}
            /{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}
          </span>
        </div>
        <mat-form-field appearance="fill">
          <textarea
            matInput
            class="step-textarea"
            [ngClass]="{ 'disabled-field': !benefitsOptionRadioBtn.value }"
            placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
              'FORMS.PLACEHOLDERS.SYMBOLS' | translate
            }}"
            formControlName="benefitsOptionsDesc"
            maxlength="{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}"
            appTrimValue
            (focusout)="onFocusOut('benefitsOptionsDesc')"
            id="benefitsOptionsDesc"></textarea>
        </mat-form-field>
        <app-validation-hint
          [validationFormControl]="DescriptionFormGroup.get('benefitsOptionsDesc')"
          [minCharacters]="validationConstants.MIN_DESCRIPTION_LENGTH_3"
          [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
        </app-validation-hint>
      </ng-container>
    </mat-radio-group>
  </ng-container>
</form>
