@use 'create-form';
@use 'validation-form';
@use 'dropdown';
@use 'toggle-button';
@use 'info-hint';

.price-text {
  width: 65px;
  display: block;
}

.price-only-uah,
.for-only-text {
  display: none;
}

.price-input {
  max-width: 100px;
  text-align: center;
}

::ng-deep .dropdown-panel {
  max-height: 150px !important;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column !important;
    align-items: initial !important;
  }

  .price::after {
    font-weight: 700;
    color: var(--primary-light-text-color);
    padding: 5px;
    line-height: initial;
    width: 65px;
  }

  .price-text {
    display: none;
  }

  .price-only-uah,
  .for-only-text {
    display: block;
  }

  .price,
  .radio-button-wrap {
    place-content: flex-start !important;
  }
  .step-input-age {
    max-width: 100%;
    height: 40px;
  }
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}

.step-input {
  background-color: transparent;
  color: var(--primary-light-text-color);
}

.fieldset {
  &-additional-desc {
    border-radius: 21px;
    border: 2px solid var(--input-light-color);
    margin: 10px 0;

    legend {
      padding: 0;
    }
  }
}

::ng-deep .mat-mdc-option.spinner .mat-pseudo-checkbox {
  display: none !important;
}
