.card {
  background: white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;

  &-block{
    flex: 1;
  }
  &-new {
    border-left: 5px solid #3849f9;
  }
}
.title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
}
.text{
  font-family: Open Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  &-bold{
    font-weight: bold;
  }
  &-link{
    color: #3849F9;
  }
  &-icon{
    color:#AAAAAA;
  }
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.approved{
  color:#199953
}
.pending{
  color: #FFBD00;
}
.acceptedForSelection{
  color: #27A3FF;
}
.rejected, .left, .blocked{
  color: #C72A21;
}
.btn{
  font-family: Innerspace;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 1rem;
  padding: 0 0.5rem;

  &-blue{
    background: #3849F9;
    border: 1px solid #3849F9;
    color: #FFFFFF;
    min-width: 10rem;
  }

  &-gray{
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #444444;
    min-width: 10rem;
  }
}
.btn:hover, .name:hover{
  cursor: pointer;
  opacity: 0.5;
}
.hidden{
  visibility: hidden;
}