<mat-card *ngIf="application" fxLayout='row' fxLayoutAlign='space-evenly center'
  [ngClass]="(application.status === applicationStatus.pending) ? 'card card-new' : 'card'">
  <mat-card-content class="card-block" fxLayout='column' fxLayoutAlign='start center'>
    <div fxLayout='column' fxLayoutAlign='start start'>
      <h4 class="name title" #name (mouseover)="onInfoShow(name)" (mouseleave)="onInfoHide(name)">{{
        application.child.firstName }} {{
        application.child.lastName }} {{ application.child.middleName }}</h4>
      <p class="text text-bold">Дата народження: {{ application.child.dateOfBirth | date: 'shortDate'}}</p>
      <p class="text">Дата подання заявки: {{ application.creationTime | date: 'shortDate' }}</p>
    </div>
  </mat-card-content>

  <mat-card-content class="card-block" fxLayout='column' fxLayoutAlign='start center'>
    <div fxLayout='column' fxLayoutAlign='start start'>
      <h4 class="title">{{ application?.workshop.providerTitle }}</h4>
      <p class="text text-bold">{{ application?.workshop.title}}</p>
    </div>
  </mat-card-content>

  <mat-card-content class="card-block" fxLayout='column' fxLayoutAlign='start center'>
    <div fxLayout='column' fxLayoutAlign='start start'>
      <p class="{{applicationStatus[application.status]}} icon">
        <mat-icon>how_to_reg</mat-icon>{{
        applicationStatusUkr[application.status] }}
      </p>
    </div>
  </mat-card-content>

  <mat-card-content class="card-block" fxLayout='row' fxLayoutAlign='center center'>
    <div fxLayout='column' fxLayoutAlign='start start'
      [ngClass]="application.status === applicationStatus.approved && 'hidden'">
      <button class="btn btn-blue" (click)="onApprove(application)">
        <p>ПРИЙНЯТИ ДО ВІДБОРУ</p>
      </button>
    </div>
    <div fxLayout='column' fxLayoutAlign='start start'
      [ngClass]="application.status === applicationStatus.rejected && 'hidden'">
      <button class="btn btn-gray" (click)="onReject(application)">
        <p>ВІДМОВИТИ</p>
      </button>
    </div>

  </mat-card-content>
</mat-card>