@import "src/app/shared/styles/buttons.scss";

p {
  margin: 0px;
}
.card {
  background: white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;

  &-block{
    flex: 1;
  }
  &-new {
    border-left: 5px solid #3849f9;
  }
}
.title{
  font-family: 'Innerspace';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  padding-bottom: 8px;
}
.text{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  &-bold{
    font-weight: 700;
    padding-bottom: 8px;
  }
  &-link{
    &:hover {
      color: #3849F9;
      cursor: pointer;
      opacity: 0.5;
    }
  }
  &_icon{
    color: #AAAAAA;
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.application-popup-status {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.Approved{
  color:#199953;
}
.Pending{
  color: #FFBD00;
}
.AcceptedForSelection{
  color: #27A3FF;
}
.Rejected, .Left, .Blocked{
  color: #C72A21;
}
.btn{
  font-family: 'Innerspace';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  padding: 0.6rem 1.9rem;
  &-blue{
    min-width: 10rem;
  }

  &-gray{
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #444444;
    min-width: 10rem;
    padding: 0.6rem 1.9rem;
  }
}
.name:hover{
  cursor: pointer;
  opacity: 0.5;
}
.hidden{
  visibility: hidden;
}
.card-block {
  margin: 0px;
}
.material-icons {
  font-size: 16px;
  line-height: 14.6px;
}
.organization {
  padding-bottom: 8px;
  color: #3849F9;
}
.block2 {
  width: 120px;
}
.block3 {
  width: 200px;
}
.status-icon {
  font-size: 12px!important;
}