.cell-body {
  height: 100%;
  position: relative;

  &:hover .resize-border {
    opacity: 1;
  }
}
.resize-border {
  position: absolute;
  display: flex;
  justify-content: center;

  width: 20px; // touch-target
  height: 100%;

  top: 0;
  right: -24px;

  align-self: stretch;
  cursor: col-resize;

  opacity: 0;
  transition: opacity 0.3s;

  &:active {
    opacity: 1;
  }

  .border {
    width: 0;
    border-right: 3px solid silver;
  }
}
