<div class="wrapper">
  <div class="dropdown">
    <i
      class="material-icons status-info-icon"
      [matMenuTriggerFor]="menu"
      #trigger="matMenuTrigger"
      [ngClass]="trigger.menuOpen ? 'activeInfoBtn' : 'inactiveInfoBtn'"
      >info_outline</i
    >
  
    <mat-menu [hasBackdrop]="true" disabled #menu="matMenu" [overlapTrigger]="false" class="mat-application-menu">
      <app-status-info-card></app-status-info-card>
    </mat-menu>
    <app-entity-checkbox-dropdown
      *ngIf="dropdownEntities"
      [entities]="dropdownEntities"
      [declination]="declination"
      (entityCheck)="onEntitiesSelect($event)"
    >
    </app-entity-checkbox-dropdown>
  </div>
  
  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Усі">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ statusTitles[statuses.Pending] }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"> </ng-container>
      </mat-tab>
      <!-- <mat-tab label="{{statusTitles[statuses.AcceptedForSelection]}}">
      <ng-container *ngTemplateOutlet="ProviderApplication; context:{$implicit: applications$| async }">
      </ng-container>
      </mat-tab> TODO: display when functionality is ready -->
      <mat-tab label="{{ statusTitles[statuses.Approved] }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ statusTitles[statuses.Rejected] }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ statusTitles[statuses.Left] }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"> </ng-container>
      </mat-tab>
      <mat-tab *ngIf="role === Role.provider" label="{{ statusTitles.Blocked }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"> </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<app-paginator
  *ngIf="!(isLoadingCabinet$ | async) && applicationCards"
  [totalEntities]="applicationCards.totalAmount"
  [currentPage]="currentPage"
  [itemsPerPage]="applicationsPerPage$ | async"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
>
</app-paginator>

<ng-template #Applications let-applicationCards>
  <ng-container *ngIf="!(isLoadingCabinet$ | async)">
    <ng-container *ngIf="applicationCards && applicationCards.totalAmount; else isEmptyList">
      <app-application-card
        *ngFor="let application of applicationCards.entities"
        [application]="application"
        [userRole]="role"
        [isMobileView]="isMobileView"
        (approve)="approve.emit($event)"
        (reject)="reject.emit($event)"
        (unblock)="unblock.emit($event)"
        (block)="block.emit($event)"
        (leave)="leave.emit($event)"
      >
      </app-application-card>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noApplicationTitle"></app-no-result-card>
</ng-template>
