<div class="wrapper">
  <div class="dropdown">
    <div *ngIf="role === Role.techAdmin" class="search-area">
      <div class="search-bar flex flex-row justify-start items-center">
        <mat-icon class="search-icon mt-2" style="transform: rotate(90deg)">search</mat-icon>
        <input
          matInput
          [formControl]="searchFormControl"
          type="text"
          class="search"
          placeholder="{{ 'FORMS.PLACEHOLDERS.SEARCH_PROVIDER_CHILD_WORKSHOP' | translate }}" />
      </div>
    </div>
    <app-info-menu [isBigIcon]="true" [type]="InfoMenuType.Component">
      <app-status-info-card [role]="role"></app-status-info-card>
    </app-info-menu>
    <app-entity-checkbox-dropdown
      *ngIf="dropdownEntities"
      [entities]="dropdownEntities"
      [declination]="declination"
      (entityCheck)="onEntitiesSelect($event)">
    </app-entity-checkbox-dropdown>
  </div>

  <div class="tab-wrapper application-wrapper">
    <mat-tab-group mat-align-tabs="start" [mat-stretch-tabs]="false" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="{{ ApplicationTitles.All | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.Pending] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.Approved] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.Rejected] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.Left] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.AcceptedForSelection] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.StudyingForYears] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab label="{{ ApplicationTitles[ApplicationStatuses.Completed] | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="role === Role.provider" label="{{ ApplicationTitles.Blocked | translate }}">
        <ng-container *ngTemplateOutlet="Applications; context: { $implicit: applicationCards }"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-paginator
  *ngIf="!(isLoadingCabinet$ | async) && applicationCards"
  [totalEntities]="applicationCards.totalAmount"
  [currentPage]="currentPage"
  [itemsPerPage]="applicationParams.size"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)">
</app-paginator>

<ng-template #Applications let-applicationCards>
  <ng-container *ngIf="!(isLoadingCabinet$ | async)">
    <ng-container *ngIf="applicationCards && applicationCards.totalAmount; else isEmptyList">
      <app-application-card
        *ngFor="let application of applicationCards.entities"
        [application]="application"
        [userRole]="role"
        [isMobileView]="isMobileView"
        (approve)="approve.emit($event)"
        (acceptForSelection)="acceptForSelection.emit($event)"
        (reject)="reject.emit($event)"
        (unblock)="unblock.emit($event)"
        (block)="block.emit($event)"
        (leave)="leave.emit($event)"
        (sendMessage)="sendMessage.emit($event)">
      </app-application-card>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #isEmptyList>
  <app-no-result-card [title]="NoApplicationTitle"></app-no-result-card>
</ng-template>
