<div class="container">
  <h1 class="title">КАБІНЕТ КОРИСТУВАЧА</h1>

<nav class="nav" mat-tab-nav-bar>
  <a class="nav_link" mat-tab-link [routerLink]="'./config'"  routerLinkActive #rla1="routerLinkActive"
  [active]="rla1.isActive" >Особиста інформація</a>
  <a class="nav_link" mat-tab-link >Інформація про заклад</a>
  <a class="nav_link" mat-tab-link [routerLink]="'./activities'" routerLinkActive #rla2="routerLinkActive"
  [active]="rla2.isActive">Гуртки</a>
  <a class="nav_link" mat-tab-link >Заявки</a>
</nav>
<router-outlet></router-outlet>