<div class="filters-wrapper">
  <button (click)="onFilterReset()">RESET</button>
  <app-category-check-box [reset$]="resetFilter$"></app-category-check-box>
  <app-age-filter [reset$]="resetFilter$"></app-age-filter>
  <app-working-hours [reset$]="resetFilter$"></app-working-hours>
  <app-price-filter [reset$]="resetFilter$"></app-price-filter>
  <!-- <div class="check-boxes" fxLayout="column" fxLayoutAlign="start">
    <p class=" filter-text">Набір</p>
    <mat-checkbox color="primary" [formControl]="OpenRecruitmentControl">
      Лише з відкритим відбором
    </mat-checkbox>
    <mat-checkbox color="primary" [formControl]="ClosedRecruitmentControl">
      Закритий відбір
    </mat-checkbox>
  </div> TODO: second release-->
  <div class="check-boxes" fxLayout="column" fxLayoutAlign="start">
    <p class=" filter-text">Наявність ресурсу для надання освіти для осіб з ООП та осіб з інвалідністю</p>
    <mat-checkbox color="primary" [formControl]="WithDisabilityOptionControl">
      Наявні
    </mat-checkbox>
  </div>

</div>
