<div class="add-wrapper">
  <p class="text">{{ 'BANNERS.ADD_POSITION' | translate }}</p>
  <a [routerLink]="['/create-position', ModeConstants.NEW]">
    <button class="btn" mat-raised-button>{{ 'BUTTONS.ADD_POSITION' | translate }}</button>
  </a>
</div>
<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FORMS.LABELS.FULL_TITLE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TITLES.DESCRIPTION' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FORMS.LABELS.SHORT_TITLE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.shortName }}</td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FORMS.LABELS.RATE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.rate }}</td>
    </ng-container>

    <ng-container matColumnDef="tariff">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FORMS.LABELS.TARIFF' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.tariff }}</td>
    </ng-container>

    <ng-container matColumnDef="typeByClassifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FORMS.LABELS.AVAILABLE_PLACES' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.numOfSeats ?? "UNLIMITED" | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>{{ 'TITLES.ACTIONS' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="actions">
          <mat-icon >more_vert</mat-icon>
        </button>
        <mat-menu #actions="matMenu" class="header_menu">
            <button mat-menu-item (click)="onDelete(element)">{{ 'BUTTONS.DELETE' | translate }}</button>
            <a [routerLink]="['/create-position', element.id]">
              <button mat-menu-item >{{ 'BUTTONS.EDIT' | translate }}</button>
            </a>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  </div>

<div class="paginator">
    <app-paginator 
      [totalEntities]="totalElements"
      [currentPage]="currentPage"
      [itemsPerPage]="positionParameters.size"
      (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemsPerPageChange($event)">
    </app-paginator>
</div>

