@import 'src/app/shared/styles/tables.scss';
@import 'src/app/shared/styles/list-wrappers.scss';
@import 'src/app/shared/styles/card-wrapper.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/search.scss';
@import 'src/app/shared/styles/dropdown.scss';

.search-icon {
  font-size: 1.2em;
  height: 13px;
}
.paginator {
  margin-top: 2rem;
}
.search-area {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  position: static;
  right: 12px;
  gap: 16px;
}

.search {
  background-color: transparent;
  color: var(--primary-dark-text-color);
}
.select-create-container {
  display: flex;
  gap: 16px;
}
.select,
.date {
  min-width: 100px;
  background: var(--primary-light-bg-color);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  box-sizing: border-box;
}

:host ::ng-deep .date {
  width: 100%;
  max-width: 250px;
  padding: 0 1rem 0.35rem;

  .mat-form-field-flex {
    background-color: transparent;
    padding: 0;
  }
}

.select,
.options,
.date {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  height: 40px;
}

.select,
.options {
  padding: 0.5rem 1rem;
}

:host ::ng-deep .select-form-field {
  .mat-form-field-infix {
    padding: 0;
  }
}

.tab-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-button-icon {
  font-size: inherit;
}

@media (max-width: 968px) {
  .search-area {
    flex-direction: column;
    align-items: end;
  }
  .search-bar {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .select-create-container {
    width: 100%;
  }
}
