<div fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title>{{ modalTitle }}</h2>
  <p class="confirmation"> {{ modalDescription }}</p>

  <form fxLayout="column" class="reject-form">

    <label class="step-label"> Вкажіть причину відмови <span class="step-required">*</span></label>
    <mat-form-field appPlaceholderStyling floatLabel="never" appearance="none">
      <textarea matInput ng-focus="updateValue()" ng-blur="updateValue()" class="step-textarea"
        placeholder="Максимум {{validationConstants.MAX_DESCRIPTION_LENGTH_500}} символів" [formControl]="ReasonFormControl"
        maxlength="{{validationConstants.MAX_DESCRIPTION_LENGTH_500}}" appTrimValue></textarea>
    </mat-form-field>

    <app-validation-hint
      [validationFormControl]="ReasonFormControl"
      [minCharachters]="validationConstants.INPUT_LENGTH_1"
      [maxCharachters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
    </app-validation-hint>

  </form>

  <mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="center center" class="footer">
    <button class="btn" mat-button [mat-dialog-close]="ReasonFormControl.value" cdkFocusInitial>ПІДТВЕРДИТИ</button>
    <button class="btn btn-cancel" mat-button (click)="onCancel()">СКАСУВАТИ</button>
  </mat-dialog-actions>
</div>
