<div class="container" *ngIf="provider">
  <app-actions *ngIf="isMobileScreen && displayActionCard" [role]="role" [competition]="competition"></app-actions>
  <div class="img-wrapper relative flex justify-center">
    <img class="coverImage" [src]="coverImage" (error)="onImageError()" [alt]="'ALT.IMG_COVER' | translate" />
    <ng-container *ngIf="isImageBroken && providerParameters?.providerId === currentProvider?.id">
      <mat-icon class="error-message absolute left-2 top-2" matTooltip="{{ 'IMAGE.CHANGE_IMAGE' | translate }}">error </mat-icon>
    </ng-container>
  </div>

  <div
    class="flex flex-row flex-wrap box-border !justify-between items-center action-buttons-wrapper"
    *ngIf="providerParameters?.providerId === currentProvider?.id">
    <button (click)="onActionButtonClick(ModalType.archiveCompetition)" class="btn btn-cancel" mat-button>
      {{ 'BUTTONS.ARCHIVE' | translate }}
    </button>
    <div class="flex">
      <a [routerLink]="['/create-competition', competition.id]" class="btn btn-cancel" mat-button>
        {{ 'BUTTONS.EDIT' | translate }}
      </a>
      <button
        class="btn btn-publish"
        [disabled]="competition.state !== CompetitionStatus.Draft"
        (click)="onActionButtonClick(ModalType.publishCompetition)"
        mat-button>
        {{ 'BUTTONS.PUBLISH' | translate }}
      </button>
    </div>
  </div>

  <div class="details-wrapper">
    <div class="flex flex-col justify-between">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col items-start sm:flex-wrap">
          <div class="flex flex-row items-center">
            <h1 class="title">{{ competition.title }}</h1>
            <ng-container *ngIf="competitionStatusOpen; else ClosedWorkshopStatus">
              <div class="chip chip-color-open">{{ RecruitmentStatusEnum.RecruitmentOngoing | translate }}</div>
            </ng-container>
          </div>
          <h3 class="short-title" *ngIf="competition.shortTitle">{{ competition.shortTitle }}</h3>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex flex-col">
          <div *ngIf="competitionSubdirections?.length" class="flex flex-row gap-2 my-2">
            <div *ngFor="let subDirection of competitionSubdirections" class="chip chip-color-tag">
              {{ subDirection }}
            </div>
          </div>
          <span class="icon-text">
            <mat-icon class="icon">star</mat-icon>
            {{ competition.rating }}&nbsp;
            <span class="rating-number">({{ competition.numberOfRatings }})</span>
          </span>
          <a [routerLink]="['/details/provider', competition.organizerOfTheEventId]">
            <span class="icon-text details-link" [ngClass]="{ 'workshop-title': competition.competitiveSelection }">
              <mat-icon class="icon">home</mat-icon>
              {{ competition.title }}
            </span>
          </a>
          <span class="icon-text" *ngIf="competition.scheduledStartTime">
            <mat-icon class="icon">schedule</mat-icon>
            {{ competition.scheduledStartTime | date: 'd MMMM, HH:mm' }}
          </span>
          <span class="icon-text" *ngIf="competition.registrationEndTime">
            <mat-icon class="icon">event_clock</mat-icon>
            {{ 'DEADLINE' | translate }}:
            {{ competition.registrationEndTime | date: 'd MMMM' }}
          </span>
          <span class="icon-text">
            <mat-icon class="icon">person</mat-icon>
            {{ competition.minimumAge }} - {{ competition.maximumAge }}
            {{ 'YEARS' | translate }}
          </span>
        </div>
        <div class="flex flex-col" *ngIf="competition.competitiveSelection">
          <span class="flex flex-row items-center">
            <span class="icon-text">
              <mat-icon class="icon">person_add</mat-icon>
              {{ 'COMPETITIVE_SELECTION' | translate }}
              <app-info-menu [type]="InfoMenuType.Text">
                {{ competition.competitiveSelectionDescription }}
              </app-info-menu>
            </span>
          </span>
          <span class="icon-text">
            <mat-icon class="icon">school</mat-icon>
            {{ FormOfLearningEnum[competition.formOfLearning] | translate }}
          </span>
        </div>
      </div>
    </div>

    <mat-tab-group
      class="nav"
      [mat-stretch-tabs]="false"
      [selectedIndex]="selectedIndex"
      (animationDone)="onAnimationDone()"
      (selectedTabChange)="onTabChange($event)">
      <mat-tab *ngFor="let tab of tabs" class="label" [label]="tab.labelKey | translate | uppercase">
        <ng-container [ngSwitch]="tab.alias">
          <app-competition-about *ngSwitchCase="'AboutCompetition'" [competition]="competition"></app-competition-about>
          <app-competition-judges *ngSwitchCase="'Judges'" [teachers]="competition.judges"></app-competition-judges>
          <app-contacts-card *ngSwitchCase="'Contacts'" [entity]="competition"></app-contacts-card>
          <app-workshop-images *ngSwitchCase="'Images'" [entity]="competition"></app-workshop-images>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #ClosedWorkshopStatus>
  <div
    class="chip"
    [ngClass]="{
      'chip-color-close': competition.state === CompetitionStatus.Completed,
      'chip-color-draft': competition.state === CompetitionStatus.Draft
    }">
    {{
      (competition.state === CompetitionStatus.Completed ? RecruitmentStatusEnum.RecruitmentStoped : RecruitmentStatusEnum.Draft)
        | translate
    }}
  </div>
</ng-template>
