<div class="container" *ngIf="provider">
  <app-actions *ngIf="isMobileScreen && displayActionCard" [role]="role" [competition]="competition"></app-actions>
  <app-image-carousel [images]="images"></app-image-carousel>

  <div
    class="flex flex-row flex-wrap box-border !justify-between items-center action-buttons-wrapper"
    *ngIf="providerParameters?.providerId === currentProvider?.id">
    <button (click)="onActionButtonClick(ModalType.archiveCompetition)" class="btn btn-cancel" mat-button>
      {{ 'BUTTONS.ARCHIVE' | translate | uppercase }}
    </button>
    <div class="flex">
      <a [routerLink]="['/create-competition', competition.id]" class="btn btn-cancel" mat-button>
        {{ 'BUTTONS.EDIT' | translate | uppercase }}
      </a>
      <button
        class="btn"
        [disabled]="competition.state !== CompetitionStatus.Draft"
        (click)="onActionButtonClick(ModalType.publishCompetition)"
        mat-button>
        {{ 'BUTTONS.PUBLISH' | translate | uppercase }}
      </button>
    </div>
  </div>

  <div class="details-wrapper">
    <div class="flex flex-col justify-between">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col items-start sm:flex-wrap">
          <div class="flex flex-row items-center">
            <h1 class="title">{{ competition.title }}</h1>
            <ng-container *ngIf="competitionStatusOpen; else ClosedWorkshopStatus">
              <div class="chip chip-color-open">{{ RecruitmentStatusEnum.RecruitmentOngoing | translate }}</div>
            </ng-container>
          </div>
          <h3 class="short-title" *ngIf="competition.shortTitle">{{ competition.shortTitle }}</h3>
        </div>
        <div *ngFor="let directionId of competition.directionIds">
          <img class="details-icon" [src]="CategoryIcons[directionId]" alt="{{ competition.title }}" />
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex flex-col">
          <span class="icon-text">
            <mat-icon class="icon">star</mat-icon>
            {{ competition.rating }}&nbsp;
            <span class="rating-number">({{ competition.numberOfRatings }})</span>
          </span>
          <a [routerLink]="['/details/provider', competition.organizerOfTheEventId]">
            <span class="icon-text details-link" [ngClass]="{ 'workshop-title': competition.competitiveSelection }">
              <mat-icon class="icon">home</mat-icon>
              {{ competition.title }}
            </span>
          </a>
          <span class="icon-text" *ngIf="competition.scheduledStartTime">
            <mat-icon class="icon">schedule</mat-icon>
            {{ competition.scheduledStartTime | date: 'd MMMM, HH:mm' }}
          </span>
          <span class="icon-text" *ngIf="competition.registrationEndTime">
            <mat-icon class="icon">event_clock</mat-icon>
            {{ 'DEADLINE' | translate }}:
            {{ competition.registrationEndTime | date: 'd MMMM' }}
          </span>
          <span class="icon-text">
            <mat-icon class="icon">person</mat-icon>
            {{ competition.minimumAge }} - {{ competition.maximumAge }}
            {{ 'YEARS' | translate }}
          </span>
        </div>
        <div class="flex flex-col" *ngIf="competition.competitiveSelection">
          <span class="flex flex-row items-center">
            <span class="icon-text">
              <mat-icon class="icon">person_add</mat-icon>
              {{ 'COMPETITIVE_SELECTION' | translate }}
              <app-info-menu [type]="InfoMenuType.Text">
                {{ competition.competitiveSelectionDescription }}
              </app-info-menu>
            </span>
          </span>
          <span class="icon-text">
            <mat-icon class="icon">school</mat-icon>
            {{ FormOfLearningEnum[competition.formOfLearning] | translate }}
          </span>
        </div>
      </div>
    </div>

    <mat-tab-group class="nav" [mat-stretch-tabs]="false" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab class="label" label="{{ CompetitionDetailsTabTitlesEnum.AboutCompetition | translate | uppercase }}">
        <app-competition-about [competition]="competition"></app-competition-about>
      </mat-tab>
      <mat-tab class="label" label="{{ CompetitionDetailsTabTitlesEnum.Judges | translate | uppercase }}">
        <app-competition-judges [teachers]="competition.judges"></app-competition-judges>
      </mat-tab>
      <mat-tab class="label" label="{{ CompetitionDetailsTabTitlesEnum.Contacts | translate | uppercase }}">
        <app-contacts-card [entity]="competition"></app-contacts-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #ClosedWorkshopStatus>
  <div
    class="chip"
    [ngClass]="{
      'chip-color-close': competition.state === CompetitionStatus.Completed,
      'chip-color-draft': competition.state === CompetitionStatus.Draft
    }">
    {{
      (competition.state === CompetitionStatus.Completed ? RecruitmentStatusEnum.RecruitmentStoped : RecruitmentStatusEnum.Draft)
        | translate
    }}
  </div>
</ng-template>
