<div class="header" [ngClass]="{ 'header-secondary': !isRouter('/') }">
  <div [ngClass]="{ 'hide-content': (isAuthorizationLoading$ | async) }">
    <div class="flex flex-row justify-between">
      <div class="logo-wrapper" *ngIf="isMobileScreen && !!navigationPaths?.length; then mobileNavTmpl; else logoTmpl"></div>
      <div class="link-wrapper">
        <div *ngIf="!isMobileScreen" class="link-wrapper">
          <button mat-flat-button class="info-link" [routerLink]="'./info/about'">
            {{ 'ENUM.NAV_BAR_NAME.ABOUT_PORTAL' | translate | uppercase }}
          </button>

          <button mat-flat-button class="info-link" [routerLink]="'./info/rules'">
            {{ 'ENUM.NAV_BAR_NAME.LAWS_AND_REGULATIONS' | translate | uppercase }}
          </button>

          <button mat-flat-button class="info-link" [routerLink]="'./info/support'">
            <img src="./../../assets/icons/Support.svg" alt="Support" />
            <span class="support-icon-text">
              {{ 'ENUM.NAV_BAR_NAME.SUPPORT' | translate | uppercase }}
            </span>
          </button>

          <button mat-flat-button class="lang" (click)="lngSelect.open()">
            <mat-icon>language</mat-icon>
            <mat-select
              #lngSelect
              (selectionChange)="setLanguage()"
              [(value)]="selectedLanguage"
              class="lang-option"
              disableOptionCentering
              panelClass="dropdown-panel">
              <mat-option class="lang-option-text" value="uk">
                <span>{{ Languages.uk }}</span>
              </mat-option>
              <mat-option class="lang-option-text" value="en">
                <span>{{ Languages.en }}</span>
              </mat-option>
            </mat-select>
          </button>
        </div>

        <ng-container *ngIf="(isAuthorized$ | async) && user; then isAuthorizedTmpl; else isUnauthorizedTmpl"></ng-container>
      </div>
    </div>
    <div *ngIf="isRouter('/')" class="flex flex-col items-center justify-center">
      <h1 class="header-title">{{ headerTitle }}</h1>
      <h2 class="header-descr">{{ headerSubtitle }}</h2>
      <div class="header-full-search-bar-wrap">
        <app-full-search-bar></app-full-search-bar>
      </div>
    </div>
  </div>
</div>
<app-progress-bar></app-progress-bar>

<ng-template #mobileNavTmpl>
  <app-navigation-mobile-bar [ngClass]="'nav-mobile'"></app-navigation-mobile-bar>
</ng-template>

<ng-template #logoTmpl>
  <a routerLink="/"><img class="logo" src="assets/images/Logo.svg" alt="Позашкілля" /></a>
</ng-template>

<ng-template #isUnauthorizedTmpl>
  <ng-container *ngIf="!isMobileScreen; else menuTmpl">
    <button mat-stroked-button class="login" (click)="onLogin()">{{ 'LOGIN' | translate }}</button>
  </ng-container>
</ng-template>

<ng-template #isAuthorizedTmpl>
  <ng-container *ngIf="!isMobileScreen; else menuTmpl">
    <app-notifications class="menu" *ngIf="(featuresList$ | async)?.release2"></app-notifications>

    <button mat-flat-button class="menu" [matMenuTriggerFor]="log">
      <mat-icon class="account-circle">account_circle</mat-icon>
      <span class="user-name">{{ userShortName }}</span>
      <mat-icon class="arrow-drop-down">arrow_drop_down</mat-icon>
    </button>
  </ng-container>

  <mat-menu #log="matMenu" class="menu">
    <ng-container *ngIf="isRoleAdmin(user.role); then adminView; else userView"></ng-container>
    <button mat-menu-item class="logout-btn" (click)="onLogout()">
      {{ 'LOGOUT' | translate }}
    </button>
  </mat-menu>
</ng-template>

<ng-template #menuTmpl>
  <button mat-flat-button class="menu" (click)="onViewChange()">
    <mat-icon>menu</mat-icon>
  </button>
</ng-template>

<ng-template #adminView>
  <a [routerLink]="'./personal-cabinet/config'">
    <button mat-menu-item>
      {{ 'ENUM.NAV_BAR_NAME.PERSONAL_INFORMATION' | translate }}
    </button>
  </a>
  <a *ngIf="user.role === Role.techAdmin" [routerLink]="'./admin-tools/platform'" [queryParams]="{ page: defaultAdminTab }">
    <button mat-menu-item>
      {{ 'ENUM.NAV_BAR_NAME.ADMINISTRATION' | translate }}
    </button>
  </a>
  <a *ngIf="user.role === Role.ministryAdmin || user.role === Role.regionAdmin" [routerLink]="'./admin-tools/data/admins'">
    <button mat-menu-item>
      {{ 'ENUM.NAV_BAR_NAME.ADMINISTRATION' | translate }}
    </button>
  </a>
  <a *ngIf="user.role === Role.areaAdmin" [routerLink]="'./admin-tools/data/provider-list'">
    <button mat-menu-item>
      {{ 'ENUM.NAV_BAR_NAME.ADMINISTRATION' | translate }}
    </button>
  </a>
</ng-template>

<ng-template #userView>
  <ng-container *ngIf="isRegistered$ | async; then registeredView; else unregisteredView"></ng-container>

  <ng-template #registeredView>
    <a [routerLink]="'./personal-cabinet/config'">
      <button mat-menu-item>{{ 'ENUM.NAV_BAR_NAME.PERSONAL_INFORMATION' | translate }}</button>
    </a>
    <a [routerLink]="'./personal-cabinet/' + user.role + '/info'">
      <button mat-menu-item>{{ 'ENUM.NAV_BAR_NAME.INFORMATION_ABOUT' | translate }} {{ RoleLinks[user.role] | translate }}</button>
    </a>
    <a *ngIf="user.role === Role.provider" [routerLink]="'./personal-cabinet/provider/workshops'">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.MY_WORKSHOPS' | translate }}
      </button>
    </a>
    <a [routerLink]="'./personal-cabinet/' + user.role + '/applications'">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.APPLICATIONS' | translate }}
      </button>
    </a>
    <a [routerLink]="'./personal-cabinet/messages'">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.MESSAGES' | translate }}
      </button>
    </a>
    <a *ngIf="user.role === Role.provider && subrole !== Subrole.ProviderAdmin" [routerLink]="'./personal-cabinet/provider/administration'">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.ADMINISTRATION' | translate }}
      </button>
    </a>
    <a *ngIf="user.role === Role.parent" [routerLink]="'./personal-cabinet/parent/favorite'">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.FAVORITE' | translate }}
      </button>
    </a>
  </ng-template>

  <ng-template #unregisteredView>
    <a [routerLink]="['./create-provider', ModeConstants.NEW]" *ngIf="user.role === Role.provider">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.PROVIDER_REGISTRATION' | translate }}
      </button>
    </a>
    <a [routerLink]="['./create-parent', ModeConstants.NEW]" *ngIf="user.role === Role.parent">
      <button mat-menu-item>
        {{ 'ENUM.NAV_BAR_NAME.USER_REGISTRATION' | translate }}
      </button>
    </a>
  </ng-template>
</ng-template>
