<div class="header" [ngClass]="isRouter('/') ? '' : 'header_secondary'">
  <div class="header_top">

    <div class="header_logo-wrapper">
        <div *ngIf="MobileView && (navigationPaths$ | async)?.length > 0 then mobileNav; else logo"></div>
        <ng-template #mobileNav>
          <app-navigation-mobile-bar></app-navigation-mobile-bar>
        </ng-template>
        <ng-template #logo>
          <a routerLink="/"><img class="logo" src="../../assets/images/Logo.svg" alt="Позашкілля"></a>
        </ng-template>
    </div>
    
    <div class="header_btns">
      <button mat-flat-button class="header_lang">
        <mat-icon>language</mat-icon>
        УКР
      </button>
      <div *ngIf="((isAuthorized$ | async) && (user$ | async)) then isAuthorized; else isUnauthorized"></div>
    </div>
  </div>
  <div *ngIf="isRouter('/') then isMainPage;" class="header_wrapper"></div>
</div>

<ng-template #isMainPage>
  <div fxLayout="column" fxLayoutAlign="none center">
    <h1 class="header_title">
      Знайдіть найкращі гуртки у своєму місті!
    </h1>
    <h2 class="header_descr">
      Понад 500 найрізноманітніших гуртків
    </h2>
    <div class="header_search">
      <mat-icon> place</mat-icon>
      <app-city-filter class="header_city"></app-city-filter>
      <app-searchbar class="header_bar"></app-searchbar>
    </div>
  </div>
</ng-template>

<ng-template #isUnauthorized>
  <button mat-stroked-button class="header_login" (click)="login()">
    УВІЙТИ/ЗАРЕЄСТРУВАТИСЯ
  </button>
</ng-template>

<ng-template #isAuthorized>
  <div class="authorization">
    <span class="header_menu-button">

      <button mat-icon-button [matMenuTriggerFor]="menu" class="pointer"> 
        <mat-icon>notifications_none</mat-icon> 
      </button>
      <span class="header_menu-button_account-circle">
        <mat-icon matBadge="1" matBadgePosition="before" ></mat-icon>
      </span>
     
    <mat-menu #menu="matMenu" class="notification">
      <span>1 нова заявка очікує підтвердження <mat-icon class="circle-notification">brightness_1</mat-icon></span>
      <button mat-menu-item [routerLink]="'url'" class="btn-notification">
        <span>Переглянути </span>
      </button>
    </mat-menu>

      <button mat-icon-button class="header_menu-button_account-circle">
        <mat-icon>account_circle</mat-icon>
      </button>

      <div class="header_username" [matMenuTriggerFor]="log">
        <ng-container>{{user.firstName}} {{user.lastName}}</ng-container>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="log">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </span>

    <button mat-flat-button class="header_menu-button-mobile" [matMenuTriggerFor]="log">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #log="matMenu" class="header_menu">
      <button mat-menu-item class="header_menu_account-button">
        <ng-container>{{user.firstName}} {{user.lastName}}</ng-container>
        <button mat-raised-button class="header_menu_account-button_account-circle" matBadge="2"
          matBadgePosition="before" matBadgeColor="accent">
          <i>
            <mat-icon class="icon-account">account_circle</mat-icon>
          </i>
        </button>
      </button>
      <a [routerLink]="'./personal-cabinet/config'"><button mat-menu-item>Особиста
          інформація</button></a>
      <a [routerLink]="'./personal-cabinet/' + user.role + '/info'"> <button mat-menu-item>Інформація про
          {{roles[user.role]}}</button></a>
      <a [routerLink]="'./personal-cabinet/workshops'"><button mat-menu-item>Мої гуртки</button></a>
      <a [routerLink]="'./personal-cabinet/applications'"><button mat-menu-item>Мої заяви</button></a>
      <a [routerLink]="'./personal-cabinet/messages'"><button mat-menu-item>Повідомлення</button></a>
      <button mat-menu-item (click)="logout()">Вийти</button>
    </mat-menu>
  </div>
</ng-template>
<ng-container *ngIf="(isLoading$ | async) then Spinner;"></ng-container>

<ng-template #Spinner>
  <div class="spinner">
    <mat-progress-spinner diameter=80 mode="indeterminate" color="primary">
    </mat-progress-spinner>
  </div>
</ng-template>
