<div class="header-cover" [class.header_overflow]='showModalReg' fxLayout="row" fxLayoutAlign="space-between">
  <div>Позашкілля</div>
  <div *ngIf="(isAuthorized$ | async) then isAuthorized; else isUnauthorized">
    
  </div>
  <ng-template #isUnauthorized>
    <div class="buttons_wrapper">
      <button mat-stroked-button (click)="login()">
        Увійти
      </button>
      <button mat-stroked-button class="registration_button" (click)='toggleModalReg()'>
        Реєстрація
      </button>
    </div>
    <div class="registration_window" [class.registration_show]='showModalReg'>
      <div class="registration_header">
        Зареєструватися як...
      </div>
      <div class="registration_btns">
        <button mat-stroked-button class="registration_organization">
          Заклад позашкільної освіти
        </button>
        <button mat-stroked-button class="registration_customer">
          Користувач
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #isAuthorized>
    <div class="authorization">
      <button mat-raised-button color="primary"
        matBadge="2" matBadgePosition="before" matBadgeColor="accent">
        <i> 
          <mat-icon class="icon-message"> email</mat-icon>
        </i>
      </button>

      <button mat-button [matMenuTriggerFor]="log">
        <h1>{{user.firstName}}</h1>
      </button>
      <mat-menu #log="matMenu">
        <button mat-menu-item>Гуртки</button>
        <button mat-menu-item>Налаштування</button>
        <button mat-menu-item (click)="logout()">Вийти</button>
      </mat-menu>

    </div>
  
  </ng-template>
</div>
