.footer {
  background-color: #EBEBEB;
  padding: 0 5rem;
  height: 117px;
  #mon-logo {
    width: 230px;
    height: 41px;
  }
  #mkip-logo {
    width: 323px;
    height: 96px;
  }
  #min-sport-logo {
    width: 83px;
    height: 41px;
  }
}
@media(max-width: 415px) {
  .footer {
   display: contents;
   padding: 1rem;
  }
}
@media(max-width: 415px) {
  img {
   width:100%;
  }
}
@media(max-width: 415px) {
  a {
  padding: 2%;
  }
}
