<div class="trial-message">
  <span>{{ 'TRIAL_MESSAGE' | translate }}</span>
</div>
<div class="footer flex flex-row justify-start items-center gap-12 md:gap-4">
  <div class="flex flex-row justify-start items-center flex-1 gap-4 sm:gap-12">
    <a target="_blank" rel="noreferrer" href="https://mon.gov.ua/">
      <img class="min-logo" src="assets/images/MES.png" alt="Ministry of Education and Science of Ukraine" />
    </a>
    <a target="_blank" rel="noreferrer" href="https://mkip.gov.ua/" class="mincult">
      <img class="min-logo" src="assets/images/MinCultInfoPolicy.png" alt="Ministry of Culture and Information Policy of Ukraine" />
    </a>
    <a target="_blank" rel="noreferrer" href="https://mms.gov.ua/" class="min-molodi-full">
      <img class="min-logo" src="assets/images/MinMolodSport.png" alt="Ministry of Youth and Sports of Ukraine" />
    </a>
  </div>
  <div class="flex flex-row justify-end items-center sm:gap-8 md:gap-4 box-border flex-[1_1_auto]">
    <a target="_blank" rel="noreferrer" href="https://www.softserveinc.com/uk-ua/">
      <img class="company-logo" src="assets/images/SoftServeLogo.svg" alt="SoftServe" />
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://mms.gov.ua/" class="min-molodi-mobile">
      <img class="min-logo" src="assets/images/MinMolodSport.png" alt="Ministry of Youth and Sports of Ukraine" />
    </a>
  </div>
</div>
