<div  class="footer" 
      fxLayout.xs="column"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.xs="center center"
      fxLayoutGap="2rem"
>
  <div  fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayout.xs="row wrap"
        fxLayoutAlign="center"
        fxLayoutAlign.sm="center start"
        fxLayoutAlign.xs="start center"
        fxLayoutGap="3rem"
        fxLayoutGap.xs="1rem"
        fxLayoutGap.sm="1rem"
  >
    <a target="_blank" rel="noreferrer" href="https://mon.gov.ua/">
      <img class="min-logo" src="../../assets/images/MES.png" alt="Ministry of Education and Science of Ukraine">
    </a>
    <a target="_blank" rel="noreferrer" href="https://mkip.gov.ua/">
      <img class="min-logo" src="../../assets/images/MinCultInfoPolicy.png" alt="Ministry of Culture and Information Policy of Ukraine">
    </a>
    <a target="_blank" rel="noreferrer" href="https://sport.gov.ua/">
      <img class="min-logo" src="../../assets/images/MinMolodSport.png" alt="Ministry of Youth and Sports of Ukraine">
    </a>
  </div>
  <a target="_blank" rel="noreferrer" href="https://www.softserveinc.com/">
    <img src="../../assets/images/SoftServeLogo.png" alt="SoftServe">
  </a>
</div>
