.footer{
  background-color: #EBEBEB;
  padding: 2rem 5rem;
}
@media(max-width: 415px){
  .footer{
   display: contents;
  }
}
@media(max-width: 415px){
  img{
   width:100%;
  }
}
@media(max-width: 415px){
  a{
  padding: 2%;
  }
}