<div class="footer" fxLayoutAlign="space-between center">
    <div fxLayoutGap="3rem" fxLayoutAlign=" center">
      <a target="_blank" rel="noreferrer" href="https://mon.gov.ua/">
        <img id="mon-logo" src="../../assets/images/MES.png" alt="Ministry of Education and Science of Ukraine">
      </a>
      <a target="_blank" rel="noreferrer" href="https://mkip.gov.ua/">
        <img id="mkip-logo" src="../../assets/images/MinCultInfoPolicy.png" alt="Ministry of Culture and Information Policy of Ukraine">
      </a>
      <a target="_blank" rel="noreferrer" href="https://sport.gov.ua/">
        <img id="min-sport-logo" src="../../assets/images/MinMolodSport.png" alt="Ministry of Youth and Sports of Ukraine">
      </a>
    </div>
    <a target="_blank" rel="noreferrer" href="https://www.softserveinc.com/">
      <img src="../../assets/images/SoftServeLogo.png" alt="SoftServe">
    </a>
</div>
