@use 'src/app/shared/styles/components/cabinet';

:host::ng-deep {
  .mat-mdc-tab-link-container {
    padding-top: 12px;
  }

  .mat-badge-overlap.mat-badge-after .mat-badge-content {
    background-color: #f5bc4a;
    right: 0;
    top: -11px;
    bottom: 22px;
    margin: 0;
    left: initial;
    width: 25px;
    height: 15px;
    border-radius: 13px;
    line-height: 15px;
  }
}

::ng-deep .mat-mdc-tab-link .mdc-tab__content .mdc-tab__text-label {
  color: var(--cancel-text-color);
}
