<div class="container">
  <h1 class="title">
    {{ personalCabinetTitle | translate | uppercase }}
  </h1>

  <nav class="nav" mat-tab-nav-bar>
    <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./config'">{{ 'PERSONAL_INFORMATION' | translate | uppercase }}</a>
    <ng-container *ngIf="userRole !== Role.techAdmin && userRole !== Role.ministryAdmin">
      <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./' + userRole + '/info'">
        {{ 'INFORMATION_ABOUT' | translate | uppercase }} {{ roles[userRole] | translate | uppercase }}
      </a>
    </ng-container>
    <ng-container *ngIf="userRole === Role.provider">
      <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./provider/workshops'">
        {{ (userRole === Role.parent ? 'MY_WORKSHOPS' : 'ENUM.NAV_BAR_NAME.WORKSHOPS') | translate | uppercase }}
      </a>
    </ng-container>
    <ng-container *ngIf="userRole !== Role.techAdmin && userRole !== Role.ministryAdmin">
      <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./' + userRole + '/applications'">{{
        'APPLICATIONS' | translate | uppercase
      }}</a>
    </ng-container>
    <ng-container *ngIf="userRole !== Role.techAdmin && userRole !== Role.ministryAdmin">
      <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./messages'">{{
        'ENUM.NAV_BAR_NAME.MESSAGES' | translate | uppercase
      }}</a>
    </ng-container>
    <ng-container *ngIf="userRole === Role.provider && subRole !== Role.ProviderAdmin">
      <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./provider/administration'">{{
        'ADMINISTRATION' | translate | uppercase
      }}</a>
    </ng-container>
    <ng-container *ngIf="userRole === Role.parent">
      <a mat-tab-link [routerLinkActive]="['active']" [routerLink]="'./parent/favorite'">{{ 'FAVORITE' | translate | uppercase }}</a>
    </ng-container>
  </nav>
</div>
<router-outlet></router-outlet>
