
<ng-container *ngIf="!editMode || (editMode && (direction$ | async))">
  <form [formGroup]="directionFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  
    <label class="step-label">{{editMode ? 'Редагувати назву напрямку' : 'Назва нового напрямку'}}
      <span *ngIf="!editMode" class="step-required">*</span>
    </label>
    
    <mat-form-field>
      <input matInput class="step-input" type="text" formControlName="title">
    </mat-form-field>
    <app-validation-hint
      [validationFormControl]="directionFormGroup.get('title')"
    ></app-validation-hint>
  
    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
      <a [routerLink]="'/admin-tools/platform/directions'"><button mat-raised-button
          class="btn btn-cancel">Скасувати</button></a>
      <button [disabled]="directionFormGroup.invalid" class="btn" (click)="onSubmit()" mat-raised-button>Далі</button>
    </div>
  </form>
</ng-container>

