<form
  [formGroup]="TeacherForm"
  class="step flex flex-col box-border items-stretch justify-center"
  [class.step-border]="teacherAmount > 1 && index !== teacherAmount - 1">
  <mat-checkbox
    class="step-label"
    color="primary"
    formControlName="defaultTeacher"
    (focusout)="onFocusOut('defaultTeacher')"
    id="default-teacher"
    >{{ 'FORMS.LABELS.DEFAULT_TEACHER' | translate }}</mat-checkbox
  >
  <app-validation-hint [validationFormControl]="TeacherFormGroup.get('defaultTeacher')"> </app-validation-hint>

  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="1"
    [cropperConfig]="cropperConfig"
    [label]="'Фото викладача'"
    formControlName="coverImage"
    [imageIdsFormControl]="TeacherFormGroup.get('coverImageId')">
  </app-image-form-control>

  <label class="step-label" for="last-name">{{ 'FORMS.LABELS.LAST_NAME' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="lastName"
      appTrimValue
      (focusout)="onFocusOut('lastName')"
      id="last-name" />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('lastName')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label" for="first-name">{{ 'FORMS.LABELS.FIRST_NAME' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="firstName"
      appTrimValue
      (focusout)="onFocusOut('firstName')"
      id="first-name" />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('firstName')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label" for="middle-name">{{ 'FORMS.LABELS.MIDDLE_NAME' | translate }}</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="middleName" appTrimValue id="middle-name" />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('middleName')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label" for="gender">{{ 'FORMS.LABELS.SEX' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group formControlName="gender" color="primary" id="gender">
    <mat-radio-button class="step-radio" [value]="'Male'">{{ 'FORMS.CONTROL_VALUES.MALE' | translate }}</mat-radio-button>
    <mat-radio-button class="step-radio" [value]="'Female'">{{ 'FORMS.CONTROL_VALUES.FEMALE' | translate }}</mat-radio-button>
  </mat-radio-group>
  <app-validation-hint [validationFormControl]="TeacherFormGroup.get('gender')"> </app-validation-hint>

  <label class="step-label" for="date-of-birth">{{ 'FORMS.LABELS.BIRTHDAY' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appPlaceholderStyling class="step-input step-input-date" floatLabel="never">
    <input
      [max]="today"
      [min]="minDate"
      matInput
      [matDatepicker]="picker"
      formControlName="dateOfBirth"
      placeholder="{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate }}"
      (focusout)="onFocusOut('dateOfBirth')"
      id="date-of-birth" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="TeacherFormGroup.get('dateOfBirth')" [minMaxDate]="true"> </app-validation-hint>

  <div class="step-label-combined">
    <label class="step-label" for="description">{{ 'TITLES.DESCRIPTION' | translate }}<span class="step-required">*</span></label>
    <span class="step-characters-count">
      {{ TeacherFormGroup.get('description').value?.length }}/{{ validationConstants.MAX_DESCRIPTION_LENGTH_300 }}
    </span>
  </div>
  <mat-form-field appearance="fill">
    <textarea
      matInput
      class="step-textarea"
      placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_300 }} {{
        'FORMS.PLACEHOLDERS.SYMBOLS' | translate
      }}"
      formControlName="description"
      maxlength="{{ validationConstants.MAX_DESCRIPTION_LENGTH_300 }}"
      appTrimValue
      (focusout)="onFocusOut('description')"
      id="description"></textarea>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('description')"
    [minCharacters]="validationConstants.INPUT_LENGTH_3"
    [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_300">
  </app-validation-hint>
  <div class="flex flex-row box-border items-stretch justify-center">
    <button class="btn-reset" mat-button (click)="onDeleteTeacher()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>{{ 'BUTTONS.REMOVE_TEACHER_DATA' | translate }}
    </button>
  </div>
</form>
