<form
  [formGroup]="TeacherFormGroup"
  fxLayout="column"
  fxLayoutAlign="center space-between"
  class="step"
  [class.step-border]="(teacherAmount > 1) && (index !== teacherAmount - 1)"
>
  <app-image-form-control
    *ngIf="isRelease3"
    [imgMaxAmount]="1"
    [cropperConfig]="cropperConfig"
    [label]="'Фото викладача'"
    formControlName="coverImage"
    [imageIdsFormControl]="TeacherFormGroup.get('coverImageId')"
  >
  </app-image-form-control>

  <label class="step-label">{{ 'FORMS.LABELS.LAST_NAME' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="lastName" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('lastName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
  >
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.FIRST_NAME' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="firstName" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('firstName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
  >
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.MIDDLENAME' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="middleName" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('middleName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
  >
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.SEX' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group formControlName="gender" color="primary">
    <mat-radio-button class="step-radio" [value]="0">{{ 'FORMS.CONTROL_VALUES.MALE' | translate }}</mat-radio-button>
    <mat-radio-button class="step-radio" [value]="1">{{ 'FORMS.CONTROL_VALUES.FEMALE' | translate }}</mat-radio-button>
  </mat-radio-group>
  <app-validation-hint [validationFormControl]="TeacherFormGroup.get('gender')"> </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.BIRTHDAY' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appPlaceholderStyling class="step-input step-input-date" floatLabel="never">
    <input
      [max]="today"
      [min]="minDate"
      matInput
      [matDatepicker]="picker"
      formControlName="dateOfBirth"
      placeholder="{{ dateFormPlaceholder | translate }}"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('dateOfBirth')"
    [isTouched]="TeacherFormGroup.get('dateOfBirth').touched"
    minMaxDate="true"
  >
  </app-validation-hint>

  <div class="step-label-combined">
    <label class="step-label">{{ 'TITLES.DESCRIPTION' | translate }}<span class="step-required">*</span></label>
    <label class="step-characters-count">
      {{ TeacherFormGroup.get('description').value.length }}/{{ validationConstants.MAX_DESCRIPTION_LENGTH_300 }}</label
    >
  </div>
  <mat-form-field appearance="none">
    <textarea
      matInput
      class="step-textarea"
      placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_300 }} {{
        'FORMS.PLACEHOLDERS.SYMBOLS' | translate
      }}"
      formControlName="description"
      maxlength="{{ validationConstants.MAX_DESCRIPTION_LENGTH_300 }}"
      appTrimValue
    ></textarea>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="TeacherFormGroup.get('description')"
    [minCharachters]="validationConstants.INPUT_LENGTH_3"
    [maxCharachters]="validationConstants.MAX_DESCRIPTION_LENGTH_300"
  >
  </app-validation-hint>

  <div fxLayout="row" fxLayoutAlign="center">
    <button class="btn-reset" mat-button (click)="onDeleteTeacher()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>{{ 'FORMS.ACTIONS.REMOVE_TEACHER_DATA' | translate }}
    </button>
  </div>
</form>
