.Approved,
.StudyingForYears {
  color: var(--status-approved);
}
.Pending {
  color: var(--status-pending);
}
.AcceptedForSelection {
  color: var(--status-accepted-for-selection);
  max-width: 201px !important;
}
.Rejected,
.Blocked,
.Banned {
  color: var(--status-blocked);
}
.Completed,
.Left {
  color: var(--status-not-provided);
}
