.Approved,
.StudyingForYears {
  color: var(--approved);
}
.Pending {
  color: var(--pending);
}
.AcceptedForSelection {
  color: var(--acceptedForSelection);
  max-width: 201px !important;
}
.Rejected,
.Blocked,
.Banned {
  color: var(--blocked);
}
.Completed,
.Left {
  color: var(--notProvided);
}
