.Approved,
.StudyingForYears {
  color: #2aff8a;
}
.Pending {
  color: #ffd048;
}
.AcceptedForSelection {
  color: #ffffff;
  max-width: 201px !important;
}
.Rejected,
.Blocked,
.Banned {
  color: #ff3125;
}
.Completed,
.Left {
  color: #2a2525;
}
