.cabinet-container {
  background: var(--secondary-light-bg-color);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 10px;

  .nav {
    border-bottom: none;

    .active {
      color: var(--primary-accent-color) !important;

      &::after {
        background-color: var(--primary-accent-color) !important;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        width: 50px;
      }
    }
  }

  @media (max-width: 750px) {
    margin-top: 40px;
  }
}

.title,
.nav a {
  font-weight: 700;
  font-family: 'Innerspace', sans-serif;
  color: var(--specific-light-text-color);
}

.title {
  font-size: 18px;
  line-height: inherit;
  margin-bottom: 1.5rem;
}

::ng-deep .mat-mdc-tab-link {
  .mdc-tab__text-label {
    line-height: 1.125rem;
    color: var(--specific-light-text-color) !important;
  }
}

::ng-deep .mat-mdc-tab-link.active {
  .mdc-tab__text-label {
    color: var(--specific-light-text-color) !important;
  }

  &:hover {
    .mdc-tab__text-label {
      color: var(--primary-accent-color) !important;
    }
  }

  &:focus {
    .mdc-tab__text-label {
      color: var(--primary-accent-color) !important;
    }
  }
}
