.empty-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: var(--input-light-color);
  border-radius: 5px;
  min-height: 66px;
  margin: 2rem 0;
}
.text {
  font-family:
    Open Sans,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: var(--list-text-color);
  opacity: 1;
  margin: 0 2rem;
}
.add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  background: var(--banner-color);
  color: var(--secondary-dark-text-color);
  border-radius: 5px;
  padding: 20px 24px;
  margin-bottom: 2rem;

  a {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .add-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;

    p {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}
