table {
  width: 100%;
  table-layout: fixed !important;
}

.wrapper {
  margin-bottom: 2rem;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
.table-container {
  align-items: baseline;
  overflow: auto;
  border-radius: 5px;

  table {
    padding-left: 5px;
  }

  @media (max-width: 763px) {
    flex-direction: column;
  }
}

::ng-deep .mat-sort-header-content {
  text-align: left !important;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid var(--input-light-color);
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid var(--input-light-color);
}

.icons {
  display: flex;

  .action-icon {
    font-size: var(--mdc-icon-button-icon-size);

    &:hover {
      opacity: 0.5;
      color: var(--primary-accent-color);
    }
  }
}

.action-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 10px;

  .icon-button {
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
}

.fas {
  margin-right: 5px;
}

tr {
  height: 40px;
}

th {
  height: inherit;
}

th,
td {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-mdc-footer-cell {
  padding-left: 10px;

  &:first-of-type {
    padding-left: 24px;
  }
}

td.mat-mdc-cell,
td.mat-mdc-footer-cell {
  padding-right: 0;
}

::-webkit-scrollbar {
  height: 12px;
}

.container {
  margin-left: 1rem;
  @media (max-width: 676px) {
    margin-left: 0;
  }
}

.star-column {
  padding: 0 !important;
}

.material-icons {
  font-size: 16px;
}

::ng-deep .mat-sort-header-content {
  width: 100% !important;
}
