[class^='chip-'] {
  font-family: Innerspace, sans-serif;
  font-size: 11px;
}

.chip {
  margin-left: 1rem;

  &-color {
    &-open,
    &-close,
    &-draft,
    &-pending,
    &-rejected,
    &-edited {
      color: var(--primary-dark-text-color);
      font-weight: bold;
      padding: 7px;
      border-radius: 16px;
    }

    &-open {
      background-color: #99cd56;
    }

    &-close,
    &-rejected {
      background-color: var(--error-color);
    }

    &-draft {
      background-color: var(--primary-accent-color);
      color: var(--specific-light-text-color);
    }

    &-pending {
      background-color: orange;
    }

    &-edited {
      background-color: rgb(246, 255, 0);
    }
  }
}
