<ng-container *ngFor="let form of workingHoursFormArray.controls">
  <app-working-hours-form
    [workingHoursForm]="form"
    [workingHoursAmount]="workingHoursFormArray.controls.length"
    [index]="workingHoursFormArray.controls.indexOf(form)"
    (deleteWorkingHour)="deleteWorkingHour($event)"
    (dataChanged)="onDataChanged()">
  </app-working-hours-form>
</ng-container>
<div class="add-hour flex flex-row justify-start items-center">
  <button class="btn-add" mat-button (click)="addWorkingHours()" [disabled]="workingHoursFormArray.invalid">
    <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_LESSONS_SCHEDULE' | translate }}
  </button>
</div>
