@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/buttons.scss";
.step{
  padding: 0 50px;
}
.mat-icon-add {
  vertical-align: middle;
  height: 26px;
  font-weight: bold;
  color : #3849F9;
}
.btn-reset:disabled .mat-icon-delete,
.btn-add:disabled .mat-icon-add {
  color: #9596a5; //TODO: fix button style
}
.expansion-panel {
  box-shadow: none !important;
}
:host ::ng-deep .mat-form-field{
  display: block !important;
}
.no-info {
  color: #444444b5;
  font-weight: bold;
}
.no-class{
  color: red;
  padding: 1rem;
}
