<form [formGroup]="classFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  <div fxLayout="row" fxLayoutAlign="start center">
    <label class="step-label"> Назва нового класу <span class="step-required">*</span></label>
  </div>
  <mat-form-field fxLayout="column" fxLayoutAlign="center space-between">
    <input matInput class="step-input" type="text" formControlName="title">
  </mat-form-field>
  <app-validation-hint
      [validationFormControl]="classFormGroup.get('title')"
  ></app-validation-hint>

  <div *ngIf="classAmount > 1" fxLayout="row" fxLayoutAlign="center">
    <button class="btn-reset" type="reset" mat-button (click)="onDelete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити клас
    </button>
  </div>
</form>
