<div class="about_wrapper">      
  <div class="about" fxLayout="row wrap" fxLayoutAlign="start center">
    <img class="about_pct" src="assets/images/header-about.png">
    <h3 class="about_title">Про портал</h3>
    <div class="about_content">
      <p>Раді вітати Вас на порталі <span class="about_content_bold">"Позашкілля"!</span></p>
      <p class="about_content_bold">Мета проєкту полягає в тому, щоб залучити якомога більше дітей, молоді та дорослих
        до
        занять улюбленою справою: чи то є хобі, розвага, спорт, мистецтво, наука, технологія, чи майбутня професія або
        перекваліфікація через навчання. </p>
      <p>Проєкт презентує різноманіття гуртків, секцій та класів з позашкільної освіти, культури, спорту, демонструє
        вибір
        освітніх послуг, максимально наближених до місця навчання або проживання.</p>
      <p>Проєкт дає можливість реєстрації як споживача послуг (діти, молодь, дорослі) так і їх надавача (заклади освіти
        будь-якої форми власності).
      </p>
      <p class="about_content_bold">Ідея проєкту реалізується за допомогою інформаційної системи пошуку гуртка за
        параметрами місця їх знаходження; певного творчого колективу, де може реалізуватися особа; певного напряму
        обраної
        діяльності тощо. </p>
      <p>Проєкт реалізується на виконання програми діджиталізації країни, загальнонаціональної програми Президента
        “Здорова Україна”, задля подолання перепонів, які стоять на заваді реалізації творчого потенціалу дитини,
        здійсненні її мрій.</p>
      <p>Продукт створено за участі креативної команди професіоналів з ІТ компанії SoftServe, а також інших волонтерів
        зі
        сфери освіти, науки, культури та спорту
        Партнери проєкту: МОН, Мінкульт, Мінмолодьспорт та інші органи державної влади та місцевого самоврядування.
      </p>
      <p>Ваші пропозиції по покращенню роботи сервісу можна надсилати:<a href="mailto:pozashkillia@gmail.com" target="_blank"><span class="about_content_link">
          Pozashkillia@gmail.com</span></a></p>
    </div>
  </div>