@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
.map{
  height: 500px;
}
.city-autocomplete {
  padding: 0.2rem 1rem;
  border: 1px solid #E3E3E3;
  border-radius: 21px;
  line-height: initial;
  box-sizing: border-box;
}
.redBorder {
  outline: none;
  border: 1px solid #C72A21;
}
