<form [formGroup]="AddressFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step">
  <label class="step-label">Місто<span class="step-required">*</span></label>
  <app-city-autocomplete (selectedCity)="onSelectedCity($event)" [InitialCity]="city" [className]="'create-form'"
    class="city-autocomplete">
  </app-city-autocomplete>
  <app-validation-hint 
    [validationFormControl]="AddressFormGroup.get('city')"
    [allowedCharacters]="validationTextField.CYRYLIC_APOSTROPHE_HYPEN"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_15">
  </app-validation-hint>

  <label class="step-label">Вулиця<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="street" autocomplete="none" maxlength="30" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="AddressFormGroup.get('city')"
    [allowedCharacters]="validationTextField.CYRYLIC_APOSTROPHE_HYPEN"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_30">
  </app-validation-hint>

  <label class="step-label">Будинок<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="buildingNumber" autocomplete="none" maxlength="15" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="AddressFormGroup.get('buildingNumber')"
    [allowedCharacters]="validationTextField.CYRYLIC_APOSTROPHE_HYPEN_SLASH_COMA_DOT"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_15">
  </app-validation-hint>

  <div class="border-bottom"></div>
  <div fxLayout='column' fxLayoutAlign='center center'>
    <p>Або позначте на карті</p>
  </div>
  <div class="map">
    <app-map [addressFormGroup]="AddressFormGroup" (setAddressEvent)="onReceiveAddressFromMap($event)"></app-map>
  </div>
</form>