.hobby-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
.custom-select {
  box-sizing: border-box;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid #E3E3E3;
  border-radius: 21px;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #495057;
  vertical-align: middle;
  appearance: none;
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  background: url("../../../../assets/icons/dropdown_arrow.svg") no-repeat right .75rem center/14px 12px;
  &:focus {
    outline: none;
  }
}
  select.browser-default {
    display: block !important;
  }
}