:host {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.material-icons {
  font-size: 16px;
  color: #888;
  cursor: pointer;
}

.info-icon {
  cursor: pointer;
  margin: auto 0.5rem;
  z-index: 100;
}

::ng-deep {
  .menu {
    &-wrapper {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      padding: 0.5rem 0.5rem;
    }

    &.text {
      max-width: 600px;
      min-width: auto;
    }

    &.component {
      max-width: max-content;
    }
  }

  .info-menu {
    .mat-mdc-menu-content {
      font-weight: inherit;
      font-size: inherit;
      padding: 0px;
    }
  }
}

.big-icon {
  font-size: 30px;
  line-height: 30px;
  color: #000000de;
}

.active-info-btn {
  color: #3849f9;
}
