<ng-container *ngIf="children">
  <ng-container *ngIf=" children.totalAmount; then ParentWorkshops; else isEmptyList"></ng-container>
</ng-container>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noParentWorkshops"></app-no-result-card>
</ng-template>

<ng-template #ParentWorkshops>
  <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Активні">
      <ng-container *ngTemplateOutlet="ParentApplications"></ng-container>
    </mat-tab>
    <mat-tab label="Неактивні">
      <ng-container *ngTemplateOutlet="ParentApplications"> </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #ParentApplications>
  <ng-container *ngFor="let child of children.entities">
    <app-child-workshops-list
      [child]="child"
      [statuses]="statuses"
    ></app-child-workshops-list>
  </ng-container>
</ng-template>
