@import 'src/app/shared/styles/create-form-wrapper.scss';
@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';

.wrapper .personal-info {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.about-link {
  color: blue;
  font-weight: 300;
}

.wrapper-check-box {
  text-align: center;
}
