@use 'create-form-wrapper';
@use 'create-form';
@use 'buttons';
@use 'validation-form';
@use 'dropdown';

.wrapper .personal-info {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.about-link {
  color: var(--primary-accent-color);
  font-weight: 300;
}

.wrapper-check-box {
  text-align: center;
}
