<ng-container *ngIf="platformInfo$ | async as platformInfo">
  <div class="wrapper" fxLayout="row wrap" fxLayoutAlign="start">
    <div class="config">
      <a routerLink="edit" class="config_edit-icon" [routerLink]="['../edit', type ]">
        <button mat-button style="color:#3849F9;">
          <mat-icon style="color:#3849F9;">edit</mat-icon>Редагувати
        </button>
      </a>
        <h3>{{platformInfo.title}}</h3>
        <div *ngFor="let portalItem of platformInfo.companyInformationItems" class="config-wrapper">
          <h4>{{portalItem.sectionName}}</h4>
          <p>{{portalItem.description}}</p>
        </div>
    </div>
  </div>
</ng-container>
