<div fxLayout="row" fxLayoutAlign='start start' fxLayoutGap='1rem' fxLayout.xs="column"
  fxLayoutAlign.xs="center start">

  <form [formGroup]="workingHoursForm" fxLayout='row' fxLayoutAlign='start start' class="step">

  <div>
    <div fxLayout='row' fxLayoutAlign='space-between'
      [ngClass]="!(workingHoursForm.get('workdays').invalid && workingHoursForm.get('workdays').touched) ? 'days-toggle' : 'days-toggle days-toggle-invalid'">
      <div *ngFor="let day of days" fxLayout='row' fxLayoutAlign='center center'
        (click)="onToggleDays(day)" [ngClass]="(day.selected) ? 'toggle toggle-selected' : 'toggle' ">
        {{day.value}}</div>
    </div>
    
    <app-validation-hint
      [validationFormControl]="workingHoursForm.get('workdays')">
    </app-validation-hint>

  </div>

    <p class="text">Від</p>
    <div>
      <input class="input step-input" type="text" [disabled]="!workingDays.length" matInput
        [ngxMatTimepicker]="timepickerStart" format="24" required formControlName="startTime" autocomplete="none">
        <app-validation-hint
        [validationFormControl]="workingHoursForm.get('startTime')">
      </app-validation-hint>
    </div>

    <p class="text">До</p>
    <div>
      <input class="input step-input" type="text" [disabled]="!workingDays.length" matInput
        [ngxMatTimepicker]="timepickerEnd" format="24" required formControlName="endTime" [min]="getMinTime()"
        autocomplete="none">
    </div>
  </form>

  <div fxLayout='row' fxLayoutAlign='start start' *ngIf="workingHoursAmount">
    <mat-icon class="mat-icon-delete" (click)="delete()">delete</mat-icon>
  </div>
</div>

<ng-template #ValidationHintTmpl>
  <small appValidationMessageStyling>
    Це поле є обов'язковим. <br>
  </small>
</ng-template>

<ngx-mat-timepicker #timepickerStart [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm" timepickerClass="">
</ngx-mat-timepicker>
<ngx-mat-timepicker #timepickerEnd [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm">
</ngx-mat-timepicker>

<ng-template #btnCancel>
  <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">Скасувати</button>
</ng-template>
<ng-template #btnConfirm>
  <button class="btn" mat-raised-button>Зберегти</button>
</ng-template>