<div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='1rem' fxLayout.xs="column"
  fxLayoutAlign.xs="center start">
  <div>
    <div fxLayout='row' fxLayoutAlign='space-between'
      [ngClass]="!(workingHoursForm.get('workdays').invalid && workingHoursForm.get('workdays').touched) ? 'days-toggle' : 'days-toggle days-toggle-invalid'">
      <div *ngFor="let day of days" class="toggle" fxLayout='row' fxLayoutAlign='center center'
        (click)="onToggleDays(day)" [ngClass]="(day.selected) ? 'toggle-selected' : '' ">
        {{day.value}}</div>
    </div>
    <app-validation-hint-for-input type="requiredField"
      [invalid]="workingHoursForm.get('workdays').invalid && workingHoursForm.get('workdays').touched">
    </app-validation-hint-for-input>
  </div>


  <form [formGroup]="workingHoursForm" fxLayout='row' fxLayoutAlign='center center' class="step">
    <p class="text">Від</p>
    <div>
      <input class="input step-input" type="text" [disabled]="!workingDays.length" matInput
        [ngxMatTimepicker]="timepickerStart" format="24" required formControlName="startTime">
      <app-validation-hint-for-input type="requiredField"
        [invalid]="workingHoursForm.get('startTime').invalid && workingHoursForm.get('startTime').touched">
      </app-validation-hint-for-input>
    </div>
    <p class="text">До</p>
    <div>
      <input class="input step-input" type="text" [disabled]="!workingDays.length" matInput
        [ngxMatTimepicker]="timepickerEnd" format="24" required formControlName="endTime" [min]="getMinTime()">
      <app-validation-hint-for-input type="requiredField"
        [invalid]="workingHoursForm.get('endTime').invalid && workingHoursForm.get('endTime').touched">
      </app-validation-hint-for-input>
    </div>
  </form>

  <div fxLayout='row' fxLayoutAlign='center center' *ngIf="workingHoursAmount > 1">
    <mat-icon class="mat-icon-delete" (click)="delete()">delete</mat-icon>
  </div>
</div>

<ngx-mat-timepicker #timepickerStart [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm" timepickerClass="">
</ngx-mat-timepicker>
<ngx-mat-timepicker #timepickerEnd [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm">
</ngx-mat-timepicker>

<ng-template #btnCancel>
  <button mat-raised-button class="btn btn-cancel">Скасувати</button>
</ng-template>
<ng-template #btnConfirm>
  <button class="btn" mat-raised-button>Зберегти</button>
</ng-template>