@use 'buttons';
@use 'tables';
@use 'search';
@use 'dropdown';
@use 'calendar';
@use 'create-form';

table {
  width: 100%;
  height: 20px;

  a {
    cursor: pointer;
    span {
      vertical-align: top;
    }
  }
}

.btn {
  margin: 0;
  height: 40px;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search {
  padding-left: 1rem;
  background-color: transparent;
  color: var(--primary-dark-text-color);
}

.search-area {
  position: static;
  display: flex;
  max-height: 2.5rem;
}

@media (max-width: 1200px) {
  .search-area {
    position: static;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .actions-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 1070px) {
  .search-area {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .actions-wrapper {
    flex-direction: column;
  }
}

.header-column {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.filters-period {
  display: flex;
  align-items: flex-end;
  row-gap: 10px;

  > span {
    margin-right: 10px;
    font-size: 14px;
    align-self: center;
    line-height: 14.6px;
    color: var(--cancel-text-color);
    font-weight: 700;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  mat-datepicker-toggle {
    pointer-events: all;
  }
}

::ng-deep .mat-datepicker-actions {
  justify-content: center !important;
  background: var(--primary-light-bg-color) !important;
  border-radius: 0 0 24px 24px;
}

::ng-deep .mat-datepicker-content {
  border-radius: 24px !important;
  .mat-calendar {
    border-radius: 24px 24px 0 0;
  }
}

::ng-deep mat-date-range-picker-actions .date-buttons {
  justify-content: center;
}

.date-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

:host ::ng-deep .date {
  width: 100%;
  max-width: 250px;
  padding: 0 16px 0 3px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  height: 40px;
  min-width: 100px;
  background: var(--primary-light-bg-color);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;

  .mat-form-field-flex {
    background-color: transparent;
    padding: 0;
  }

  .mat-mdc-button-touch-target {
    width: 40px;
    height: 40px;
  }

  .mat-mdc-text-field-wrapper {
    padding-left: 16px;
  }

  .mat-date-range-input-container {
    margin-top: 10px;
  }

  .mdc-floating-label {
    top: 18px !important;
    width: 100%;
    &--float-above {
      transform: translateY(-90%) scale(0.75);
    }
  }
}

::ng-deep .mat-form-field.mat-focused.mat-primary,
::ng-deep .mat-form-field-infix {
  border: 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: 8px;

  &:hover {
    opacity: 0.5;
  }

  &__icon {
    transform: rotateY(180deg) rotate(45deg);
    overflow: visible;
    font-size: 24px;
    line-height: 19px;
    color: var(--cancel-text-color);
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1300px) {
  .filters-wrapper {
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 1000px) {
  .filters-wrapper {
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .filters-period {
    span {
      display: block;
      width: 100%;
      margin: 0 0 5px 10px;
    }
  }
}
