@use 'tables';
@use 'search';
@use 'calendar';
@use 'create-form';
@use 'buttons';

table {
  width: 100%;

  a {
    cursor: pointer;

    span {
      vertical-align: top;
    }
  }
}

.btn {
  margin: 0;
  height: 40px;
}

.btn-cancel {
  background-color: transparent;
  border: 1px solid var(--specific-text-color) !important;
  color: var(--specific-text-color) !important;
}

.search {
  padding-left: 1rem;
  background-color: var(--bg-light-additional) !important;
  color: var(--primary-light-text-color);
}

@media (max-width: 1200px) {
  .search-area {
    position: static;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .actions-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 1070px) {
  .search-area {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .actions-wrapper {
    flex-direction: column;
  }
}

.filters-period {
  margin-right: 10px;
  font-size: 14px;
  align-self: center;
  line-height: 14.6px;
  color: var(--input-light-color);
  font-weight: 700;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  mat-datepicker-toggle {
    pointer-events: all;
  }
}

::ng-deep .mat-datepicker-actions {
  justify-content: center !important;
  border-radius: 0 0 24px 24px;
}

::ng-deep .mat-datepicker-content {
  border-radius: 24px !important;

  .mat-calendar {
    border-radius: 24px 24px 0 0;
  }
}

::ng-deep mat-date-range-picker-actions .date-buttons {
  justify-content: center;
}

:host ::ng-deep .date {
  width: 100%;
  max-width: 250px;
  padding: 0 16px 0 3px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  height: 40px;
  min-width: 100px;
  background-color: var(--bg-light-additional) !important;
  color: var(--primary-dark-text-color);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;

  .mat-form-field-flex {
    background-color: transparent;
    padding: 0;
  }

  .mat-mdc-button-touch-target {
    width: 40px;
    height: 40px;
  }

  .mat-mdc-text-field-wrapper {
    padding-left: 16px;
  }

  .mat-date-range-input-container {
    margin-top: 10px;
  }

  .mat-mdc-form-field-infix .mdc-floating-label {
    top: 18px;
    width: 100%;
    color: var(--primary-light-text-color);

    &--float-above {
      transform: translateY(-90%) scale(0.75);
    }
  }
}

::ng-deep .mat-form-field.mat-focused.mat-primary,
::ng-deep .mat-form-field-infix {
  border: 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.reset-icon {
  transform: rotateY(180deg) rotate(45deg);
  overflow: visible;
  font-size: 24px;
  line-height: 19px;
  color: var(--primary-light-text-color) !important;
}

@media (max-width: 1300px) {
  .filters-wrapper {
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 1000px) {
  .filters-wrapper {
    justify-content: center;
  }

  .search-wrapper {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .filters-period {
    span {
      display: block;
      width: 100%;
      margin: 0 0 5px 10px;
    }
  }
}
