@import "src/app/shared/styles/pagination.scss";
.wrapper{
  width:100%;
  max-height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.map {
  width:100%;
}
.workshop-list{
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}
