@import "src/app/shared/styles/pagination.scss";
$links-color: #3849F9;

.wrapper{
  max-height: 650px;
}

.workshop-details-card {
  display: none !important;
}

.map {
  width: 1200px;
  height: 650px;

  &-full{
    width: 100%;
  }
  &-half{
    display: inline-block;
    width: 70%;
  }
}

.workshop-list{
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.empty-card {
  width: 300px;
  height: 440px;
  margin: 0 16px;
  visibility: hidden;
  border: none;
}

@media (max-width: 750px) {
  .workshop-counter-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .workshop-counter {
    font-weight: 700;
    padding: 8px 16px;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    z-index: 400;
  }

  .mock {
    width: 2vw;
    margin: 1vw;
  }
  .wrapper{
    max-height: none !important;
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .workshop {
    display: none;
  }

  app-map {
    height: calc(100vh - 62px) !important;
    margin-top: 30px;
    position: relative;

    ::ng-deep {
      #map {
        position: absolute;
        height: 100% !important;
      }
    }
  }

  .workshop-details-cards {

    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 400;
    overflow: scroll;
    // padding: 15px 10px;

    .workshop-details-card {
      flex-grow: 2;
      display: block !important;
    }

    .mapCardButton {
      display: none;
      width: 40px;
      background-color: #fff;
      border: none;
      color: #3849F9;
      .mat-icon {
        font-size: 2rem;
      }
    }
    .display {
      display: inline-block;
    }
  }


}
