@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';

.keywords {
  min-height: 100px;
  position: relative;
}

.keyWordChip.keyWordChip.keyWordChip {
  width: fit-content;
  max-width: 100%;
}

.chip-text {
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keywordsPlaceholder {
  opacity: 0.5;
}

.keywords-input {
  position: absolute;
  top: 5px;
}

.step-label-title {
  padding-top: 5px;
}
