@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";

.keywords {
  min-height: 100px;
  position: relative;
}

.keyWordChip.keyWordChip.keyWordChip {
  width: fit-content;
  max-width: 100%;
}

.chip-text {
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keywordsPlaceholder {
  opacity: 0.5;
}

.keywords-input {
  position: absolute;
  top: 5px;
}

.wrapper-border {
  border: 1px solid #E3E3E3;
  border-radius: 25px;
  padding: 20px;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-resizer {
  opacity: 0;
}

.step-textarea {
  border: none;
  border-radius: 0;
  padding: 0;
}
