<form [formGroup]="DescriptionFormGroup" class="step flex flex-col justify-between items-stretch">
  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="10"
    [cropperConfig]="cropperConfig"
    [label]="'Фото'"
    formControlName="imageFiles"
    [imageIdsFormControl]="DescriptionFormGroup.get('imageIds')">
  </app-image-form-control>

  <app-info-form
    *ngFor="let form of SectionItemsFormArray.controls"
    [infoEditFormGroup]="form"
    [index]="SectionItemsFormArray.controls.indexOf(form)"
    [formAmount]="SectionItemsFormArray.controls.length"
    [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500"
    (deleteForm)="onDeleteForm($event)">
  </app-info-form>

  <button
    *ngIf="SectionItemsFormArray.controls.length < 10"
    [disabled]="SectionItemsFormArray.invalid"
    class="btn-add"
    mat-button
    (click)="onAddForm()">
    <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_ANOTHER_SECTION' | translate }}
  </button>

  <label class="step-label"> {{ 'FORMS.LABELS.SUPPORT_PERSONS_WITH_DISABILITIES' | translate }} </label>
  <mat-radio-group [formControl]="disabilityOptionRadioBtn" color="primary" class="flex flex-col box-border items-stretch justify-between">
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">{{ 'NOT_AVAILABLE' | translate }}</mat-radio-button>
    <mat-radio-button #radio2 name="radioBtn2" [value]="true">{{ 'AVAILABLE' | translate }}</mat-radio-button>
    <input
      matInput
      class="step-input"
      [ngClass]="{ 'disabled-field': !disabilityOptionRadioBtn.value }"
      placeholder="{{ 'FORMS.PLACEHOLDERS.SPECIAL_EQUIPMENT' | translate }}"
      formControlName="disabilityOptionsDesc"
      autocomplete="off"
      appTrimValue />
    <app-validation-hint
      [validationFormControl]="DescriptionFormGroup.get('disabilityOptionsDesc')"
      [minCharacters]="validationConstants.INPUT_LENGTH_1"
      [maxCharacters]="validationConstants.INPUT_LENGTH_256">
    </app-validation-hint>
  </mat-radio-group>

  <ng-container>
    <mat-form-field appearance="none">
      <label class="step-label">{{ 'FORMS.LABELS.USER_TAGS' | translate }}</label>
      <mat-select
        #select
        multiple
        disableOptionCentering
        panelClass="dropdown-panel"
        class="step-input list-of-tags"
        [compareWith]="compareItems"
        [formControl]="tagsControl">
        <mat-select-trigger>
          <mat-chip-set #chipSet>
            <mat-chip *ngFor="let tag of tagsControl.value" (removed)="onRemoveItem(tag)">
              <img class="min-logo" src="../../assets/icons/icon_painting.svg" alt="Link" />
              <span>{{ tag.name }}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-set>
        </mat-select-trigger>
        <mat-option class="dropdown-option" *ngFor="let tag of tags" [value]="tag">
          {{ tag.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container>
    <mat-form-field appearance="none">
      <label class="step-label">{{ 'FORMS.LABELS.USER_TAGS' | translate }}</label>
      <mat-select
        #select
        multiple
        disableOptionCentering
        panelClass="dropdown-panel"
        class="step-input list-of-tags"
        [compareWith]="compareItems"
        [formControl]="tagsControl">
        <mat-select-trigger>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of tagsControl.value" (removed)="onRemoveItem(tag)">
              <img class="min-logo" src="../../assets/icons/icon_painting.svg" alt="Link" />
              <span>{{ tag.name }}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-select-trigger>
        <mat-option class="dropdown-option" *ngFor="let tag of tags" [value]="tag">
          {{ tag.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <div class="step-label-combined">
    <label class="step-label">{{ 'FORMS.LABELS.KEYWORDS' | translate }}</label>
    <label class="step-characters-count">{{ keyWords.length }}/{{ validationConstants.MAX_KEYWORDS_LENGTH }}</label>
  </div>
  <div class="step-input keywords" (click)="setFocus()">
    <span *ngIf="!keyWordsCtrl.value && keyWords.length < 1" class="keywordsPlaceholder"
      >{{ 'FORMS.PLACEHOLDERS.KEYWORDS_START' | translate }} {{ validationConstants.MAX_KEYWORDS_LENGTH }}
      {{ 'FORMS.PLACEHOLDERS.KEYWORDS_END' | translate }}</span
    >
    <mat-chip-grid #chipGrid aria-label="enter keywords">
      <mat-chip-row *ngFor="let keyWord of keyWords" (removed)="onRemoveKeyWord(keyWord)" class="keyWordChip">
        <div [matTooltip]="keyWord" showTooltipIfTruncated matTooltipClass="tooltip" class="chip-text">
          {{ keyWord }}
        </div>
        <mat-icon class="mat-icon" matChipRemove>close</mat-icon>
      </mat-chip-row>
      <input
        [ngClass]="{ 'keywords-input': !keyWordsCtrl.value && keyWords.length < 1 }"
        #keyWordsInput
        (focusout)="onKeyWordsInput()"
        [formControl]="keyWordsCtrl"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="onKeyWordsInput()"
        autocomplete="off"
        appTrimValue />
    </mat-chip-grid>
  </div>

  <label class="step-label">{{ 'COMPETITIVE_SELECTION' | translate }}</label>
  <mat-radio-group
    [formControl]="competitiveSelectionRadioBtn"
    color="primary"
    class="flex flex-col box-border justify-between content-center items-stretch">
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">
      {{ 'WITHOUT_COMPETITIVE_SELECTION' | translate }}
    </mat-radio-button>
    <mat-radio-button #radio2 name="radioBtn2" [value]="true">
      {{ 'WITH_COMPETITIVE_SELECTION' | translate }}
    </mat-radio-button>
    <ng-container *ngIf="DescriptionFormGroup.get('competitiveSelection').value">
      <div class="step-label-combined">
        <label class="step-label">{{ 'INFO_ABOUT_SELECTION' | translate }}<span class="step-required">*</span></label>
        <label class="step-characters-count">
          <ng-container *ngIf="DescriptionFormGroup.get('competitiveSelectionDescription').value; else elseBlock">
            {{ DescriptionFormGroup.get('competitiveSelectionDescription').value?.length }}/{{
              validationConstants.MAX_DESCRIPTION_LENGTH_500
            }}
          </ng-container>
          <ng-template #elseBlock> 0/{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} </ng-template>
        </label>
      </div>
      <textarea
        matInput
        class="step-textarea step-textarea-short"
        placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
          'FORMS.PLACEHOLDERS.SYMBOLS' | translate
        }}"
        formControlName="competitiveSelectionDescription"
        [maxLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
      </textarea>
      <app-validation-hint
        [validationFormControl]="DescriptionFormGroup.get('competitiveSelectionDescription')"
        [minCharacters]="validationConstants.INPUT_LENGTH_1"
        [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
      </app-validation-hint>
    </ng-container>
  </mat-radio-group>
</form>
