@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';

.keywords {
  min-height: 100px;
  position: relative;
}

.keyWordChip.keyWordChip.keyWordChip {
  width: fit-content;
  white-space: normal !important;
  height: auto !important;
  max-width: 100%;
}

.chip-text {
  width: calc(100%);
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keywordsPlaceholder {
  opacity: 0.5;
}

.keywords-input {
  position: absolute;
  top: 5px;
}

.expanded-field {
  height: auto !important;
}

.step-label-title {
  padding-top: 5px;
}

.min-logo {
  width: 20px;
  height: 20px;
}

.fieldset {
  &-additional-desc {
    border-radius: 21px;
    border: 2px solid #e3e3e3;
    margin: 10px 0;

    legend {
      padding: 0;
    }
  }
}
