<form [formGroup]="DescriptionFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step">
  <app-image-form-control *ngIf="isRelease2" [imgMaxAmount]="10" [label]="'Фото'" formControlName="imageFiles"
    [imageIdsFormControl]="DescriptionFormGroup.get('imageIds')">
  </app-image-form-control>

  <div class="step-label-combined">
    <label class="step-label"> Опис <span class="step-required">*</span></label>
    <label class="step-characters-count">
      {{DescriptionFormGroup.get('description').value.length}}/{{constants.MAX_DESCRIPTION_LENGTH}}</label>
  </div>
  <mat-form-field appearance="none">
    <div class="wrapper-border">
      <textarea matInput class="step-textarea step-input-field"
        placeholder="Максимум {{constants.MAX_DESCRIPTION_LENGTH}} символів" formControlName="description"
        maxlength="{{constants.MAX_DESCRIPTION_LENGTH}}"></textarea>
    </div>
  </mat-form-field>
  <app-validation-hint-for-input type="requiredField"
    [invalid]="DescriptionFormGroup.get('description').invalid && DescriptionFormGroup.get('description').touched">
  </app-validation-hint-for-input>

  <label class="step-label"> Директор <span class="step-required">*</span></label>
  <mat-form-field appearance="none">
    <input matInput class="step-input step-input-field" placeholder="П.І.Б." formControlName="head" autocomplete="none">
  </mat-form-field>
  <app-validation-hint-for-input type="requiredEmptyField"
    [isEmptyCheck]="DescriptionFormGroup.get('head').errors?.required"
    [invalid]="DescriptionFormGroup.get('head').invalid && DescriptionFormGroup.get('head').touched">
  </app-validation-hint-for-input>
  <app-validation-hint-for-input type="validTextField"
    [invalid]="DescriptionFormGroup.get('head').invalid && DescriptionFormGroup.get('head').touched"
    [forbiddenCharacter]="DescriptionFormGroup.get('head').errors?.pattern?.requiredPattern">
  </app-validation-hint-for-input>

  <label class="step-label"> Наявність ресурсу для надання освіти для осіб з ООП та осіб з інвалідністю </label>
  <mat-radio-group [formControl]="disabilityOptionRadioBtn" color="primary" fxLayout='column'
    fxLayoutAlign='center space-between'>
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">Відсутні</mat-radio-button>
    <mat-radio-button #radio2 name="radioBtn2" [value]="true">Наявні</mat-radio-button>
    <input matInput class="step-input" [ngClass]="{'disabled-field' : !disabilityOptionRadioBtn.value}"
      placeholder="Пандус/спец. обладнання" formControlName="disabilityOptionsDesc" autocomplete="none">
  </mat-radio-group>

  <app-category-select [workshop]="workshop" [CategoryFormGroup]="DescriptionFormGroup.get('categories')">
  </app-category-select>

  <div class="step-label-combined">
    <label class="step-label">Ключові слова</label>
    <label class="step-characters-count">{{keyWords.length}}/{{constants.MAX_KEYWORDS_LENGTH}}</label>
  </div>
  <div class="step-input keywords" (click)="setFocus()"
    [class.redBorder]="DescriptionFormGroup.get('keyWords').invalid && DescriptionFormGroup.get('keyWords').touched">
    <span *ngIf="!keyWord && (keyWords.length < 1)" class="keywordsPlaceholder">Введіть ключові слова за якими
      користувачі зможуть шукати ваш гурток і натисніть Enter щоб додати тегу (максимум 5 слів)</span>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let keyWord of keyWords" (removed)="onRemoveKeyWord(keyWord)" class="keyWordChip">
        <div [matTooltip]="keyWord" showTooltipIfTruncated matTooltipClass="tooltip" class="chip-text">{{keyWord}}</div>
        <mat-icon class="mat-icon" matChipRemove>close</mat-icon>
      </mat-chip>
      <input [ngClass]="{'keywords-input': !keyWord && (keyWords.length < 1)}" [disabled]="disabledKeyWordsInput"
        #keyWordsInput (focusout)="onKeyWordsInput()" [formControl]="keyWordsCtrl" [matChipInputFor]="chipList"
        (keyup.enter)="onKeyWordsInput()" [(ngModel)]="keyWord" autocomplete="none">
    </mat-chip-list>
  </div>
  <app-validation-hint-for-input type="requiredField"
    [invalid]="DescriptionFormGroup.get('keyWords').invalid && DescriptionFormGroup.get('keyWords').touched">
  </app-validation-hint-for-input>

</form>