<div class="step">
  <ng-container *ngIf="editMode then editTmpl; else addNewClassTmpl"></ng-container>
</div>

<ng-template #addNewClassTmpl>
  <app-new-class-form *ngFor="let form of ClassFormArray.controls" [classFormGroup]="form"
    [formIndex]="ClassFormArray.controls.indexOf(form)" [classAmount]="ClassFormArray.controls.length"
    (deleteForm)="onDeleteForm($event)">
  </app-new-class-form>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button class="btn-add" mat-button (click)="onAddForm()" [disabled]="ClassFormArray.invalid">
      <mat-icon class="mat-icon-add">add</mat-icon>Додати ще один клас
    </button>
  </div>
</ng-template>

<ng-template #editTmpl>
  <mat-accordion>
    <mat-expansion-panel [expanded]="option === 0" (opened)="onOptionChange(0)" hideToggle class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="step-label">
          Додати новий клас до відділу
        </mat-panel-title>
        <mat-icon class="mat-icon-add">add</mat-icon>
      </mat-expansion-panel-header>
    
      <ng-container *ngTemplateOutlet="addNewClassTmpl"></ng-container>

    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="option === 1" (opened)="onOptionChange(1)" hideToggle class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="step-label">
           Редагувати існуючий клас
        </mat-panel-title>
        <mat-icon class="mat-icon-add">edit</mat-icon>
      </mat-expansion-panel-header>

      <ng-container *ngTemplateOutlet="classDropdown"></ng-container>
      <form [formGroup]="selectedClassFormgroup" *ngIf="selectedClass">
        <label class="step-label"> Нова назва клаcу</label>
        <mat-form-field fxLayout="column" fxLayoutAlign="start space-between">
          <input matInput class="step-input" type="text" formControlName="title">
        </mat-form-field>
      </form>
  
    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="option === 2" (opened)="onOptionChange(2)" hideToggle class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="step-label">
          Видалити існуючий клас
        </mat-panel-title>
        <mat-icon class="mat-icon-add">delete</mat-icon>
      </mat-expansion-panel-header>
      <app-classes-check-box-list *ngIf="option === 2" [classes]="classes$ | async"></app-classes-check-box-list>
    </mat-expansion-panel>

  </mat-accordion>

  <ng-template #classDropdown>
    <mat-form-field appearance="none" fxLayoutAlign="start space-between">
      <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input" name="classes" placeholder="Усі класи"
      [formControl]="classSelectControl" [(ngModel)]="selectedClass"  (selectionChange)="onClassSelect()">
        <mat-option *ngFor="let class of classes$ | async" [value]="class" class="dropdown-option">
          {{class.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</ng-template>
