input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  outline: none;
  border: 1px solid #C72A21;
 box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.247);
}
.disabled-button {
  opacity: 0.5;
}

.highlight-text {
  color: red;
}

