<div class="unregistered-user-modal__content flex flex-row justify-center box-border items-stretch" mat-dialog-content>
  <h2 *ngIf="data.title" class="unregistered-user-modal__title">
    {{ data?.title | translate }}
  </h2>
  <p *ngIf="data.message" class="unregistered-user-modal__message">
    {{ data?.message | translate }}
  </p>
</div>
<div mat-dialog-actions class="flex flex-row !justify-center box-border !items-center content-center">
  <button class="unregistered-user-modal__action-button white" mat-raised-button mat-dialog-close>
    {{ 'BUTTONS.GO_BACK' | translate }}
  </button>
  <button
    class="unregistered-user-modal__action-button flex flex-row justify-center items-center content-center"
    mat-raised-button
    mat-dialog-close
    (click)="login()">
    {{ 'BUTTONS.REGISTER' | translate }}
  </button>
</div>
