@import 'src/app/shared/styles/buttons.scss';

.unregistered-user-modal__content {
  max-width: 370px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.unregistered-user-modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.unregistered-user-modal__message {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.unregistered-user-modal__action-button {
  color: white;
  background-color: #3849f9;
  border: 1px solid #3849f9;
  border-radius: 20px;
  margin-bottom: 20px;
  display: block;

  &.white {
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 145px;

    &:focus {
      background-color: white;
    }
  }
}
