@use 'src/app/shared/styles/components/buttons';

.unregistered-user-modal__content {
  max-width: 370px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.unregistered-user-modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.unregistered-user-modal__message {
  color: var(--cancel-text-color);
  padding: 20px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.unregistered-user-modal__action-button {
  color: var(--primary-light-text-color);
  background-color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  border-radius: 20px;
  display: block;

  &.white {
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 145px;

    &:focus {
      background-color: white;
    }
  }
}
