<div class="create-form" *ngIf="selectedCompetition && currentUser">
  <div class="wrapper !px-8">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">
        {{ 'FORMS.HEADERS.EDIT_COMPETITION_DRAFT' | translate }}
      </h3>
      <p class="wrapper-text">
        {{ 'FORMS.HEADERS.EDIT_DESCRIPTION_PATH' | translate }}
        {{ 'FORMS.HEADERS.COMPETITION_FORM_DESCRIPTION' | translate }}
      </p>
    </div>
    <mat-horizontal-stepper linear class="main-stepper" #stepper>
      <mat-step>
        <ng-template matStepLabel>
          <p class="step-name">{{ 'FORMS.LABELS.INFORMATION_ABOUT_COMPETITION' | translate }}</p>
        </ng-template>
        <form [formGroup]="form" class="step flex flex-col justify-between items-stretch">
          <app-image-form-control
            *ngIf="isImagesFeature && form.get('coverImageId').value?.length"
            [imgMaxAmount]="1"
            [cropperConfig]="cropperConfig"
            [label]="'FORMS.LABELS.COVER_IMAGE' | translate"
            formControlName="coverImage"
            [deleteMode]="true"
            [entity]="Entities.Competition"
            (deleteImage)="onDeleteCoverImage($event)"
            [moderatorDeleteFlow]="true"
            [imageIdsFormControl]="form.get('coverImageId')"
            [showConfirmationWindow]="true">
          </app-image-form-control>

          <label for="title" class="step-label block">{{ 'FORMS.LABELS.TITLE' | translate }}<span class="step-required">*</span></label>
          <mat-form-field>
            <input matInput class="step-input" type="text" formControlName="title" appTrimValue />
          </mat-form-field>
          <app-validation-hint
            [validationFormControl]="form.get('title')"
            [minCharacters]="validationConstants.INPUT_LENGTH_1"
            [maxCharacters]="validationConstants.INPUT_LENGTH_60">
          </app-validation-hint>

          <div class="flex flex-row justify-between items-center">
            <label for="shortTitle" class="step-label">
              {{ 'FORMS.LABELS.SHORT_TITLE' | translate }}
              <span class="step-required">*</span>
            </label>
            <app-info-menu [type]="InfoMenuType.Text">
              {{ 'INFO_MENU.SHORT_TITLE_DESCRIPTION' | translate }}
            </app-info-menu>
          </div>

          <mat-form-field>
            <input matInput class="step-input" type="text" formControlName="shortTitle" appTrimValue />
          </mat-form-field>
          <app-validation-hint
            [validationFormControl]="form.get('shortTitle')"
            [minCharacters]="validationConstants.INPUT_LENGTH_1"
            [maxCharacters]="validationConstants.INPUT_LENGTH_60">
          </app-validation-hint>

          <app-image-form-control
            *ngIf="isImagesFeature && form.get('imageIds').value?.length"
            [imgMaxAmount]="10"
            [cropperConfig]="cropperConfig"
            [label]="'FORMS.LABELS.PHOTOS' | translate"
            [deleteMode]="true"
            [entity]="Entities.Competition"
            formControlName="imageFiles"
            (deleteImage)="onDeleteImage($event)"
            [imageIdsFormControl]="form.get('imageIds')"
            [moderatorDeleteFlow]="true"
            [showConfirmationWindow]="true">
          </app-image-form-control>

          <fieldset class="fieldset-additional-desc flex flex-col justify-center">
            <app-info-form
              *ngFor="let form of SectionItemsFormArray.controls"
              [infoEditFormGroup]="form"
              [entity]="Entities.Competition"
              [index]="SectionItemsFormArray.controls.indexOf(form)"
              [formAmount]="SectionItemsFormArray.controls.length"
              [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_2000"
              (deleteForm)="onDeleteForm($event)">
            </app-info-form>
          </fieldset>

          <div class="step-label-combined">
            <label for="competitiveSelectionDescription" class="step-label">{{ 'INFO_ABOUT_SELECTION' | translate }}</label>
            <label for="competitiveSelectionDescription" class="step-characters-count">
              {{ form.get('competitiveSelectionDescription').value?.length ?? 0 }}
              /{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}
            </label>
          </div>
          <mat-form-field appearance="fill">
            <textarea
              matInput
              class="step-textarea"
              placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
                'FORMS.PLACEHOLDERS.SYMBOLS' | translate
              }}"
              formControlName="competitiveSelectionDescription"
              [maxLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
            </textarea>
          </mat-form-field>
          <app-validation-hint
            [validationFormControl]="form.get('competitiveSelectionDescription')"
            [minCharacters]="validationConstants.INPUT_LENGTH_3"
            [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
          </app-validation-hint>

          <div class="step-label-combined">
            <label class="step-label" for="venueName"> {{ 'FORMS.LABELS.VENUE_NAME' | translate }}</label>
            <span class="step-characters-count">
              {{ form.get('venueName').value?.length ?? 0 }}/{{ validationConstants.INPUT_LENGTH_60 }}
            </span>
          </div>

          <mat-form-field appearance="fill">
            <textarea
              matInput
              class="step-textarea step-textarea-short"
              placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.INPUT_LENGTH_60 }} {{
                'FORMS.PLACEHOLDERS.SYMBOLS' | translate
              }}"
              formControlName="venueName"
              [maxlength]="validationConstants.INPUT_LENGTH_60"
              appTrimValue></textarea>
          </mat-form-field>
          <app-validation-hint
            [validationFormControl]="form.get('venueName')"
            [minCharacters]="validationConstants.INPUT_LENGTH_1"
            [maxCharacters]="validationConstants.INPUT_LENGTH_60">
          </app-validation-hint>

          <div class="step-label-combined">
            <label class="step-label" for="descriptionOfTheEnrollmentProcedure">
              {{ 'FORMS.LABELS.TERMS_OF_PARTICIPATION' | translate }}</label
            >
            <span class="step-characters-count">
              {{ form.get('descriptionOfTheEnrollmentProcedure').value?.length ?? 0 }}
              /{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}
            </span>
          </div>
          <mat-form-field appearance="fill">
            <textarea
              matInput
              class="step-textarea"
              placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
                'FORMS.PLACEHOLDERS.SYMBOLS' | translate
              }}"
              formControlName="descriptionOfTheEnrollmentProcedure"
              [maxLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500"
              appTrimValue></textarea>
          </mat-form-field>
          <app-validation-hint
            [validationFormControl]="form.get('descriptionOfTheEnrollmentProcedure')"
            [minCharacters]="validationConstants.MIN_DESCRIPTION_LENGTH_1"
            [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
          </app-validation-hint>

          <ng-container *ngIf="selectedCompetition.competitiveEventDetails.areThereBenefits">
            <div class="flex flex-row justify-between">
              <label for="benefits" class="step-label">
                {{ 'FORMS.LABELS.PREFERENTIAL_TERMS_OF_PARTICIPATION' | translate }}
                <span class="step-required">*</span>
              </label>
              <label for="benefits" class="step-characters-count">
                <ng-container *ngIf="form.get('benefits').value; else elseBlock">
                  {{ form.get('benefits').value?.length }}/{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}
                </ng-container>
                <ng-template #elseBlock> 0/{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}</ng-template>
              </label>
            </div>
            <mat-form-field appearance="fill">
              <textarea
                matInput
                required
                class="step-textarea step-textarea-short"
                placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
                  'FORMS.PLACEHOLDERS.SYMBOLS' | translate
                }}"
                formControlName="benefits"
                [maxLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
              </textarea>
            </mat-form-field>
            <app-validation-hint
              [validationFormControl]="form.get('benefits')"
              [minCharacters]="validationConstants.INPUT_LENGTH_1"
              [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
            </app-validation-hint>
          </ng-container>
        </form>
        <div class="footer flex flex-row justify-center items-center">
          <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">
            {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button class="btn" mat-raised-button [appStepperNext]="onNext.bind(this)" [form]="form" [stepper]="stepper">
            {{ 'BUTTONS.NEXT' | translate }}
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <p class="step-name">{{ 'TITLES.CONTACTS' | translate }}</p>
        </ng-template>
        <app-create-contacts
          [moderatorFlow]="true"
          [contacts]="selectedCompetition.competitiveEventDetails?.contacts"
          (passContactsFormArray)="onReceiveCompetitionContactsFormArray($event)">
        </app-create-contacts>
        <div class="footer flex flex-row justify-center items-center">
          <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">
            {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button
            mat-raised-button
            class="btn"
            [disabled]="isFormNotValidOrPristine"
            [appStepperNext]="onSubmit.bind(this)"
            [form]="CompetitionContactsFormArray"
            [stepper]="stepper">
            {{ 'BUTTONS.SEND' | translate }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
