@import "src/app/shared/styles/tables.scss";
@import "src/app/shared/styles/search.scss";
//todo: unite with users statuses
.provider-list-status {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  min-width: 177px;
  margin-left: 3px;
}
.Approved {
  color: #199953;
}
.Editing,
.NeverLogged,
.Pending {
  color: #ffbd00;
}
.Blocked {
  color: #c72a21;
}
.Cancel {
  color: #3849f9;
  
}
.search-bar {
  margin-top: 10px;
}
.wrapper-provider-list {
  position: relative;
  margin-top: 2rem;
}
.search {
  padding-left: 10px;
}
.search-area {
  display: flex;
  justify-content: flex-end;
  z-index: 10000;
  position: static;
  right: 12px;
}
.status-title {
  padding-left: 7px;
}
.paginator {
  margin-top: 4rem;
}
.true {
  color: #199953;
}
.false {
  color: #ffbd00;
}
.wrapper-provider-list-container {
  display: flex;
  flex-direction: row;
}
.table-container {
  height: fit-content;
}
