<div class="wrapper-header">
  <div class="search-area">
    <div class="search-bar" fxLayout="row" fxLayoutAlign="flex-start center">
      <mat-icon class="search-icon" style="transform: rotate(90deg)">search</mat-icon>
      <input
        [formControl]="filterFormControl"
        matInput
        type="text"
        class="search"
        placeholder="Пошук за закладом, ЄДРПО, електронною поштою, телефоном" />
    </div>
  </div>
</div>

<!-- -------------Table------------ -->
<ng-container *ngIf="!(isLoadingCabinet$ | async)">
  <ng-container *ngIf="totalEntities; else isEmptyList">
    <div class="wrapper-provider-list">
      <div class="wrapper-provider-list-container">
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" appStretchTable>
            <ng-container matColumnDef="fullTitle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullTitle">Назва закладу</th>
              <td mat-cell *matCellDef="let element">{{ element.fullTitle | emptyValueTransform }}</td>
            </ng-container>

            <ng-container matColumnDef="ownership">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ownership">Форма власності</th>
              <td mat-cell *matCellDef="let element">
                <span>
                  {{ OwnershipTypeEnum[element.ownership] | translate | emptyValueTransform }}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="edrpouIpn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by edrpouIpn">ЄДРПО</th>
              <td mat-cell *matCellDef="let element">{{ element.edrpouIpn | emptyValueTransform }}</td>
            </ng-container>

            <ng-container matColumnDef="licence">
              <th mat-header-cell *matHeaderCellDef>Ліцензія №</th>
              <td mat-cell *matCellDef="let element">{{ element.license | emptyValueTransform }}</td>
            </ng-container>

            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city">Населений пункт</th>
              <td mat-cell *matCellDef="let element">
                {{ element.legalAddress?.codeficatorAddressDto?.settlement | emptyValueTransform }}
              </td>
            </ng-container>

            <ng-container matColumnDef="street">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by street">Адреса</th>
              <td mat-cell *matCellDef="let element">
                {{ element.legalAddress | getAddress: ModeConstants.SHORT | emptyValueTransform }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">Електронна пошта</th>
              <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phoneNumber">Телефон</th>
              <td mat-cell *matCellDef="let element">{{ element.phoneNumber | phoneTransform }}</td>
            </ng-container>

            <ng-container matColumnDef="status" stickyEnd>
              <th class="status-title" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">Статус</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.ownership !== ownershipTypes.Private">
                  <ng-container
                    *ngTemplateOutlet="ProviderStatusTmpl; context: { $implicit: element.status, titles: providerStatusTitles }"
                  ></ng-container>
                </ng-container>

                <ng-container *ngIf="element.ownership === ownershipTypes.Private">
                  <ng-container
                    *ngTemplateOutlet="ProviderStatusTmpl; context: { $implicit: element.licenseStatus, titles: licenseStatusTitles }"
                  ></ng-container>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="star" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="star-column" mat-cell *matCellDef="let element">
                <div class="icons">
                  <button mat-icon-button [matMenuTriggerFor]="actions">
                    <mat-icon class="action-icon">more_vert</mat-icon>
                  </button>
                  <button mat-icon-button (click)="onViewProviderInfo(element)">
                    <mat-icon class="action-icon">remove_red_eye</mat-icon>
                  </button>
                  <a mat-icon-button [routerLink]="['/details/provider/', element.id]">
                    <mat-icon class="action-icon">arrow_forward</mat-icon>
                  </a>
                </div>

                <mat-menu #actions="matMenu" class="header_menu">
                  <ng-container *ngIf="element.ownership !== ownershipTypes.Private">
                    <button *ngIf="element.status !== statuses.Approved" mat-menu-item (click)="onChangeStatus(element, statuses.Approved)">
                      Підтвердити
                    </button>
                    <button *ngIf="element.status !== statuses.Editing" mat-menu-item (click)="onChangeStatus(element, statuses.Editing)">
                      Відправити на редагування
                    </button>
                  </ng-container>

                  <ng-container *ngIf="element.ownership === ownershipTypes.Private">
                    <button *ngIf="element.licenseStatus === licenseStatuses.Pending" mat-menu-item (click)="onLicenseApprove(element.id)">
                      Підтвердити ліцензію закладу
                    </button>
                  </ng-container>

                  <button mat-menu-item>Заблокувати</button>
                  <button mat-menu-item (click)="onDelete(element)">Видалити</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div *ngIf="isInfoDisplayed" class="container">
          <app-provider-info
            [provider]="provider"
            [isProviderView]="false"
            (closeInfo)="isInfoDisplayed = !isInfoDisplayed"
          ></app-provider-info>
        </div>
      </div>
    </div>
    <div class="paginator">
      <app-paginator
        [totalEntities]="totalEntities"
        [currentPage]="currentPage"
        [itemsPerPage]="tableItemsPerPage$ | async"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)"
      >
      </app-paginator>
    </div>
  </ng-container>
</ng-container>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noProviders"></app-no-result-card>
</ng-template>

<ng-template #ProviderStatusTmpl let-status let-titles="titles">
  <div class="provider-list-status {{ status }}">
    <span> <i class="status-icon {{ statusIcons[status] }}"></i></span>
    <span>{{ titles[status] | emptyValueTransform }}</span>
  </div>
</ng-template>
