@import 'src/app/shared/styles/tables.scss';
@import 'src/app/shared/styles/search.scss';
.provider-list-status {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin: 5px;
}
.Approved {
  color: #199953;
}
.Pending {
  color: #ffbd00;
}
.Editing {
  color: #ff8000;
}
.Blocked {
  color: #c72a21;
}
.NotProvided {
  color: #888888;
}
.search-bar {
  margin-top: 10px;
}
.wrapper-provider-list {
  position: relative;
  margin-top: 2rem;
}
.search {
  padding-left: 10px;
}
.search-area {
  display: flex;
  justify-content: flex-end;
  z-index: 10000;
  position: static;
  right: 12px;
}
.status-title {
  padding-left: 7px;
}
.paginator {
  margin-top: 2rem;
}
.true {
  color: #199953;
}
.false {
  color: #ffbd00;
}
.wrapper-provider-list-container {
  display: flex;
  flex-direction: row;
}
.table-container {
  height: fit-content;
}
