<div class="wrapper-header">

  <div class="search-area">
    <div class="search-bar" fxLayout="row" fxLayoutAlign="flex-start center">
      <mat-icon class="search-icon" style="transform: rotate(90deg)">search</mat-icon>
      <input [formControl]="filterFormControl" matInput type="text" class="search"
        placeholder="Пошук за закладом, ЄДРПО, містом чи статусом" />
    </div>
  </div>
</div>

<!-- -------------Table------------ -->
<div class="wrapper-provider-list">
  <div class="wrapper-provider-list-container">
    <div class="table-container mat-elevation-z8" [hidden]="!dataSource">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="fullTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullTitle">
            Назва закладу
          </th>
          <td mat-cell *matCellDef="let element">{{ element.fullTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="ownership">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ownership">
            Форма власності
          </th>
          <td mat-cell *matCellDef="let element">
            <span>
              {{ ownershipTypeUkr[element.ownership] }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="edrpouIpn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by edrpouIpn">
            ЄДРПО
          </th>
          <td mat-cell *matCellDef="let element">{{ element.edrpouIpn }}</td>
        </ng-container>

        <ng-container matColumnDef="licence">
          <th mat-header-cell *matHeaderCellDef>Ліцензія №</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city">
            Населений пункт
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.legalAddress?.codeficatorAddressDto?.settlement || ""}}
          </td>
        </ng-container>

        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by street">
            Адреса
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.legalAddress?.street }}
            {{ element.legalAddress?.buildingNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="director">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by director">
            Директор
          </th>
          <td mat-cell *matCellDef="let element">{{ element.director }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
            Електронна пошта
          </th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by website">
            Website
          </th>
          <td mat-cell *matCellDef="let element">{{ element.website }}</td>
        </ng-container>

        <ng-container matColumnDef="shortTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by shortTitle">
            Скорочена назва організації
          </th>
          <td mat-cell *matCellDef="let element">{{ element.shortTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phoneNumber">
            Телефон
          </th>
          <td mat-cell *matCellDef="let element">
            {{ constants.PHONE_PREFIX }}{{ element.phoneNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="directorDateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by directorDateOfBirth">
            Дата народження керівника
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.directorDateOfBirth }}
          </td>
        </ng-container>

        <ng-container matColumnDef="founder">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by founder">
            Засновник
          </th>
          <td mat-cell *matCellDef="let element">{{ element.founder }}</td>
        </ng-container>

        <ng-container matColumnDef="actualAddress">
          <th mat-header-cell *matHeaderCellDef>Актуальна адреса</th>
          <td mat-cell *matCellDef="let element">
            {{ element.actualAddress?.codeficatorAddressDto?.settlement }}
            {{ element.actualAddress?.street }}
            {{ element.actualAddress?.buildingNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status" stickyEnd>
          <th class="status-title" mat-header-cell *matHeaderCellDef mat-sort-header
            sortActionDescription="Sort by status">
            Статус
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="provider-list-status {{ element.status }}">
              <span>
                <i class="status-icon {{ providerAdminIcons[element.status] }}"></i></span>
              <span>{{ providerTitleUkr[element.status] }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="star" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="star-column" mat-cell *matCellDef="let element">
            <div class="icons">
              <button mat-icon-button [matMenuTriggerFor]="actions">
                <mat-icon class="action-icon">more_vert</mat-icon>
              </button>
              <button mat-icon-button (click)="onViewProviderInfo(element)">
                <mat-icon class="action-icon">remove_red_eye</mat-icon>
              </button>
              <a mat-icon-button [routerLink]="['/details/provider/', element.id]">
                <mat-icon class="action-icon">arrow_forward</mat-icon>
              </a>
            </div>
          </td>

          <mat-menu #actions="matMenu" class="header_menu">
            <button mat-menu-item>
              Підтвердити
            </button>
            <button mat-menu-item>
              Відмовити
            </button>
            <button mat-menu-item>
              Відправити на редагування
            </button>
            <button mat-menu-item>
              Заблокувати
            </button>
            <button mat-menu-item>
              Видалити
            </button>
          </mat-menu>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div *ngIf="isInfoDisplayed" class="container">
      <app-provider-info [provider]="provider" [isProviderView]="false"
        (closeInfo)="isInfoDisplayed  = !isInfoDisplayed "></app-provider-info>
    </div>
  </div>
</div>
<div class="paginator">
  <app-paginator [totalEntities]="totalEntities" [currentPage]="currentPage" [itemsPerPage]="providersPerPage$ | async"
    (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-paginator>
</div>
