.navigation {
  padding: 10px 0;

  .mat-icon {
    font-size: 13px;
    width: 14px;
    height: 14px;
    margin: 0 5px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

    li {
      list-style: none;
      color: var(--disabled-text-color);
    }
  }

  .is_active {
    color: var(--cancel-text-color);
    pointer-events: none;
  }

  .hide {
    display: none;
  }

  .pathLink {
    line-height: 1;
    // temporarily commented font-family
    //font-family: 'Innerspace', serif;

    .mat-icon {
      transform: translateY(10%);
    }
  }

  a {
    font-size: 13px;
    font-weight: bold;
  }

  @media (max-width: 750px) {
    display: none;
  }
}
