@import 'src/app/shared/styles/config.scss';

.config {
  .edit-button {
    color: #3849f9;
    padding: 0 16px;
    line-height: normal;

    .mat-icon {
      margin-right: 4px;
    }
  }

  p {
    &.important {
      color: red;

      mat-icon {
        overflow: visible;
      }

      &.label {
        margin-bottom: 0;
      }
    }
  }
}
