<div class="wrapper flex flex-row flex-wrap justify-start" *ngIf="user$ | async as user">
  <div class="config">
    <a routerLink="edit" class="config_edit-icon">
      <button mat-button class="edit-button">
        <mat-icon style="color: #3849f9">edit</mat-icon>
        {{ 'BUTTONS.EDIT' | translate }}
      </button>
    </a>
    <h4>{{ 'FORMS.LABELS.LAST_NAME' | translate }}</h4>
    <p>{{ user.lastName }}</p>
    <h4>{{ 'FORMS.LABELS.FIRST_NAME' | translate }}</h4>
    <p>{{ user.firstName }}</p>
    <ng-container *ngIf="user.middleName as middleName">
      <h4>{{ 'FORMS.LABELS.MIDDLE_NAME' | translate }}</h4>
      <p>{{ middleName }}</p>
    </ng-container>
    <h4>{{ 'FORMS.LABELS.PHONE' | translate }}</h4>
    <p>{{ user.phoneNumber | phone }}</p>
    <ng-container *ngIf="(role$ | async) === role.parent">
      <h4>{{ 'FORMS.LABELS.BIRTHDAY' | translate }}</h4>
      <p>{{ user.dateOfBirth | date: dateFormat }}</p>
      <h4>{{ 'FORMS.LABELS.SEX' | translate }}</h4>
      <p>{{ gender[user.gender] | translate }}</p>
    </ng-container>
  </div>
  <div class="config">
    <h4>{{ 'FORMS.LABELS.EMAIL' | translate }}</h4>
    <p [ngClass]="{ important: !user.emailConfirmed }" style="margin-bottom: 0">{{ user.email }}</p>

    <ng-container *ngIf="user.emailConfirmed; else confirmEmailTmpl">
      <p class="link" (click)="onRedirect('/Account/ChangeEmail')">{{ 'CHANGE_EMAIL' | translate }}</p>
    </ng-container>

    <ng-template #confirmEmailTmpl>
      <p class="label important flex flex-row justify-between gap-1">
        <mat-icon>report</mat-icon>
        <span>{{ 'ENUM.EMAIL_CONFIRMATION_STATUSES.NOT_CONFIRMED' | translate }}</span>
      </p>
      <p class="link important" (click)="onRedirect('/Account/ReSendEmailConfirmation')">
        {{ 'CONFIRM_EMAIL' | translate }}
      </p>
    </ng-template>

    <h4>{{ 'PASSWORD' | translate }}</h4>
    <p class="link" (click)="onRedirect('/Account/ChangePassword')">{{ 'CHANGE_PASSWORD' | translate }}</p>
  </div>
</div>
