@use 'config';

.config {
  background-color: var(--bg-light-additional);

  h4 {
    color: var(--primary-dark-text-color);
  }

  .edit-button {
    color: var(--primary-dark-text-color);
    padding: 0 16px;
    line-height: normal;

    .mat-icon {
      height: 24px;
      font-size: 24px;
      width: 24px;
      margin-right: 4px;
    }
  }

  p {
    &.important {
      color: var(--error-color);

      mat-icon {
        overflow: visible;
      }

      &.label {
        margin-bottom: 0;
      }
    }
    &.disabled {
      color: var(--disabled-text-color);
      pointer-events: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
