@import 'src/app/shared/styles/config.scss';

.config {
  p {
    &.important {
      color: red;

      mat-icon {
        overflow: visible;
      }

      &.label {
        margin-bottom: 0;
      }
    }
  }
}
