@use 'src/app/shared/styles/components/dropdown';
@use 'src/app/shared/styles/components/calendar';
@use 'src/app/shared/styles/components/buttons';

.form-wrapper {
  display: flex;
  justify-content: flex-end;
  row-gap: 10px;
  flex-wrap: wrap;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.filters-period {
  display: flex;
  align-items: flex-end;
  row-gap: 10px;

  > span {
    margin-right: 10px;
    font-size: 14px;
    align-self: center;
    line-height: 14.6px;
    color: var(--cancel-text-color);
    font-weight: 700;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  mat-datepicker-toggle {
    pointer-events: all;
  }
}

.filters-actions {
  display: flex;
  align-items: center;
}

.select,
.date {
  min-width: 100px;
  background: var(--primary-light-bg-color);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;

  ::ng-deep {
    .mat-mdc-button-touch-target {
      width: 40px;
      height: 40px;
    }

    .mat-mdc-text-field-wrapper {
      padding-left: 16px;
    }

    .mat-date-range-input-container {
      margin-top: 10px;
    }

    .mdc-floating-label {
      top: 18px;
      width: 100%;
      &--float-above {
        transform: translateY(-90%) scale(0.75);
      }
    }
  }
}

:host ::ng-deep .date {
  width: 100%;
  max-width: 250px;
  padding: 0 16px 0 3px;

  .mat-form-field-flex {
    background-color: transparent;
    padding: 0;
  }
}

.select,
.options,
.date {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  height: 40px;
}

.select,
.options {
  padding: 0.5rem 1rem;
}

::ng-deep .mat-form-field.mat-focused.mat-primary,
::ng-deep .mat-form-field-infix {
  border: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

:host ::ng-deep .select-form-field {
  .mat-form-field-infix {
    padding: 0;
  }
}

.btn {
  height: 40px;
}

.separate-line {
  display: inline-block;
  width: 14px;
  margin: 0 5px;
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.54);
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: 15px;

  &:hover {
    opacity: 0.5;
  }

  &__icon {
    transform: rotateY(180deg) rotate(45deg);
    overflow: visible;
  }

  &__title {
    font-size: 0.8125rem;
    line-height: 19px;
    color: var(--cancel-text-color);
  }
}

@media (max-width: 1450px) {
  .reset {
    &__title {
      display: none;
    }
  }
}

@media (max-width: 1300px) {
  .filters-wrapper {
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 1000px) {
  .form-wrapper {
    justify-content: center;
  }

  .filters-wrapper {
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .filters-period {
    span {
      display: block;
      width: 100%;
      margin: 0 0 5px 10px;
    }
  }

  .separate-line {
    position: relative;
    top: 10px;
  }
}
