<div [formGroup]="filtersForm" class="form-wrapper justify-end items-start">
  <div class="filters-wrapper justify-end items-start">
    <div class="filters-period">
      <span>{{ 'HISTORY_LOG.PERIOD' | translate }}</span>
      <mat-form-field appPlaceholderStyling class="date" appearance="fill">
        <mat-label>{{ 'FORMS.PLACEHOLDERS.ENTER_DATE_RANGE' | translate }}</mat-label>
        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
          <input matStartDate placeholder="{{ 'FROM' | translate }}" formControlName="dateFrom" [tabIndex]="notAllowedToPickByTabButton" />
          <input matEndDate placeholder="{{ 'TO' | translate }}" formControlName="dateTo" [tabIndex]="notAllowedToPickByTabButton" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker (closed)="setDateForFilters()"></mat-date-range-picker>
      </mat-form-field>
    </div>
    <ng-container *ngFor="let filter of filtersList">
      <mat-form-field class="select-form-field">
        <mat-select
          disableOptionCentering
          [formControl]="setFormControlDependsOnTab(filter.controlName)"
          panelClass="dropdown-panel"
          class="select">
          <ng-container *ngFor="let option of filter.options">
            <mat-option *ngIf="option.available ?? true" [value]="option.value" class="dropdown-option">
              {{ option.label | translate }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <div class="filters-actions">
    <div class="reset" (click)="onResetFilters()">
      <mat-icon class="reset__icon">refresh</mat-icon>
      <span class="reset__title">{{ 'HISTORY_LOG.RESET_FILTERS' | translate }}</span>
    </div>
    <button class="btn" mat-raised-button (click)="applyFilters()">{{ 'HISTORY_LOG.SHOW' | translate }}</button>
  </div>
</div>
