@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';

.step-textarea {
  margin-top: 0;
  background-color: transparent;
  color: var(--primary-dark-text-color);
}

.price-input {
  background-color: transparent;
  color: var(--primary-dark-text-color);
}
