.card{
  display: block;
  position: absolute;
  z-index: 100;
  background:white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  width: 400px;
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
  color: #000000;
}
.title{
  color: #444444;
  margin: 2rem  0;
}
.text{
  margin-top: 1rem;
}

.card.isMobile {
  width: 100vw;
}
