<mat-card class="card" #childInfoBox [style]="{top:top, left:left}">
  <mat-card-header fxLayout='column' fxLayoutAlign='center start'>
    <div mat-card-avatar fxLayout='column' fxLayoutAlign='center start'></div>
    <mat-card-title>ДАНІ ДИТИНИ</mat-card-title>
    <h3>{{child.firstName}} {{child.lastName}} {{child.middleName}}</h3>
    <h4>{{child.dateOfBirth}}</h4><br>
  </mat-card-header>
  <mat-card-content fxLayout='column' fxLayoutAlign='center start'>
    <h4>Соціальна група</h4>
    <p>Відсутня</p>
    <h4>Батьки</h4>
    <p>{{child.parent?.firstName}} {{child.parent?.lastName}} {{child.parent?.middleName}}</p>
    <h4>Телефон</h4>
    <p>{{child.parent?.phone}}</p>
    <h4>Емейл</h4>
    <p>{{child.parent?.email}}</p>
  </mat-card-content>
</mat-card>
