<mat-card class="card" #childInfoBox [style]="{top:top, left:left}" id="child-box">
  <div fxLayout='column' fxLayoutAlign='center start'>
    <h3 class="text title">ДАНІ ДИТИНИ</h3>
    <h4 class="text">{{child.firstName}} {{child.lastName}} {{child.middleName}}</h4>
    <h5 class="text">Дата народження:</h5>
    <span>{{ child.dateOfBirth | date: constants.SHORT_DATE_FORMAT }}</span>
    <span>{{ childAge }}</span>
    <h5 class="text">Стать:</h5>
    <span>{{ gender[child.gender] }}</span>
    <h5 class="text">Соціальна група:</h5>
    <span>{{ socialGroup ? socialGroup.name : "Відсутня" }}</span>
  </div>
</mat-card>
