<mat-card class="card" #childInfoBox [style]="{top:top, left: isMobile ? '0px' : left}" id="child-box" [class.isMobile]="isMobile">
  <div fxLayout='column' fxLayoutAlign='center start'>
    <h3 class="title">ДАНІ ДИТИНИ</h3>

    <div class="info-group">
      <h4 class="textChildrenName">{{child.firstName}} {{child.lastName}} {{child.middleName}}</h4>
      <h5 class="text">Дата народження:</h5>
      <p >
        {{ child.dateOfBirth | date: constants.SHORT_DATE_FORMAT }}  ({{ childAge }})
      </p>
    </div>
    
    <div class="info-group">
      <h5 class="text">Стать:</h5>
      <p>{{ gender[child.gender] }}</p>
    </div>

    <div class="info-group">
      <h5 class="text">Соціальна група:</h5>
      <p>{{ socialGroup ? socialGroup.name : "Відсутня" }}</p>
    </div>

    <div class="info-group">
      <h5 class="text">Батьки:</h5>
      <p>{{ parentLastName }} {{parentFirstName}} {{parantMiddleName}}</p>
    </div>

    <div class="info-group">
      <h5 class="text">Телефон:</h5>
      <p>+380{{parentPhoneNumber}}</p>
    </div>

    <div class="info-group">
      <h5 class="text">Електронна пошта:</h5>
      <p>{{parentEmail}}</p>
    </div>
    
  </div>
</mat-card>
