<ng-container *ngIf="!(isMobileScreen$ | async); else isMobileScreen">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="notifications-menu" [matBadge]="notificationAmount?.amount || null"> notifications_none </mat-icon>
  </button>
  <mat-menu xPosition="before" #menu="matMenu" [class]="'notification-menu'">
    <app-notifications-list [notificationAmount]="notificationAmount" [receivedNotification]="receivedNotification">
    </app-notifications-list>
  </mat-menu>
</ng-container>

<ng-template #isMobileScreen>
  <div *ngIf="notificationAmount" class="full-width flex flex-row justify-start items-center">
    <button mat-icon-button class="btn-notifications flex flex-row justify-between">
      <mat-icon class="notifications-icon">notifications_none</mat-icon>{{ 'NOTIFICATIONS' | translate }}
    </button>
    <mat-icon *ngIf="notificationAmount.amount" [matBadge]="notificationAmount.amount" class="icon-mobile"> </mat-icon>
  </div>
</ng-template>
