<ng-container *ngIf="!(isMobileScreen$ | async); else isMobileScreen">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="notifications-menu" [matBadge]="notificationAmount?.amount || null"> notifications_none</mat-icon>
  </button>
  <mat-menu xPosition="before" #menu="matMenu" [class]="'notification-menu'">
    <app-notifications-list [notificationAmount]="notificationAmount" [receivedNotification]="receivedNotification">
    </app-notifications-list>
  </mat-menu>
</ng-container>

<ng-template #isMobileScreen>
  <div *ngIf="notificationAmount" class="full-width">
    <button mat-button class="btn-notifications full-width">
      <mat-icon class="notifications-icon">notifications_none</mat-icon>
      {{ 'NOTIFICATIONS' | translate }}
      <mat-icon iconPositionEnd *ngIf="notificationAmount.amount" [matBadge]="notificationAmount.amount"></mat-icon>
    </button>
  </div>
</ng-template>
