<div class="flex flex-col box-border justify-center items-center content-center">
  <h2 mat-dialog-title>{{ modalTitle | translate }}</h2>
  <p class="confirmation">
    {{ modalConfirmationText | translate }}
    {{ modalConfirmationProperty && modalConfirmationProperty + '?' }}
  </p>

  <div *ngIf="data.type === modalConfirmationType.rate">
    <app-stars (ratingSelect)="ratingSelectControl = $event" [modalWindow]="modalWindow"></app-stars>
  </div>
  <mat-dialog-actions class="flex flex-row flex-wrap box-border !justify-center items-center">
    <button
      class="btn"
      mat-button
      cdkFocusInitial
      [mat-dialog-close]="data.type === modalConfirmationType.rate ? ratingSelectControl?.value : true">
      {{ (data.type === modalConfirmationType.delete ? 'BUTTONS.REMOVE' : 'BUTTONS.CONFIRM') | translate | uppercase }}
    </button>
    <button class="btn btn-cancel" mat-button [mat-dialog-close]="false">
      {{ 'BUTTONS.CANCEL' | translate | uppercase }}
    </button>
  </mat-dialog-actions>
</div>
