@use 'buttons';

:host ::ng-deep .mat-mdc-dialog {
  &-actions {
    padding-bottom: 8px;

    .mat-button-base + .mat-button-base {
      margin-left: 1rem !important;
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Innerspace, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--primary-dark-text-color);

    &::before {
      height: 32px;
    }
  }
}

.confirmation {
  text-align: center;
  font-family:
    Open Sans,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-dark-text-color);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.btn:not(.btn-cancel) {
  background-color: var(--primary-light-bg-color) !important;
  color: var(--primary-light-text-color) !important;
}

.btn-cancel {
  color: var(--primary-dark-text-color) !important;
  background-color: transparent !important;
  border-color: var(--primary-dark-text-color) !important;
}
