<form [formGroup]="LegalAddressFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step-form">
  <h4>Юридична адреса</h4>

  <label class="step-label">Область<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="district" maxlength="15">
  </mat-form-field>

  <label class="step-label">Місто<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="city" maxlength="15">
  </mat-form-field>

  <label class="step-label">Район<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="region">
  </mat-form-field>

  <label class="step-label">Вулиця<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="street">
  </mat-form-field>

  <label class="step-label">Будинок<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="buildingNumber">
  </mat-form-field>
</form>
<hr fxLayout='row' fxLayoutAlign='center center' width="500" size="2" color="#E3E3E3" />
<form [formGroup]="ActualAddressFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step-form">
  <h4>Фактична адреса</h4>
  <div class="checkbox-wrapper">
    <mat-checkbox class="checkbox" color="primary" [(ngModel)]="useLegalAddress" (change)="duplicateForm($event)"> Cпівпадає з юридичною адресою </mat-checkbox>
  </div>

  <label class="step-label">Область<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="district" maxlength="15">
  </mat-form-field>

  <label class="step-label">Місто<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="city" maxlength="15">
  </mat-form-field>

  <label class="step-label">Район<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="region">
  </mat-form-field>

  <label class="step-label">Вулиця<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="street">
  </mat-form-field>

  <label class="step-label">Будинок<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput required class="step-input" type="text" formControlName="buildingNumber">
  </mat-form-field>
</form>
