<form [formGroup]="LegalAddressFormGroup" fxLayout='column' fxLayoutAlign='center space-between'
  class="step legal-address-wrapper">
  <h4 class="step-title">Юридична адреса</h4>

  <label class="step-label">Область<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="district" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="LegalAddressFormGroup.get('district')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Місто<span class="step-required">*</span></label>
  <app-city-autocomplete (selectedCity)="onSelectLegalCity($event)" [InitialCity]="cityLegal"
    class="city-autocomplete" [cityFormControl]="cityLegalFormControl" [class.redBorder]="cityLegalFormControl.invalid && cityLegalFormControl.touched"
    (focusout)="onFocusOutLegal($event)">
  </app-city-autocomplete>
  <app-validation-hint 
    [validationFormControl]="cityLegalFormControl"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
    [isTouched]="cityLegalFormControl.touched">
  </app-validation-hint>

  <label class="step-label">Район<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="region" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="LegalAddressFormGroup.get('region')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Вулиця<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="street" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="LegalAddressFormGroup.get('street')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Будинок<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="buildingNumber" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="LegalAddressFormGroup.get('buildingNumber')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

</form>

<div fxLayout='column' fxLayoutAlign='center space-between' class="step">
  <h4>Фактична адреса</h4>
  <mat-checkbox class="step-label" color="primary" [formControl]="isSameAddressControl">Співпадає з юридичною
    адресою
  </mat-checkbox>
</div>

<form [formGroup]="ActualAddressFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step"
  [ngClass]="{'disabled-field': isSameAddressControl.value}">

  <label class="step-label">Область<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="district" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="ActualAddressFormGroup.get('district')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Місто<span class="step-required">*</span></label>
  <app-city-autocomplete (selectedCity)="onSelectActualCity($event)" [InitialCity]="cityActual"
    class="city-autocomplete" [cityFormControl]="cityActualFormControl" [class.redBorder]="cityActualFormControl.invalid && cityActualFormControl.touched"
    (focusout)="onFocusOutActual($event)">
  </app-city-autocomplete>
  <app-validation-hint 
    [validationFormControl]="cityActualFormControl"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
    [isTouched]="cityActualFormControl.touched">
  </app-validation-hint>

  <label class="step-label">Район<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="region" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="ActualAddressFormGroup.get('region')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Вулиця<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="street" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="ActualAddressFormGroup.get('street')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Будинок<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="buildingNumber" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="ActualAddressFormGroup.get('buildingNumber')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>
</form>