@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";

.legal-address-wrapper {
  border-bottom: 2px solid #E3E3E3;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
h4{
  margin-bottom: 1rem;
}
.city-autocomplete {
  padding: 0.1rem 1rem;
  border: 1px solid #E3E3E3;
  border-radius: 21px;
  line-height: initial;
  box-sizing: border-box;
}
.redBorder {
  outline: none;
  border: 1px solid #C72A21;
}