@import "src/app/shared/styles/create-form.scss";

.address-wrapper, .address-wrapper-border {
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.address-wrapper-border {
  border-bottom: 2px solid #E3E3E3;
}

