<div class="tabs-container">
  <mat-tab-group [mat-stretch-tabs]="false">
    <mat-tab label="{{ 'DIRECTIONS_FOR_THE_USER' | translate }}">
      <app-directions></app-directions>
    </mat-tab>
    <ng-container *ngFor="let institution of institutions$ | async">
      <mat-tab label="{{ institution.title }}">
        <ng-template matTabContent>
          <app-directions-institution-hierarchies-list [institution]="institution"></app-directions-institution-hierarchies-list>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
