<div matSnackBarLabel fxLayout="row" fxLayoutAlign="space-between center" class="popup-body drop-below" [ngClass]="data.type">
  <span fxLayout="row" fxLayoutAlign="center center">
    <mat-icon fxLayout="row" fxLayoutAlign="center center" class="icon">
      {{ messageIcon }}
    </mat-icon>
    <div class="drop-below" data-testid="message-text">
      {{ data.message | translate }}
      <p *ngIf="data.type === 'error'" class="info" data-testid="error-text">
        {{ data.info | translate }}
      </p>
    </div>
  </span>
  <div matSnackBarActions>
    <div
      matSnackBarAction
      *ngIf="!data.unclosable"
      (click)="onClose()"
      (keydown)="onKeyDown($event)"
      tabindex="0"
      data-testid="closing-button"
      class="action"
    >
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>
