<div matSnackBarLabel class="popup-body drop-below flex flex-row justify-between items-center" [ngClass]="data.type">
  <span class="flex flex-row box-border content-center justify-center items-center">
    <mat-icon class="icon">
      {{ messageIcon }}
    </mat-icon>
    <div class="drop-below" data-testid="message-text">
      {{ data.message | translate }}
      <p *ngIf="data.type === 'error'" class="info" data-testid="error-text">
        {{ data.info | translate }}
      </p>
    </div>
  </span>
  <div matSnackBarActions>
    <div
      matSnackBarAction
      *ngIf="!data.unclosable"
      (click)="onClose()"
      (keydown)="onKeyDown($event)"
      tabindex="0"
      data-testid="closing-button"
      class="action">
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>
