<div fxLayout="row" fxLayoutAlign="space-between center">
  <span fxLayout="row" fxLayoutAlign="center start">
    <mat-icon fxLayout="row" fxLayoutAlign="center center" class="icon">{{messageType}}</mat-icon>
    <div>
      {{data.message}}
      <!-- {{data | json}}       -->
      <p *ngIf='data.type === "error"' class="info">Користувач може подати не більше 2-х заяв в тиждень на людину</p>
    </div>
  </span>
  <div (click)="onClose()">
    <mat-icon class="action">close</mat-icon>
  </div>
</div>