<div class="cards">
  <div class="card">
    <div class="card_header">
      <img mat-card-image src="assets/images/groupimages/ballet.png" alt="category" class="card_image">
        <img src="assets/icons/favorite.png" alt="favorite" class="card_favorite">
      <a href="#" class="card_category">
        <img src="assets/icons/basketball.png" alt="basketball" class="card_category-img">
      </a>
    </div>
    <div class="card_body">
      <h3 class="card_title">
        Балет
      </h3>
      <ul class="card_data">
        <li class="card_data-item">
          <img src="assets/icons/rate.png" alt="rate" class="card_data-icon">
          4.9  <span class="card_rate-span">(27)</span>
        </li>
        <li class="card_data-item">
          <img src="assets/icons/name.png" alt="name" class="card_data-icon">
          <a href="#" class="card_owner">
            Школа бальних танців єдельвейс
          </a>
        </li>
        <li class="card_data-item">
          <img src="assets/icons/age.png" alt="age" class="card_data-icon">
          7-18 років
        </li>
        <li class="card_data-item">
          <img src="assets/icons/price.png" alt="price" class="card_data-icon">
          50 грн/урок
        </li>
        <li class="card_data-item">
          <img src="assets/icons/address.png" alt="address" class="card_data-icon">
          м. Київ, вул. Рокосовського 7а/1
        </li>
        <li class="card_data-item">
          <div class="card_footer">
            <a href="#" class="card_link">
              Детальніше  <span class="material-icons arrow">
                arrow_right_alt
                  </span>
            </a>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card_header">
      <img mat-card-image src="assets/images/groupimages/ballet.png" alt="category" class="card_image">
      <img src="assets/icons/favorite.png" alt="favorite" class="card_favorite">
      <a href="#" class="card_category">
        <img src="assets/icons/basketball.png" alt="basketball" class="card_category-img">
      </a>
    </div>
    <div class="card_body">
      <h3 class="card_title">
        Балет
      </h3>
      <ul class="card_data">
        <li class="card_data-item">
          <img src="assets/icons/rate.png" alt="rate" class="card_data-icon">
          4.9  <span class="card_rate-span">(27)</span>
        </li>
        <li class="card_data-item">
          <img src="assets/icons/name.png" alt="name" class="card_data-icon">
          <a href="#" class="card_owner">
            Школа бальних танців єдельвейс
          </a>
        </li>
        <li class="card_data-item">
          <img src="assets/icons/age.png" alt="age" class="card_data-icon">
          7-18 років
        </li>
        <li class="card_data-item">
          <img src="assets/icons/price.png" alt="price" class="card_data-icon">
          50 грн/урок
        </li>
        <li class="card_data-item">
          <img src="assets/icons/address.png" alt="address" class="card_data-icon">
          м. Київ, вул. Рокосовського 7а/1
        </li>
        <div class="card_footer">
          <a href="#" class="card_link">
            Детальніше  <span class="material-icons arrow">
arrow_right_alt
</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card_header">
      <img mat-card-image src="assets/images/groupimages/ballet.png" alt="category" class="card_image">
      <img src="assets/icons/favorite.png" alt="favorite" class="card_favorite">
      <a href="#" class="card_category">
        <img src="assets/icons/basketball.png" alt="basketball" class="card_category-img">
      </a>
    </div>
    <div class="card_body">
      <h3 class="card_title">
        Балет
      </h3>
      <ul class="card_data">
        <li class="card_data-item">
          <img src="assets/icons/rate.png" alt="rate" class="card_data-icon">
          4.9  <span class="card_rate-span">(27)</span>
        </li>
        <li class="card_data-item">
          <img src="assets/icons/name.png" alt="name" class="card_data-icon">
          <a href="#" class="card_owner">
            Школа бальних танців єдельвейс
          </a>
        </li>
        <li class="card_data-item">
          <img src="assets/icons/age.png" alt="age" class="card_data-icon">
          7-18 років
        </li>
        <li class="card_data-item">
          <img src="assets/icons/price.png" alt="price" class="card_data-icon">
          50 грн/урок
        </li>
        <li class="card_data-item">
          <img src="assets/icons/address.png" alt="address" class="card_data-icon">
          м. Київ, вул. Рокосовського 7а/1
        </li>
        <div class="card_footer">
          <a href="#" class="card_link">
            Детальніше  <span class="material-icons arrow">
arrow_right_alt
</span>
          </a>
        </div>
      </ul>
    </div>
  </div>

</div>

