<div class="main">
  <ng-container *ngIf="!(isLoadingData$ | async) && !!settlement">
    <div class="main-header">
      <h3>{{ 'TOP_DIRECTIONS' | translate }}</h3>
      <a routerLink="/all-categories" class="main_link">
        {{ isMobile ? ('ALL' | translate) : ('VIEW_ALL' | translate) }} <span class="material-icons arrow">arrow_forward</span>
      </a>
    </div>

    <ng-container *ngIf="(topDirections$ | async)?.length; then topDirections; else emptyData"></ng-container>

    <ng-template #topDirections>
      <div class="card-wrapper">
        <app-category-card
          class="card"
          *ngFor="let direction of topDirections$ | async"
          [direction]="direction"
          [workshopsCount]="direction.workshopsCount">
        </app-category-card>
      </div>
    </ng-template>

    <div class="main-header">
      <h3>{{ 'TOP_WORKSHOPS' | translate }}</h3>
      <a routerLink="/result" class="main_link">
        {{ isMobile ? ('ALL' | translate) : ('VIEW_ALL' | translate) }} <span class="material-icons arrow">arrow_forward</span>
      </a>
    </div>

    <ng-container *ngIf="(topWorkshops$ | async)?.length; then topWorkshops; else emptyData"></ng-container>
  </ng-container>
  <ng-template #topWorkshops>
    <div class="card-wrapper">
      <app-workshop-card class="card" *ngFor="let workshop of topWorkshops$ | async" [workshop]="workshop"> </app-workshop-card>
    </div>
  </ng-template>

  <ng-template #emptyData>
    <div class="empty-list-wrapper">
      <p class="text">{{ 'NO_RESULTS_FOUND' | translate }}</p>
    </div>
  </ng-template>
</div>
<div
  *ngIf="(role$ | async) === Role.unauthorized"
  class="main_registration flex flex-row box-border justify-between content-center items-center">
  <div class="main_description">
    <h2 class="main_question">{{ 'DO_YOU_PROVIDE_EDUCATIONAL_SERVICES' | translate }}</h2>
    <h4 class="main_hint">{{ 'SIGN_UP_WE_WILL_HELP_YOU_ATTRACT_NEW_STUDENTS' | translate }}</h4>
  </div>
  <div class="main_button-wrapper">
    <button mat-stroked-button class="main_button" (click)="onRegister()" data-testid="register-button">
      {{ 'SIGN_UP' | translate }}
    </button>
  </div>
</div>
