<div class="main">
  <div class="main_categories">
    <div class="main_header" fxLayoutAlign="space-between center">
      <h3>Найпопулярніші напрямки</h3>
      <a routerLink="/result" class="main_link">
        Переглянути всі <span class="material-icons arrow">arrow_forward</span>
      </a>
    </div>
    <div class="categories-wrapper" fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="grid">
      <app-category-card *ngFor="let category of categories$ | async " [category]="category">
      </app-category-card>
    </div>
  </div>
  <div class="main_cards">
    <div class="main_header" fxLayoutAlign="space-between center">
      <h3>Найпопулярніші гуртки</h3>
      <a routerLink="/result" class="main_link">
        Переглянути всі <span class="material-icons arrow">arrow_forward</span>
      </a>
    </div>
    <ng-container>
      <div fxLayout='row wrap' fxLayoutAlign='space-between' fxLayoutGap="20px grid">
        <app-workshop-card *ngFor="let workshop of topWorkshops$ | async " [workshop]="workshop">
        </app-workshop-card>
      </div>
    </ng-container>
  </div>
  <div *ngIf="!(isAuthorized$ | async)" class="main_registration" fxLayoutAlign="space-between center">
    <div class="main_description">
      <h2 class="main_question">
        Надаєш освітні послуги?
      </h2>
      <h4 class="main_hint">
        Зареєструйся - допоможемо залучити нових учнів!
      </h4>
    </div>
    <div class="main_button-wrapper">
      <button mat-stroked-button class="main_button">ЗАРЕЄСТРУВАТИСЯ</button>
    </div>
  </div>
</div>