.main{
  &_registration{
    padding: 32px 40px;
    background: #3849F9;
    border-radius: 5px;
    position: relative;
    height: 125px;
    margin: 4rem 0 3rem;
    &::before{
      content: '';
      display: block;
      position: absolute;
      background-image: url(../../../assets/images/half_circle.png);
      height: 100%;
      width: 62px;
      left: 0;
      top: 0;
    }
  }
  &_button{
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 13px;
    line-height: 13px;
    border-color: white;
    color: white;
  }
  &_question{
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
  }
  &_hint{
    margin-top: 16px;
    color: #FFFFFF;
  }
  &_link{
    display: flex;
    font-weight: bold;
    color: #3849F9;
    align-items: center;
    .arrow{
      margin-left: 8px;
    }
  }
  &_header{
    margin-top: 48px;
    margin-bottom: 24px;
  }
  &_categories{
    margin-bottom: 48px;
  }
}
