@use 'src/app/shared/styles/components/list-wrappers';
@use 'src/app/shared/styles/components/card-wrapper';

$breakpoint-xl: 1535px;
$breakpoint-lg: 1310px;
$breakpoint-md: 1180px;
$breakpoint-sm: 960px;
$breakpoint-xs: 785px;
$breakpoint-mobile: 500px;

.main {
  width: 100%;
  min-height: 500px;

  &-registration {
    padding: 32px 40px;
    background: var(--primary-accent-color);
    border-radius: 5px;
    position: relative;
    height: 125px;
    margin-bottom: 4rem;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url(../../../assets/images/half_circle.png);
      height: 100%;
      width: 62px;
      left: 0;
      top: 0;
    }
  }

  &-button {
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 13px;
    line-height: 13px;
    border-color: var(--primary-light-text-color);
    color: var(--primary-light-text-color);
    height: 35px !important;
  }

  &-question {
    color: var(--primary-light-text-color);
  }

  &-hint {
    margin-top: 16px;
    color: var(--primary-light-text-color);
  }

  &-link {
    display: flex;
    font-weight: bold;
    color: var(--primary-accent-color);
    align-items: center;

    .arrow {
      margin-left: 8px;
      font-size: 15px;
      line-height: 24px;
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
}

app-footer {
  visibility: hidden;
  position: absolute;
}

.direction-card {
  min-width: 190px;
}

.workshop-card {
  min-width: 300px;
}

@media (max-width: 675px) {
  .main-registration {
    padding: 20px;
    height: inherit;
    margin: 24px 16px;
    display: block !important;

    .main-button-wrapper {
      text-align: center;
      margin-top: 10px;
    }
  }
}

@media (max-width: 750px) {
  app-footer {
    visibility: visible;
    position: static;
  }

  .main-title {
    font-size: 16px !important;
  }

  .main-header {
    padding: 0 1rem;

    h3 {
      font-size: 14px;
    }

    .main-link {
      font-size: 13px;
    }
  }

  .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      margin-right: 8px;
      scroll-snap-align: center;
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .direction-card:nth-child(n + 7) {
    display: none;
  }
  .workshop-card:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: $breakpoint-lg) {
  .direction-card:nth-child(n + 6) {
    display: none;
  }
}

@media (max-width: $breakpoint-md) {
  .workshop-card:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: $breakpoint-sm) {
  .direction-card:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: $breakpoint-xs) {
  .workshop-card:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  .direction-card,
  .workshop-card {
    display: block !important;
  }
}
