
<mat-label class="step-label">{{classes.length ? "Усі класи" : "Класів немає"}}</mat-label>
<ng-container *ngIf="classes.length">
  <div class="list-wrapper">
    <li class="list" *ngFor="let class of classes">
      <mat-checkbox color="primary" (change)="onClassCheck($event, class)">{{ class.title }} </mat-checkbox>
    </li>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="center">
    <button class="btn-reset" type="reset" mat-button (click)="onDelete()" [disabled]="!selectedIClasses?.length">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити {{selectedIClasses?.length}} обрані класи
    </button>
  </div>
</ng-container>

