@import "src/app/shared/styles/dropdown.scss";
.dropdown{
  width: 200px;
  background: #FFFFFF;
  font-weight: 500;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 0.8rem;
  color: #333333;
}

.label{
  padding: 1rem;
}

::ng-deep .mat-form-field-underline{
  display: none;
}

mat-form-field mat-label{
  display: flex;
  justify-content: start;
  font-weight: 800;
  font-size: 0.8rem;
  color: #333333;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  display: none;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked{
  background: #3849F9;
}