<mat-form-field>
  <mat-label class="label">Усі гуртки</mat-label>
  <mat-select [formControl]="workshopControl" multiple class="dropdown" disableOptionCentering
    panelClass="dropdown-panel">
    <mat-select-trigger>
      <div *ngIf="workshopControl.value?.length">
        <span *ngIf="(workshopControl.value?.length > 1)"> {{workshopControl.value?.length}} гуртків вибрано </span>
        <span *ngIf="workshopControl.value?.length === 1"> {{workshopControl.value[0].title}} </span>
      </div>
    </mat-select-trigger>
    <mat-option class="dropdown-option" *ngFor="let workshop of workshops" [value]="workshop">{{ workshop.title }}
    </mat-option>
  </mat-select>
</mat-form-field>