@import "src/app/shared/styles/toggle-button.scss";

.view-control-panel {
  margin-top: 1.5rem;
  margin-bottom: 1.0625rem;
  .filters-toggle-btn {
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0;
    .btn-icon {
      line-height: 8px;
    }
  }
  .visible {
    background: linear-gradient(0deg, rgba(56, 73, 249, 0.07), rgba(56, 73, 249, 0.07)), #FFFFFF;
    border: 1px solid #3849F9;
    color: #3849F9;
  }
  .hidden {
    background: #FFFFFF;
  }
}
.mat-button-toggle-group {
  height: 2rem;
  .mat-button-toggle{
    height: 100%;
    min-width:100px;
  }
}
.mat-drawer-container {
  min-height: 600px;
  background-color: inherit;
  color: inherit;
  .mat-drawer {
    background-color: inherit;
  }
  .mat-drawer-content {
    background-color: inherit;
    color: inherit;
    overflow: hidden;
  }
}
.mat-drawer-side {
  border: none;
  color: #444444;
}
