<div class="wrapper">
  <div class="filters-wrapper">
    <div class="search-area">
      <div class="search-bar" fxLayout="row" fxLayoutAlign="flex-start center">
        <mat-icon class="search-icon" style="transform: rotate(90deg)">search</mat-icon>
        <input
          [formControl]="searchFormControl"
          matInput
          type="text"
          class="search"
          placeholder="Пошук за ПІБ, емейлом, містом, типом чи зміною" />
      </div>
    </div>
    <app-history-log-filters [dropdownOptions]="dropdownData" (filterData)="onFilter($event)"></app-history-log-filters>
  </div>

  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [selectedIndex]="tabIndex">
      <mat-tab [label]="historyLogTabsUkr.Provider">
        <ng-container *ngTemplateOutlet="HistoryLogTable; context: { table: providersHistory, tableTitle: 'Provider' }">
        </ng-container>
      </mat-tab>
      <mat-tab [label]="historyLogTabsUkr.ProviderAdmin">
        <ng-container
          *ngTemplateOutlet="HistoryLogTable; context: { table: providerAdminHistory, tableTitle: 'ProviderAdmin' }">
        </ng-container>
      </mat-tab>
      <mat-tab [label]="historyLogTabsUkr.Application">
        <ng-container
          *ngTemplateOutlet="HistoryLogTable; context: { table: applicationHistory, tableTitle: 'Application' }">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

  <ng-template #HistoryLogTable let-table="table" let-tableTitle="tableTitle">
    <ng-container *ngIf="!(isLoadingCabinet$ | async)">
      <ng-container *ngIf="table?.totalAmount; else isEmptyList">
        <div class="table-wrapper">
          <app-history-log-table [table]="table.entities" [tableTitle]="tableTitle"></app-history-log-table>
        </div>
        <app-paginator
          [totalEntities]="table.totalAmount"
          [currentPage]="currentPage"
          [itemsPerPage]="tableItemsPerPage"
          (pageChange)="onPageChange($event)"
          (itemsPerPageChange)="onItemsPerPageChange($event)">
        </app-paginator>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #isEmptyList>
    <div class="table-wrapper">
      <app-no-result-card [title]="noHistory"></app-no-result-card>
    </div>
  </ng-template>
</div>
