@use 'src/app/shared/styles/components/create-form-wrapper';

.label {
  min-width: 410px;
  font-family: Innerspace, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 0 50px;
  font-weight: 600;
  margin: 5px 0;
  padding: 1rem 2rem;
  color: var(--cancel-text-color);
}
.btn-add {
  width: 20rem;
}
