<p class="filter-text title">
  {{ 'WORKING_DAYS' | translate }}
</p>
<div class="check-boxes flex flex-col items-start">
  <mat-checkbox color="primary" [formControl]="isStrictWorkdaysControl">
    {{ 'EXACT_MATCH' | translate }}
  </mat-checkbox>
</div>

<div class="wrapper flex flex-col box-border items-stretch justify-between">
  <div class="flex flex-row justify-between">
    <div
      *ngFor="let day of days"
      class="toggle flex flex-row justify-center items-center"
      (click)="onToggleDays(day)"
      [ngClass]="day.selected ? 'toggle-selected' : ''">
      {{ day.value | translate }}
    </div>
  </div>
  <p class="filter-text title">
    {{ 'WORKING_HOURS' | translate }}
  </p>
  <div class="check-boxes flex flex-col justify-start">
    <mat-checkbox color="primary" [formControl]="isAppropriateHoursControl">
      {{ 'EXACT_MATCH' | translate }}
    </mat-checkbox>
  </div>
  <div class="wrapper flex flex-row gap-4 justify-between">
    <mat-form-field>
      <div class="from-filter-text flex flex-row justify-start items-center">
        <p class="filter-text">
          {{ 'FROM' | translate }}
        </p>
        <input
          class="time-input"
          type="text"
          matInput
          [ngxMatTimepicker]="timepickerStart"
          [format]="24"
          [formControl]="startTimeFormControl"
          [max]="maxTime"
          autocomplete="off" />
        <mat-icon class="clear-time-start clear-time" (click)="clearStart()">clear</mat-icon>
      </div>
    </mat-form-field>
    <mat-form-field>
      <div class="flex flex-row justify-start items-center">
        <p class="filter-text">
          {{ 'TO' | translate }}
        </p>
        <input
          class="time-input"
          type="text"
          matInput
          [ngxMatTimepicker]="timepickerEnd"
          [format]="24"
          [formControl]="endTimeFormControl"
          [min]="minTime"
          autocomplete="off" />
        <mat-icon class="clear-time" (click)="clearEnd()">clear</mat-icon>
      </div>
    </mat-form-field>
  </div>
  <ngx-mat-timepicker #timepickerStart [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm"> </ngx-mat-timepicker>
  <ngx-mat-timepicker #timepickerEnd [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm"> </ngx-mat-timepicker>

  <ng-template #btnCancel>
    <button mat-raised-button class="btn btn-cancel">
      {{ 'BUTTONS.CANCEL' | translate }}
    </button>
  </ng-template>
  <ng-template #btnConfirm>
    <button class="btn" mat-raised-button>
      {{ 'BUTTONS.ADD' | translate }}
    </button>
  </ng-template>
</div>
