<p class="filter-text">Години роботи</p>
<div fxLayout='column' fxLayoutAlign='center space-between' fxLayoutGap='1rem'>
  <div fxLayout='row' fxLayoutAlign='space-between'>
    <div *ngFor="let day of days" class="toggle" fxLayout='row' fxLayoutAlign='center center'
      (click)="onToggleDays(day)" [value]="day" [ngClass]="(day.selected) ? 'toggle-selected' : '' ">
      {{day.value}}</div>
  </div>
  <div fxLayout='row' fxLayoutAlign='space-between'>
    <div *ngFor="let hour of hours" class="toggle" fxLayout='row' fxLayoutAlign='center center'
      (click)="onToggleHours(hour)" [value]="hour" [ngClass]="(hour.selected) ? 'toggle-selected' : '' ">
      {{hour.value}}</div>
  </div>
</div>