@import 'src/app/shared/styles/buttons.scss';

.filter-text {
  margin: 0 1rem 0 0;
  font-family: Innerspace;
  font-weight: 700;
  line-height: 14.6px;
  color: #444444;
}
.title {
  margin-top: 24px;
}
.wrapper {
  margin-top: 16px;
}
.filter-list-wrapper {
  min-width: 200px;
  min-height: 50px;
}

.title {
  margin-bottom: 0;
}

.time-input {
  border: 1px solid #e3e3e3;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 0.5rem;
  max-height: 34px;
  text-align: center;
}
:host ::ng-deep .mat-form-field {
  max-width: 150px !important;
}
:host ::ng-deep .mat-form-field-underline {
  display: none;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
}

.toggle {
  height: 40px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  background: #ffffff;
  &-selected {
    background: rgba(56, 73, 249, 0.07);
    border: 1px solid #3849f9;
  }
  &:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
::ng-deep .mat-mdc-dialog-container {
  [mat-dialog-actions] {
    display: flex;
    justify-content: center !important;
  }
}
.btn {
  min-width: 150px;
  margin: 0 0 0.5rem 0;
}
::ng-deep .mat-toolbar.mat-primary {
  background-color: #3849f9 !important;
}
::ng-deep .timepicker__main-content {
  display: flex;
  justify-content: center;
}

.time-input:hover + .clear-time {
  visibility: visible;
}
.clear-time {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  color: #adadad;
  top: 8px;
  left: 114px;
}
.clear-time:hover {
  visibility: visible;
}
.check-boxes {
  margin-top: 20px;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column !important;
  }

  .filter-text {
    min-width: 20px;
  }

  .from-filter-text {
    margin-bottom: 10px;
  }
}
