<p class="filter-text title">Дні роботи</p>
<div class="wrapper" fxLayout="column" fxLayoutAlign="center space-between">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div
      *ngFor="let day of days"
      class="toggle"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="onToggleDays(day)"
      [ngClass]="day.selected ? 'toggle-selected' : ''">
      {{ day.value }}
    </div>
  </div>
  <div class="check-boxes" fxLayout="column" fxLayoutAlign="start">
    <mat-checkbox color="primary" [formControl]="isStrictWorkdaysControl"> Повне співпадіння </mat-checkbox>
  </div>
  <p class="filter-text title">Години роботи</p>

  <div class="wrapper" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="1rem">
    <mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center">
        <p class="filter-text">Від</p>
        <input
          class="time-input"
          type="text"
          matInput
          [ngxMatTimepicker]="timepickerStart"
          format="24"
          [formControl]="startTimeFormControl"
          [max]="maxTime"
          autocomplete="off" />
        <mat-icon class="clear-time-start clear-time" (click)="clearStart()">clear</mat-icon>
      </div>
    </mat-form-field>
    <mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center">
        <p class="filter-text">До</p>
        <input
          class="time-input"
          type="text"
          matInput
          [ngxMatTimepicker]="timepickerEnd"
          format="24"
          [formControl]="endTimeFormControl"
          [min]="minTime"
          autocomplete="off" />
          <mat-icon class="clear-time" (click)="clearEnd()">clear</mat-icon>
      </div>
    </mat-form-field>
  </div>
  <!-- <div class="check-boxes" fxLayout="column" fxLayoutAlign="start">
    <mat-checkbox color="primary" [formControl]="isStrictHoursControl"> Повне співпадіння </mat-checkbox>
  </div> -->
  <ngx-mat-timepicker #timepickerStart [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm">
  </ngx-mat-timepicker>
  <ngx-mat-timepicker #timepickerEnd [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm">
  </ngx-mat-timepicker>

  <ng-template #btnCancel>
    <button mat-raised-button class="btn btn-cancel">Скасувати</button>
  </ng-template>
  <ng-template #btnConfirm>
    <button class="btn" mat-raised-button>Додати</button>
  </ng-template>
</div>
