<div class="flex flex-col justify-center items-center main-cont">
  <div class="waiting-container flex flex-col justify-center items-center">
    <div class="waiting-content flex flex-col justify-center items-center">
      <h1 class="waiting-title-main">{{ 'WAITING_PAGE.WAIT' | translate }}</h1>
      <h2 class="waiting-title-secondary">{{ 'WAITING_PAGE.GETTING_PROFILE' | translate }}</h2>
      <mat-progress-spinner mode="indeterminate" color="primary" [diameter]="36"></mat-progress-spinner>
      <p class="waiting-duration-text">{{ 'WAITING_PAGE.WAIT_A_MINUTE' | translate }}</p>
    </div>
  </div>
</div>
