
@import "src/app/shared/styles/navigation-tabs.scss";
$basen-blue-color: #3849F9;
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 40rem;
}
.edit-icon{
  position: relative;
  z-index: 1;
  left: 24rem;
  color: $basen-blue-color;
}
.border{
  border-bottom: 2px solid #E3E3E3;
  margin: 1rem 0;
}
.description{
  max-width: 35rem;
}