.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  max-width: 40rem;
}
.edit-icon{
  position: relative;
  z-index: 1;
  left: 24rem;
  color: #3849F9;
}
.border{
  border-bottom: 2px solid #E3E3E3;
  margin: 1rem 0;
}
:host ::ng-deep .mat-tab-label-active {
  color: #3849F9;
  background: rgba(56, 73, 249, 0.07);
  border: 2px solid #3849F9;
  box-sizing: border-box;
  border-radius: 20px;
  opacity: 1;
}
:host ::ng-deep .mat-tab-label{
  font-weight: 600;
  max-height: 40px;
}
::ng-deep .mat-tab-header {
  border: none;
}
::ng-deep .mat-ink-bar{
  display: none;
}
.description{
  max-width: 35rem;
}