.scroll-up {
  position: fixed;
  bottom: 25px;
  left: 45%;
  border: 1px solid #3849f9;
  border-radius: 50%;
  outline: none;
  padding: 0 !important;
  background-color: #3849f9;
  color: white;

  &.mat-button {
    min-width: 44px;
    min-height: 44px;

    ::ng-deep .material-icons {
      font-size: 18px;
      padding-top: 10px;
    }
  }
}
