.to-top-btn {
  position: absolute;
  margin-bottom: 2rem;
  animation: fadeIn 0.3s ease-out;
  border-radius: 50%;
  min-width: 70px;
  height: 70px;
  right: 2rem;
  font-size: 1rem;
  color: var(--specific-light-text-color);
  background-color: var(--secondary-light-bg-color);

  .mat-icon {
    margin: 0;
  }
}

.sticky {
  position: fixed;
  bottom: 2rem;
  margin: 0;
  z-index: 999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
