<div class="step">
  <div class="accordion-wrapper" fxLayout="column">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let addressForm of addressesFormArray.controls; let item = index"
        class="mat-elevation-z0 accordion-item"
        [expanded]="step === item"
        (opened)="setStep(item)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="step-label">{{ 'FORMS.LABELS.ADDRESS' | translate }} {{ item + 1 }}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="addressForm">
          <div fxLayout="column" class="address-form">
            <label class="step-label" for="addressTitle"
              >{{ 'FORMS.LABELS.ADDRESS_TITLE' | translate }}<span class="step-required">*</span></label
            >
            <mat-form-field>
              <input matInput class="step-input" type="text" formControlName="addressTitle" autocomplete="none" appTrimValue />
            </mat-form-field>
            <app-validation-hint [validationFormControl]="addressForm.get('addressTitle')"></app-validation-hint>
            <app-create-address-form
              [addressFormGroup]="addressForm.get('address')"
              [searchFormGroup]="addressForm.get('searchGroup')"
              [address]="address">
            </app-create-address-form>
            <label class="step-label" for="website">{{ 'FORMS.LABELS.WEBSITE' | translate }}</label>
            <mat-form-field>
              <input matInput class="step-input" type="text" formControlName="website" autocomplete="none" appTrimValue />
            </mat-form-field>
            <label class="step-label" for="facebook">Facebook</label>
            <mat-form-field>
              <input matInput class="step-input" type="text" formControlName="facebook" autocomplete="none" appTrimValue />
            </mat-form-field>
            <label class="step-label" for="instagram">Instagram</label>
            <mat-form-field>
              <input matInput class="step-input" type="text" formControlName="instagram" autocomplete="none" appTrimValue />
            </mat-form-field>
            <div formArrayName="contacts">
              <div
                class="contacts-wrapper"
                fxLayout="column"
                *ngFor="let contactsForm of addressForm?.get('contacts').controls; let i = index">
                <div formGroupName="{{ i }}" fxLayout="column">
                  <p class="step-label contacts-title">{{ 'TITLES.CONTACTS' | translate }} {{ i + 1 }}</p>
                  <label class="step-label" for="type"
                    >{{ 'FORMS.LABELS.CONTACTS_OWNER' | translate }}<span class="step-required">*</span></label
                  >
                  <mat-form-field>
                    <input matInput class="step-input" id="type" type="text" formControlName="type" autocomplete="none" appTrimValue />
                  </mat-form-field>
                  <div formArrayName="phoneList" fxLayout="column">
                    <label class="step-label">{{ 'FORMS.LABELS.PHONE' | translate }}<span class="step-required">*</span></label>
                    <div *ngFor="let phoneField of contactsForm.get('phoneList').controls; let j = index">
                      <div formGroupName="{{ j }}" fxLayout="row">
                        <app-phone-form-control fxFlex [parentFormControl]="phoneField.get('phone')"></app-phone-form-control>
                        <button class="delete-block" mat-button (click)="deletePhoneField(contactsForm, j)" *ngIf="j !== 0">
                          <mat-icon class="mat-icon-delete">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <button
                      class="btn-add"
                      mat-button
                      (click)="addPhoneField(contactsForm)"
                      [disabled]="contactsForm.get('phoneList').invalid">
                      <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_PHONE' | translate }}
                    </button>
                  </div>
                  <div formArrayName="emailList" fxLayout="column">
                    <label class="step-label" for="email-{{ j }}"
                      >{{ 'FORMS.LABELS.EMAIL' | translate }}<span class="step-required">*</span></label
                    >
                    <div *ngFor="let emailField of contactsForm.get('emailList').controls; let j = index">
                      <div formGroupName="{{ j }}">
                        <mat-form-field fxFlex>
                          <input
                            matInput
                            class="step-input"
                            type="text"
                            id="email-{{ j }}"
                            formControlName="email"
                            autocomplete="none"
                            appTrimValue />
                        </mat-form-field>
                        <button class="delete-block" mat-button (click)="deleteEmailField(contactsForm, j)" *ngIf="j !== 0">
                          <mat-icon class="mat-icon-delete">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <button
                      class="btn-add"
                      mat-button
                      (click)="addEmailField(contactsForm)"
                      [disabled]="contactsForm.get('emailList').invalid">
                      <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_EMAIL' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="add-button">
              <button class="btn-add" mat-button (click)="addContactsForm(addressForm)" [disabled]="addressForm.get('contacts').invalid">
                <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_CONTACTS' | translate }}
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="row" fxLayoutAlign="start center" class="add-button">
      <button class="btn-add" mat-button (click)="addAddressGroup()" [disabled]="addressesFormArray.invalid">
        <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_ADDRESS' | translate }}
      </button>
    </div>
  </div>
  <div class="address-wrapper-border">
    <app-create-address-form [addressFormGroup]="addressFormGroup" [searchFormGroup]="searchFormGroup" [address]="address">
    </app-create-address-form>
  </div>
  <small *ngIf="noAddressFound" class="warning">{{ 'FORMS.VALIDATIONS.INVALID_MAP' | translate }}</small>
  <p class="text">{{ 'FORMS.LABELS.OR_SELECT_ON_THE_MAP' | translate }}</p>
  <div class="map">
    <app-map [settelmentFormGroup]="settlementFormControl" [addressFormGroup]="addressFormGroup" (addressSelect)="onAddressSelect($event)">
    </app-map>
  </div>
</div>
