.mat-mdc-card {
  box-sizing: content-box;
}

.card {
  display: block;
  z-index: 100;
  background: var(--primary-light-bg-color);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  width: 400px;
  border-radius: 5px;
  padding: 1.5rem;
  color: var(--primary-light-text-color);
}

.title {
  margin-bottom: 15px;
  color: var(--primary-light-text-color);
  text-transform: uppercase;
}

.text {
  color: var(--primary-light-text-color);
}

.card.isMobile {
  box-sizing: border-box;
  width: 100vw;
}

.textChildrenName {
  margin-bottom: 15px;
}
