<div class="info-content">
  <div>
    <h2 class="info-title">Про портал</h2>
  </div>
  <div class="info-text">
    <p>Раді вітати Вас на порталі <strong>"Позашкілля"!</strong></p>
    <p><strong>Мета проєкту полягає в тому, щоб залучити якомога більше дітей, молоді та дорослих
        до
        занять улюбленою справою: чи то є хобі, розвага, спорт, мистецтво, наука, технологія, чи майбутня професія або
        перекваліфікація через навчання.</strong></p>
    <p>Проєкт презентує різноманіття гуртків, секцій та класів з позашкільної освіти, культури, спорту, демонструє
      вибір
      освітніх послуг, максимально наближених до місця навчання або проживання.</p>
    <p>Проєкт дає можливість реєстрації як споживача послуг (діти, молодь, дорослі) так і їх надавача (заклади освіти
      будь-якої форми власності).
    </p>
    <p><strong>Ідея проєкту реалізується за допомогою інформаційної системи пошуку гуртка за
        параметрами місця їх знаходження; певного творчого колективу, де може реалізуватися особа; певного напряму
        обраної
        діяльності тощо.</strong> </p>
    <p>Проєкт реалізується на виконання програми діджиталізації країни, загальнонаціональної програми Президента
      “Здорова Україна”, задля подолання перепонів, які стоять на заваді реалізації творчого потенціалу дитини,
      здійсненні її мрій.</p>
    <p>Продукт створено за участі креативної команди професіоналів з ІТ компанії SoftServe, а також інших волонтерів
      зі
      сфери освіти, науки, культури та спорту.
      Партнери проєкту: МОН, Мінкульт, Мінмолодьспорт та інші органи державної влади та місцевого самоврядування.
    </p>
    <p>Ваші пропозиції по покращенню роботи сервісу можна надсилати:<a href="mailto:pozashkillia@gmail.com"
        target="_blank"><span class="info-link">
          Pozashkillia@gmail.com</span></a></p>
  </div>
</div>