// .about {
//   display: flex;
//   box-sizing: border-box;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   background: #ffffff;
//   box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
//   padding: 0;
//   margin: 2% auto;
//   border-radius: 5px;
//   &_title {
//     font-family: Innerspace;
//     font-size: 33px;
//     color: #000000;
//     text-align: center;
//     margin: 0 auto;
//     position: relative;
//     top: -2.5rem;
//   }
//   &_content {
//     position: relative;
//     top: -2rem;
//     padding: 0 10%;
//     font-style: normal;
//     font: "Open Sans";
//     width: 70%;
//     font-size: 13px;
//     align-items: center;
//     text-align: center;
//     color: #333333;
//     p {
//       margin: 1rem auto;
//     }
//     &_bold {
//       font-weight: bold;
//     }
//     &_link {
//       color: #3849f9;
//     }
//   }
//   &_pct {
//     margin: 0;
//     width: 102.5%;
//     height: calc(100% / 3);
//     position: relative;
//     top: -2.8rem;
//   }
// }
// .about-wrapper {
//   display: flex;
//   flex-direction: column;
// }
// @media (max-width: 800px) {
//   .about_title,
//   .about_content,
//   .about_pct {
//     position: static;
//   }
//   .about_title {
//     margin: 3%;
//   }
// }


.about {
  position: relative;

  &-content {
    position: relative;
    top: -33px;
    text-align: center;
    width: 97.6%;
    margin: 0 auto 2%;
    background: #ffffff;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 5px 5px
  }

  &-title {
    padding-top: 25px;
    font-size: 33px;
  }

  &-text {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 70%;
    margin: 0 auto;
    p {
      margin: 1rem auto;
    }
  }

  &-link {
    color: blue;
    font-weight: 300;
  }
}
