@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";

.step{
  margin:2rem 0;
}
.application{
  padding: 0 5rem;

  .mat-icon-add{
    opacity: 1;
    font-size: 16px;
    vertical-align: sub;
  }
}
.btn-add-child{
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #3849F9;

&:hover{
  opacity: 0.8;
}
}
:host ::ng-deep .mat-tab-label-active {
  background: rgba(56, 73, 249, 0.07);
  box-sizing: border-box;
  color: #3849F9;
}
::ng-deep .mat-tab-label{
  height: 30px;
}
::ng-deep .mat-tab-header {
    border: 1px solid #EBEBEB;
    border-radius: 20px;
}
::ng-deep .mat-ink-bar{
  display: none;
}
::ng-deep .mat-option-text {
  overflow: initial;
} 
::ng-deep .mat-flat-button{
  padding: 0;

}
.card{
  width: 100%;

  &-image{
    width: 70%;
    padding: 0;
  }

  &-content{
     width: 30%;
    padding: 1rem 0;
  }

}