@import 'src/app/shared/styles/create-form-wrapper.scss';
@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/navigation-tabs.scss';

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.wrapper-check-box,
.info-wrapper {
  margin: 1rem 0;
  .step-label {
    margin-bottom: 1rem;
  }
}
.application-workshop {
  margin: 0 1rem;
}

.application-wrapper {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media (max-width: 750px) {
  .application-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;

    .step {
      max-width: none;
    }
  }
}

.line {
  border: 1px solid #e3e3e3;
}
.warning {
  margin-bottom: 1rem;
}

.background-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  margin-bottom: 1rem !important;
}

small.warning {
  display: block;
  color: red;
  font-size: 10px;
}
.redBorder {
  outline: none;
  border: 1px solid #c72a21;
}

.checkbox-label {
  margin-left: 1rem;
}

.disabled-anchor {
  pointer-events: none;
  cursor: default;
}

:host ::ng-deep {
  .application-wrapper {
    .mat-mdc-tab-header {
      width: 100%;
    }
  }
}