@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";

.step{
  margin:2rem;
}
.application{
  padding: 0 5rem;
}
.card{
  width: 100%;

  &-image{
    width: 70%;
    padding: 0;
  }

  &-content{
     width: 30%;
    padding: 1rem 0;
  }
}