@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';
@import 'src/app/shared/styles/toggle-button.scss';
@import 'src/app/shared/styles/info-hint.scss';

.seat-input {
  max-width: 100px;
  text-align: center;
  background-color: transparent;
  color: var(--primary-dark-text-color);
}

::ng-deep .dropdown-panel {
  max-height: 150px !important;
}

::ng-deep .mat-datepicker-toggle-default-icon {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
@media (max-width: 750px) {
  .container {
    flex-direction: column !important;
    align-items: initial !important;
  }

  .seat::after {
    font-weight: 700;
    color: var(--secondary-light-text-color);
    padding: 5px;
    line-height: initial;
    width: 65px;
  }

  .radio-button-wrap {
    place-content: flex-start !important;
  }
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}
