@use 'src/app/shared/styles/components/create-form';
@use 'src/app/shared/styles/components/validation-form';
@use 'src/app/shared/styles/components/dropdown';
@use 'src/app/shared/styles/components/toggle-button';
@use 'src/app/shared/styles/components/info-hint';

.seat-input {
  max-width: 100px;
  text-align: center;
  background-color: transparent;
  color: var(--primary-dark-text-color);
}

::ng-deep .dropdown-panel {
  max-height: 150px !important;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column !important;
    align-items: initial !important;
  }

  .seat::after {
    font-weight: 700;
    color: var(--secondary-light-text-color);
    padding: 5px;
    line-height: initial;
    width: 65px;
  }

  .radio-button-wrap {
    place-content: flex-start !important;
  }
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}
