<form [formGroup]="RequiredFormGroup" class="step flex flex-col justify-center items-between">
  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="1"
    [cropperConfig]="cropperConfig"
    [base64Images]="competition?.base64CoverImage ? [competition.base64CoverImage] : undefined"
    [entity]="Entities.Competition"
    [label]="'FORMS.LABELS.COVER_IMAGE' | translate"
    formControlName="coverImage"
    [imageIdsFormControl]="RequiredFormGroup.get('coverImageId')"
    (deleteImage)="onDeleteImage()">
  </app-image-form-control>
  <app-validation-hint [validationFormControl]="RequiredFormGroup.get('coverImage')" [isImage]="true" [minImages]="1" [maxImages]="1">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.TITLE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="title" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="RequiredFormGroup.get('title')"
    [minCharacters]="ValidationConstants.INPUT_LENGTH_1"
    [maxCharacters]="ValidationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.SHORT_TITLE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="shortTitle" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="RequiredFormGroup.get('shortTitle')"
    [minCharacters]="ValidationConstants.INPUT_LENGTH_1"
    [maxCharacters]="ValidationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.AGE_OF_PARTICIPANTS' | translate }}<span class="step-required">*</span></label>
  <div class="flex flex-row justify-start">
    <div class="flex flex-col justify-start items-start">
      <div class="flex flex-row justify-start items-center">
        <p class="step-text font-sans !font-normal !pl-0">{{ 'FROM' | translate }}</p>
        <input
          matInput
          class="step-input step-input-age"
          type="number"
          formControlName="minimumAge"
          appIntegerOnly
          [max]="
            (RequiredFormGroup.get('maximumAge').value !== null
              ? RequiredFormGroup.get('maximumAge').value
              : ValidationConstants.BIRTH_AGE_MAX) - 1
          "
          autocomplete="off" />
      </div>
      <app-validation-hint
        [validationFormControl]="RequiredFormGroup.get('minimumAge')"
        [isNumberValue]="true"
        [minValue]="validationConstants.AGE_MIN"
        [maxValue]="validationConstants.BIRTH_AGE_MAX"></app-validation-hint>
      <app-validation-hint [formLevelValidation]="true" [validationFormControl]="RequiredFormGroup"></app-validation-hint>
    </div>

    <div class="flex flex-col justify-start items-start">
      <div class="flex flex-row justify-start items-center">
        <p class="step-text font-sans !font-normal">{{ 'TO' | translate }}</p>
        <input
          matInput
          class="step-input step-input-age"
          type="number"
          formControlName="maximumAge"
          appIntegerOnly
          [max]="ValidationConstants.BIRTH_AGE_MAX"
          [min]="RequiredFormGroup.get('minimumAge').value !== null ? RequiredFormGroup.get('minimumAge').value + 1 : null"
          autocomplete="off" />
      </div>
      <app-validation-hint
        [validationFormControl]="RequiredFormGroup.get('maximumAge')"
        [isNumberValue]="true"
        [minValue]="validationConstants.AGE_MIN"
        [maxValue]="validationConstants.BIRTH_AGE_MAX"></app-validation-hint>
    </div>
  </div>

  <label class="step-label">{{ 'FORMS.LABELS.COMPETITION_RANGE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appPlaceholderStyling class="step-input step-input-date-range" floatLabel="never">
    <mat-date-range-input
      [rangePicker]="competitionPicker"
      formGroupName="competitionDateRangeGroup"
      [min]="
        RequiredFormGroup.get('registrationDateRangeGroup.end').value
          ? RequiredFormGroup.get('registrationDateRangeGroup.end').value
          : minDate
      "
      [max]="maxDate">
      <input matStartDate placeholder="{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate }}" formControlName="start" appDateInput />
      <input matEndDate placeholder="{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate }}" formControlName="end" appDateInput />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="competitionPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #competitionPicker></mat-date-range-picker>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="RequiredFormGroup.get('competitionDateRangeGroup')"></app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.REGISTRATION_RANGE' | translate }}</label>
  <mat-form-field appPlaceholderStyling class="step-input step-input-date-range" floatLabel="never">
    <mat-date-range-input
      [rangePicker]="registrationPicker"
      formGroupName="registrationDateRangeGroup"
      [min]="minDate"
      [max]="RequiredFormGroup.get('competitionDateRangeGroup.start').value">
      <input matStartDate placeholder="{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate }}" formControlName="start" appDateInput />
      <input matEndDate placeholder="{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate }}" formControlName="end" appDateInput />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="registrationPicker"></mat-datepicker-toggle>
    <mat-date-range-picker #registrationPicker></mat-date-range-picker>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="RequiredFormGroup.get('registrationDateRangeGroup')" [isCompetitionDate]="true">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.FORM_OF_LEARNING' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appearance="fill">
    <mat-select
      formControlName="competitiveEventAccountingTypeId"
      placeholder="{{ 'FORMS.LABELS.FORM_OF_LEARNING' | translate }}"
      disableOptionCentering
      panelClass="dropdown-panel"
      class="step-input">
      <mat-option *ngFor="let competitionType of filteredTypeOfCompetition" [value]="competitionType.key">
        {{ TypeOfCompetitionEnum[competitionType.value] | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="competitiveEventAccountingTypeIdControl"></app-validation-hint>

  <div *ngIf="provider.ownership !== ownershipType.State" class="flex flex-col justify-center items-between">
    <div class="flex flex-row justify-start items-between">
      <label class="step-label">{{ 'FORMS.LABELS.AVAILABLE_PLACES_COMPETITION' | translate }}<span class="step-required">*</span></label>
      <app-info-menu [type]="InfoMenuType.Text">
        {{ 'INFO_MENU.UNLIMITED_COMPETITION' | translate }}
      </app-info-menu>
    </div>
    <mat-radio-group [formControl]="availableSeatsRadioBtnControl" color="primary">
      <mat-radio-button [value]="true">{{ 'UNLIMITED' | translate }}</mat-radio-button>
      <div class="container flex flex-row justify-between items-center">
        <div class="radio-button-wrap flex flex-row justify-center items-center">
          <mat-radio-button [value]="false">
            <input
              matInput
              class="step-input seat-input"
              appIntegerOnly
              formControlName="numberOfSeats"
              type="number"
              [min]="minSeats"
              [max]="Constants.UNLIMITED_SEATS" />
          </mat-radio-button>
          <app-info-menu
            *ngIf="isShowHintAboutCompetitionAutoClosing"
            [type]="InfoMenuType.Text"
            [isOpenByDefault]="isShowHintAboutCompetitionAutoClosing">
            {{ 'FORMS.WARNING_MESSAGE_ABOUT_CLOSING_THE_WORKSHOP' | translate }}
          </app-info-menu>
        </div>
      </div>
      <app-validation-hint [validationFormControl]="availableSeatsControl" [minNumberValue]="minSeats"></app-validation-hint>
    </mat-radio-group>
  </div>
</form>
