<p class="filter-text title">Обрати вік</p>

<div class="wrapper" fxLayout='row' fxLayoutAlign='space-between' fxLayoutGap='1rem'>
  <mat-form-field>
    <div fxLayout='row' fxLayoutAlign='start center'>
      <p class="filter-text">Від</p>
      <input matInput class="age-input" type="number" ng-model="number" [formControl]="minAgeFormControl" appDigitOnly
        maxlength="2" [min]="validationConstants.AGE_MIN" 
        [max]="maxAgeFormControl.value ? maxAgeFormControl.value - 1 : validationConstants.AGE_MAX" 
        [directiveFormControl]="minAgeFormControl"
        appMinMax autocomplete="off">
      <mat-icon class="clear-age-min clear-age" (click)="clearMin()">clear</mat-icon>
    </div>
  </mat-form-field>
  <mat-form-field>
    <div fxLayout='row' fxLayoutAlign='start center'>
      <p class="filter-text">До</p>
      <input matInput class="age-input" type="number" ng-model="number" [formControl]="maxAgeFormControl" appDigitOnly
        [directiveFormControl]="maxAgeFormControl" maxlength="2" appMinMax 
        [min]="minAgeFormControl.value ? minAgeFormControl.value + 1 : validationConstants.AGE_MIN"
        [max]="validationConstants.AGE_MAX" autocomplete="off">
      <mat-icon class="clear-age-max clear-age" (click)="clearMax()">clear</mat-icon>  
    </div>
  </mat-form-field>
</div>
