.wrapper {
  margin-top: 16px;
}
.filter-text {
  margin: 0;
  font-family: Innerspace;
  font-weight: 700;
  line-height: 14.6px;
  color: #444444;
}
.title{
  margin-top: 24px;
  margin-bottom: 0;
}
.age-input{
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 0.5rem;
  max-width: 85px;
  max-height: 34px;
  text-align: center;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding: 0;
  margin: 0;
}

