<p class="filter-text title">
  {{"SELECT_AGE" | translate}}
</p>
<div class="check-boxes" fxLayout="column" fxLayoutAlign="start">
  <mat-checkbox color="primary" [formControl]="isAppropriateAgeControl">
    {{"EXACT_MATCH"| translate}}
  </mat-checkbox>
</div>
<div class="wrapper" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="1rem">
  <mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="filter-text">
        {{"FROM"| translate}}
      </p>
      <input matInput class="age-input" type="number" [formControl]="minAgeFormControl" appDigitOnly maxlength="2"
        autocomplete="off" />
      <mat-icon class="clear-age" (click)="clearMin()">clear</mat-icon>
    </div>
  </mat-form-field>
  <mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="filter-text">
        {{"TO"| translate}}
      </p>
      <input matInput class="age-input" type="number" [formControl]="maxAgeFormControl" appDigitOnly maxlength="2"
        autocomplete="off" />
      <mat-icon class="clear-age" (click)="clearMax()">clear</mat-icon>
    </div>
  </mat-form-field>
</div>
