.container{
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin:20px;
  width: 300px;
  max-height: 272px;
}
.button {
  width: 254px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Innerspace;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  &-application{
    background: #3849F9;
    border: 1px solid #3849F9;
    color: #FFFFFF;
  }

  &-msg{
    color: #272425;
      &-icon{
        margin:5px;
      }
  }
}