<div class="container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap='0.8rem'>
  <h4>{{workshop.price}} грн/заняття</h4>
  <span class="time-till-expiration">
    <img src="assets/icons/time.png" alt="time">
    Залишилося х днів до початку заняття
  </span>
  <a [routerLink]="['/create-application', workshop.id]" *ngIf="isCreateApplicationDisplayed">
    <button mat-raised-button class="button button-application" fxLayout="row" fxLayoutAlign="center center">
      Подати заявку
    </button>
  </a>
  <button mat-raised-button class="button button-msg">
    <img class="button-msg-icon" src="assets/icons/message.png" alt="email">
    Надіслати повідомлення
  </button>
  <button mat-button fxLayout="row" fxLayoutAlign="center center">
    <img src="assets/icons/add_fav.png" alt="add_fav">
    Додати в улюблені
  </button>
</div>