@use 'src/app/shared/styles/components/create-form';
@use 'src/app/shared/styles/components/validation-form';
@use 'src/app/shared/styles/components/create-form-wrapper';
@use 'src/app/shared/styles/components/buttons';
.wrapper {
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  &-title {
    text-align: center;
  }
}
.step {
  padding: 2px !important;
}
