@use 'create-form';
@use 'validation-form';
@use 'create-form-wrapper';
@use 'buttons';
.wrapper {
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  &-title {
    text-align: center;
  }
}
.step {
  padding: 2px !important;
}
