<div class="container">
  <h1 class="title">{{ 'ENUM.NAV_BAR_NAME.ADMINISTRATION' | translate | uppercase }}</h1>
  <nav class="nav" mat-tab-nav-bar [tabPanel]="tabPanel" [mat-stretch-tabs]="false">
    <a *ngIf="role === Role.techAdmin" mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./platform/'">
      {{ 'ENUM.NAV_BAR_NAME.PORTAL' | translate | uppercase }}
    </a>
    <a *ngIf="canManageRegion(role)" mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/admins'">
      {{ 'ENUM.NAV_BAR_NAME.ADMINS' | translate | uppercase }}
    </a>
    <a *ngIf="role === Role.techAdmin" mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/directions'">
      {{ 'ENUM.NAV_BAR_NAME.DIRECTIONS' | translate | uppercase }}
    </a>
    <a mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/provider-list'">
      {{ 'ENUM.NAV_BAR_NAME.PROVIDERS' | translate | uppercase }}
    </a>
    <a *ngIf="canManageInstitution(role)" mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/users'">
      {{ 'ENUM.NAV_BAR_NAME.USERS' | translate | uppercase }}
    </a>
    <a mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/applications'">
      {{ 'ENUM.NAV_BAR_NAME.APPLICATIONS' | translate | uppercase }}
    </a>
    <a mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/history-log'">
      {{ 'ENUM.NAV_BAR_NAME.HISTORY_OF_CHANGES' | translate | uppercase }}
    </a>
    <a mat-tab-link [routerLinkActive]="'active'" [routerLink]="'./data/statistics'">
      {{ 'ENUM.NAV_BAR_NAME.STATISTICS' | translate | uppercase }}
    </a>
  </nav>
</div>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
