<mat-card class="position">
  <div class="card flex flex-col justify-between items-start">
    <div class="card-img card-img-full flex flex-row justify-center">
      <img [ngClass]="{ 'card-img-full': teacher.coverImageId }" mat-card-image [src]="coverImageUrl" alt="teacher-photo" />
    </div>

    <div class="wrap-for-details">
      <mat-card-header>
        <mat-card-title
          [matTooltip]="teacherFullName"
          showTooltipIfTruncated
          matTooltipClass="tooltip"
          [matTooltipPosition]="tooltipPosition"
          class="card-title"
          >{{ teacher.firstName }} {{ teacher.lastName }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex flex-col justify-between items-start">
        <p class="card_text">{{ teacher.description }}</p>
      </mat-card-content>
    </div>
  </div>
</mat-card>
