#map {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

// .hobbyGroup {
//   height: 45%;
//   width: 15%;
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   bottom: 0;
//   background-color: white;
//   z-index: 1000;
// }
