<div *ngIf="isEditMode" class="header-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div class="search shadow">
    <mat-form-field floatLabel=never appearance="none" fxLayout='row' fxLayoutAlign='space-between center'>
      <input type="text" maxlength="200" [formControl]="searchValue" matInput placeholder="Введіть назву напрямку"
        (keyup.enter)="onSearch()" >
      <mat-error></mat-error>
      <mat-icon class="icon" style="transform: rotate(90deg)" (click)="onSearch()">search</mat-icon>
    </mat-form-field>
  </div>
  <a routerLink="./create"><button class="btn" mat-raised-button>Додати напрямок</button></a>
</div>
<ng-container *ngIf="(filteredDirections$ | async); else isEmptyList" >
<div class="card-wrapper">
  <app-category-card class="card" *ngFor="let direction of (filteredDirections$ | async)?.entities " [direction]="direction"
   (deleteDirection)="onDelete($event)" [isEditMode]="true">
  </app-category-card>
</div>
<app-paginator  [totalEntities]="(filteredDirections$ | async).totalAmount" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
(pageChange)="onPageChange($event)">
</app-paginator>
</ng-container>


<ng-template #isEmptyList>
  <app-no-result-card [title]="noDirections"></app-no-result-card>
</ng-template>
