@use 'src/app/shared/styles/components/create-form-wrapper';
@use 'src/app/shared/styles/components/list-wrappers';
@use 'src/app/shared/styles/components/create-form';
@use 'src/app/shared/styles/components/validation-form';

.fieldset {
  &-additional-desc {
    border-radius: 21px;
    border: 2px solid var(--input-light-color);
    margin: 10px 0;

    legend {
      padding: 0;
    }
  }
}

:host ::ng-deep .mat-mdc-form-field-infix {
  width: auto !important;
}
