<ng-container *ngIf="!(isLoading$ | async)">
  <div *ngIf="platformSupport?.companyInformationItems.length; else noInfo">
    <div class="support-content">
      <div>
        <h2 class="support-title">{{ platformSupport.title }}</h2>
      </div>
      <div class="support-text">
        <div *ngFor="let item of platformSupport?.companyInformationItems">
          <p><strong>{{ item.sectionName }}</strong></p>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noInfo>
    <app-no-result-card [title]="emptyList"></app-no-result-card>
  </ng-template>
</ng-container>
