@import 'src/app/shared/styles/buttons.scss';

.cropped-image {
  max-width: 100%;
}
small.warning {
  display: block;
  color: var(--error-color);
  font-size: 10px;
}
.image-cropper-wrapper {
  min-height: 50vh;
}
