<div fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="2rem" 
  >
  <div fxFlex="60">
    <image-cropper 
      [imageChangedEvent]="data.image"
      [cropperMinWidth]="data.cropperConfig.cropperMinWidth"
      [cropperMaxWidth]="data.cropperConfig.cropperMaxWidth"
      [cropperMinHeight]="data.cropperConfig.cropperMinHeight"
      [cropperMaxHeight]="data.cropperConfig.cropperMaxHeight"
      [aspectRatio]="data.cropperConfig.cropperAspectRatio"
      format="data.cropperConfig.croppedFormat"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <div fxFlex="40">
    <img [src]="croppedImage" class="cropped-image" />
  </div>
  
</div>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="center center">
  <button class="btn" mat-button
    cdkFocusInitial (click)="onConfirm()">ПІДТВЕРДИТИ</button>
  <button class="btn btn-cancel" mat-button [mat-dialog-close]="false" >СКАСУВАТИ</button>
</mat-dialog-actions>
