.paginator {
  margin-bottom: 2rem;
}
.page {
  font-family: Innerspace;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #444444;
  pointer-events: none;
  padding: 1rem;
  min-width: 20px !important;

  .mat-icon {
    margin: 0;
  }

  &-selected {
    color: #3849f9;
  }
}
.arrow,
.page-selected,
.page-unselected {
  pointer-events: all;
}
.arrow:hover {
  color: #3849f9;
}
.page-selected:hover,
.page-unselected:hover,
.arrow:hover {
  cursor: pointer;
  opacity: 0.5;
}
.step-input {
  max-width: 50px;
  max-height: 100px;
  overflow: visible;
  text-align: center;
}
:host::ng-deep .mat-select-placeholder,
.dropdown-option {
  font-weight: 500;
  text-align: center;
  max-width: 100px;
  height: 2.1rem;
  color: rgba(0, 0, 0, 0.87);
}
:host::ng-deep .mat-select-arrow:hover {
  opacity: 0, 5;
  color: #3849f9;
}

@media (max-width: 750px) {
  .paginator {
    flex-direction: column;
  }
}
::ng-deep .custom-overlay-panel {
  transform: translate(-1rem, 1.5rem) !important;
}
