<div class="paginator flex flex-row flex-wrap box-border justify-center items-center content-center">
  <div class="flex flex-row box-border justify-center items-center content-center" *ngIf="totalPageAmount; else singlePageTmpl">
    <button mat-button *ngIf="currentPage.element !== 1" class="page arrow" (click)="onArroveClick(false)">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-button
      *ngFor="let page of carouselPageList"
      class="page"
      [ngClass]="page.isActive && (page.element === currentPage.element ? 'page-selected' : 'page-unselected')"
      (click)="onPageChange(page)">
      {{ page.element }}
    </button>
    <button mat-button *ngIf="currentPage.element !== totalPageAmount" class="page arrow" (click)="onArroveClick(true)">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  <label class="step-label">{{ 'DISPLAY_ON_THE_PAGE' | translate }}</label>
  <mat-select
    [(value)]="itemsPerPage"
    disableOptionCentering
    panelClass="dropdown-panel"
    class="step-input"
    (selectionChange)="OnSelectOption($event)"
    placeholder="{{ itemsPerPage }}">
    <mat-option
      *ngFor="let value of listOfValues"
      [style.background]="value === itemsPerPage ? 'rgba(0,0,0,.04)' : 'auto'"
      [value]="value"
      class="dropdown-option">
      {{ value }}
    </mat-option>
  </mat-select>
</div>

<ng-template #singlePageTmpl>
  <button mat-button class="page-selected">1</button>
</ng-template>
