.paginator {
  margin-bottom: 2rem;
}
.page {
  font-family: Innerspace, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: var(--cancel-text-color);
  pointer-events: none;
  padding: 1rem;
  min-width: 20px !important;

  .mat-icon {
    margin: 0;
  }

  &-selected {
    color: var(--primary-accent-color);
  }
}
.arrow,
.page-selected,
.page-unselected {
  pointer-events: all;
}
.arrow:hover {
  color: var(--primary-accent-color);
}
.page-selected:hover,
.page-unselected:hover,
.arrow:hover {
  cursor: pointer;
  opacity: 0.5;
}
.step-input {
  max-width: 50px;
  max-height: 100px;
  overflow: visible;
  text-align: center;
  display: flex;
}
:host::ng-deep .mat-mdc-select-placeholder,
.dropdown-option {
  text-align: center;
  max-width: 100px;
  height: 2.1rem;
}
:host::ng-deep .mat-select-arrow:hover {
  opacity: 0.5;
  color: var(--primary-accent-color);
}

@media (max-width: 750px) {
  .paginator {
    flex-direction: column;
  }
}

::ng-deep .paginator-panel {
  left: 15px;
  min-width: 65px !important;
  text-align: center;
  .mdc-list-item__primary-text {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    font-weight: 400;
    color: var(--primary-dark-text-color);
  }
}
