<mat-drawer class="mobile-sidenav" mode="side" [(opened)]="visibleSidenav">

  <div class="mobile-sidenav-content" *ngIf="isMobileView">
    <div *ngIf="(isAuthorized$ | async) && (user$ | async) then isAuthorized; else isUnauthorized"></div>

    <ng-template #isUnauthorized>
      <div class="mobile-sidenav-header">
        <button mat-stroked-button class="header_login" (click)="login()">
          УВІЙТИ/ЗАРЕЄСТРУВАТИСЯ
        </button>
        <button mat-button (click)="changeView()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="mobile-sidenav-language">
        <button mat-flat-button>
          <mat-icon class="mobile-sidenav-icon">language</mat-icon>
          <mat-select (selectionChange)="setLanguage()" [(value)]="selectedLanguage" class="lang-option"
            disableOptionCentering panelClass="dropdownOptionMobile">
            <mat-option [ngClass]="'lang-option-text'" value="uk"> {{Languages.uk}} </mat-option>
          </mat-select>
        </button>
      </div>
      <hr class="hr-grey">
      <div class="mobile-sidenav-info mobile-sidenav-info-support">
        <a [routerLink]="'./info/support'" (click)="changeView()">
          <mat-icon class="mobile-sidenav-icon">support</mat-icon>
          Підтримка
        </a>
      </div>
    </ng-template>

    <ng-template #isAuthorized>
      <div class="mobile-sidenav-header">
        <div>
          <button mat-icon-button class="mobile-sidenav-account">
            <mat-icon>account_circle</mat-icon>
          </button>
          <ng-container>{{(user$ | async).firstName}} {{(user$ | async).lastName}}</ng-container>
        </div>
        <button mat-button (click)="changeView()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="mobile-sidenav-shell">
        <!-- <div class="mobile-sidenav-notification">

          <div class="mobile-sidenav-notification-items">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="pointer">
              <div class="mobile-sidenav-notification-item">
                <mat-icon class="mobile-sidenav-icon">notifications_none</mat-icon>
              </div>
              <div class="mobile-sidenav-notification-item">
                <span class="mobile-sidenav-notification-text">Сповіщення</span>
              </div>
              <div class="mobile-sidenav-notification-item">
                <span class="mobile-sidenav-notification-badge">17</span>

            </button>

          </div>
        </div>
        <hr class="hr-grey">TODO: add to teh second release-->

        <div class="mobile-sidenav-language">
          <button mat-flat-button>
            <mat-icon class="mobile-sidenav-icon">language</mat-icon>
            <mat-select (selectionChange)="setLanguage()" [(value)]="selectedLanguage" class="lang-option"
              disableOptionCentering panelClass="dropdownOptionMobile">
              <mat-option [ngClass]="'lang-option-text'" value="uk"> {{Languages.uk}} </mat-option>
            </mat-select>
          </button>
        </div>


        <hr class="hr-grey">

        <div class="mobile-sidenav-menu">
          <div *ngIf="((user$ | async)?.role !== Role.techAdmin) then UserView; else AdminView"></div>
          <ng-template #UserView>
            <a [routerLink]="'./personal-cabinet/config'" (click)="changeView()">Особиста Інформація</a>
            <a [routerLink]="'./personal-cabinet/' + (user$ | async).role + '/info'" (click)="changeView()">Інформація про
              {{roles[(user$ | async).role]}}</a>
            <a [routerLink]="'./personal-cabinet/workshops'" (click)="changeView()">Мої гуртки</a>
            <a [routerLink]="'./personal-cabinet/applications'" (click)="changeView()">Мої заяви</a>
            <!-- <a [routerLink]="'./personal-cabinet/messages'" (click)="changeView()">Повідомлення</a> TODO: add to teh second release-->
            <a *ngIf="(user$ | async).role === Role.parent" [routerLink]="'./personal-cabinet/parent/favorite'"
              (click)="changeView()">Улюблене</a>
            <button (click)="logout()">Вийти</button>
          </ng-template>
          <ng-template #AdminView>
            <a [routerLink]="'./personal-cabinet/config'" (click)="changeView()">Особиста інформація</a>
            <a [routerLink]="'./admin-tools/platform/about'" (click)="changeView()">Адміністрування</a>
            <a (click)="changeView()">Налаштування</a>
            <button (click)="logout()">Вийти</button>
          </ng-template>
        </div>
      </div>
    </ng-template>
    <hr class="hr-grey">
    <div class="mobile-sidenav-info">
      <a [routerLink]="'./info/about'" (click)="changeView()">Про Портал</a>
    </div>
    <hr class="hr-grey">
    <div class="mobile-sidenav-info">
      <a [routerLink]="''" (click)="changeView()">Головна</a>
    </div>
    <ng-container *ngIf="((user$ | async)?.role === Role.techAdmin)">
      <hr class="hr-grey">
      <div class="mobile-sidenav-info">
        <a (click)="changeView()">Нормативно-правові акти</a>
      </div>
      <hr class="hr-grey">
      <div class="mobile-sidenav-info">
        <a [routerLink]="'./info/support'" (click)="changeView()">Підтримка</a>
      </div>
    </ng-container>
  </div>

</mat-drawer>