<div class="header-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div class="search-area">
    <div class="search-bar" fxLayout="row" fxLayoutAlign="flex-start center">
      <mat-icon class="search-icon" style="transform: rotate(90deg)">search</mat-icon>
      <input
        [formControl]="filterFormControl"
        matInput
        type="text"
        maxlength="200"
        class="search"
        placeholder="Введіть назву напрямку"
      />
    </div>
  </div>

  <a routerLink="./create"><button class="btn" mat-raised-button>Додати напрямок</button></a>
</div>

