.wrapper{
  margin: 2rem 0;
}

.toggle {
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid #EBEBEB;
  background: #FFFFFF;
  &-selected{
    background: rgba(56, 73, 249, 0.07);
    border: 1px solid #3849F9;
  }
  &:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.selected {
  background: rgba(56, 73, 249, 0.07);
}

.text{
  font-family: Open Sans;
  font-weight: 700;
  color: #AAAAAA;
  padding: 5px;
}

.time {
  font-family: Open Sans;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 0.5rem 2rem;
  max-width: max-content;
  height: 40px;
  align-items: center;
  text-align: center;
}
