@import "src/app/shared/styles/working-hours.scss";

.wrapper{
  margin: 2rem 0;
}

.title {
  font-family: "Innerspace";
  line-height: 14,6px;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.txt {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 17,7px;
  font-weight: 400;
  color: #444444;
}
