<div class="add-wrapper">
  <p class="text">{{ 'BANNERS.ADD_WORKSHOP' | translate }}</p>
  <button
    class="btn"
    mat-raised-button
    [disabled]="hasUnfinishedWorkshopData$ | async"
    [routerLink]="['/create/workshop', ModeConstants.NEW]">
    {{ 'BUTTONS.ADD_WORKSHOP' | translate }}
  </button>
</div>
<div class="flex flex-col gap-4">
  <app-provider-status-banner
    *ngIf="hasUnfinishedWorkshopData$ | async"
    [provider]="provider"
    [mode]="BannerMode.Unfinished"
    class="unfinished-banner">
  </app-provider-status-banner>
  <div class="flex justify-end">
    <app-shared-searchbar [for]="WorkshopType.Workshop" (outputSearchFormControl)="onSearch($event)"></app-shared-searchbar>
  </div>
  <div>
    <ng-container *ngIf="workshopDrafts">
      <div class="card-wrapper" *ngIf="workshopDrafts?.totalAmount; else emptyResult">
        <app-workshop-card
          class="card"
          *ngFor="let workshopDraft of workshopDrafts.entities; trackBy: trackByDraft"
          [workshop]="workshopDraft"
          [isCabinetView]="true"
          (deleteWorkshop)="onDelete($event)">
        </app-workshop-card>
      </div>
      <ng-container *ngIf="workshopDrafts.totalAmount">
        <app-paginator
          [totalEntities]="workshopDrafts.totalAmount"
          [currentPage]="currentPage"
          [itemsPerPage]="workshopCardParameters.size"
          (pageChange)="onPageChange($event)"
          (itemsPerPageChange)="onItemsPerPageChange($event)">
        </app-paginator>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #emptyResult>
  <app-no-result-card [title]="NoResultsTitle.noResult"></app-no-result-card>
</ng-template>
