<h4 class="sender" *ngIf="isFirstMessage">
  {{ message.senderRoleIsProvider ? workshop.title : (parent | getFullName) }}
</h4>
<div
  [ngClass]="
    message.senderRoleIsProvider
      ? 'message message__income'
      : 'message message__outcome'
  "
>
  <span class="message__text">
    {{ message.text }}
  </span>
  <mat-icon class="message__read-status">
    {{ message.readDateTime ? 'done_all' : 'done' }}</mat-icon
  >
  <span class="message__send-time">{{
    message.createdDateTime | date: 'h:mm'
  }}</span>
</div>
