<div class="create-form">
  <div class="wrapper">
    <div class="create-form-header" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="wrapper-title">{{(editMode) ? 'РЕДАГУВАТИ' : 'ДОДАТИ'}} НАПРЯМОК</h3>
    </div>

    <mat-horizontal-stepper #stepper [linear]="!editMode">
      <mat-step [stepControl]="directionFormGroup">
        <ng-template matStepLabel>
          <p class="step-name">Напрямок</p>
        </ng-template>
        <app-add-direction-form>
        </app-add-direction-form>


      </mat-step>

      <mat-step [stepControl]="departmentFormGroup">
        <ng-template matStepLabel>
          <p class="step-name">Відділення</p>
        </ng-template>
        <app-add-department-form>
        </app-add-department-form>

      </mat-step>

      <mat-step [ClassFormGroup]="form" [stepControl]="classFormGroup">
        <ng-template matStepLabel>
          <p class="step-name">Клас</p>
        </ng-template>
        <app-add-class-form>
        </app-add-class-form>
        <button class="btn-add" mat-button (click)="addClass()">
          <mat-icon class="mat-icon-add">add</mat-icon>Додати ще один клас
        </button>
        <div fxLayout="row" fxLayoutAlign="center center" class="footer">
          <a [routerLink]="'/admin-tools/platform/directions'"><button mat-raised-button
              class="btn btn-cancel">Скасувати</button></a>
          <button class="btn" mat-raised-button matStepperNext (click)="onSubmit()">Зберігти</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>
