@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';

.map {
  height: 500px;
}

.text {
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

.address-wrapper-border {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e3e3e3;
}

.warning {
  margin: 1rem;
  text-align: center;
  display: block;
  color: red;
  font-size: 10px;
}
