<form [formGroup]="AddressFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step_form">
  <label class="step_label">Місто<span class="step_required">*</span></label>
  <mat-form-field appearance="none">
    <input type="text" class="step_input" 
      required
      matInput
      [formControl]="AddressFormGroup.get('city')"
      [matAutocomplete]="auto"
      >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelect($event)">
      <mat-option [disabled]= "noCity" *ngFor="let city of filteredCities$ | async" [value]="city">
          {{city}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <label class="step_label">Вулиця<span class="step_required">*</span></label>
    <input matInput required class="step_input" type="text"  formControlName="street" >
  </mat-form-field>

  <label class="step_label">Будинок<span class="step_required">*</span></label>
  <mat-form-field>
    <input matInput required class="step_input" type="text" formControlName="buildingNumber" >
  </mat-form-field>
</form>

<div class="form_line" fxLayout='column' fxLayoutAlign='center center'>
  <p>Або позначти на карті</p>
</div>