<div class="import-buttons">
  <div class="file-actions">
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">
        {{ dataSource ? ('IMPORT/EXPORT.SELECT_ANOTHER_FILE' | translate) : ('IMPORT/EXPORT.SELECT_FILE' | translate) }}
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".xlsx" />
      <span class="file-name">{{ selectedFile?.name }}</span>
    </div>
    <div class="loader-container">
      <div class="loader" *ngIf="isWaiting"></div>
    </div>
    <button *ngIf="dataSource" class="btn" mat-raised-button [disabled]="dataSourceInvalid.length > 0">
      {{ 'IMPORT/EXPORT.SUBMIT_FILE' | translate }}
    </button>
  </div>
  <div class="errors-menu">
    <ng-container *ngIf="dataSourceInvalid?.length > 0">
      <mat-slide-toggle [(ngModel)]="isToggle" color="warn"
        ><span class="incorrect-row">{{ 'IMPORT/EXPORT.INCORRECT_ROWS' | translate }} :</span
        ><span [ngClass]="{ 'incorrect-row-num-off': !isToggle, 'incorrect-row-num-on': isToggle }">{{
          dataSourceInvalid.length
        }}</span></mat-slide-toggle
      >
    </ng-container>
    <app-info-menu *ngIf="dataSourceInvalid?.length > 0" style="font-size: 20px; margin-bottom: 10px; display: flex" [isBigIcon]="true">
      <div class="errors-types">
        <h3>{{ 'IMPORT/EXPORT.ERRORS.ERRORS_TYPES' | translate }}</h3>
        <ul>
          <li>
            <div class="color-box false-field-duplicate"></div>
            <p>{{ 'IMPORT/EXPORT.ERRORS.DATA_DUPLICATE' | translate }}</p>
          </li>
          <li>
            <div class="color-box false-field-empty"></div>
            <p>{{ 'IMPORT/EXPORT.ERRORS.MISSING_INFO_EMPTY_FIELD' | translate }}</p>
          </li>
          <li>
            <div class="color-box false-field-wrong-length"></div>
            <p>{{ 'IMPORT/EXPORT.ERRORS.WRONG_LENGTH' | translate }}</p>
          </li>
          <li>
            <div class="color-box false-field-wrong-format"></div>
            <p>{{ 'IMPORT/EXPORT.ERRORS.WRONG_FORMAT' | translate }}</p>
          </li>
          <li>
            <div class="color-box false-field-wrong-language"></div>
            <p>{{ 'IMPORT/EXPORT.ERRORS.WRONG_LANGUAGE' | translate }}</p>
          </li>
        </ul>
      </div>
    </app-info-menu>
  </div>
</div>

<ng-container *ngIf="isToggle ? dataSourceInvalid : dataSource">
  <div class="wrapper-provider-list">
    <div class="wrapper-provider-list-container">
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="isToggle ? dataSourceInvalid : dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="sequence number">
            <th mat-header-cell *matHeaderCellDef>№</th>
            <td mat-cell *matCellDef="let element">{{ dataSource.indexOf(element) + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="provider name">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.PROVIDER_NAME' | translate }}</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'false-field-empty': element.errors.providerNameEmpty,
                'false-field-wrong-length': element.errors.providerNameLength
              }"
              [matTooltip]="element.providerName"
              [matTooltipDisabled]="element.providerName?.length <= 20"
              matTooltipPosition="right"
              matTooltipClass="customTooltipStyles">
              {{ element.providerName | truncate: 20 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ownership">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.OWNERSHIP' | translate }}</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{ 'false-field-empty': element.errors.ownershipEmpty }">
              {{ element.ownership }}
            </td>
          </ng-container>
          <ng-container matColumnDef="identifier">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.IDENTIFIER' | translate }}</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'false-field-empty': element.errors.identifierEmpty,
                'false-field-duplicate': element.errors.identifierDuplicate,
                'false-field-wrong-format': element.errors.identifierFormat
              }">
              {{ element.identifier }}
            </td>
          </ng-container>
          <ng-container matColumnDef="license number">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.LICENSE_NUMBER' | translate }}</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{ 'false-field-empty': element.errors.licenseNumberEmpty }">
              {{ element.licenseNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="settlement">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.SETTLEMENT' | translate }}</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'false-field-empty': element.errors.settlementEmpty,
                'false-field-wrong-length': element.errors.settlementLength,
                'false-field-wrong-language': element.errors.settlementLanguage
              }"
              [matTooltip]="element.settlement"
              [matTooltipDisabled]="element.settlement?.length <= 20"
              matTooltipPosition="right"
              matTooltipClass="customTooltipStyles">
              {{ element.settlement| truncate: 20}}
            </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.ADDRESS' | translate }}</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'false-field-empty': element.errors.addressEmpty,
                'false-field-wrong-language': element.errors.addressLanguage
              }"
              [matTooltip]="element.address"
              [matTooltipDisabled]="element.address?.length <= 20"
              matTooltipPosition="left"
              matTooltipClass="customTooltipStyles">
              {{ element.address | truncate: 20}}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.EMAIL' | translate }}</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'false-field-empty': element.errors.emailEmpty,
                'false-field-duplicate': element.errors.emailDuplicate,
                'false-field-wrong-format': element.errors.emailFormat
              }"
              [matTooltip]="element.email"
              [matTooltipDisabled]="element.email?.length <= 20"
              matTooltipPosition="left"
              matTooltipClass="customTooltipStyles">
              {{ element.email | truncate: 20}}
            </td>
          </ng-container>
          <ng-container matColumnDef="phone number">
            <th mat-header-cell *matHeaderCellDef>{{ 'IMPORT/EXPORT.PROVIDERS_LIST.PHONE_NUMBER' | translate }}</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{
                'false-field-empty': element.errors.phoneNumberEmpty,
                'false-field-wrong-format': element.errors.phoneNumberFormat
              }">
              {{ element.phoneNumber }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
  <app-paginator
        [totalEntities]="dataSource.length"
        [currentPage]="currentPage"
        [itemsPerPage]="importParams.size"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)">
      </app-paginator>
</ng-container>
<button *ngIf="isGoTopBtnVisible" class="goToTop" (click)="gotoTop()"><i class="fas fa-arrow-up"></i></button>
