  <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)" [selectedIndex]="tabIndex">
    <mat-tab label="{{adminTabsUkr.about}}">
      <div class="wrapper" fxLayout="row wrap" fxLayoutAlign="start">
        <div class="config">
          <a routerLink="./edit" class="config_edit-icon">
            <button mat-button class="config-button">
              <mat-icon>edit</mat-icon>Редагувати
            </button>
          </a>
          <ng-container *ngIf="(aboutPortal$ | async)">
            <h4>{{(aboutPortal$ | async)?.title}}</h4>
            <div *ngFor="let portalItem of (aboutPortal$ | async)?.aboutPortalItems">
              <h5 *ngIf="(portalItem.sectionName)">
                {{portalItem.sectionName}}
              </h5>
              <p>{{portalItem.description}}</p>
            </div>
          </ng-container>
        </div> 
      </div>
    </mat-tab>
    <mat-tab label="{{adminTabsUkr.mainPage}}"></mat-tab>
    <mat-tab label="{{adminTabsUkr.directions}}">
      <app-directions></app-directions>
    </mat-tab>
    <mat-tab label="{{adminTabsUkr.regulations}}"></mat-tab>
    <mat-tab label="{{adminTabsUkr.support}}">

      <div class="wrapper" fxLayout="row wrap" fxLayoutAlign="start">
        <div class="config config-support">
          <a routerLink="./edit" class="config_edit-icon">
            <button mat-button class="config-button">
              <mat-icon>edit</mat-icon>Редагувати
            </button>
          </a>
          <h5 class="support-title">Підтримка</h5>
          <p><strong>У разі технічних питань писати на:</strong>
          <a class="link" href="mailto:pozashkillia@gmail.com" target="_blank">
            pozashkillia@gmail.com
          </a>
          </p>
          <p><strong>У разі будь яких інших питань звертатися на:</strong>
            <a class="link" href="mailto:pozashkillyainfo@gmail.com" target="_blank">
              pozashkillyainfo@gmail.com
            </a>
          </p>
          <p><strong>Або за телефоном:</strong>
            <a class="link" href="tel:+380977777777" alt="Телефон +380977777777">+38(097) 777 7 777</a>
          </p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
