  <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)" [selectedIndex]="tabIndex">
    <mat-tab label="{{adminTabsUkr.about}}">
      <app-about-platform></app-about-platform>
    </mat-tab>
    <mat-tab label="{{adminTabsUkr.mainPage}}"></mat-tab>
    <mat-tab label="{{adminTabsUkr.directions}}">
      <app-directions></app-directions>
    </mat-tab>
    <mat-tab label="{{adminTabsUkr.regulations}}"></mat-tab>
    <mat-tab label="{{adminTabsUkr.support}}">
      <app-support-platform></app-support-platform>
    </mat-tab>
  </mat-tab-group>
