<div *ngIf="!consentGiven" class="cookie-modal">
  <div class="cookie-content">
    <mat-icon>cookie</mat-icon>
    <h3 class="cookies-header">Згода на cookies</h3>
    <p>
      Файли cookies допомагають сайту правильно функціонувати. Нижче ви можете переглянути, які дані і з якою метою збираємо ми та наші
      партнери. Ви маєте можливість вказати умови їх зберігання або доступу до них. Ви можете відкликати свою згоду в будь-який час,
      видаливши файли cookies з вашого браузера. Більше інформації ви можете знайти в політиці конфіденційності.
    </p>
    <div class="button-group">
      <button mat-stroked-button (click)="openPreferences()">НАЛАШТУВАТИ СВОЇ ПАРАМЕТРИ</button>
      <button mat-stroked-button (click)="acceptCookies()">ПІДТВЕРДЖУЮ ВСІ</button>
    </div>
  </div>
</div>

<app-cookie-preferences
  *ngIf="showPreferences"
  [preferences]="preferences"
  (save)="handlePreferencesSave($event)"
  (cancel)="closePreferences()"></app-cookie-preferences>
