@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/buttons.scss";

.activeInfoBtn {
  color: #3849f9;
}
.inactiveInfoBtn {
  color: #AAAAAA;
}
.status-info-icon {
  cursor: pointer;
  margin: auto 0.5rem;
  font-size: 16px;
}
.photo-subheader {
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-bottom:0.3rem;
  color: #AAAAAA;
}
