<form [formGroup]="AdditionalAboutGroup" class="step flex flex-col justify-between items-stretch">
  <label class="step-label">{{ 'FORMS.LABELS.PRICE' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group [formControl]="priceRadioBtn" color="primary">
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">{{ 'FOR_FREE' | translate }}</mat-radio-button>
    <div class="container flex flex-row justify-between items-stretch">
      <div class="price flex flex-row justify-center items-center">
        <mat-radio-button #radio2 name="radioBtn2" [value]="true">
          <input
            matInput
            class="step-input price-input"
            appDigitOnly
            formControlName="price"
            type="number"
            [min]="validationConstants.MIN_PRICE"
            [max]="validationConstants.MAX_PRICE" />
        </mat-radio-button>
        <p class="step-text price-only-uah">{{ 'FORMS.UAH' | translate }}</p>
      </div>
      <div class="pay-type flex flex-row items-center justify-center box-border">
        <div class="prices-texts flex flex-row">
          <p class="step-text price-text">{{ 'FORMS.UAH_FOR' | translate }}</p>
          <p class="step-text for-only-text">{{ 'FORMS.FOR' | translate }}</p>
        </div>
        <mat-select
          disableOptionCentering
          panelClass="dropdown-panel"
          class="step-input payment-type-input"
          formControlName="payRate"
          name="payRate"
          placeholder="{{ 'FORMS.PLACEHOLDERS.PAYMENT_TYPE' | translate }}">
          <ng-container *ngFor="let type of PayRateType | keyvalue">
            <mat-option *ngIf="PayRateTypeEnum[type.key]" [value]="type.key" class="dropdown-option">
              {{ PayRateTypeEnum[type.key] | translate }}
            </mat-option>
          </ng-container>
        </mat-select>
      </div>
    </div>
    <div class="pay-type__error">
      <app-validation-hint
        [validationFormControl]="priceControl"
        [isPrice]="true"
        [minValue]="validationConstants.MIN_PRICE"
        [maxValue]="validationConstants.MAX_PRICE"></app-validation-hint>
      <app-validation-hint [validationFormControl]="payRateControl"></app-validation-hint>
    </div>
  </mat-radio-group>
  <ng-container *ngIf="priceRadioBtn.value">
    <label class="step-label">{{ 'FORMS.LABELS.ARE_THERE_BENEFITS' | translate }}</label>
    <mat-radio-group
      formControlName="areThereBenefits"
      color="primary"
      class="flex flex-col box-border justify-between content-center items-stretch">
      <mat-radio-button [value]="true">{{ 'FORMS.LABELS.BENEFITS_POSITIVE' | translate }}</mat-radio-button>
      <mat-radio-button [value]="false">{{ 'FORMS.LABELS.BENEFITS_NEGATIVE' | translate }}</mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="AdditionalAboutGroup.get('areThereBenefits').value">
      <div class="flex flex-row justify-between">
        <label class="step-label"
          >{{ 'FORMS.LABELS.PREFERENTIAL_TERMS_OF_PARTICIPATION' | translate }} <span class="step-required">*</span></label
        >
        <label class="step-characters-count">
          <ng-container *ngIf="AdditionalAboutGroup.get('preferentialTermsOfParticipation').value; else elseBlock">
            {{ AdditionalAboutGroup.get('preferentialTermsOfParticipation').value?.length }}/{{
              validationConstants.MAX_DESCRIPTION_LENGTH_500
            }}
          </ng-container>
          <ng-template #elseBlock> 0/{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}</ng-template>
        </label>
      </div>
      <textarea
        matInput
        class="step-textarea step-textarea-short"
        placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
          'FORMS.PLACEHOLDERS.SYMBOLS' | translate
        }}"
        formControlName="preferentialTermsOfParticipation"
        [maxLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
      </textarea>
      <app-validation-hint
        [validationFormControl]="AdditionalAboutGroup.get('preferentialTermsOfParticipation')"
        [minCharacters]="validationConstants.INPUT_LENGTH_1"
        [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
      </app-validation-hint>
    </ng-container>
  </ng-container>
  <!-- TODO: uncomment all below when it becomes needed -->
  <!--  <label class="step-label">{{ 'FORMS.LABELS.IS_SELF_FINANCED' | translate }}</label>-->
  <!--  <mat-radio-group-->
  <!--    formControlName="isSelfFinanced"-->
  <!--    color="primary"-->
  <!--    class="flex flex-col box-border justify-between content-center items-stretch">-->
  <!--    <mat-radio-button [value]="true">{{ 'AGREEMENT' | translate }}</mat-radio-button>-->
  <!--    <mat-radio-button [value]="false">{{ 'DISAGREEMENT' | translate }}</mat-radio-button>-->
  <!--  </mat-radio-group>-->

  <!--  <label class="step-label">{{ 'FORMS.LABELS.IS_INCLUSIVE' | translate }}</label>-->
  <!--  <mat-radio-group-->
  <!--    formControlName="isInclusive"-->
  <!--    color="primary"-->
  <!--    class="flex flex-col box-border justify-between content-center items-stretch">-->
  <!--    <mat-radio-button [value]="true">{{ 'AGREEMENT' | translate }}</mat-radio-button>-->
  <!--    <mat-radio-button [value]="false">{{ 'DISAGREEMENT' | translate }}</mat-radio-button>-->
  <!--  </mat-radio-group>-->

  <!--  <label class="step-label">{{ 'FORMS.LABELS.SPECIAL_NEEDS_TYPE' | translate }}</label>-->
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-select-->
  <!--      formControlName="specialNeedsType"-->
  <!--      panelClass="dropdown-panel select-with-form-field"-->
  <!--      class="step-input"-->
  <!--      [placeholder]="'FORMS.LABELS.SPECIAL_NEEDS_TYPE' | translate">-->
  <!--      <ng-container *ngFor="let type of SpecialNeedsType | keyvalue">-->
  <!--        <mat-option *ngIf="SpecialNeedsTypeEnum[type.key]" class="dropdown-option" [value]="type.key">-->
  <!--          {{ SpecialNeedsTypeEnum[type.key] | translate }}-->
  <!--        </mat-option>-->
  <!--      </ng-container>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->

  <!--  <label class="step-label">{{ 'FORMS.LABELS.EDUCATIONAL_SHIFT' | translate }}<span-->
  <!--    class="step-required">*</span></label>-->
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-select-->
  <!--      formControlName="educationalShift"-->
  <!--      panelClass="dropdown-panel select-with-form-field"-->
  <!--      class="step-input"-->
  <!--      [placeholder]="'FORMS.LABELS.EDUCATIONAL_SHIFT' | translate">-->
  <!--      <ng-container *ngFor="let type of EducationalShift | keyvalue">-->
  <!--        <mat-option class="dropdown-option" *ngIf="EducationalShiftEnum[type.key]" [value]="type.key">-->
  <!--          {{ EducationalShiftEnum[type.key] | translate }}-->
  <!--        </mat-option>-->
  <!--      </ng-container>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->
  <!--  <label class="step-label">{{ 'FORMS.LABELS.AGE_COMPOSITION' | translate }}<span class="step-required">*</span></label>-->
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-select-->
  <!--      formControlName="ageComposition"-->
  <!--      panelClass="dropdown-panel select-with-form-field"-->
  <!--      class="step-input"-->
  <!--      [placeholder]="'FORMS.LABELS.AGE_COMPOSITION' | translate">-->
  <!--      <ng-container *ngFor="let type of AgeComposition | keyvalue">-->
  <!--        <mat-option class="dropdown-option" *ngIf="AgeCompositionEnum[type.key]" [value]="type.key">-->
  <!--          {{ AgeCompositionEnum[type.key] | translate }}-->
  <!--        </mat-option>-->
  <!--      </ng-container>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->
  <label class="step-label">{{ 'FORMS.LABELS.GROUP_TYPE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field
    appearance="fill"
    [matTooltip]="'FORMS.TOOLTIP.GROUP_TYPE_IS_DISABLED' | translate"
    [matTooltipDisabled]="!isMinSportSelected">
    <mat-select
      formControlName="workshopType"
      panelClass="dropdown-panel select-with-form-field"
      class="step-input"
      [placeholder]="'FORMS.LABELS.GROUP_TYPE' | translate">
      <ng-container *ngFor="let type of GroupType | keyvalue">
        <mat-option class="dropdown-option" *ngIf="GroupTypeEnum[type.key]" [value]="type.key">
          {{ GroupTypeEnum[type.key] | translate }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <app-institution-hierarchy
    [instituitionHierarchyIdFormControl]="AdditionalAboutGroup.get('institutionHierarchyId')"
    [instituitionIdFormControl]="AdditionalAboutGroup.get('institutionId')"
    [provider]="provider"
    (subordinationChange)="onInstitutionSubordinationChange($event)">
  </app-institution-hierarchy>

  <div class="champions-path-wrapper" *ngIf="showChampionsPathCheckbox">
    <mat-checkbox [formControl]="AdditionalAboutGroup.get('isChampionPath')" class="step-label" color="primary">
      {{ 'FORMS.LABELS.CHAMPION_PATH' | translate }}
    </mat-checkbox>
  </div>
</form>
