<div [ngClass]="{ 'wrapper-full-width': (isMobileScreen$ | async) }">
  <ng-container *ngIf="allDirections.length">
    <app-filterable-checklist
      [items]="allDirections"
      [selectedItemIds]="selectedDirectionIds"
      [title]="'DIRECTIONS'"
      [placeholder]="'SEARCH_BY_DIRECTIONS'"
      (selectedItemsChange)="onDirectionCheckChange($event)">
    </app-filterable-checklist>
  </ng-container>
  <ng-container *ngIf="isSelected(sportDirectionId) && allSubDirections.length">
    <app-filterable-checklist
      [items]="allSubDirections"
      [selectedItemIds]="selectedSubDirectionIds"
      [title]="'SUB_DIRECTIONS'"
      [placeholder]="'SEARCH_BY_SUB_DIRECTIONS'"
      (selectedItemsChange)="onSubDirectionCheckChange($event)">
    </app-filterable-checklist>
  </ng-container>
</div>
