<div fxLayout='row' fxLayoutAlign='center center'>
  <div class="wrapper">
    <div fxLayout='column' fxLayoutAlign='center center'>
      <h3 class="wrapper-title">ДОДАТИ ДАНІ ПРО ДИТИНУ</h3>
      <p class="wrapper-text">Щоб відслідковувати заяки і активності вашої дитини.</p>
      <p class="wrapper-text"> Ви завжди можете додати цю інформацію
        у вашому особистому кабінеті.</p>
    </div>
    <ng-container>
      <app-child-form *ngFor="let form of ChildrenFormArray.controls" [ChildFormGroup]="form"
        [index]="ChildrenFormArray.controls.indexOf(form)" [childrenAmount]="ChildrenFormArray.controls.length"
        (deleteForm)="onDeleteForm($event)"></app-child-form>
    </ng-container>
    <div fxLayout='column' fxLayoutAlign='center center'>
      <button class="btn-add" mat-button (click)="addChild()">
        <mat-icon class="mat-icon-add">add</mat-icon>Додати ще одну дитину
      </button>
      <div fxLayout="column" fxLayoutAlign="center center">
        Додаючи дані про дитину я погоджуюсь з <a class="link">Правилами користування </a>
        та надаю згоду на обробку персональних даних
      </div>
      <div fxLayout='row' fxLayoutAlign='center center' class="footer">
        <button class="btn btn-cancel" mat-raised-button><a [routerLink]="''">Скасувати</a></button>
        <button class="btn" mat-button type="submit" (click)="onSubmit()">Зберегти</button>
      </div>
    </div>
  </div>
</div>