@import 'src/app/shared/styles/create-form-wrapper.scss';
@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/buttons.scss';

.agreement {
  text-align: center;
  margin: 1rem;
  display: inline-block;
}
.hidden {
  visibility: hidden;
  height: 0;
}
