<div class="create-form" *ngIf="(editMode && child) || !editMode">
  <div class="wrapper">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">
        {{ (editMode ? 'FORMS.HEADERS.EDIT_CHILD' : 'FORMS.HEADERS.NEW_CHILD') | translate | uppercase }}
      </h3>
      <p class="wrapper-text" *ngIf="!editMode">
        {{ 'FORMS.HEADERS.CREATE_CHILD_SUBTITLE' | translate }}
      </p>
    </div>

    <ng-container>
      <app-child-form
        *ngFor="let form of ChildrenFormArray.controls"
        [ChildFormGroup]="form"
        [index]="ChildrenFormArray.controls.indexOf(form)"
        [childrenAmount]="ChildrenFormArray.controls.length"
        [socialGroups]="socialGroups"
        (deleteForm)="onDeleteForm($event)"></app-child-form>
    </ng-container>

    <div *ngIf="!editMode" class="addChild flex flex-col justify-center items-center">
      <button
        class="btn-add"
        *ngIf="ChildrenFormArray.controls.length < childrenMaxAmount - (childrenCards$ | async)?.totalAmount; else noMoreChildren"
        mat-button
        (click)="addChild()"
        [disabled]="ChildrenFormArray.invalid">
        <mat-icon class="mat-icon-add">add</mat-icon>
        {{ 'BUTTONS.ADD_ANOTHER_CHILD' | translate }}
      </button>
      <ng-template #noMoreChildren>
        <p>
          {{ 'FORMS.VALIDATIONS.NO_MORE_CHILDREN' | translate }} {{ childrenMaxAmount }}
          {{ 'ENUM.CHILD_DECLINATION.CHILDREN_ABLATIVE' | translate }}
        </p>
      </ng-template>
    </div>

    <div [ngClass]="{ hidden: editMode }" class="step flex flex-row">
      <mat-checkbox class="step-check-box" color="primary" [formControl]="AgreementFormControl"></mat-checkbox>
      <p class="agreement">
        {{ 'FORMS.CONTROL_VALUES.CHILD_AGREEMENT_WITH_TERMS_OF_USE_START' | translate }}
        <a class="link" [routerLink]="'/info/rules'" [queryParams]="{ childID: child?.id }" target="_blank">
          {{ 'FORMS.CONTROL_VALUES.TERMS_OF_USE' | translate }}
        </a>
        {{ 'FORMS.CONTROL_VALUES.AGREEMENT_WITH_TERMS_OF_USE_END' | translate }}
      </p>
    </div>

    <div class="footer flex flex-row justify-center items-center">
      <button mat-raised-button (click)="onCancel()" class="btn btn-cancel">{{ 'BUTTONS.CANCEL' | translate | uppercase }}</button>
      <button
        class="btn"
        [disabled]="!AgreementFormControl.value || !ChildrenFormArray.dirty || ChildrenFormArray.invalid || isDispatching"
        mat-button
        type="submit"
        (click)="onSubmit()">
        {{ 'BUTTONS.SAVE' | translate | uppercase }}
      </button>
    </div>
  </div>
</div>
