<div fxLayout='row' fxLayoutAlign='center space-between'>
  <div class="wrapper">
    <h2 class="wrapper-text margin" fxLayout='row' fxLayoutAlign='center center'>ЗАЯВА НА ГУРТОК</h2>
    <section class="underline margin">
      <!-- <app-workshop-card fxLayout='row' fxLayoutAlign='center center' [workshop]="workshop" [type]="'row'">
      </app-workshop-card> -->
    </section>
    <section class="">
      <mat-button-toggle-group fxLayout='row' fxLayoutAlign='center'>
        <mat-button-toggle class="btn" fxLayout='row' fxLayoutAlign='center' (click)="ShowChildInfo()">
          Подати дані про дитину</mat-button-toggle>
        <mat-button-toggle class="btn" fxLayout='row' fxLayoutAlign='center' (click)="ShowParentInfo()">
          Подати дані про себе</mat-button-toggle>
      </mat-button-toggle-group>

      <ng-container *ngIf="isChildInfo then ChildInfo; else ParentInfo"></ng-container>
    </section>
    <section fxLayout='column' fxLayoutAlign='start'>
      <p class="text">Додати повідомлення</p>
      <mat-form-field>
        <textarea matInput class="textarea" [formControl]="messageCntrl"></textarea>
      </mat-form-field>
    </section>
    <section class="margin" fxLayout='column' fxLayoutAlign='center center'>
      <div fxLayout="row" fxLayoutAlign="center" class="span-width">
        <span>
          Додаючи дані про дитину я погоджуюсь з <button class="button-reset">Правилами користування </button>
          та надаю згоду на обробку персональних даних
        </span>
      </div>
      <div>
        <button class="button" type="submit" mat-raised-button><a [routerLink]="''">Скасувати</a></button>
        <button class="button button-blue" type="submit" mat-raised-button (click)="onSubmit()"
          [disabled]="!selectedChildren">Відправати</button>
      </div>
    </section>
  </div>
</div>
<ng-template #ChildInfo>
  <mat-form-field appearance="none" fxLayout='row' fxLayoutAlign='start'>
    <label class="text">Виберіть дитину<span class="required">*</span></label>
    <mat-select class="input input-select" [(ngModel)]="selectedChildren" name="child" required>
      <mat-option *ngFor="let child of children" [value]="child">
        {{child.firstName}} {{child.secondName}} {{child.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p *ngIf="selectedChildren" class="text">Дані про дитину</p>
  <app-person-card *ngIf="selectedChildren" [card]="selectedChildren" [isChildInfo]="true"></app-person-card>
  <div class="add-button">
    <a [routerLink]="'./../parent/add-child'" class="add-icon"><button mat-button style="color:#3849F9;">
        <mat-icon style="color:#3849F9;">add</mat-icon>Додати ще одну дитину
      </button></a>
  </div>
  <p class="text">Дані про батьків</p>
  <app-person-card *ngIf="child" [card]="child.parent" [isChildInfo]="false"></app-person-card>
</ng-template>
<ng-template #ParentInfo>
</ng-template>