<div class="container">
  <div class="reviews">
    <div class="reviews_rate">
      <div class="reviews_rate-icon">
        <img src="assets/images/groupimages/star.png" alt="">
      </div>
      <div class="reviews_rate-number">
        4.9 <a href="">(27)</a>
      </div>
    </div>
    <div class="reviews_comment">
      <div class="reviews_comment-button">
        <div class="button-image">
          <img src="assets/images/groupimages/pencil.png" alt="">
        </div>
        <div class="button-text">НАПИСАТИ ВІДГУК</div>
      </div>
    </div>
  </div>
  <div class="comment-section">
    <div class="comment-section_item">
      <div class="comment-header">
        <div class="comment-header_image"><img src="assets/images/groupimages/comment1.png" alt=""></div>
        <div class="comment-header_rate">
          <div class="comment-header_rate-name">Світлана Потоцька</div>
          <div class="comment-header_rate-star"><img src="assets/images/groupimages/star.png" alt=""> 15.01.2021</div>
        </div>
      </div>
      <div class="comment-text">
        Дитина ходила сюди на східні танці.
        Тренер Катя Комар - дуже класна, енергійна дівчина, детально пояснювала
        кожен рух і вимогливо.
        З мінусів - маленькі незручні і дуже задушливі кімнатки для занять
        (дітей 10 і реально не вистачало місця на
        всіх).
      </div>
    </div>
  </div>
</div>
