* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 0 0.688rem 0 1.5rem;

  .reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    &_rate {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1.5rem;

      &-icon {
        margin-left: 1.583rem;
      }

      &-number {
        margin-left: 0.563rem;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.563rem;
        color: #333333;

        a {
          font-weight: normal;
          font-size: 1.125rem;
          line-height: 1.563rem;
          margin-left: 0.25rem;
          color: #AAAAAA;
        }
      }
    }

    &_comment {
      &-button {
        box-shadow: 0 0 0.313rem -0.063rem rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 254px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 0.063rem solid #AAAAAA;
        border-radius: 20px;
        padding: 0.875rem 3.438rem 0.75rem 2.875rem;
        cursor: pointer;

        .button-text {
          font-style: normal;
          font-weight: bold;
          font-size: 0.813rem;
          line-height: 0.938rem;
          text-align: center;
          color: #272425;
        }
      }
    }
  }

  .comment-section {
    display: flex;
    flex-direction: column;

    &_item {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0 1.5rem 0;

      .comment-header {
        display: flex;

        &_rate {
          margin-left: 1.063rem;

          &-name {
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.25rem;
            color: #000000;
          }

          &-star {
            margin-top: 0.563rem;
            font-weight: normal;
            font-size: 0.813rem;
            line-height: 1.125rem;
            color: #333333;
          }
        }
      }

      .comment-text {
        margin-top: 1.313rem;
        font-weight: normal;
        font-size: 0.813rem;
        line-height: 1.125rem;
        color: #333333;
      }
    }
  }
}

