<div fxLayout="column" fxLayoutAlign="center">
  <ng-container>
    <app-teacher-form *ngFor="let form of TeacherFormArray.controls" [TeacherFormGroup]="form"
      [index]="TeacherFormArray.controls.indexOf(form)" [teacherAmount]="TeacherFormArray.controls.length"
      (deleteForm)="onDeleteForm($event)">
    </app-teacher-form>
  </ng-container>
  <button class="btn" mat-button (click)="onAddTeacher()">
    <mat-icon class="mat-icon-add">add</mat-icon>Додати ще одного викладача
  </button>
</div>