input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  outline: none;
  box-shadow: 0 0 0.063rem 0.063rem #C72A21;
}


.disabled-button {
  opacity: 0.5;
}

.highlight-text {
  color: red;
}

