<div class="wrapper">
  <div class="table-container mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >
      <!-- Name Column -->
      <ng-container matColumnDef="pib">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ПІБ що внесла зміни
        </th>
        <td mat-cell *matCellDef="let element">{{ util.getFullName(element?.user) }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Емейл
        </th>
        <td mat-cell *matCellDef="let element">{{ element.user?.email }}</td>
      </ng-container>

      <ng-container matColumnDef="providerTitle">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Назва
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.providerTitle }}</td>
      </ng-container>

      <ng-container matColumnDef="institutionTitle">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Підпорядкування
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.institutionTitle }}</td>
      </ng-container>

      <ng-container matColumnDef="providerCity">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Населений пункт
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.providerCity }}</td>
      </ng-container>
      <ng-container matColumnDef="fieldName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Тип
        </th>
        <td mat-cell *matCellDef="let element">{{ typeChange[element?.fieldName] }}</td>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Дата/час
        </th>
        <td mat-cell *matCellDef="let element">{{ (element?.updatedDate | date: 'dd.mm.yyyy hh:mm:ss') }}</td>
      </ng-container>

      <ng-container matColumnDef="oldValue">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Було
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'application-status': tableTitle === 'Application'}" class="{{ element.oldValue }}">{{ tableTitle === 'Application' ? applicationTitles[element?.oldValue] : element?.oldValue }}</td>
      </ng-container>

      <ng-container matColumnDef="newValue">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Стало
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'application-status': tableTitle === 'Application'}" class="{{ element.newValue }}">{{ tableTitle === 'Application' ? applicationTitles[element?.newValue] : element?.newValue }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
