<div class="container" *ngIf="provider">
  <app-image-carousel [images]="images"></app-image-carousel>

  <div class="details-wrapper">
    <div fxLayout="column" fxLayoutAlign="space-between space-between">
      <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutAlign="start center">
        <h1 class="title">{{ provider.fullTitle }}</h1>
      </div>
      <p class="icon-text">
        <mat-icon class="icon">star</mat-icon>
        {{ provider.rating }}
      </p>
    </div>

    <mat-tab-group class="nav" [(selectedIndex)]="selectedIndex">
      <mat-tab class="label" label="ПРО ЗАКЛАД">
        <app-provider-about [provider]="provider"></app-provider-about>
      </mat-tab>
      <mat-tab class="label" label="ІНШІ ГУРТКИ ЗАКЛАДУ">
        <app-all-provider-workshops></app-all-provider-workshops>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
