<div class="container" *ngIf="provider">
  <app-image-carousel [images]="images"></app-image-carousel>

  <div class="details-wrapper">
    <div class="flex flex-col justify-between content-between">
      <div class="flex flex-row flex-wrap justify-start items-center">
        <h1 class="title">{{ provider.fullTitle }}</h1>
      </div>
      <p class="icon-text">
        <mat-icon class="icon">star</mat-icon>
        {{ provider.rating }}
      </p>
    </div>

    <mat-tab-group class="nav" [(selectedIndex)]="selectedIndex">
      <mat-tab class="label" label="{{ tabTitles.AboutProvider | translate }}">
        <app-provider-about [provider]="provider"></app-provider-about>
      </mat-tab>
      <mat-tab class="label" label="{{ tabTitles.Workshops | translate }}">
        <app-all-provider-workshops [providerParameters]="providerParameters"></app-all-provider-workshops>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
