<section>
  <div class="description">
<!--    Бальні танці — різновид парних танців, упорядкованих та кодифікованих для спортивних змагань. Спортивні танці-->
<!--    визнаються Міжнародним олімпійським комітетом у якості кандидата в олімпійські види спорту. Поряд із спортивним-->
<!--    аспектом бальні танці мають також соціальне значення, оскільки їх танцюють у всьому світі для розваги й задоволення-->
<!--    і широко використовують в сценічному мистецтві: в театрі, кіно, на телебаченні.-->
    {{workshopGroupInfo.description}}
  </div>
  <div class="program">
    <h4 class="header">Програма</h4>
    <div class="program_info">Інформація про програму має бути тут</div>
  </div>
  <div class="groups">
    <h4 class="header">Групи</h4>
    <ul class="groups_list">
      <li>Молодша группа (7-10 років)</li>
      <li>Юніори (10-15 років)</li>
      <li>Старша група (15-18 років)</li>
    </ul>
  </div>
  <div class="schedule">
    <h4 class="header">Розклад занятть</h4>
    <ul class="schedule_time-list">
      <li class="list-item">Пн, Ср 12-14 год</li>
      <li class="list-item">Вт, Чт 18-20 год</li>
    </ul>
  </div>
  <div class="lesson-duration">
    <h4 class="header">Тривалисть заняття</h4>
    <p class="lesson-duration_info">2 години</p>
  </div>
  <div class="price">
    <h4 class="header">Вартість</h4>
    <ul class="price_list">
      <li>Звичайне заняття: 50 грн/заняття</li>
      <li>Пробне заняття: 40 грн/заняття</li>
      <li>Абонемент на місяць (8 занять): 380грн</li>
    </ul>
  </div>
</section>
