* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin header {
  font-style: normal;
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 0.938rem;
  color: #444444;
}

@mixin basic-text {
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #333333;
}

$spacing: 1.5rem;
.header {
  @include header;
}

section {
  padding: 0 0.688rem 0 1.5rem;

  .description {
    margin-top: 2rem;
    font-size: 0.813rem;
    color: #333333;
    line-height: 1.106rem;
  }

  .program {
    margin-top: 1.188rem;

    &_info {
      @include basic-text;
    }
  }

  .groups {
    margin-top: $spacing;

    &_list {
      @include basic-text;

      li {
        list-style-type: none;
      }

      li:before {
        content: "-";
        padding-right: 0.375rem;
      }
    }
  }

  .schedule {
    margin-top: $spacing;

    &_time-list {
      @include basic-text;

      li {
        list-style-type: none;
      }
    }
  }

  .lesson-duration {
    margin-top: $spacing;

    &_info {
      @include basic-text;
    }
  }

  .price {
    margin-top: $spacing;

    &_list {
      @include basic-text;

      li {
        list-style-type: none;
      }
    }
  }
}


