@import "src/app/shared/styles/cards.scss";

.container{
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin:20px;
  width: 300px;

  .contact-info {
    font-size: 13px;
    
    .card_icon {
      width: 13px;
      height: 13px;
      margin-right: 17px;
      top: 6px;
      position: relative;
    }

    a {
      color: #3849F9;
    }
  }  

}

.map{
  margin: 5px 0 0 34px;
  color: #3849F9;
  font-size: 11px;
  font-weight: 700;
  line-height: 12.35px;
  font-family: Innerspace, serif;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

.link{
  margin:0.5rem;
  &:hover{
    opacity: 0.6;
  }
}
.disable{
  margin:0.5rem;
  pointer-events: none;
  opacity: 0.6;
}

.social {
  margin-top: 12px;
  margin-left: 22px;
}

@media(max-width: 750px) {
  .container {
    width: 100%;
  }
}


