<div class="container" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap='0.1rem'>
  <h4>КОНТАКТИ</h4>
  <p *ngIf="workshop.address" class="contact-info"><img src="assets/icons/address.png" alt="address">{{workshop.address.city}},
    {{workshop.address.street}}, {{workshop.address.buildingNumber}}
  </p>

  <p class="map">Показати на карті</p>

  <p class="contact-info">
    <img src="assets/icons/access_time.png" alt="access_time">розклад/години роботи?
  </p>

  <p *ngIf="workshop.phone" class="contact-info">
    <img src="assets/icons/phone.png" alt="phone"><a href="tel:{{workshop.phone}}">{{workshop.phone}}</a>
  </p>

  <p *ngIf="workshop.email" class="contact-info">
    <img src="assets/icons/email.png" alt="email">{{workshop.email}}
  </p>

  <p *ngIf="workshop.website" class="contact-info"><img src="assets/icons/world.png" alt="email">
    <a [href]="workshop.website">{{workshop.website}}</a>
  </p>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <a [routerLink]="''" class="link"><img src="assets/icons/inst.png" alt=""></a>
    <a [routerLink]="''" class="link"><img src="assets/icons/facebook.png" alt=""></a>
  </div>
</div>
