<div class="container" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap='0.1rem'>
  <h4>КОНТАКТИ</h4>
  <p class="contact-info">
    <mat-icon class="card_icon">location_on</mat-icon>
    {{workshop.address.city}},
    {{workshop.address.street}}, {{workshop.address.buildingNumber}}
  </p>

  <a
    (click)="mapLink()"
    target="_blank"
    class="map">
    Показати на карті
  </a>

  <p class="contact-info">
    <mat-icon class="card_icon">access_time</mat-icon>розклад/години роботи?
  </p>

  <p *ngIf="workshop.phone" class="contact-info">
    <mat-icon class="card_icon">call</mat-icon>+380 <a href="tel:{{workshop.phone}}">{{workshop.phone}}</a>
  </p>

  <p *ngIf="workshop.email" class="contact-info">
    <mat-icon class="card_icon">mail</mat-icon>
    <a href="mailto:{{workshop.email}}" target="_blank">{{workshop.email}}</a>
  </p>

  <p *ngIf="workshop.website" class="contact-info">
    <mat-icon class="card_icon">language</mat-icon>
    <a [href]="workshop.website">{{workshop.website}}</a>
  </p>
  <div class="social" fxLayout="row" fxLayoutAlign="space-between center">
    <a href="{{workshop.instagram}}" [ngClass]="workshop.instagram ? 'link' : 'disable'">
      <img src="assets/icons/inst.png" alt="instagram">
    </a>
    <a href="{{workshop.facebook}}" [ngClass]="workshop.facebook ? 'link' : 'disable'">
      <img src="assets/icons/facebook.png" alt="facebook">
    </a>
  </div>
</div>
