<div class="create-form" *ngIf="(isEditMode && provider) || !isEditMode">
  <div class="wrapper">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">
        {{ (isEditMode ? 'FORMS.HEADERS.EDIT_PROVIDER' : 'FORMS.HEADERS.NEW_PROVIDER') | translate }}
      </h3>
      <p *ngIf="!isEditMode" class="wrapper-text">{{ 'FORMS.HEADERS.NEW_PROVIDER_SUBHEADER' | translate }}</p>
    </div>

    <mat-horizontal-stepper #stepper linear>
      <mat-step [stepControl]="InfoFormGroup">
        <ng-template matStepLabel>
          <p class="step-name">{{ 'TITLES.ABOUT_THE_PROVIDER_INFO' | translate }}</p>
        </ng-template>
        <app-create-info-form
          [isImagesFeature]="isImagesFeature"
          [provider]="provider"
          (passInfoFormGroup)="onReceiveInfoFormGroup($event)">
        </app-create-info-form>
        <div class="footer flex flex-row justify-center items-center">
          <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">
            {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button class="btn" mat-raised-button matStepperNext (click)="checkValidation(InfoFormGroup)" [disabled]="InfoFormGroup.invalid">
            {{ 'BUTTONS.NEXT' | translate }}
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="ContactsFormGroup" [completed]="!ContactsFormGroup.invalid && !InfoFormGroup.invalid">
        <ng-template matStepLabel>
          <p class="step-name">{{ 'TITLES.CONTACTS' | translate }}</p>
        </ng-template>
        <app-create-contacts-form
          (passActualAddressFormGroup)="onReceiveActualAddressFormGroup($event)"
          (passLegalAddressFormGroup)="onReceiveLegalAddressFormGroup($event)"
          [provider]="provider">
        </app-create-contacts-form>
        <div class="footer flex flex-row justify-center items-center">
          <button class="btn" mat-raised-button matStepperPrevious>{{ 'BUTTONS.BACK' | translate }}</button>
          <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">
            {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button
            class="btn"
            mat-raised-button
            matStepperNext
            (click)="checkValidationContacts(ContactsFormGroup)"
            [disabled]="ContactsFormGroup.invalid">
            {{ 'BUTTONS.NEXT' | translate }}
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="PhotoFormGroup" [completed]="!ContactsFormGroup.invalid && !InfoFormGroup.invalid">
        <ng-template matStepLabel>
          <p class="step-name">{{ 'TITLES.DESCRIPTION' | translate }}</p>
        </ng-template>
        <app-create-photo-form
          [isImagesFeature]="isImagesFeature"
          [provider]="provider"
          (passPhotoFormGroup)="onReceivePhotoFormGroup($event)">
        </app-create-photo-form>

        <div *ngIf="!isEditMode" class="wrapper-check-box step flex flex-col justify-start items-start">
          <mat-checkbox class="step-check-box" color="primary" [formControl]="AgreementFormControl">
            {{ 'AGREEMENTS.I_AGREE_FOR_DATA_USE' | translate }}
          </mat-checkbox>
          <mat-checkbox class="step-check-box" color="primary" [formControl]="RobotFormControl">
            {{ 'AGREEMENTS.I_AM_NOT_ROBOT' | translate }}
          </mat-checkbox>
        </div>
        <div class="footer flex flex-col justify-center items-center">
          <button class="btn" mat-raised-button matStepperPrevious>
            {{ 'BUTTONS.BACK' | translate }}
          </button>
          <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">
            {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button
            class="btn"
            mat-button
            type="submit"
            (click)="onSubmit()"
            [disabled]="
              !isAgreed ||
              !isNotRobot ||
              (!PhotoFormGroup.dirty && !ContactsFormGroup.dirty && !InfoFormGroup.dirty) ||
              PhotoFormGroup.invalid ||
              ContactsFormGroup.invalid ||
              InfoFormGroup.invalid
            ">
            {{ 'BUTTONS.SAVE' | translate }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
