<div fxLayout='row' fxLayoutAlign='center center'>
  <div class="wrapper">
    <div fxLayout='column' fxLayoutAlign='center center'>
      <h3 class="wrapper-title">РЕЄСТРАЦІЯ НОВОГО ЗАКЛАДУ</h3>
      <p class="wrapper-text">Додайте новий заклад всього у 3 кроки</p>
    </div>

    <mat-horizontal-stepper #stepper linear>
      <mat-step [stepControl]="InfoFormGroup">
        <ng-template matStepLabel>Інформація про заклад</ng-template>
        <app-create-info-form (passInfoFormGroup)="onReceiveInfoFormGroup($event)" [provider]="provider">
        </app-create-info-form>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <a [routerLink]="''"> <button class="btn btn-cancel" mat-raised-button> Скасувати
            </button></a>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>

      <mat-step [stepControl]="addressFG">
        <ng-template matStepLabel>Контакти</ng-template>
        <app-create-contacts-form (passActualAddressFormGroup)="onReceiveActualAddressFormGroup($event)"
          (passLegalAddressFormGroup)="onReceiveLegalAddressFormGrou($event)" [provider]="provider">
        </app-create-contacts-form>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <button class="btn" mat-raised-button matStepperPrevious>Назад</button>
          <button class="btn btn-cancel" mat-raised-button><a [routerLink]="''"> Скасувати
            </a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="PhotoFormGroup">
        <ng-template matStepLabel>Фото</ng-template>
        <app-create-photo-form (passPhotoFormGroup)="onReceivePhotoFormGroup($event)" [provider]="provider">
        </app-create-photo-form>
        <div *ngIf="!editMode" fxLayout='column' fxLayoutAlign='start start' class="wrapper-check-box">
          <mat-checkbox class="step-check-box" color="primary" [formControl]="RobotFormControl">Я надаю
            згоду на обробку
            персональних даних
          </mat-checkbox>
          <mat-checkbox class="step-check-box" color="primary" [formControl]="AgreementFormControl">Я
            не робот
          </mat-checkbox>
        </div>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <button class="btn" mat-button matStepperPrevious>Назад</button>
          <button class="btn btn-cancel" mat-raised-button><a [routerLink]="''">Скасувати</a></button>
          <button class="btn" mat-button type="submit" (click)="onSubmit()"
            [disabled]="(!isAgreed || !isNotRobot) && !editMode">Завершити</button>

        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>
