.wrapper{
  max-width: 654px;
  border-radius:5px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding:0 40px;
  margin:1.5rem;
    &_title{
      font-family:Open Sans;
      font-weight: 700;
      color:#444444;
      margin-top: 48px;
      padding: 60;
    }
    &_text{
      font-family:Open Sans;
      font-weight: 700;
      color: #AAAAAA;
      padding: 0.2rem;
    }
    &_check-box{
      margin: 40px;
    }
}
.btn{
  color:white;
  background-color:#3849F9;
  border: 1px solid #3849F9;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2px 30px;
  margin: 0 1rem;
  &_cancel{
    color: #444444;
    background-color:transparent;
    border-color: #444444;
  }
}
.footer{
  margin:20px;
}