<div *ngIf="childrenCards" class="add-wrapper flex flex-row justify-between items-center">
  <p class="text">{{ 'BANNERS.ADD_CHILDREN' | translate }}</p>
  <ng-container *ngIf="childrenCards.totalAmount >= 20">
    <span class="text">{{ 'BANNERS.MAX_CHILDREN_AMOUNT' | translate }}</span>
  </ng-container>

  <a
    [routerLink]="childrenCards.totalAmount < 20 ? ['/create-child', ModeConstants.NEW] : []"
    [class.disabled-anchor]="childrenCards.totalAmount >= 20">
    <button class="btn" mat-raised-button [disabled]="childrenCards.totalAmount >= 20">
      {{ 'BUTTONS.ADD_CHILDREN' | translate }}
    </button>
  </a>
</div>

<ng-container *ngIf="childrenCards">
  <div *ngIf="childrenCards.totalAmount; then ChildList"></div>
</ng-container>

<ng-template #ChildList>
  <div class="card-wrapper">
    <app-child-card class="card" *ngFor="let child of childrenCards.entities" [child]="child" (deleteChild)="onDelete($event)">
    </app-child-card>
  </div>
  <app-paginator
    [totalEntities]="childrenCards.totalAmount"
    [currentPage]="currentPage"
    [itemsPerPage]="childrenParameters.size"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-paginator>
</ng-template>
