<div *ngIf="childrenCards" class="add-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
  <p class="text">Тут ви можете додати інформацію про дитину, щоб записати її у гурток, секцію чи школу</p>
  <ng-container *ngIf="childrenCards.totalAmount >= 20">
    <span class="text">Можливо додати не більш, ніж 20 дітей</span>
  </ng-container>

  <a [routerLink]="['/create-child', 'new']">
    <button class="btn" mat-raised-button [disabled]="childrenCards.totalAmount >= 20">Додати дитину</button>
  </a>
</div>

<ng-container *ngIf="childrenCards">
  <div *ngIf="childrenCards.totalAmount; then ChildList"></div>
</ng-container>

<ng-template #ChildList>
  <div class="card-wrapper">
    <app-child-card class="card" *ngFor="let child of childrenCards.entities" [child]="child" (deleteChild)="onDelete($event)">
    </app-child-card>
  </div>
  <app-paginator
    [totalEntities]="childrenCards.totalAmount"
    [currentPage]="currentPage"
    [itemsPerPage]="childrensPerPage$ | async"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  >
  </app-paginator>
</ng-template>
