.container{
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin:20px;
  width: 300px;
  max-height: 272px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 245px;
  cursor: pointer;
  height: 34px;
  border: 0.063rem solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 0.938rem;
  text-align: center;
  color: #272425;
}
.calendar{
  width: 245px;
  height: 170px;

  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
}