.step{
  &_form{
    margin: 0 40px;
  }

  &_check-box{
    font-family:Open Sans;
    font-weight: 400;
    color:#444444;
    padding:0.5rem;
  }

  &_label{
    font-weight: 500;
  }

  &_required{
    color:red;
  }

  &_input{
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding:0.5rem;

    &_age{
      max-width: 80px;
    }

    &_text{
    font-family:Open Sans;
    font-weight: 700;
    color: #AAAAAA;
    padding: 5px;
    }
  }
  &_line_age{
    max-height: 0;
    border: 1px solid #E3E3E3;
    margin: 1rem 0 2rem 0;
    min-width: 10px;
    position: relative;
    top: 5px;
    margin: 10px;
  }
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

::placeholder {
  color:#333333;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}  
.div-input{
  width: 95px;
  height: 58px;
  background: rgba(56, 73, 249, 0.1);
  border: 1px dashed #3849F9;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 1rem;

  &:hover{
    cursor:pointer;
    opacity: 0.5;
  }
}

.mat-icon-add {
  position: relative;
  top: 17px;
  left: 35px;
  vertical-align: middle;
  height: 26px;
  color: #3849F9;
}
input[type="file"] {
  display: none;
}
::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-label-wrapper {
  display: none;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom:0;
}

::ng-deep .mat-form-field-infix {
  border:none;
}
