@use 'dark-theme.scss';
@use 'light-theme.scss';
@use '@angular/material' as mat;

@font-face {
  font-family: 'Innerspace';
  src:
    local('Innerspace'),
    url('../../../../assets/fonts/Innerspace/Innerspace-normal.ttf') format('truetype'),
    url('../../../../assets/fonts/Innerspace/Innerspace-bold.ttf') format('truetype');
}

$config: mat.define-typography-config(
  $font-family: 'Innerspace',
  $button: mat.define-typography-level(13px, 15px, 700, 'Innerspace', sans-serif)
);

@mixin mat-form-typography($config) {
  .mat-form-field {
    font-family: 'Open Sans', sans-serif !important;
  }
}

@include mat.core();

@include mat.select-typography($config);
@include mat.button-toggle-typography($config);
@include mat.button-typography($config);
@include mat.expansion-typography($config);
@include mat.fab-typography($config);
@include mat.icon-button-typography($config);
@include mat-form-typography($config);
@include mat.tabs-typography($config);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  background-color: var(--body-color);
  color: var(--primary-light-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Innerspace', sans-serif;
  color: var(--primary-light-text-color);
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.6875rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.125rem;
}

h5 {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
}

h6 {
  font-size: 0.6875rem;
  line-height: 0.9375rem;
}

a {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

.mat-mdc-tab-header-pagination-chevron {
  border-color: var(--primary-light-text-color) !important;
}

.mat-horizontal-stepper-header-container {
  .mat-step-header {
    .mat-step-icon {
      border: 2px solid var(--primary-accent-color);
      box-sizing: border-box;
      color: var(--primary-accent-color);
      font-weight: bold;
      background-color: transparent;

      &-selected {
        border: 2px solid var(--primary-accent-color);
        color: var(--primary-accent-color);
      }

      .mat-icon {
        font-weight: inherit;
      }
    }

    .mat-step-label {
      font-family: 'Innerspace', sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 1;
      min-width: unset;

      &-active {
        color: var(--specific-light-text-color);

        &.mat-step-label-selected {
          color: var(--specific-light-text-color);
        }
      }
    }
  }

  .mat-stepper-horizontal-line {
    min-width: 0;
    border-top-width: 2px;
  }
}

.mat-badge-accent {
  .mat-badge-content {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: relative;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.mobile-sidenav ::-webkit-scrollbar {
  display: none;
}

.tooltip {
  overflow-wrap: break-word !important;
  white-space: normal !important;
}

.disabled-field {
  opacity: 0.3;
}

.mat-mdc-dialog-surface {
  --mdc-dialog-supporting-text-font: 'Open Sans', serif !important;
  padding: 10px 24px;

  .mdc-dialog__title {
    margin-bottom: 11px;
  }
}

.mat-mdc-checkbox {
  .mdc-label {
    padding: 0;
    margin-left: 8px;
    font-size: 13px;
    font-family:
      Open Sans,
      sans-serif;
    font-weight: 400;
    color: var(--primary-light-text-color);
  }

  .mdc-checkbox:hover .mdc-checkbox__native-control ~ .mdc-checkbox__ripple {
    opacity: 0.2 !important;
  }

  .mdc-checkbox {
    padding: 0;
    position: relative;
    transition: opacity 0.3s ease-in-out;

    .mdc-checkbox__native-control ~ .mdc-checkbox__ripple {
      opacity: 0 !important;
      pointer-events: none !important;
    }

    .mdc-checkbox__checkmark-path {
      stroke: var(--specific-text-color);
    }

    .mdc-checkbox__native-control {
      width: 18px;
      height: 18px;
    }

    .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background {
      background-color: var(--bg-specific-light) !important;
      border-color: var(--bg-specific-light) !important;
      color: var(--specific-text-color) !important;
    }

    .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background .mdc-checkbox__mixedmark {
      border-color: var(--specific-text-color) !important;
    }

    .mdc-checkbox__background {
      top: 0;
      left: 0;
      border-color: var(--primary-light-text-color) !important;
    }

    .mdc-checkbox__ripple {
      position: relative !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 35px;
      width: 35px;
      overflow: visible !important;
      z-index: 1000 !important;
    }
  }
}

mat-card.mat-mdc-card {
  box-shadow: none;
}

.mat-mdc-card-image:first-child {
  margin-top: 0 !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.cdk-overlay-container {
  .notification-menu {
    max-width: none;

    .mat-mdc-menu-content {
      padding: 0;
    }
  }

  .notifications-list-menu {
    border-radius: 5px !important;
    min-height: 0;

    .mat-mdc-menu-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .mat-mdc-menu-item-text {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 700;
      font-size: 13px;
      color: var(--primary-light-text-color) !important;
      line-height: 18px;
    }

    .mat-mdc-menu-item {
      padding: 0.75rem !important;
      height: 36px;
    }
  }

  .application-menu {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--primary-light-bg-color) inset !important;
  -webkit-text-fill-color: var(--primary-light-text-color) !important;
  font-family: 'Open Sans', sans-serif !important;
}

.mat-menu-panel {
  min-height: auto !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}

.mat-mdc-radio-button {
  .mdc-form-field .mdc-radio {
    padding: 0;
  }

  .mdc-label {
    padding: 0.8rem 0 0.8rem 8px;
    font-size: 13px;
    color: var(--primary-light-text-color);
  }

  .mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--primary-light-text-color) !important;
  }

  .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background,
  .mdc-radio:hover .mdc-radio__native-control:enabled:checked + .mdc-radio__background,
  .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked + .mdc-radio__background {
    .mdc-radio__outer-circle {
      border-color: var(--specific-text-color);
      border-width: 5px;
    }

    .mdc-radio__inner-circle {
      border-color: var(--primary-light-bg-color);
    }
  }
}

button.mdc-button {
  .mat-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
    margin: 0 8px 0 0;
  }

  .mdc-button__label {
    display: flex;
    align-items: center;
  }
}

button.mdc-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-icon {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-mdc-chip .mdc-evolution-chip__text-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-datepicker-toggle button.mdc-icon-button.mat-mdc-icon-button.mat-mdc-button-base {
  height: 40px;
  width: 40px;
  padding: 0;

  .mat-datepicker-toggle-default-icon {
    font-size: 20px;
  }
}

.mat-mdc-option {
  .mat-pseudo-checkbox-checked {
    background-color: var(--bg-button) !important;
    border-color: var(--bg-button) !important;
  }
  .mat-pseudo-checkbox-checked::after {
    color: var(--specific-text-button) !important;
    border-color: var(--specific-text-button) !important;
  }
}

input:focus {
  outline: none;
}

.disabled,
input:disabled {
  opacity: 0.5;
}

input {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;

  &::placeholder {
    color: var(--primary-light-text-color) !important;
  }
}

.cdk-overlay-pane:has(.mat-mdc-select-panel) {
  pointer-events: none !important;
}

.mat-mdc-select-panel {
  pointer-events: auto !important;
}

.mat-expansion-panel-header,
.mat-expansion-panel {
  background-color: var(--bg-light-additional) !important;
}

.mdc-tab {
  height: initial !important;
  padding: 0 !important;

  .mdc-tab__content {
    .mdc-tab__text-label {
      line-height: 1.125rem;
      padding: 4px 24px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
