<div class="create-form" *ngIf="!(isLoading$ | async)">
  <div class="wrapper">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">{{ editMode ? 'РЕДАГУВАТИ' : 'ДОДАТИ' }} НАПРЯМОК</h3>
    </div>

    <ng-container *ngIf="!editMode || (editMode && (direction$ | async))">
      <form [formGroup]="directionFormGroup" class="step flex flex-col justify-between items-stretch">
        <label class="step-label">
          {{ editMode ? 'Редагувати назву напрямку' : 'Назва нового напрямку' }}
          <span *ngIf="!editMode" class="step-required">*</span>
        </label>

        <mat-form-field>
          <input matInput class="step-input" type="text" formControlName="title" />
        </mat-form-field>
        <app-validation-hint [validationFormControl]="directionFormGroup.get('title')"></app-validation-hint>

        <div class="footer flex flex-row justify-center items-center">
          <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">
            {{ 'BUTTONS.CANCEL' | translate }}
          </button>
          <button
            class="btn"
            [disabled]="!directionFormGroup.dirty || directionFormGroup.invalid || isDispatching"
            (click)="onSubmit()"
            mat-raised-button>
            {{ 'BUTTONS.SAVE' | translate }}
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
