<div class="add-wrapper">
  <p class="text">{{ 'BANNERS.ADD_COMPETITION' | translate }}</p>
  <button
    class="btn"
    mat-raised-button
    [disabled]="hasUnfinishedCompetitionData$ | async"
    [routerLink]="['/create/workshop', ModeConstants.NEW]">
    {{ 'BUTTONS.ADD_COMPETITION' | translate }}
  </button>
</div>
<div class="flex flex-col gap-4">
  <app-provider-status-banner
    *ngIf="hasUnfinishedCompetitionData$ | async"
    [provider]="provider"
    [mode]="BannerMode.UnfinishedCompetition"
    class="unfinished-banner">
  </app-provider-status-banner>
  <div class="flex justify-end">
    <app-shared-searchbar [for]="WorkshopType.Competition" (outputSearchFormControl)="onSearch($event)"></app-shared-searchbar>
  </div>
  <div>
    <ng-container *ngIf="!(isLoading$ | async) && !!competitions">
      <div class="card-wrapper" *ngIf="competitions?.totalAmount; else emptyResult">
        <app-competition-card
          class="card"
          *ngFor="let competition of competitions.entities; trackBy: trackById"
          [competition]="competition"
          [isCabinet]="true"
          (deleteCompetition)="onDelete($event)">
        </app-competition-card>
      </div>
      <ng-container *ngIf="competitions.totalAmount">
        <app-paginator
          [totalEntities]="competitions.totalAmount"
          [currentPage]="currentPage"
          [itemsPerPage]="competitionCardParameters.size"
          (pageChange)="onPageChange($event)"
          (itemsPerPageChange)="onItemsPerPageChange($event)">
        </app-paginator>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #emptyResult>
  <app-no-result-card [title]="NoResultsTitle.noResult"></app-no-result-card>
</ng-template>
