<div class="wrapper" fxLayout='row' fxLayoutAlign='space-between center' >
  <p class="text">Тут ви можете створити гурток, секцію або групу для навчання</p>
  <a [routerLink]="'../../create-activity/param'"><button class="btn" mat-raised-button >Додати гурток</button></a>
</div>

<div *ngIf="(cards$ | async).length then ActivitiesList"></div>



<ng-template #ActivitiesList>
  <div  fxLayout="row wrap" fxLayoutAlign="center">
    <ng-container>
      <app-organization-card class="cards" *ngFor="let card of cards$ | async | slice:0:4" [card]="card"></app-organization-card>
    </ng-container>
  </div>
</ng-template>