<div class="wrapper" fxLayout='row' fxLayoutAlign='space-between center'>
  <p class="text">Тут ви можете створити гурток, секцію або групу для навчання</p>
  <a [routerLink]="'../../create-activity/param'"><button class="btn" mat-raised-button>Додати гурток</button></a>
</div>
<div class="wrapper-card">
  <ng-container>
    <div fxLayout='row wrap' fxLayoutAlign='start'>
      <app-organization-card class="cards" *ngFor="let card of cards$ | async " [card]="card">
      </app-organization-card>
    </div>
  </ng-container>
</div>