.wrapper{
  min-height: 66px;
  background: #e5e6f1;
  border-radius: 5px;
  padding: 20px 24px;
  margin-top:20px;
}
.btn{
  color:white;
  background-color:#3849F9;
  border: 1px solid #3849F9;
  box-sizing: border-box;
  border-radius: 20px;
}
.text{
  font-family: Open Sans;
  font-weight: 400;
  color:#272425;
}
.wrapper-card{
  background:transparent;
  border-radius: 5px;
  padding: 20px 24px;
  margin:10px;
}
