
.h1-child{ 
  height: 20px;
  left: 594px;
  top: 178px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  
}
.span{
  line-height: 17.7px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #AAAAAA;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.container{
  max-width: 654px;
  border-radius:5px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding:0 40px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.add-button{
  color : #3849F9;
  margin: 1rem;
}
.add-icon{
  font-size: 2rem;
}
button{
  outline: none;
  border: none;
}
.button-reset{
  color: #3849F9;
  border: none;
  background: white;
  text-decoration: underline; 
  font-weight: bold;
}
.button{
  border: 1px solid #686868;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 1.5rem;
}
.button-blue{
  background:#3849F9;
  color: white;
}
a{
  text-decoration:none;
  color: #444444;
}
.a-color{
  color:white;
}

.span-width{
  max-width: 465px;
  padding-bottom: 2rem;
  text-align: center;
}

