<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="h1-child">Додати дані про дитину</h1>
  <div class="span">
    <span>Щоб відслідковувати заяки і активності вашої дитини. </span>
    <p>Ви завжди можете додати цю інформацію у вашому особистому кабінеті.</p> 
  </div>
  
  <ng-container> 
    <app-child-form *ngFor="let form of childrenFormArray.controls" [ChildFormGroup]="form" [index]="childrenrFormArray.controls.indexOf(form)"  (deleteForm)="deleteForm($event)"></app-child-form> 

  </ng-container>


   <div class="add-button">
    <span><mat-icon>add</mat-icon> </span>
     <button mat-button (click)="addChild()">Додати ще</button>
   </div>
   <button class="btn" type="submit" mat-raised-button matStepperPrevious (click)="onSubmit()">Підтвердити</button>
</div>
  

   