
.h1-child{ 
  height: 20px;
  left: 594px;
  top: 178px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  
}
.span{

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #AAAAAA;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
