
.h1-child{ 
  height: 20px;
  left: 594px;
  top: 178px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  
}
.span{

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #AAAAAA;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.container{
  max-width: 654px;
  max-height: 1369px;
  border-radius:5px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding:0 40px;
  margin:1.5rem;
  background-color:#AAAAAA ;
  
}
