@use '../../../../../shared/styles/components/buttons';

.mat-mdc-card {
  padding: 16px;
  box-sizing: content-box;
}

.chat-card {
  display: flex;
  flex-direction: column;
  height: 580px;

  margin-bottom: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.chat-card ::ng-deep .mat-icon {
  overflow: visible;
}

.header {
  display: flex;
  padding: 8px 0 16px;
  border-bottom: 1px var(--input-light-color) solid;

  p {
    margin: 6px 0 16px;
  }

  &__icon {
    font-size: 16px;
    color: var(--cancel-text-color);
    width: 16px;
    height: 16px;
    margin-right: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
}

.content {
  padding: 20px 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow: scroll;
}

.message {
  max-width: 80%;

  &__income {
    align-self: flex-start;
  }

  &__outcome {
    align-self: flex-end;
  }
}

.statuses {
  margin-top: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.status-icon {
  margin-right: 8px;
}

.Blocked {
  color: var(--error-color);
}

.pay-attention-block {
  display: flex;
  align-self: center;
  margin-bottom: 180px;
  color: var(--secondary-light-text-color);
}

.footer {
  display: flex;
  align-items: center;
  border-top: 1px var(--input-light-color) solid;
  padding: 16px 0 8px;
}

.message-input {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: var(--secondary-dark-text-color);
  width: 100%;
  max-height: 80px;
  padding-left: 10px; // TODO: Remove after finish sending file
  align-self: center;
  border: 0;
  outline: 0;

  &::placeholder {
    opacity: 0.4;
    color: var(--);
  }
}
.attach-icon {
  color: var(--secondary-light-text-color);
  margin-right: 14px;
  cursor: pointer;
}

#file-input {
  display: none;
}

.btn {
  line-height: 15px;
  padding: 10px 30px;
  min-width: auto;
  height: fit-content;

  .mat-icon {
    display: none;
  }
}

.step-label {
  display: flex;
  align-self: start;
}

.step-characters-count {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-light-text-color);
  padding-left: 10px;
}

.main-functional-block {
  display: flex;
  align-self: stretch;
  align-items: center;
}

@media (max-width: 530px) {
  .footer {
    padding: 16px 0 0;
  }

  .btn {
    padding: 10px 16px;
    margin: 0 8px;

    span {
      display: none;
    }

    .mat-icon {
      display: block;
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}
