<mat-card class="chat-card">
  <div class="chat-card__header header" fxLayout="row">
    <mat-icon class="header__icon" fxFlex="1 1 3%">arrow_back</mat-icon>
    <div fxFlex="1 1 97%">
      <h4 class="header__title">Бальні танці</h4>
      <p class="header__subtitle">Школа бальних танців "Едельвейс"</p>
    </div>
  </div>
  <div #chat class="chat-card__content content">
    <ng-container *ngFor="let message of messages; index as i">
      <app-message
        [ngClass]="
          message.senderRoleIsProvider
            ? 'message message__income'
            : 'message message__outcome'
        "
        [message]="message"
        [isFirstMessage]="
          messages[i - 1]?.senderRoleIsProvider !== message.senderRoleIsProvider
        "
        [parent]="chatRoom.parent"
        [workshop]="chatRoom.workshop"
      >
      </app-message>
    </ng-container>
  </div>
  <div class="chat-card__footer">send</div>
</mat-card>
