<mat-card class="chat-card">
  <div class="chat-card__header header">
    <mat-icon class="header__icon" (click)="onBack()">arrow_back</mat-icon>
    <div class="header__companion-info">
      <h4 class="header__title" *ngIf="!!companionName">
        {{ companionName }}
      </h4>
    </div>
  </div>
  <div #chat class="chat-card__content content">
    <ng-container *ngFor="let message of messages; index as i">
      <app-message
        [ngClass]="message.senderRoleIsProvider === userIsProvider ? 'message message__outcome' : 'message message__income'"
        [message]="message"
        [isFirstMessage]="messages[i - 1]?.senderRoleIsProvider !== message.senderRoleIsProvider"
        [senderName]="message.senderRoleIsProvider === userIsProvider ? userName : companionName"
        [userIsProvider]="userIsProvider">
      </app-message>
    </ng-container>
    <ng-container *ngIf="(chatRoom$ | async)?.isBlockedByProvider">
      <div class="statuses {{ userStatuses.Blocked }} justify-center items-center">
        <span><i class="status-icon {{ userStatusIcons[userStatuses.Blocked] }}"></i></span>
        <span>{{ userStatusesTitles[userStatuses.Blocked] | translate }}</span>
      </div>
      <p class="pay-attention-block">{{ 'CHAT_PAY_ATTENTION_BLOCK' | translate }}</p>
    </ng-container>
  </div>
  <div class="chat-card__footer flex flex-col justify-start items-center">
    <div class="step-label">
      <label class="step-characters-count"> {{ messageControl.value.length }}/{{ validationConstants.INPUT_LENGTH_256 }} </label>
    </div>
    <div class="main-functional-block">
      <!--
        TODO: Uncomment when we finish sending the file

         <label for="file-input"><mat-icon class="attach-icon">attach_file</mat-icon></label>
        <input type="file" id="file-input" />
      -->

      <textarea
        type="text"
        class="message-input"
        placeholder="{{ 'SEND_A_MESSAGE' | translate }}"
        cdkTextareaAutosize
        [maxlength]="validationConstants.INPUT_LENGTH_256"
        autocomplete="off"
        [formControl]="messageControl"
        [readonly]="isDisabled"
        (keydown)="handleKeyDown($event)"></textarea>
      <button class="btn" mat-button (click)="onSendMessage()" [disabled]="isDisabled">
        <span>{{ 'BUTTONS.SEND' | translate | uppercase }}</span>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
