<div *ngIf="workshop && (provider$ | async)" class="wrapper" [fxLayout]="(isMobileScreen$ | async) ? 'column': 'row'"
  [fxLayout.lt-lg]="(isMobileScreen$ | async) ? 'column' : 'row wrap'" fxLayoutAlign="center space-between"
  fxLayoutGap.gt-md="2rem">
  <app-workshop-page class="workshop-page-wrap" [workshop]="workshop" [provider]="provider$ | async"
    [providerWorkshops]="workshops$ | async" [role]="role$ | async">
  </app-workshop-page>
  <app-side-menu [workshop]="workshop" [role]="role$ | async">
  </app-side-menu>
</div>
