.filter-text{
font-family: Innerspace;
font-weight: 700;
line-height: 14.6px;
color:#444444;
}
.filter-list-wrapper {
  min-width: 200px;
  min-height: 50px;
}
.wrapper{
background: #FFFFFF;
border: 1px solid #EBEBEB;
box-sizing: border-box;
border-radius: 20px;
}
.btn{
padding:0.5rem;
}
::ng-deep .mat-button-toggle-group{
  border:none;
}
::ng-deep.mat-button-toggle-checked{
  color: #3849F9 !important;
  background: rgba(56, 73, 249, 0.07);
  border: 1px solid #3849F9;
  box-sizing: border-box;
}
::ng-deep.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  padding:0;
  line-height: 0;
}