@import 'src/app/shared/styles/dropdown.scss';
.mat-mdc-form-field {
  padding: 0 0 0 10px !important;
}

.mat-mdc-input-element {
  font-size: 16px !important;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  border: none;
  padding: 0;
  display: flex;
  width: auto;
}

:host ::ng-deep .mdc-text-field {
  padding: 0px;
}

.input-wrapper {
  padding: 0.5rem 0;
}

.search-input {
  font-weight: normal;
  line-height: 22px;
  color: #161414;
  text-overflow: ellipsis;

  &::placeholder {
    color: rgba(170, 170, 170, 0.4) !important;
    font-family: 'Open Sans', sans-serif;
  }
}

.icon {
  margin: 0 1rem 0 0.5rem;
  color: #aaaaaa;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  justify-content: space-between;
}

.search-dropdown-option {
  .option-value {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ::ng-deep .mdc-list-item__primary-text {
    width: 100%;
  }

  .close-icon {
    position: static;
    margin: 0px;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    color: #aaaaaa;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
