<mat-form-field floatLabel=never appearance="none" fxLayout='row' fxLayoutAlign='space-between center'>
  <input type="text" maxlength="validationConstants.MAX_INPUT_LENGTH_256" [formControl]="searchValue" matInput placeholder="Введіть назву гуртка, школи"
    (keyup.enter)="onSearch()">
  <mat-error *ngIf="searchValue && searchValue.errors">Пошук не може містити більше ніж 256 символів.</mat-error>
  <mat-icon class="icon" style="transform: rotate(90deg)" (click)="onSearch()">search</mat-icon>
</mat-form-field>