.mat-form-field {
  font-size: 14px;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding: 0 0 0 10px;
}
:host ::ng-deep .mat-form-field-infix {
  border: none;
}
button {
  border: none;
  height: 100%;
}
input {
  font-weight: normal;
  line-height: 22px;
  color: #161414;
  opacity: 0.4;
  min-width: 230px;
  text-overflow: ellipsis;
}
