<form class="search-bar">
  <mat-form-field appPlaceholderStyling class="input-wrapper !flex !flex-row !items-center !justify-between" appearance="fill">
    <input
      matInput
      type="text"
      class="search-input"
      placeholder="{{ 'ENTER_THE_NAME_OF_THE_GROUP_SCHOOL' | translate }}"
      disableOptionCentering
      autocomplete="off"
      appTrimValue
      [formControl]="searchValueFormControl"
      [matAutocomplete]="autoSearch"
      (keyup.enter)="onValueEnter()" />
    <mat-autocomplete #autoSearch="matAutocomplete" class="search-input" panelClass="dropdown-panel" (optionSelected)="onValueSelect()">
      <mat-option class="dropdown-option option search-dropdown-option" *ngFor="let result of filteredResults" [value]="result">
        <span class="option-value">{{ result }}</span>
        <mat-icon class="close-icon" (click)="onValueDelete(result, $event)">close</mat-icon>
      </mat-option>
    </mat-autocomplete>
    <mat-icon class="icon" style="transform: rotate(90deg)" (click)="onValueEnter()">search</mat-icon>
  </mat-form-field>
</form>
