<div class="header-wrapper flex flex-row flex-wrap justify-between items-center">
  <div class="search-area">
    <div class="search-bar flex flex-row justify-start items-center">
      <mat-icon class="search-icon mt-2" style="transform: rotate(90deg)">search</mat-icon>
      <input
        [formControl]="filterFormControl"
        matInput
        type="text"
        maxlength="200"
        class="search"
        placeholder="{{ 'FORMS.PLACEHOLDERS.SEARCH_BY_DIRECTIONS' | translate }}" />
    </div>
  </div>

  <a [routerLink]="['./create', ModeConstants.NEW]"
    ><button class="btn" mat-raised-button>{{ 'BUTTONS.ADD_DIRECTION' | translate }}</button></a
  >
</div>
<ng-container *ngIf="filteredDirections$ | async; else isEmptyList">
  <div class="card-wrapper">
    <app-category-card
      class="card"
      *ngFor="let direction of (filteredDirections$ | async)?.entities"
      [direction]="direction"
      (deleteDirection)="onDelete($event)"
      [isEditMode]="true">
    </app-category-card>
  </div>
  <app-paginator
    [totalEntities]="(filteredDirections$ | async).totalAmount"
    [currentPage]="currentPage"
    [itemsPerPage]="directionsParameters.size"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-paginator>
</ng-container>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noDirections"></app-no-result-card>
</ng-template>
