@use 'src/app/shared/styles/components/card-wrapper';
@use 'src/app/shared/styles/components/list-wrappers';
@use 'src/app/shared/styles/components/buttons';
@use 'src/app/shared/styles/components/pagination';
@use 'src/app/shared/styles/components/search';

.wrapper {
  p {
    font-family:
      Open Sans,
      sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }
}

.link {
  color: var(--primary-accent-color);
  font-weight: 300 !important;
}

.support-title {
  margin-bottom: 1rem;
}

.config-button {
  font-weight: 300;
  font-family:
    Open Sans,
    sans-serif;
}

.config-support p {
  margin: 0;
}

.header-wrapper {
  margin: 10px 0 2rem 0;
}

.title {
  margin-right: 1rem;
}

@media (max-width: 820px) {
  .header-wrapper {
    gap: 10px;
  }
}

.search {
  background-color: transparent;
  color: var(--primary-dark-text-color);
}
