<div class="cards" fxLayout="row wrap" fxLayoutGap='2%' fxLayoutAlign="flex-start" >
  <div class="cards_wrapper" *ngFor='let card of cards'>
    <div class="cards_header">
      <div class="cards_type">
        <div class="cards_city">{{card.city}}</div>
        <div class="cards_ownership">{{card.ownership}}</div>
      </div>
      <div class="cards_rates">
        <div class="cards_price" *ngIf='!card.price'>безкоштовно</div>
        <div class="cards_rate">{{card.rate}}</div>
      </div>
    </div>
    <h3 class="cards_title">{{card.title}}</h3>
    <div class="cards_footer">
      <h4 class="cards_owner">{{card.owner}}</h4>
      <h5 class="cards_age">Вік: {{card.ageFrom}}-{{card.ageTo}}</h5>
      <ul class="cards_types">
        <li class="cards_item" *ngFor='let category of card.category'>{{category}}</li>
      </ul>
    </div>
  </div>
</div>