<div class="create-form">
  <div class="wrapper">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">{{ 'FORMS.HEADERS.EDIT_INFO' | translate | uppercase }} "{{ editTitle | translate | uppercase }}"</h3>
    </div>

    <div class="flex flex-col justify-center items-center">
      <div class="step flex flex-col justify-between items-start">
        <label class="step-label">
          {{ 'FORMS.HEADERS.SUBHEADER_TITLE' | translate }}
          <span class="step-required">*</span>
        </label>
        <mat-form-field>
          <input matInput class="step-input" type="text" [formControl]="titleFormControl" appTrimValue />
        </mat-form-field>
        <app-validation-hint [validationFormControl]="titleFormControl"></app-validation-hint>
      </div>

      <app-info-form
        *ngFor="let form of platformInfoItemFormArray.controls"
        [infoEditFormGroup]="form"
        [index]="platformInfoItemFormArray.controls.indexOf(form)"
        [formAmount]="platformInfoItemFormArray.controls.length"
        [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_2000"
        (deleteForm)="onDeleteForm($event)">
      </app-info-form>

      <button *ngIf="platformInfoItemFormArray.controls.length < 10 && !isMainPage" class="btn-add" mat-button (click)="onAddForm()">
        <mat-icon class="mat-icon-add">add</mat-icon>
        {{ 'BUTTONS.ADD_ANOTHER_SECTION' | translate }}
      </button>
    </div>

    <div class="footer flex flex-row justify-center items-center">
      <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">
        {{ 'BUTTONS.CANCEL' | translate }}
      </button>
      <button
        class="btn"
        mat-button
        type="submit"
        [disabled]="
          isDispatching ||
          (!platformInfoItemFormArray.dirty && !titleFormControl.dirty) ||
          platformInfoItemFormArray.invalid ||
          titleFormControl.invalid
        "
        (click)="onSubmit()">
        {{ 'BUTTONS.SAVE' | translate }}
      </button>
    </div>
  </div>
</div>
