@import 'src/app/shared/styles/buttons.scss';

:host ::ng-deep .mat-dialog-container {
  min-width: 411px;
  min-height: 178px;
  background: #ffffff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
:host ::ng-deep .mat-dialog-actions {
  padding-bottom: 2rem;
}
:host ::ng-deep.mat-dialog-actions .mat-button-base + .mat-button-base {
  margin-left: 1rem !important;
}
:host ::ng-deep .mat-dialog-title {
  text-align: center;
  margin-bottom: 0;
  font-family: Innerspace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
}
.confirmation {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-top: 1rem;
  margin-bottom: 0;
}

.btn {
  margin-top: 1rem;
}
@media (max-width: 750px) {
  :host ::ng-deep .mat-dialog-container {
    min-width: fit-content;
    min-height: 178px;
    background: #ffffff;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }
}
