@import 'src/app/shared/styles/buttons.scss';

:host ::ng-deep .mat-mdc-dialog {
  &-actions .mat-button-base + .mat-button-base {
    margin-left: 1rem !important;
  }

  &-title {
    text-align: center;
    margin-bottom: 0;
    font-family: Innerspace;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #444444;
  }
}

.confirmation {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-top: 1rem;
  margin-bottom: 0;
}

.btn {
  margin-top: 1rem;
}
