<div class="wrapper">
  <ng-container *ngIf="competition.competitiveEventDescriptionItems?.length">
    <h5 class="title">{{ 'TITLES.ABOUT_THE_WORKSHOP' | translate }}</h5>
    <div *ngFor="let item of competition.competitiveEventDescriptionItems" class="config-wrapper">
      <h5 class="section-title">{{ item.sectionName }}</h5>
      <p class="line-break">{{ item.description }}</p>
    </div>
  </ng-container>
  <h5 class="title">{{ 'FORMS.LABELS.PRICE' | translate }}</h5>
  <p *ngIf="!competition.price" class="txt">{{ 'FOR_FREE' | translate }}</p>
  <p *ngIf="competition.price" class="txt">
    {{ competition.price }} {{ 'UAH' | translate }}/ {{ PayRateTypeEnum[competition.payRate] | translate }}
  </p>
  <h5 class="title">{{ 'FORMS.LABELS.SUPPORT_PERSONS_WITH_DISABILITIES' | translate }}</h5>
  <p class="txt">
    {{
      competition.optionsForPeopleWithDisabilities
        ? competition.descriptionOfOptionsForPeopleWithDisabilities
        : ('NOT_AVAILABLE' | translate)
    }}
  </p>

  <h5 class="title">{{ 'FORMS.LABELS.COMPETITION_RANGE' | translate }}</h5>
  <span class="txt">{{ competition.scheduledStartTime | date }}</span>
  <span class="txt">- {{ competition.scheduledEndTime | date }}</span>

  <h5 class="title">{{ 'FORMS.LABELS.REGISTRATION_RANGE' | translate }}</h5>
  <span class="txt">{{ competition.registrationStartTime | date }}</span>
  <span class="txt">- {{ competition.registrationEndTime | date }}</span>
</div>
