<div *ngIf="auth" class="add-wrapper">
  <p class="text">Тут ви можете додати досягнення.</p>
  <a [routerLink]="['/create-achievement', workshop?.id]">
    <button class="btn" mat-raised-button>
      Додати досягнення
    </button>
  </a>
</div>

<div class="card-wrapper" *ngIf="achievements?.length; else isEmptyList">
  <app-achievement-card *ngFor="let achievement of achievements"
    [achievement]="achievement" [workshops]="workshops"></app-achievement-card>  

</div>
<ng-template #isEmptyList>
  <app-no-result-card [title]="noResultAchievements"></app-no-result-card>
</ng-template>
