@import "src/app/shared/styles/card-wrapper.scss";
@import "src/app/shared/styles/cards.scss";
@import "src/app/shared/styles/list-wrappers.scss";
@import "src/app/shared/styles/navigation-tabs.scss";
@import "src/app/shared/styles/buttons.scss";
.text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#272425;
}
.add-wrapper {
  margin-top: 2rem;
}
.mat-card {
  margin: 2rem;
}

.wrap-for-details {
  margin-top: 1em;
  align-items: flex-start !important;
}

.achievement_title {
  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card_title {
  font-size: 13px;
  font-weight: 700;
}

.card_achievement {
  width: 628px;
  height: 272px;
}

.achievement_icon {
  color: #fff;
}

// .description {
//   width: 200px;  
//   white-space: wrap;
// }

.image {
  margin-right: 1em;
}

.show-more {
  overflow: visible;
  white-space: wrap;
  flex-wrap: wrap !important;
}

::ng-deep .card_text {  
  flex-wrap: wrap !important;
  max-width: 400px !important;
}