@import "src/app/shared/styles/card-wrapper.scss";
@import "src/app/shared/styles/cards.scss";

.card-wrapper {
  margin-top: 2rem;
}

.mat-card {
  margin: 2rem;
}

.wrap-for-details {
  margin-top: 1em;
  place-content: space-between flex-start;
  align-items: flex-start !important;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.image {
  margin-right: 1rem;
}
.achievement_title {
  width: 24em;
  font-size: 18px;
  font-weight: 700;
}
.card_title {
  font-size: 13px;
  font-weight: 700;
}

::ng-deep .card {
  min-width: fit-content;
  max-width: 600px;
  height: 300px !important;
  padding-bottom: 3em !important;
}
::ng-deep .mat-icon {
  color: #fff !important;
}

.description {
  width: 400px;
}

.actions {
  position: static;
}