<div fxLayout='row' fxLayoutAlign='center center'>
  <div class="wrapper">
    <div fxLayout='column' fxLayoutAlign='center center'>
      <h3 class="wrapper_title">НОВИЙ ГУРТОК</h3>
      <p class="wrapper_text">Додайте новий гурток, секцію фбо групу для навчання</p>
    </div>

    <mat-horizontal-stepper>
      <mat-step [stepControl]="AboutFormGroup">
        <ng-template matStepLabel>Про гурток</ng-template>
        <app-create-about-form (PassAboutFormGroup)="onReceiveAboutFormGroup($event)"></app-create-about-form>
        <div fxLayout='row' fxLayoutAlign='center center'>
          <button mat-raised-button class="btn btn_cancel"><a
              [routerLink]="'./../../cabinet/activities'">Скасувати</a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="DescriptionFormGroup">
        <ng-template matStepLabel>Опис</ng-template>
        <app-create-description-form (passDescriptionFormGroup)="onReceiveDescriptionFormGroup($event)">
        </app-create-description-form>
        <div fxLayout='row' fxLayoutAlign='center center'>
          <button class="btn" mat-raised-button matStepperPrevious>Назад</button>
          <button class="btn btn_cancel" mat-raised-button><a [routerLink]="'./../../cabinet/activities'"> Скасувати
            </a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="AddressFormGroup">
        <ng-template matStepLabel>Контакти</ng-template>
        <app-create-address (passAddressFormGroup)="onReceiveAddressFormGroup($event)"></app-create-address>
        <div fxLayout='row' fxLayoutAlign='center center'>
          <button class="btn" mat-raised-button matStepperPrevious>Назад</button>
          <button class="btn btn_cancel" mat-raised-button><a
              [routerLink]="'./../../cabinet/activities'">Скасувати</a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Викладачі</ng-template>
        <app-create-teacher (passTeacherFormArray)="onReceiveTeacherFormArray($event)"></app-create-teacher>
        <div fxLayout='row' fxLayoutAlign='center center'>
          <button class="btn" mat-button matStepperPrevious>Назад</button>
          <button class="btn btn_cancel" mat-raised-button><a
              [routerLink]="'./../../cabinet/activities'">Скасувати</a></button>
          <button class="btn" mat-button type="submit" (click)="onSubmit()">Завершити</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>