
.wrapper{
  max-width: 654px;
  max-height: 1369px;
  border-radius:5px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding:0 40px;
  margin:1.5rem;
    &_title{
      font-family:Open Sans;
      font-weight: 700;
      color:#444444;
      margin-top: 48px;
      padding: 60;
    }
    &_text{
      font-family:Open Sans;
      font-weight: 700;
      color: #AAAAAA;
      padding: 0.2rem;
    }
  .step{
    &_form{
      margin: 0 40px;
    }
    &_check-box{
      font-family:Open Sans;
      font-weight: 400;
      color:#444444;
      padding:0.5rem;
    }
    &_label{
      font-weight: 500;
      margin: 0 1rem;
    }
    &_required{
      color:red;
    }
    &_input{
      border: 1px solid #E3E3E3;
      box-sizing: border-box;
      border-radius: 21px;
      padding:0.5rem;
      margin-bottom: 0.5rem;
      margin-bottom: 1.2rem;
      &_age{
        max-width: 80px;
      }
      &_text{
        font-family:Open Sans;
      font-weight: 700;
      color: #AAAAAA;
      padding: 5px;
      }
    }
    &_line{
      max-height: 0;
      min-width: 10px;
      border: 1px solid #E3E3E3;
      margin: 1rem 0 2rem 0;

      &_age{
        position: relative;
        top: 5px;
        margin: 10px;
      }
    }
  }
}