<div class="wrapper" fxLayout='column' fxLayoutAlign='start space-between'>
  <div fxLayout='row wrap' fxLayoutAlign='space-between center'>
    <div fxLayout='row wrap' fxLayoutAlign='space-between center'>
      <mat-icon class="star-icon">star</mat-icon> {{workshop.rating}} <p class="rate-amount">
        ({{ (rating$|async)?.length ? (rating$|async)?.length : 0 }} відгуків)</p>
    </div>
    <button mat-raised-button class="button" (click)="onRate()" *ngIf="isDisplayedforProvider">
      <mat-icon class="button-icon">edit</mat-icon> "ЗАЛИШИТИ ОЦІНКУ"
    </button>
  </div>

  <div class="rate" *ngFor="let rate of (rating$|async)">
    <p class="rate-author"> {{rate.firstName}} {{rate.lastName}} </p>
    <p class="rate-date">{{rate.rate}} {{rate.creationTime}}</p>
  </div>
</div>