.wrapper {
  margin: 2rem 1rem 0;

  h5 {
    color: var(--primary-dark-text-color) !important;
  }
}

.title {
  font-family: 'Innerspace', sans-serif;
  line-height: 14.6px;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-dark-text-color);
}
.section-title {
  font-weight: 400;
  margin: 1rem 0;
}

.txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 17.7px;
  font-weight: 400;
  color: var(--cancel-text-color);
}
