<div class="add-wrapper">
  <p class="text">{{ 'BANNERS.ADD_WORKSHOP' | translate }}</p>
  <button class="btn" mat-raised-button [disabled]="hasUnfinishedWorkshopData$ | async" [routerLink]="['/create', ModeConstants.NEW]">
    {{ 'BUTTONS.ADD_WORKSHOP' | translate }}
  </button>
</div>
<div class="flex flex-col gap-4">
  <app-provider-status-banner
    [provider]="provider"
    mode="unfinished"
    *ngIf="(hasUnfinishedWorkshopData$ | async) && isLoaded"
    class="unfinished-banner">
  </app-provider-status-banner>
  <div class="searchbar">
    <app-workshop-searchbar (outputSearchFormControl)="onSearch($event)"></app-workshop-searchbar>
  </div>
  <div>
    <ng-container *ngIf="!(isLoading$ | async) && !!workshops">
      <div class="card-wrapper" *ngIf="workshops?.totalAmount">
        <app-workshop-card
          class="card"
          *ngFor="let workshop of workshops.entities"
          [workshop]="workshop"
          [isCabinetView]="true"
          (deleteWorkshop)="onDelete($event)">
        </app-workshop-card>
      </div>
      <ng-container *ngIf="workshops.totalAmount">
        <app-paginator
          [totalEntities]="workshops.totalAmount"
          [currentPage]="currentPage"
          [itemsPerPage]="workshopCardParameters.size"
          (pageChange)="onPageChange($event)"
          (itemsPerPageChange)="onItemsPerPageChange($event)">
        </app-paginator>
      </ng-container>
    </ng-container>
  </div>
</div>
