@import 'src/app/shared/styles/list-wrappers.scss';
@import 'src/app/shared/styles/card-wrapper.scss';
@import 'src/app/shared/styles/buttons.scss';

.searchbar {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .searchbar {
    justify-content: center;
  }
}
