<div class="add-wrapper">
  <p class="text">{{ 'BANNERS.ADD_WORKSHOP' | translate }}</p>
  <button class="btn" mat-raised-button [disabled]="hasDraft()" [routerLink]="['/create-workshop', ModeConstants.NEW]">
    {{ 'BUTTONS.ADD_WORKSHOP' | translate }}
  </button>
</div>
<!-- replace banner into container later-->
<div *ngIf="hasDraft()" class="mb-8">
  <app-provider-status-banner [provider]="provider" mode="draft"> </app-provider-status-banner>
</div>
<ng-container *ngIf="!(isLoading$ | async) && !!workshops">
  <div class="card-wrapper" *ngIf="workshops?.totalAmount">
    <app-workshop-card
      class="card"
      *ngFor="let workshop of workshops.entities"
      [workshop]="workshop"
      [isCabinetView]="true"
      (deleteWorkshop)="onDelete($event)">
    </app-workshop-card>
  </div>
  <ng-container *ngIf="workshops.totalAmount">
    <app-paginator
      [totalEntities]="workshops.totalAmount"
      [currentPage]="currentPage"
      [itemsPerPage]="workshopCardParameters.size"
      (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemsPerPageChange($event)">
    </app-paginator>
  </ng-container>
</ng-container>
