@use 'list-wrappers';
@use 'card-wrapper';
@use 'buttons';
@use 'create-form';

.searchbar {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .searchbar {
    justify-content: center;
  }
}
