@use '../../../../shared/styles/components/list-wrappers';
@use '../../../../shared/styles/components/card-wrapper';
@use '../../../../shared/styles/components/buttons';

.searchbar {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .searchbar {
    justify-content: center;
  }
}
