<form class="step">
  <div class="flex flex-col">
    <div class="flex flex-row">
      <div class="days">
        <div
          class="flex flex-row justify-between"
          [ngClass]="!(workdaysFormControl.invalid && workdaysFormControl.touched) ? 'days-toggle' : 'days-toggle days-toggle-invalid'">
          <div
            *ngFor="let day of days"
            class="flex flex-row justify-center items-center"
            (click)="onToggleDays(day)"
            [ngClass]="day.selected ? 'toggle toggle-selected' : 'toggle'">
            {{ day.value | translate }}
          </div>
        </div>
      </div>

      <div class="time-input-wrapper">
        <div class="flex flex-col justify-start items-start">
          <div class="time-input flex flex-row justify-start items-center">
            <p class="text">{{ 'FROM' | translate }}</p>
            <input
              class="input step-input start-time-input"
              type="text"
              matInput
              [ngxMatTimepicker]="timepickerStart"
              [format]="24"
              readonly
              required
              [formControl]="startTimeFormControl"
              [max]="getMaxTime()"
              autocomplete="off" />
          </div>
        </div>

        <div class="flex flex-col justify-start items-start">
          <div class="time-input flex flex-row justify-start items-center">
            <p class="text">{{ 'TO' | translate }}</p>
            <input
              class="input step-input finish-time-input"
              type="text"
              matInput
              [ngxMatTimepicker]="timepickerEnd"
              [format]="24"
              readonly
              required
              [formControl]="endTimeFormControl"
              [min]="getMinTime()"
              [max]="ValidationConstants.MAX_TIME"
              autocomplete="off" />
          </div>
        </div>
        <div class="delete-block flex flex-row justify-start items-start" *ngIf="workingHoursAmount > 1">
          <mat-icon class="mat-icon-delete" (click)="delete()">delete</mat-icon>
        </div>
      </div>
    </div>
    <app-validation-hint [validationFormControl]="workingHoursForm"></app-validation-hint>
  </div>
</form>

<ng-template #ValidationHintTmpl>
  <small appValidationMessageStyling>{{ 'FORMS.VALIDATIONS.REQUIRED_INPUT' | translate }}<br /></small>
</ng-template>

<ngx-mat-timepicker #timepickerStart [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm"></ngx-mat-timepicker>
<ngx-mat-timepicker #timepickerEnd [cancelBtnTmpl]="btnCancel" [confirmBtnTmpl]="btnConfirm"></ngx-mat-timepicker>
<ng-template #btnCancel>
  <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">{{ 'BUTTONS.CANCEL' | translate }}</button>
</ng-template>
<ng-template #btnConfirm>
  <button class="btn" mat-raised-button>{{ 'BUTTONS.SAVE' | translate }}</button>
</ng-template>
