@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/working-hours.scss';

.step {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.days-toggle,
.time-input {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.days-toggle {
  min-width: 200px;
  &-invalid {
    margin: -1px;

    border-radius: 21px;
    outline: none;
    border: 1px solid #c72a21;
  }
}

.time-input-wrapper {
  display: flex;
  align-items: start;
  gap: 10px;
}

.toggle {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.delete-block {
  align-self: center;
}

.mat-icon-delete {
  color: #3849f9;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.btn {
  min-width: 150px;
}

::ng-deep .mat-toolbar.mat-primary {
  background-color: #3849f9 !important;
}
::ng-deep .timepicker__main-content {
  display: flex;
  justify-content: center;
}

::ng-deep div.cdk-overlay-pane.ngx-mat-timepicker-dialog > mat-dialog-container.mat-dialog-container div[mat-dialog-actions] {
  justify-content: center;
  flex-flow: wrap-reverse;
  row-gap: 1rem;
}

@media (max-width: 830px) {
  .step {
    flex-direction: column !important;
    align-items: center;
  }

  .days {
    width: 100%;
  }

  .time {
    gap: 5px;
  }
}
