@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/working-hours.scss';

.step {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.days-toggle,
.time-input {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.days-toggle {
  min-width: 200px;
  &-invalid {
    margin: -1px;

    border-radius: 21px;
    outline: none;
    border: 1px solid #c72a21;
  }
}

.time-input-wrapper {
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 10px;
}

.toggle {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.delete-block {
  align-self: center;
  z-index: 1;
}

.mat-icon-delete {
  color: #3849f9;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.btn {
  min-width: 150px;
}

::ng-deep .mat-toolbar.mat-primary {
  background-color: #3849f9 !important;
}
::ng-deep .timepicker__main-content {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

::ng-deep div.ngx-mat-timepicker-dialog .mat-mdc-dialog-surface {
  padding: 0;

  div[mat-dialog-actions] {
    justify-content: center !important;
    flex-flow: wrap-reverse;
    row-gap: 1rem;
  }
}

@media (max-width: 830px) {
  .step {
    flex-direction: column !important;
    align-items: center;
  }

  .days {
    width: 100%;
  }

  .time {
    gap: 5px;
  }
}

.disabled {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
}

button:disabled, 
button {
    border: none;
    background-color: transparent;
}
