@import 'src/app/shared/styles/create-form-wrapper.scss';
@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';
@import 'src/app/shared/styles/buttons.scss';

.wrapper {
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  &-title {
    text-align: center;
  }
}
.step {
  padding: 0 !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.wrapper-title {
  margin-bottom: 20px !important;
}

.card-border {
  margin-top: 3em;
}
.warning-message {
  color: red;
}

:host ::ng-deep .mat-standard-chip {
  max-width: 100%;
}

.chip-text {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.edit-wrapper {
  margin-top: 1rem;
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 20px;

  li::before {
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #141111;
  }
}
