<div class="create-form" *ngIf="workshop">
  <div class="wrapper application-wrapper">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">{{ 'FORMS.HEADERS.ADD_ACHIEVEMENT' | translate }}</h3>
    </div>
    <app-workshop-card class="application-workshop" [workshop]="workshop" [isHorizontalView]="true" [isCreateFormView]="true">
    </app-workshop-card>
    <div class="card-border flex flex-row justify-center items-center">
      <form [formGroup]="AchievementFormGroup" class="step flex flex-col justify-between items-stretch">
        <label class="step-label" for="achievement-type">
          {{ 'FORMS.LABELS.ACHIEVEMENT_TITLE' | translate }}<span class="step-required">*</span>
        </label>
        <mat-form-field appearance="fill" id="achievement-type">
          <mat-select
            formControlName="achievementTypeId"
            disableOptionCentering
            panelClass="dropdown-panel"
            class="step-input"
            placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_ACHIEVEMENT' | translate }}">
            <mat-option *ngFor="let achievement of achievementsTypes$ | async" [value]="achievement.id">
              <div
                class="truncated-text"
                showTooltipIfTruncated
                [matTooltip]="achievement.title"
                matTooltipClass="tooltip"
                matTooltipPosition="right">
                {{ achievement.title }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-validation-hint [validationFormControl]="achievementTypeIdFormControl"></app-validation-hint>
        <label class="step-label" for="participants">
          {{ 'FORMS.LABELS.PARTICIPANTS' | translate }}<span class="step-required">*</span>
        </label>
        <ng-container *ngIf="approvedChildren">
          <ng-container *ngIf="approvedChildren.totalAmount; else noChildren">
            <mat-form-field appearance="fill" id="participants">
              <mat-select
                multiple
                disableOptionCentering
                formControlName="children"
                panelClass="dropdown-panel"
                class="step-input"
                placeholder="{{ 'FORMS.PLACEHOLDERS.CHILDREN' | translate }}"
                [compareWith]="compareEntities">
                <mat-select-trigger>
                  <mat-chip-list>
                    <mat-chip
                      *ngFor="let child of childrenFormControl.value"
                      [removable]="true"
                      (removed)="onRemoveItem(child, 'children')">
                      <div
                        class="truncated-text"
                        showTooltipIfTruncated
                        [matTooltip]="child | getFullName"
                        matTooltipClass="tooltip"
                        matTooltipPosition="left">
                        {{ child | getFullName }}
                      </div>
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let child of approvedChildren.entities" [value]="child" class="dropdown-option">
                  <div
                    class="truncated-text"
                    showTooltipIfTruncated
                    [matTooltip]="child | getFullName"
                    matTooltipClass="tooltip"
                    matTooltipPosition="right">
                    {{ child | getFullName }}
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-validation-hint [validationFormControl]="childrenFormControl"></app-validation-hint>
          </ng-container>
        </ng-container>
        <ng-template #noChildren>
          <span class="warning-message"> {{ 'BANNERS.ADD_ACHIEVEMENT_PARTICIPANTS' | translate }} </span>
        </ng-template>

        <label class="step-label" *ngIf="!editMode" for="teachers">
          {{ 'FORMS.LABELS.TEACHERS' | translate }}<span class="step-required">*</span>
        </label>

        <ng-container *ngIf="achievement">
          <div class="edit-wrapper">
            <span class="step-label">{{ 'BANNERS.PREVIOUSLY_SELECTED_TEACHERS' | translate }} </span>
            <ul>
              <li *ngFor="let teacher of achievement.teachers">{{ teacher.title }}</li>
            </ul>
          </div>
        </ng-container>

        <ng-container *ngIf="workshop.teachers.length > 0; else noTeachers">
          <mat-form-field appearance="fill" id="teachers">
            <mat-select
              multiple
              disableOptionCentering
              formControlName="teachers"
              panelClass="dropdown-panel"
              class="step-input"
              placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_TEACHER' | translate }}"
              [compareWith]="compareEntities">
              <mat-select-trigger>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let teacher of teachersFormControl.value" (removed)="onRemoveItem(teacher, 'teachers')">
                    <div
                      class="truncated-text"
                      showTooltipIfTruncated
                      [matTooltip]="teacher | getFullName"
                      matTooltipClass="tooltip"
                      matTooltipPosition="left">
                      {{ teacher | getFullName }}
                    </div>
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>
              <ng-container *ngIf="workshop">
                <mat-option *ngFor="let teacher of workshop.teachers" [value]="teacher" class="dropdown-option">
                  <div
                    class="truncated-text"
                    showTooltipIfTruncated
                    [matTooltip]="teacher | getFullName"
                    matTooltipClass="tooltip"
                    matTooltipPosition="right">
                    {{ teacher | getFullName }}
                  </div>
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-template #noTeachers>
          <span class="warning-message">
            {{ 'BANNERS.ADD_ACHIEVEMENT_TEACHERS' | translate }}
          </span>
        </ng-template>
        <app-validation-hint [validationFormControl]="teachersFormControl"></app-validation-hint>
        <label class="step-label" for="achievement-date">{{ 'FORMS.LABELS.DATE' | translate }}<span class="step-required">*</span></label>
        <mat-form-field appPlaceholderStyling class="step-input step-input-date" floatLabel="never">
          <input
            id="achievement-date"
            matInput
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            formControlName="achievementDate"
            placeholder="{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate }}" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <app-validation-hint [validationFormControl]="AchievementFormGroup.get('achievementDate')" [minMaxDate]="true">
        </app-validation-hint>
        <div class="step-label-combined">
          <label class="step-label" for="achievement-description">
            {{ 'FORMS.LABELS.ACHIEVEMENT_DESCRIPTION' | translate }}<span class="step-required">*</span>
          </label>
          <span class="step-characters-count">
            {{ AchievementFormGroup.get('title').value.length }}/{{ validationConstants.MAX_DESCRIPTION_LENGTH_2000 }}
          </span>
        </div>
        <mat-form-field appPlaceholderStyling floatLabel="never">
          <textarea matInput class="step-textarea" formControlName="title" id="achievement-description"></textarea>
        </mat-form-field>
        <app-validation-hint
          [validationFormControl]="AchievementFormGroup.get('title')"
          [minCharacters]="validationConstants.MIN_DESCRIPTION_LENGTH_1"
          [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_2000">
        </app-validation-hint>
      </form>
    </div>
    <div class="footer flex flex-row justify-center items-center">
      <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">{{ 'BUTTONS.CANCEL' | translate }}</button>
      <button
        class="btn"
        mat-button
        type="submit"
        (click)="onSubmit()"
        [disabled]="isSaving || !AchievementFormGroup.dirty || AchievementFormGroup.invalid">
        {{ 'BUTTONS.SAVE' | translate }}
      </button>
    </div>
  </div>
</div>
