@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/dropdown.scss";
@import "src/app/shared/styles/buttons.scss";

.wrapper{
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  &-title{
    text-align: center;
  }
}
.step {
  padding: 0 !important;
}