<div class="create-form" *ngIf="workshop">
  <div class="wrapper application-wrapper">
    <div class="create-form-header" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="wrapper-title">ДОДАТИ ДОСЯГНЕННЯ</h3>
    </div>

    <app-workshop-card class="application-workshop" [workshop]="workshop" [isHorizontalView]="true" [isCreateApplicationView]="true"></app-workshop-card>

    <div class="card-border" fxLayout="row" fxLayoutAlign="center center">
      <form [formGroup]="AchievementFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step">
        <label class="step-label">Назва досягнення<span class="step-required">*</span></label>
        <mat-form-field appearance="none">
          <mat-select formControlName="achievementTypeId" disableOptionCentering panelClass="dropdown-panel" class="step-input">
            <mat-option *ngFor="let achievement of achievements" [value]="achievement.id">
              {{achievement.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="AchievementFormGroup.get('achievementTypeId')"
          [isTouched]="AchievementFormGroup.get('achievementTypeId').touched">
        </app-validation-hint>

        <label class="step-label">Учасники<span class="step-required">*</span></label>
        <mat-form-field appearance="none">
          <mat-select multiple disableOptionCentering formControlName="childrenIDs" 
            panelClass="dropdown-panel" class="step-input">
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip 
                  *ngFor="let child of AchievementFormGroup.controls['childrenIDs'].value"
                  [removable]="true" (removed)="onRemoveItem(child, 'childrenIDs')">
                  {{child.lastName}} {{child.firstName}} {{child.middleName}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let child of children$"   
              [value]="child" class="dropdown-option">
              {{child.lastName}} {{child.firstName}} {{child.middleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="AchievementFormGroup.get('childrenIDs')"
          [isTouched]="AchievementFormGroup.get('childrenIDs').touched"
        >
        </app-validation-hint>

        <label class="step-label">Тренера<span class="step-required">*</span></label>
        <mat-form-field appearance="none">
          <mat-select multiple disableOptionCentering formControlName="teachers" 
            panelClass="dropdown-panel" class="step-input">
            <mat-select-trigger>
              <mat-chip-list #chipList>
                <mat-chip   
                  *ngFor="let teacher of AchievementFormGroup.controls['teachers'].value"
                  (removed)="onRemoveItem(teacher, 'teachers')">
                  {{teacher.lastName}} {{teacher.firstName}} {{teacher.middleName}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <ng-container *ngIf="workshop">
              <mat-option 
                *ngFor="let teacher of workshop.teachers" 
                [value]="teacher" 
                class="dropdown-option">
                {{teacher.lastName}} {{teacher.firstName}} {{teacher.middleName}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="AchievementFormGroup.get('teachers')"
          [isTouched]="AchievementFormGroup.get('teachers').touched">
        </app-validation-hint>

        <label class="step-label">Дата<span class="step-required">*</span></label>
        <mat-form-field appPlaceholderStyling class="step-input step-input-date" floatLabel="never">
          <input matInput [matDatepicker]="picker" formControlName="achievementDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="AchievementFormGroup.get('achievementDate')"
          [isTouched]="AchievementFormGroup.get('achievementDate').touched">
        </app-validation-hint>

        <div class="step-label-combined">
          <label class="step-label">Опис Досягнення<span class="step-required">*</span></label>
          <label class="step-characters-count">{{AchievementFormGroup.get('title').value.length}}/{{validationConstants.MAX_DESCRIPTION_LENGTH_2000}}</label>
        </div>
        <mat-form-field appPlaceholderStyling floatLabel="never">
          <textarea matInput class="step-textarea" formControlName="title"></textarea>
        </mat-form-field>

        <app-validation-hint 
          [validationFormControl]="AchievementFormGroup.get('title')"
          [isTouched]="AchievementFormGroup.get('title').touched"
          [minCharachters]="validationConstants.MIN_DESCRIPTION_LENGTH_1"
          [maxCharachters]="validationConstants.MAX_DESCRIPTION_LENGTH_2000">
        </app-validation-hint>
      </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
      <a [routerLink]="['/personal-cabinet/provider/workshops']"><button class="btn btn-cancel" mat-raised-button>СКАСУВАТИ</button></a>
      <a><button class="btn" mat-button type="submit" (click)="onSubmit()" 
        [disabled]="AchievementFormGroup.invalid">ЗБЕРЕГТИ</button></a>
    </div>
  </div>
</div>