@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/dropdown.scss";
@import "src/app/shared/styles/buttons.scss";

.create-form {}
.wrapper {}
.application-wrapper {}
.card-border {}