* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

aside {
  width: 100%;
  max-width: 302px;
  display: flex;
  flex-direction: column;

  .icon {
    margin-right: 0.563rem;
  }

  .item {
    width: 100%;
    max-width: 302px;
    min-height: 272px;
    background: #FFFFFF;
    box-shadow: 0px 0.375rem 1rem rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 1.5rem;
  }

  .item:first-child {
    margin-top: 0;
  }

  .interaction {
    &_price {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.688rem;
      color: #000000;
    }

    &_time {
      margin-top: 1rem;
      font-weight: bold;
      font-size: 0.688rem;
      line-height: 0.938rem;
      color: #E93D5C;
    }

    &_assign-button {
      .button {
        cursor: pointer;
        outline: none;
        margin-top: 1rem;
        width: 100%;
        max-width: 254px;
        height: 40px;
        background: #3849F9;
        border: 1px solid #3849F9;
        box-sizing: border-box;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 0.938rem;
        text-align: center;
        color: #FFFFFF;
      }
    }

    &_message-button {
      .button {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 254px;
        height: 40px;
        border: 1px solid #AAAAAA;
        box-sizing: border-box;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 0.938rem;
        background: #FFFFFF;
        color: #272425;

        img {
          margin: 0 0.563rem 0 1.563rem;
        }
      }
    }

    &_add-favorite {
      margin-top: 0.563rem;
      font-weight: normal;
      font-size: 0.813rem;
      line-height: 1.188rem;
      text-align: center;
      color: #000000;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &_header {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.25rem;
      color: #444444;
    }

    &_info {
      margin-top: 1.5rem;

      &-address {
        font-weight: normal;
        font-size: 0.813rem;
        line-height: 1.125rem;
        color: #333333;
      }

      &-location {
        margin-top: 0.438rem;
        margin-left: 1.5rem;
        font-weight: bold;
        font-size: 0.688rem;
        line-height: 0.75rem;
        color: #3849F9;
      }
    }

    &_access-time {
      margin-top: 16px;
      font-weight: normal;
      font-size: 13px;
      color: #333333
    }

    &_phone {
      margin-top: 1rem;
      font-weight: normal;
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: #3849F9;

    }

    &_email {
      margin-top: 16px;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #333333;
    }

    &_web-page {
      margin-top: 1rem;
      font-weight: normal;
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: #3849F9;
    }

    &_social-media {
      margin-top: 1rem;

      img:first-child {
        margin-left: 1.25rem;
      }

      img:last-child {
        margin-left: 1.5rem;
      }
    }
  }

  .schedule {
    &_header {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.25rem;
      color: #444444;
    }

    &_datepicker {
      width: 245px;
      min-height: 170px;
    }

    &_detail-info {
      margin-top: 1rem;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 245px;
        cursor: pointer;
        height: 34px;
        border: 0.063rem solid #AAAAAA;
        box-sizing: border-box;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 0.938rem;
        text-align: center;
        color: #272425;
      }
    }
  }
}
