<aside>
  <div class="item interaction">
    <div class="interaction_price">50 грн/заняття</div>
    <div class="interaction_time">
      <img src="assets/icons/time.png" alt="time-left">
      Залишилось 5 днів до початку заняття
    </div>
    <div class="interaction_assign-button">
      <button class="button">ПОДАТИ ЗАЯВКУ</button>
    </div>
    <div class="interaction_message-button">
      <button class="button">
        <img src="assets/icons/message.png" alt="">НАДІСЛАТИ ПОВІДОМЛЕННЯ
      </button>
    </div>
    <div class="interaction_add-favorite">
      <img src="assets/icons/add_fav.png" alt="">Додати в улюблені
    </div>
  </div>
  <div class="item contacts">
    <div class="contacts_header">КОНТАКТИ</div>
    <div class="contacts_info">
      <div class="contacts_info-address"><img class="icon" src="assets/icons/location.png" alt="location_marker"> м.
        Київ, вул.
        Рокосовського 7а/1
      </div>
      <div class="contacts_info-location"><a href="#">Показати на карті</a></div>
    </div>
    <div class="contacts_access-time">
      <img class="icon" src="assets/icons/access_time.png" alt="working_days"> Пн-Сб, 08:00 - 21:00
    </div>
    <div class="contacts_phone">
      <img class="icon" src="assets/icons/phone.png" alt="phone"> <a href="">+38(097)123-23-32</a>
    </div>
    <div class="contacts_email">
      <img class="icon" src="assets/icons/email.png" alt="email">school@gmail.com
    </div>
    <div class="contacts_web-page">
      <img class="icon" src="assets/icons/world.png" alt="web-page"><a href="">www.school.com</a>
    </div>
    <div class="contacts_social-media">
      <img src="assets/icons/inst.png" alt="instagram">
      <img src="assets/icons/facebook.png" alt="facebook">
    </div>
  </div>
  <div class=" item schedule">
    <div class="schedule_header">РОЗКЛАД ЗАНЯТЬ</div>
    <div class="schedule_datepicker">
      <mat-datepicker-toggle [for]="resultPicker"></mat-datepicker-toggle>
      <mat-form-field>
        <mat-label>Pick a date</mat-label>
        <input matInput
               #resultPickerModel="ngModel"
               [matDatepicker]="resultPicker"
               [(ngModel)]="date"
        >
        <mat-datepicker #resultPicker [dateClass]="dateClass">
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="schedule_detail-info">
      <div class="button">
        ПЕРЕГЛЯНУТИ ДЕТАЛЬНІШЕ
      </div>
    </div>
  </div>

</aside>
