<i class="material-icons status-info-icon" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger"
  (click)=" isActiveInfoButton=!isActiveInfoButton"
  [ngClass]="isActiveInfoButton?'activeInfoBtn' : 'inactiveInfoBtn'">info_outline</i>

<mat-menu [hasBackdrop]="false" disabled #menu="matMenu" [overlapTrigger]="false" class="mat-application-menu">
  <div class="application-info-menu-title"> Статуси заявок</div>
  <div class="application-info-menu">
    <div class="application-info-title">
      <span class="application-pending"><i class="fas fa-user-clock"></i>{{ applicationTitles[applicationStatus.Pending]
        }}</span>
      <span class="application-accepted"><i class="fas fa-user-plus"></i>{{
        applicationTitles[applicationStatus.AcceptedForSelection] }}</span>
      <span class="application-approved"><i class="fas fa-user-check"></i>{{
        applicationTitles[applicationStatus.Approved] }}</span>
      <span class="application-rejected"><i class="fas fa-user-times"></i>{{
        applicationTitles[applicationStatus.Rejected] }}</span>
      <span class="application-left"><i class="fas fa-user-times"></i>{{ applicationTitles[applicationStatus.Left]
        }}</span>
    </div>
    <div class="application-info-description">
      <span>{{ applicationStatusDescription[applicationStatus.Pending] }}</span>
      <span>{{ applicationStatusDescription[applicationStatus.AcceptedForSelection] }}</span>
      <span>{{ applicationStatusDescription[applicationStatus.Approved] }}</span>
      <span>{{ applicationStatusDescription[applicationStatus.Rejected] }}</span>
      <span>{{ applicationStatusDescription[applicationStatus.Left] }}</span>
    </div>
  </div>
</mat-menu>