<div *ngIf="!(isLoading$ | async)" class="wrapper flex flex-row flex-wrap justify-start">
  <ng-container *ngIf="platformInfo; else noInfoTmpl">
    <div class="config">
      <a routerLink="edit" class="config_edit-icon" [routerLink]="['./update', type, 'edit']">
        <button mat-button class="edit-button">
          <mat-icon style="color: #3849f9">edit</mat-icon>
          {{ 'BUTTONS.EDIT' | translate }}
        </button>
      </a>
      <h3 *ngIf="platformInfo.title.length < 40">{{ platformInfo.title }}</h3>
      <h3 *ngIf="platformInfo.title.length >= 40" style="padding-top: 3rem">{{ platformInfo.title }}</h3>
      <div *ngFor="let portalItem of platformInfo.companyInformationItems" class="config-wrapper">
        <h4>{{ portalItem.sectionName }}</h4>
        <p>{{ portalItem.description }}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #noInfoTmpl>
    <div class="config flex flex-col justify-center items-center">
      <a routerLink="edit" class="config_edit-icon" [routerLink]="['./update', type, '']">
        <button mat-button style="color: #3849f9">
          <mat-icon style="color: #3849f9">edit</mat-icon>
          {{ 'BUTTONS.ADD_INFO' | translate }}
        </button>
      </a>
      <div class="config-wrapper">
        <h4>{{ 'EMPTY_BANNERS.NO_INFO' | translate }}</h4>
      </div>
    </div>
  </ng-template>
</div>
