<p class="filter-text">Вартість</p>
<div fxLayout='column' fxLayoutAlign='center space-between' fxLayoutGap='1rem'>
  <mat-checkbox color="primary"> Безкоштовно</mat-checkbox>
  <mat-checkbox color="primary" [checked]="isPaid">Платні</mat-checkbox>
  <div fxLayout='row' fxLayoutAlign='start' fxLayoutGap='1rem'>
    <mat-form-field>
      <div fxLayout='row' fxLayoutAlign='start' fxLayoutGap='1rem'>
        <p class="filter-text">Від</p>
        <input matInput class="price-input" type="number" ng-model="number" appDigitOnly maxlength="4" appMinMax
          [min]="0" [max]="2000" [formControl]="minPrice">
      </div>
    </mat-form-field>
    <mat-form-field>
      <div fxLayout='row' fxLayoutAlign='start' fxLayoutGap='1rem'>
        <p class="filter-text">До</p>
        <input matInput class="price-input" type="number" ng-model="number" appDigitOnly maxlength="4" appMinMax
          [min]="0" [max]="2000" [formControl]="maxPrice" [(ngModel)]="price">
      </div>
    </mat-form-field>
  </div>
  <div xLayout='row' fxLayoutAlign='space-between' fxLayoutGap='1rem'>
    <label id="example-name-label" class="example-name-label">Максимум 2000 грн</label>
    <label>{{price}}</label>
  </div>
  <mat-slider thumbLabel [max]="2000" [min]="0" color='primary' aria-label="units" [(ngModel)]="price"
    [formControl]="sliderControl">
  </mat-slider>
</div>