@use 'create-form';

.filter-text {
  margin: 0 1rem 0 0;
}

.title {
  margin: 24px 0 16px;
}

.wrapper {
  margin-top: 13px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

::ng-deep .filter {
  &-text {
    font-family: Innerspace, sans-serif;
    font-weight: 700;
    line-height: 14.6px;
    color: var(--primary-light-text-color);
  }

  &-slider {
    .ngx-slider {
      margin-top: 1rem;

      .ngx-slider-bar-wrapper {
        margin: 0;
        height: 0;
      }

      .ngx-slider-bar {
        bottom: 1px;
        background: var(--primary-light-text-color);
        height: 2px;
      }

      .ngx-slider-selection {
        background: var(--primary-accent-color);
      }

      .ngx-slider-pointer {
        width: 15px;
        height: 15px;
        margin-top: 20px;
        background-color: var(--primary-accent-color);
        box-shadow:
          rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
          rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
          rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      }

      .ngx-slider-pointer:after,
      .ngx-slider-bubble {
        display: none;
      }
    }
  }
}

.price-input {
  border: 1px solid var(--input-light-color);
  background-color: var(--primary-light-bg-color);
  color: var(--primary-light-text-color) !important;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 0.5rem;
  max-height: 34px;
  text-align: center;
}

.input-wrapper {
  margin-top: 13px;
  margin-bottom: 0 !important;

  &-disable {
    opacity: 0.5;
    cursor: initial;

    .price-input {
      color: var(--primary-light-text-color);
    }

    ::ng-deep .mat-mdc-select.mat-mdc-select-disabled .mat-mdc-select-arrow {
      color: var(--input-light-color);
    }
  }
}

:host ::ng-deep .mat-form-field-appearance .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

.price-input:hover + .clear-price {
  visibility: visible;
}

.clear-price {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  color: var(--secondary-light-text-color);
  top: 14px;
  left: 123px;
}

.clear-price:hover {
  visibility: visible;
}

:host ::ng-deep .mat-form-field-appearance .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column !important;
  }

  .filter-text {
    min-width: 20px;
  }
}

::ng-deep .price-filter {
  .mdc-text-field--filled {
    padding: 0px;
  }
}

.clear-pay-rate {
  margin: 10px;
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  color: #adadad;
}

.disabled-pay-rate {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.price-input.ng-invalid.ng-touched {
  outline: none;
  border: 1px solid #c72a21;
}
