<p class="filter-text title">
  {{ 'FORMS.LABELS.PRICE' | translate }}
</p>
<div class="wrapper flex flex-col justify-center content-between">
  <div class="checkboxes">
    <mat-checkbox class="checkbox" color="primary" [formControl]="isFreeControl">
      {{ 'FOR_FREE' | translate }}
    </mat-checkbox>
    <mat-checkbox class="checkbox" color="primary" [formControl]="isPaidControl">
      {{ 'PAID' | translate }}
    </mat-checkbox>
  </div>

  <div class="wrapper flex flex-row justify-between gap-4" [ngClass]="{ 'input-wrapper-disable': !isPaidControl.value }">
    <mat-form-field>
      <div class="flex flex-row items-center">
        <p class="filter-text">
          {{ 'FROM' | translate }}
        </p>
        <input matInput class="price-input" type="number" appDigitOnly maxlength="6" [formControl]="minPriceControl" autocomplete="off" />
        <mat-icon class="clear-price" (click)="clearMin()">clear</mat-icon>
      </div>
    </mat-form-field>
    <mat-form-field>
      <div class="flex flex-row items-center">
        <p class="filter-text">
          {{ 'TO' | translate }}
        </p>
        <input matInput class="price-input" type="number" appDigitOnly maxlength="6" [formControl]="maxPriceControl" autocomplete="off" />
        <mat-icon class="clear-price" (click)="clearMax()">clear</mat-icon>
      </div>
    </mat-form-field>
  </div>
  <div class="filter-slider flex flex-col justify-between gap-4" [ngClass]="{ 'input-wrapper-disable': !isPaidControl.value }">
    <ngx-slider (userChange)="priceHandler($event)" [value]="minValue" [highValue]="maxValue" [options]="options"> </ngx-slider>
  </div>
</div>
