<div class="wrapper" fxLayout="row wrap" fxLayoutAlign="start">
  <div class="config">
    <a routerLink="edit" class="config_edit-icon">
      <button mat-button style="color:#3849F9;">
        <mat-icon style="color:#3849F9;">edit</mat-icon>Редагувати
      </button>
    </a>
    <ng-container *ngIf="aboutPortal$ | async as aboutPortal">
      <h4>{{aboutPortal.title}}</h4>
      <div *ngFor="let portalItem of aboutPortal.companyInformationItems">
        <h5 *ngIf="(portalItem.sectionName)">
          {{portalItem.sectionName}}
        </h5>
        <p>{{portalItem.description}}</p>
      </div>
    </ng-container>
  </div>
</div>