<mat-form-field class="input-wrapper flex flex-col justify-between items-start" appearance="fill">
  <input
    #searchInput
    class="input-filter"
    matInput
    type="text"
    appTrimValue
    [formControl]="settlementSearchControl"
    [matAutocomplete]="auto"
    (focusout)="onFocusOut($event)" />
  <mat-autocomplete
    [panelWidth]="300"
    #auto="matAutocomplete"
    disableOptionCentering
    panelClass="dropdown-panel"
    [displayWith]="displaySettlementNameFn"
    (optionSelected)="onSelectedCity($event)">
    <mat-option
      class="dropdown-option"
      *ngFor="let codeficator of codeficatorSearch"
      [value]="codeficator"
      [disabled]="codeficator.settlement === Constants.NO_SETTLEMENT">
      {{ codeficator.settlement | translate }} <br />
      <div
        class="dropdown-option-trimmed"
        [matTooltip]="codeficator.fullName"
        matTooltipClass="tooltip"
        showTooltipIfTruncated
        matTooltipPosition="below">
        <span class="option-sub-text">{{ codeficator.fullName }}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
  <p *ngIf="settlementSearchControl.value && settlement?.fullName" class="additional-text">
    {{ settlement.fullName | slice: 0 : sliceLength }}
    <span *ngIf="settlement.fullName.length > sliceLength">...</span>
  </p>
</mat-form-field>

<!-- CITY CONFIRMATION -->
<div class="confirmation">
  <div class="city-confirmation" *ngIf="isDisplayed && !(isConfirmCity$ | async)">
    <div class="flex flex-row justify-between items-start">
      <p class="w-[93%]">
        {{ 'YOU_ARE_IN_A_SETTLEMENT' | translate }}
        <span>{{ settlement?.settlement }}</span
        >?
      </p>
      <mat-icon (click)="isDisplayed = false" class="w-[7%]">clear</mat-icon>
    </div>
    <div class="city-confirmation_button flex flex-row justify-between items-center">
      <button mat-button class="button" (click)="confirmCity()">
        {{ 'BUTTONS.CONFIRM' | translate }}
      </button>
      <button mat-button class="button button-change" (click)="changeCity()">{{ 'BUTTONS.CHANGE' | translate }}</button>
    </div>
  </div>
</div>
