@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/dropdown.scss";

:host ::ng-deep .mat-form-field-wrapper,
:host ::ng-deep .mat-form-field-infix  {
  padding: 0;
  border: none;
}
:host ::ng-deep .mat-form-field{
  width: 500px;
}
.input-filter {
  text-transform: capitalize;
  font-family: "Innerspace";
  color: #000000;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.additional-text {
  opacity: .5;
  margin-left: 1rem;
}

h4{
  margin-bottom: 1rem;
}
.custom-input-autocomplete {
  padding: 0.1rem 1rem;
  border: 1px solid #E3E3E3;
  border-radius: 21px;
  line-height: initial;
  box-sizing: border-box;
  top: 1.2rem;
  vertical-align: sub;
}

.input-wrapper {
  padding: 0.5rem 0;
}

.option-sub-text {
  color: #161414;
  opacity: 0.6;
  font-size: 14px;
  &:hover{
    background-color: transparent;
  }
}

.mat-option {
  line-height: 20px;
}

.confirmation {
  position: relative;
  right: 5rem;
}
