
<div [ngClass]="{ 'hide-content' : isLoading || isLoadingData }" class="app-wrapper">

  <mat-drawer-container>
    <div fxLayout="column">
      <div class="content">
        <app-sidenav [isMobileView]="isMobileView"></app-sidenav>
        <app-header></app-header>
        <app-shell></app-shell>
      </div>
      <app-footer></app-footer>
    </div> 
  </mat-drawer-container>

</div>

<div *ngIf="isLoading || isLoadingData" class="progress-bar">
  <mat-progress-bar mode="indeterminate">
  </mat-progress-bar>
</div>

