
.app-wrapper {
  position: relative;
  box-sizing: border-box;
}
.content {
  min-height: calc(100vh - 121px);
  flex-grow: 1;

  @media(max-width: 900px) {
    min-height: calc(100vh - 113px);
  }

  @media(max-width: 750px) {
    min-height: calc(100vh - 154px);
  }

  @media(max-width: 600px) {
    min-height: calc(100vh - 106px);
  }
}

.hide-content {
  display: none;
}
