<small *ngIf="validationFormControl.touched && onTouchChange() && validationFormControl.invalid" appValidationMessageStyling>
  <ng-container *ngIf="required && !invalidDateFormat; then requiredInputTmpl"></ng-container>
  <ng-container *ngIf="required && invalidDateFormat; then incorrectDateFieldTmpl"></ng-container>
  <ng-container *ngIf="!required">
    <ng-container *ngIf="invalidCharacters; then invalidCharactersTmpl"></ng-container>
    <ng-container *ngIf="invalidSymbols; then invalidSymbolsTmpl"></ng-container>
    <ng-container *ngIf="invalidFieldLength; then invalidLengthTmpl"></ng-container>
    <ng-container *ngIf="invalidPhoneLength; then invalidPhoneTmpl"></ng-container>
    <ng-container *ngIf="invalidDateRange; then invalidDateRangeTmpl"></ng-container>
    <ng-container *ngIf="invalidEmail; then invalidEmailTmpl"></ng-container>
  </ng-container>
</small>

<ng-template #requiredInputTmpl> {{ 'FORMS.VALIDATIONS.REQUIRED_INPUT' | translate }} <br /> </ng-template>

<ng-template #invalidCharactersTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_CHARACHTERS' | translate }}<br />
</ng-template>

<ng-template #invalidSymbolsTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_SYMBOLS' | translate }} <br />
</ng-template>

<ng-template #invalidLengthTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_START' | translate }} {{ 'FROM' | translate | lowercase }} {{ minCharachters }}
  {{ 'TO' | translate | lowercase }} {{ maxCharachters }} {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_END' | translate }} <br />
</ng-template>

<ng-template #incorrectDateFieldTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }} <br />
  {{ 'FORMS.VALIDATIONS.INVALID_DATA_START' | translate }}{{ dateFormPlaceholder }}{{ 'FORMS.VALIDATIONS.INVALID_DATA_END' | translate }}
  <br />
</ng-template>

<ng-template #invalidDateRangeTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }} <br />
  {{ 'FORMS.VALIDATIONS.INVALID_BIRTHDAY' | translate }}<br />
</ng-template>

<ng-template #invalidEmailTmpl> {{ 'FORMS.VALIDATIONS.INVALID_EMAIL' | translate }} <br /> </ng-template>

<ng-template #invalidPhoneTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_START' | translate }} {{ minCharachters }} {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_END' | translate }}
  <br />
</ng-template>
