<small *ngIf="validationFormControl.touched && validationFormControl.invalid" appValidationMessageStyling>
  <ng-container *ngIf="required && !invalidDateFormat; then requiredInputTmpl"></ng-container>
  <ng-container *ngIf="required && invalidDateFormat; then incorrectDateFieldTmpl"></ng-container>
  <ng-container *ngIf="!required">
    <ng-container *ngIf="invalidCharacters; then invalidCharactersTmpl"></ng-container>
    <ng-container *ngIf="invalidSymbols; then invalidSymbolsTmpl"></ng-container>
    <ng-container *ngIf="invalidFieldLength; then invalidLengthTmpl"></ng-container>
    <ng-container *ngIf="invalidPhoneLength; then invalidPhoneLengthTmpl"></ng-container>
    <ng-container *ngIf="invalidPhoneNumber; then invalidPhoneNumberTmpl"></ng-container>
    <ng-container *ngIf="invalidDateRange; then invalidDateRangeTmpl"></ng-container>
    <ng-container *ngIf="invalidEmail; then invalidEmailTmpl"></ng-container>
    <ng-container *ngIf="invalidEdrpouIpn; then invalidEdrpouIpnTmpl"></ng-container>
    <ng-container *ngIf="invalidStreet; then invalidStreetTmpl"></ng-container>
    <ng-container *ngIf="invalidHouse; then invalidHouseTmpl"></ng-container>
    <ng-container *ngIf="invalidSearch; then invalidSearchTmpl"></ng-container>
    <ng-container *ngIf="invalidTimeFormat; then invalidTimeFormatTmpl"></ng-container>
    <ng-container *ngIf="invalidTimeRange; then invalidTimeRangeTmpl"></ng-container>
    <ng-container *ngIf="invalidSectionName && !validationFormControl.errors.minlength; then invalidSectionNameTmpl"></ng-container>
    <ng-container
      *ngIf="
        mustContainLetters && !validationFormControl.errors.minlength && !invalidFieldLength;
        then mustContainLettersTmpl
      "></ng-container>
    <ng-container *ngIf="minNumberValue; then minNumberValueTmpl"></ng-container>
  </ng-container>
</small>

<ng-template #requiredInputTmpl> {{ 'FORMS.VALIDATIONS.REQUIRED_INPUT' | translate }}<br /> </ng-template>

<ng-template #invalidCharactersTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_CHARACTERS' | translate }}<br />
</ng-template>

<ng-template #invalidSymbolsTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_SYMBOLS' | translate }}<br />
</ng-template>

<ng-template #invalidLengthTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_START' | translate }} {{ 'FROM' | translate | lowercase }} {{ minCharacters }}
  {{ 'TO' | translate | lowercase }} {{ maxCharacters }} {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_END' | translate }}<br />
</ng-template>

<ng-template #incorrectDateFieldTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}<br />
  {{ 'FORMS.VALIDATIONS.INVALID_DATA_START' | translate }}{{ 'FORMS.PLACEHOLDERS.SHORT_DATE_FORMAT' | translate
  }}{{ 'FORMS.VALIDATIONS.INVALID_DATA_END' | translate }}<br />
</ng-template>

<ng-template #invalidDateRangeTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}<br />
  {{ 'FORMS.VALIDATIONS.INVALID_BIRTHDAY' | translate }}<br />
</ng-template>

<ng-template #invalidEmailTmpl> {{ 'FORMS.VALIDATIONS.INVALID_EMAIL' | translate }}<br /> </ng-template>

<ng-template #invalidEdrpouIpnTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_START' | translate }} {{ minCharacters }}{{ 'FORMS.VALIDATIONS.INVALID_EDRPO_IPN_END' | translate
  }}<br />
</ng-template>

<ng-template #invalidPhoneLengthTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_START_MIN' | translate }} {{ minCharacters }} {{ 'FORMS.VALIDATIONS.INVALID_LENGTH_END' | translate
  }}<br />
</ng-template>

<ng-template #invalidPhoneNumberTmpl> {{ 'FORMS.VALIDATIONS.INVALID_PHONE_NUMBER' | translate }}<br /> </ng-template>

<ng-template #invalidStreetTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_STREET' | translate }}<br />
</ng-template>

<ng-template #invalidHouseTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_HOUSE' | translate }}<br />
</ng-template>

<ng-template #invalidSectionNameTmpl>
  {{ 'FORMS.VALIDATIONS.INVALID_INPUT' | translate }}{{ 'FORMS.VALIDATIONS.INVALID_SECTION_NAME' | translate }}<br />
</ng-template>

<ng-template #mustContainLettersTmpl>
  {{ 'FORMS.VALIDATIONS.MUST_CONTAIN_LETTERS' | translate }}
</ng-template>

<ng-template #minNumberValueTmpl>
  {{ 'FORMS.VALIDATIONS.LESS_THAN_PARTICIPANTS' | translate }}
</ng-template>

<ng-template #invalidSearchTmpl> {{ 'FORMS.VALIDATIONS.INVALID_SEARCH' | translate }}<br /> </ng-template>

<ng-template #invalidTimeRangeTmpl>{{ 'FORMS.VALIDATIONS.INVALID_TIME_RANGE' | translate }}</ng-template>

<ng-template #invalidTimeFormatTmpl>{{ 'FORMS.VALIDATIONS.INVALID_TIME_FORMAT' | translate }}</ng-template>
