<div class="container" *ngIf="provider">
  <app-actions
    *ngIf="isMobileScreen && displayActionCard"
    [role]="role"
    [workshop]="workshop"
  >
  </app-actions>

  <app-image-carousel [images]="images"></app-image-carousel>

  <div class="details-wrapper">
    <div fxLayout="column" fxLayoutAlign="space-between space-between">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div
          fxLayout="row"
          fxLayout.lt-sm="row wrap"
          fxLayoutAlign="start center"
        >
          <h1 class="title">{{ workshop.title }}</h1>
        </div>
        <div>
          <img
            class="details-icon"
            [src]="categoryIcons[workshop.directionId]"
            alt="{{ workshop.title }}"
          />
        </div>
      </div>
      <span class="icon-text">
        <mat-icon class="icon">star</mat-icon>
        {{ workshop.rating }}
      </span>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a [routerLink]="['/details/provider', workshop.providerId]">
          <span class="icon-text details-link">
            <mat-icon class="icon">home</mat-icon>{{ workshop.providerTitle }}
          </span>
        </a>
      </div>
    </div>

    <mat-tab-group class="nav" [(selectedIndex)]="selectedIndex">
      <mat-tab class="label" label="ПРО ГУРТОК">
        <app-workshop-about [workshop]="workshop"></app-workshop-about>
      </mat-tab>
      <mat-tab class="label" label="ПРО ЗАКЛАД">
        <app-provider-about [provider]="provider"></app-provider-about>
      </mat-tab>
      <mat-tab class="label" label="ВИКЛАДАЧІ">
        <app-workshop-teachers
          [teachers]="workshop.teachers"
        ></app-workshop-teachers>
      </mat-tab>
      <mat-tab class="label" label="ІНШІ ГУРТКИ ЗАКЛАДУ">
        <app-all-provider-workshops [workshop]="workshop">
        </app-all-provider-workshops>
      </mat-tab>
      <mat-tab class="label" label="ВІДГУКИ">
        <app-reviews [workshop]="workshop" [role]="role"> </app-reviews>
      </mat-tab>
      <mat-tab class="label" label="ДОСЯГНЕННЯ">
        <app-achievements [workshop]="workshop"></app-achievements>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
