<div class="container" *ngIf="provider">
  <app-actions *ngIf="isMobileScreen && displayActionCard" [role]="role" [workshop]="workshop"></app-actions>
  <app-image-carousel [images]="images"></app-image-carousel>

  <div
    class="flex flex-row flex-wrap box-border !justify-between items-center action-buttons-wrapper"
    *ngIf="providerParameters?.providerId === currentProvider?.id">
    <button (click)="onActionButtonClick(modalType.archiveWorkshop)" class="btn btn-cancel" mat-button>
      {{ 'BUTTONS.ARCHIVE' | translate | uppercase }}
    </button>
    <div class="flex">
      <a [routerLink]="['/create-workshop', workshop.id]" class="btn btn-cancel" mat-button>
        {{ 'BUTTONS.EDIT' | translate | uppercase }}
      </a>
      <button
        class="btn"
        [disabled]="workshop.status !== workshopStatus.Draft"
        (click)="onActionButtonClick(modalType.publishWorkshop)"
        mat-button>
        {{ 'BUTTONS.PUBLISH' | translate | uppercase }}
      </button>
    </div>
  </div>

  <div class="details-wrapper">
    <div class="flex flex-col justify-between">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col items-start sm:flex-wrap">
          <div class="flex flex-row items-center">
            <h1 class="title">{{ workshop.title }}</h1>
            <ng-container *ngIf="workshopStatusOpen; else ClosedWorkshopStatus">
              <div class="chip chip-color-open">{{ recruitmentStatusEnum.RecruitmentOngoing | translate }}</div>
            </ng-container>
          </div>
          <h3 class="short-title" *ngIf="workshop.shortTitle">{{ workshop.shortTitle }}</h3>
        </div>
        <div *ngFor="let directionId of workshop.directionIds">
          <img class="details-icon" [src]="categoryIcons[directionId]" alt="{{ workshop.title }}" />
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex flex-col">
          <span class="icon-text">
            <mat-icon class="icon">star</mat-icon>
            {{ workshop.rating }}&nbsp;
            <span class="rating-number">({{ workshop.numberOfRatings }})</span>
          </span>
          <a [routerLink]="['/details/provider', workshop.providerId]">
            <span class="icon-text details-link" [ngClass]="{ 'workshop-title': workshop.competitiveSelection }">
              <mat-icon class="icon">home</mat-icon>
              {{ workshop.providerTitle }}
            </span>
          </a>
          <span class="icon-text" *ngIf="!workshop.competitiveSelection">
            <mat-icon class="icon">school</mat-icon>
            {{ FormOfLearningEnum[workshop.formOfLearning] | translate }}
          </span>
          <span class="icon-text">
            <mat-icon class="icon">person</mat-icon>
            {{ workshop.minAge }} - {{ workshop.maxAge }}
            {{ 'YEARS' | translate }}
          </span>
        </div>
        <div class="flex flex-col" *ngIf="workshop.competitiveSelection">
          <span class="flex flex-row items-center">
            <span class="icon-text">
              <mat-icon class="icon">person_add</mat-icon>
              {{ 'COMPETITIVE_SELECTION' | translate }}
              <app-info-menu [type]="InfoMenuType.Text">
                {{ workshop.competitiveSelectionDescription }}
              </app-info-menu>
            </span>
          </span>
          <span class="icon-text">
            <mat-icon class="icon">school</mat-icon>
            {{ FormOfLearningEnum[workshop.formOfLearning] | translate }}
          </span>
        </div>
      </div>
    </div>

    <mat-tab-group class="nav" [mat-stretch-tabs]="false" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab class="label" label="{{ workshopTitles.AboutWorkshop | translate | uppercase }}">
        <app-workshop-about [workshop]="workshop"></app-workshop-about>
      </mat-tab>
      <mat-tab class="label" label="{{ workshopTitles.AboutProvider | translate | uppercase }}">
        <app-provider-about [provider]="provider"></app-provider-about>
      </mat-tab>
      <mat-tab class="label" label="{{ workshopTitles.Teachers | translate | uppercase }}">
        <app-workshop-teachers [teachers]="workshop.teachers"></app-workshop-teachers>
      </mat-tab>
      <mat-tab class="label" label="{{ workshopTitles.OtherWorkshops | translate | uppercase }}">
        <app-all-provider-workshops [providerParameters]="providerParameters"></app-all-provider-workshops>
      </mat-tab>
      <mat-tab *ngIf="role !== Role.unauthorized" class="label" label="{{ workshopTitles.Reviews | translate | uppercase }}">
        <app-reviews [workshop]="workshop" [role]="role"></app-reviews>
      </mat-tab>
      <mat-tab class="label" label="{{ workshopTitles.Achievements | translate | uppercase }}">
        <app-achievements [workshop]="workshop"></app-achievements>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #ClosedWorkshopStatus>
  <div
    class="chip"
    [ngClass]="{
      'chip-color-close': workshop.status === workshopStatus.Closed,
      'chip-color-draft': workshop.status === workshopStatus.Draft
    }">
    {{ (workshop.status === workshopStatus.Closed ? recruitmentStatusEnum.RecruitmentStoped : recruitmentStatusEnum.Draft) | translate }}
  </div>
</ng-template>
