<div fxLayout='row' fxLayoutAlign='center center' *ngIf="(editMode && (workshop$ | async)) || !editMode">
  <div class="wrapper">
    <div fxLayout='column' fxLayoutAlign='center center'>
      <h3 class="wrapper-title">{{editMode ? 'РЕДАГУВАННЯ ГУРТКА' : 'НОВИЙ ГУРТОК'}}</h3>
      <p class="wrapper-text">{{editMode ? 'Відредагуйте' : 'Додайте новий'}} гурток, секцію або групу для навчання</p>
    </div>

    <mat-horizontal-stepper>
      <mat-step [stepControl]="AboutFormGroup">
        <ng-template matStepLabel>Про гурток</ng-template>
        <app-create-about-form (PassAboutFormGroup)="onReceiveAboutFormGroup($event)" [workshop]="(workshop$ | async)">
        </app-create-about-form>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <button mat-raised-button class="btn btn-cancel"><a
              [routerLink]="'/personal-cabinet/workshops'">Скасувати</a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="DescriptionFormGroup">
        <ng-template matStepLabel>Опис</ng-template>
        <app-create-description-form (passDescriptionFormGroup)="onReceiveDescriptionFormGroup($event)"
          [workshop]="(workshop$ | async)">
        </app-create-description-form>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <button class="btn" mat-raised-button matStepperPrevious>Назад</button>
          <button class="btn btn-cancel" mat-raised-button><a [routerLink]="'/personal-cabinet/workshops'"> Скасувати
            </a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="AddressFormGroup">
        <ng-template matStepLabel>Контакти</ng-template>
        <app-create-address (passAddressFormGroup)="onReceiveAddressFormGroup($event)"
          [address]="(workshop$ | async)?.address">
        </app-create-address>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <button class="btn" mat-raised-button matStepperPrevious>Назад</button>
          <button class="btn btn-cancel" mat-raised-button><a
              [routerLink]="'/personal-cabinet/workshops'">Скасувати</a></button>
          <button class="btn" mat-raised-button matStepperNext>Далі</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Викладачі</ng-template>
        <app-create-teacher (passTeacherFormArray)="onReceiveTeacherFormArray($event)"
          [teachers]="(workshop$ | async)?.teachers">
        </app-create-teacher>
        <div fxLayout='row' fxLayoutAlign='center center' class="footer">
          <button class="btn" mat-button matStepperPrevious>Назад</button>
          <button class="btn btn-cancel" mat-raised-button><a
              [routerLink]="'/personal-cabinet/workshops'">Скасувати</a></button>
          <button class="btn" mat-button type="submit" (click)="onSubmit()">Завершити</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>