<ng-container *ngIf="provider">
  <div class="create-form" *ngIf="(editMode && workshop) || !editMode">
    <div class="wrapper">
      <div class="create-form-header flex flex-col justify-center items-center">
        <h3 class="wrapper-title">
          {{ (editMode ? 'FORMS.HEADERS.EDIT_WORKSHOP' : 'FORMS.HEADERS.NEW_WORKSHOP') | translate }}
        </h3>
        <p class="wrapper-text">
          {{ (editMode ? 'FORMS.HEADERS.EDIT_WORKSHOP_DESCRIPTION_PATH' : 'FORMS.HEADERS.NEW_WORKSHOP_DESCRIPTION_PATH') | translate }}
          {{ 'FORMS.HEADERS.WORKSHOP_FORM_DESCRIPTION' | translate }}
        </p>
      </div>

      <mat-horizontal-stepper linear>
        <mat-step [stepControl]="AboutFormGroup">
          <ng-template matStepLabel>
            <p class="step-name">{{ 'TITLES.ABOUT_THE_WORKSHOP_SHORT' | translate }}</p>
          </ng-template>
          <app-create-about-form
            class="flex flex-row justify-center items-center"
            [workshop]="workshop"
            [isImagesFeature]="isImagesFeature"
            [provider]="provider"
            (PassAboutFormGroup)="onReceiveAboutFormGroup($event)">
          </app-create-about-form>
          <div class="footer flex flex-row justify-center items-center">
            <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">
              {{ 'BUTTONS.CANCEL' | translate }}
            </button>
            <button class="btn" mat-raised-button matStepperNext [disabled]="AboutFormGroup.invalid">
              {{ 'BUTTONS.NEXT' | translate }}
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]="DescriptionFormGroup" [completed]="!AboutFormGroup.invalid && !DescriptionFormGroup.invalid">
          <ng-template matStepLabel>
            <p class="step-name">{{ 'TITLES.DESCRIPTION' | translate }}</p>
          </ng-template>
          <app-create-description-form
            class="flex flex-row justify-center items-center"
            [workshop]="workshop"
            [provider]="provider"
            [isImagesFeature]="isImagesFeature"
            (passDescriptionFormGroup)="onReceiveDescriptionFormGroup($event)">
          </app-create-description-form>
          <div class="footer flex flex-row justify-center items-center">
            <button class="btn" mat-raised-button matStepperPrevious>
              {{ 'BUTTONS.BACK' | translate }}
            </button>
            <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">
              {{ 'BUTTONS.CANCEL' | translate }}
            </button>
            <button class="btn" mat-raised-button matStepperNext [disabled]="DescriptionFormGroup?.invalid">
              {{ 'BUTTONS.NEXT' | translate }}
            </button>
          </div>
        </mat-step>

        <mat-step
          [stepControl]="AddressFormGroup"
          [completed]="!DescriptionFormGroup.invalid && !AboutFormGroup.invalid && !AddressFormGroup.invalid">
          <ng-template matStepLabel>
            <p class="step-name">{{ 'TITLES.CONTACTS' | translate }}</p>
          </ng-template>
          <app-create-workshop-address [address]="workshop?.address" (passAddressFormGroup)="onReceiveAddressFormGroup($event)">
          </app-create-workshop-address>
          <div class="footer flex flex-row justify-center items-center">
            <button class="btn" mat-raised-button matStepperPrevious>
              {{ 'BUTTONS.BACK' | translate }}
            </button>
            <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">
              {{ 'BUTTONS.CANCEL' | translate }}
            </button>
            <button class="btn" mat-raised-button matStepperNext [disabled]="AddressFormGroup?.invalid">
              {{ 'BUTTONS.NEXT' | translate }}
            </button>
          </div>
        </mat-step>

        <mat-step
          [stepControl]="TeacherFormArray"
          [completed]="!AboutFormGroup.invalid && !DescriptionFormGroup.invalid && !AddressFormGroup.invalid">
          <ng-template matStepLabel>
            <p class="step-name">{{ 'TITLES.TEACHERS' | translate }}</p>
          </ng-template>
          <app-create-teacher
            [teachers]="workshop?.teachers"
            [isImagesFeature]="isImagesFeature"
            (passTeacherFormArray)="onReceiveTeacherFormArray($event)">
          </app-create-teacher>

          <div class="footer flex flex-row justify-center items-center">
            <button class="btn" mat-raised-button matStepperPrevious>
              {{ 'BUTTONS.BACK' | translate }}
            </button>
            <button class="btn btn-cancel" mat-raised-button (click)="onCancel()">
              {{ 'BUTTONS.CANCEL' | translate }}
            </button>
            <button
              class="btn"
              [disabled]="
                (isLoading$ | async) ||
                (!AboutFormGroup.dirty && !DescriptionFormGroup.dirty && !AddressFormGroup.dirty && !TeacherFormArray?.dirty) ||
                AboutFormGroup.invalid ||
                DescriptionFormGroup.invalid ||
                AddressFormGroup.invalid ||
                TeacherFormArray?.invalid
              "
              mat-button
              type="submit"
              (click)="onSubmit()">
              {{ 'BUTTONS.SAVE' | translate }}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</ng-container>
