@import 'src/app/shared/styles/application-statuses.scss';

.mat-application-menu,
.application-info-menu {
  i {
    padding-right: 5px;
  }
  width: max-content;
  max-width: max-content;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: normal;
}
.application-info-description-card {
  color: #aaaaaa;
}
.application-info-menu,
::ng-deep .mat-application-menu {
  width: 60vw;
  max-width: fit-content;
  overflow: hidden;
}
.application-info-menu {
  max-width: max-content;
}

.application-info-description,
.application-info-title {
  max-width: max-content;
  line-height: 17px;
  color: black;
  place-content: flex-start space-between;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;

  span {
    padding: 8px;
  }
}
.application-info-title {
  max-width: 30%;
}
.application-info-description {
  .Approved,
  .Pending,
  .StudyingForYears,
  .AcceptedForSelection,
  .Rejected,
  .Completed,
  .Left,
  .Blocked {
    color: black;
  }
  max-width: 70%;
}

.AcceptedForSelection {
  max-width: max-content !important;
}

.application-info-menu-title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}
@media (max-width: 750px) {
  .application-info-menu,
  ::ng-deep .mat-application-menu {
    width: 100vw;
  }
}
