<div *ngIf="application; else cardFormat;">
    <ng-container *ngIf="!application.isBlocked">
    <div class="application-popup-status {{application.status}}">
      <span> <i class={{applicationIcons[application.status]}}></i></span>
      <span> {{applicationTitles[application.status]}}</span>
    </div>
    <div class="application-info-menu application-info-description-card">({{
      applicationStatusDescription[application.status] }})</div>
      <p *ngIf="application.rejectionMessage" class="application-info-menu">{{application.rejectionMessage}}</p>
  </ng-container>

  <ng-container *ngIf="application.isBlocked">
    <div class="application-popup-status {{application.status}}">
      <span> <i class="status-icon-block {{applicationIcons.Blocked}}"></i></span>
      <span class="status-block"> {{applicationTitles["Blocked"]}}</span>
    </div>
    <div class="application-info-menu application-info-description-card">({{
      applicationStatusDescription["Blocked"] }})</div>
      <p *ngIf="application.rejectionMessage" class="application-info-menu">{{application.rejectionMessage}}</p>
  </ng-container>
</div>

<ng-template #cardFormat>
  <div class="application-info-menu-title"> Статуси заявок</div>
  <div class="application-info-menu">
    <div class="application-info-title">
      <span *ngFor="let status of getValuesFromEnum()" class="{{status}}"> <i
          class={{applicationIcons[status]}}></i>{{applicationTitles[status]}}</span>
    </div>
    <div class="application-info-description">
      <span *ngFor="let status of getValuesFromEnum()"
        class=" {{status}}">{{applicationStatusDescription[status]}}</span>
    </div>
  </div>
</ng-template>
