@import "src/app/shared/styles/application-statuses.scss";

.mat-application-menu,
.application-info-menu {
  i {
    padding-right: 5px;
  }
  width: max-content;
  max-width: max-content;
  font-size: 13px;
  font: Open Sans;
  font-weight: normal;
}
.application-info-description-card {
  color: #aaaaaa;
}
.application-info-menu,
::ng-deep .mat-application-menu {
  width: 60vw;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.application-info-menu {
  display: flex;
  flex-direction: row;
  max-width: max-content;
  font-size: 13px;
  line-height: 17px;
}

.application-info-description,
.application-info-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  max-width: max-content;
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  font: Open Sans;
  font-style: normal;
  color: black;

  span {
    padding: 8px;
  }
  i {
    padding-right: 5px;
  }
}

.application-info-description {
  .Approved, .Pending, .StudyingForYears, .AcceptedForSelection, .Rejected, .Completed, .Left, .Blocked {
    color: black;
  }

}

.application-info-menu-title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}
@media(max-width: 750px) {
  .application-info-menu,::ng-deep .mat-application-menu {
    width: 100vw;
  }
}
.application-status, .title, .btn-gray{
  margin-top: 1rem;
}
