<div class="application-info-menu-title">{{ 'APPLICATION_STATUSES' | translate }}</div>
<div class="application-info-menu">
  <div class="application-info-title">
    <span *ngFor="let status of statuses | keyvalue" class="{{ status.key }}">
      <i class="{{ applicationIcons[status.key] }}"></i>{{ statusTitles[status.key] | translate }}</span
    >
  </div>
  <div class="application-info-description">
    <span *ngFor="let status of statuses | keyvalue" class=" {{ status }}">{{ applicationStatusDescription[status.key] | translate }}</span>
  </div>
</div>
