<div class="application-info-menu-title">{{ 'APPLICATION_STATUSES' | translate }}</div>
<div class="application-info-menu" fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngFor="let status of statuses | keyvalue" class="status-group" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="application-info-title" fxFlex="30" fxLayoutAlign="space-between start">
      <span class="{{ status.key }}"
        ><i class="{{ applicationIcons[status.key] }}"></i>{{ statusTitles[status.key] | translate }}<br
      /></span>
    </div>
    <div class="application-info-description" fxFlex="70" fxLayoutAlign="space-between start">
      <span class="{{ status }}">{{ applicationStatusDescription[status.key] | translate }}<br /></span>
    </div>
  </div>
</div>
