.tab-wrapper {
  bottom: 3rem;
  position: relative;
}
.dropdown {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}
@media (max-width: 1070px) {
  .tab-wrapper {
    bottom: 0;
  }
  .dropdown {
    display: flex;
    justify-content: flex-start;
  }
}
.activeInfoBtn {
  color: #3849f9;
  font-size: 30px;
}
.inactiveInfoBtn {
  font-size: 30px;
}
.status-info-icon {
  cursor: pointer;
  margin: auto 1rem;
  z-index: 100;
}
.child-name {
  color: #444444;
  font-family: 'Innerspace';
  font-weight: 700;
  font-size: 18px;
}
