.Approved,
.StudyingForYears {
  color: #199953;
}
.Pending {
  color: #ffbd00;
}
.AcceptedForSelection {
  color: #27a3ff;
}
.Rejected,
.Blocked,
.Banned {
  color: #c72a21;
}
.Completed,
.Left {
  color: #888888;
}
