.cabinet-container {
  background: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 5px;

  .nav {
    border-bottom: none;

    a {
      font-size: 13px;
      opacity: 1;
      min-width: 0 !important;
      height: inherit !important;
      padding: 4px 24px 4px 24px !important;
    }

    a.wide-link {
      padding: 4px 12px 4px 12px !important;
    }

    .active {
      color: #3849f9;

      &::after {
        background-color: #3849f9;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        width: 50px;
      }
    }
  }

  @media (max-width: 750px) {
    margin-top: 40px;
  }
}

.title,
.nav a {
  font-weight: 700;
  font-family: 'Innerspace';
  color: #444444;
}

.title {
  font-size: 18px;
  line-height: inherit;
  margin-bottom: 1.5rem;
}

::ng-deep .mat-mdc-tab-link {
  .mdc-tab__text-label {
    line-height: 1.125rem;
  }
}

::ng-deep .mat-mdc-tab-link.active {
  .mdc-tab__text-label {
    color: #3849f9;
  }

  &:hover {
    .mdc-tab__text-label {
      color: #3849f9;
    }
  }

  &:focus {
    .mdc-tab__text-label {
      color: #3849f9;
    }
  }
}
