::ng-deep .mat-datepicker-content .mat-calendar {
  max-width: 320px;
  max-height: 317px;
  padding: 1rem;
  background: #ffffff;
  box-shadow:
    0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}
::ng-deep .mat-datepicker-content {
  box-shadow: none;
  background-color: transparent !important;
}
::ng-deep .mat-calendar-spacer {
  display: none;
}
::ng-deep .mat-calendar-controls {
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
}
::ng-deep .mat-datepicker-content .mat-calendar-previous-button {
  order: -1;
}
::ng-deep .mat-calendar-body-selected {
  background-color: #3849f9;
}
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #3849f9;
  background-color: transparent;
}
::ng-deep .mat-datepicker-toggle-default-icon:hover {
  color: #3849f9;
}
