.card {
  width: 300px;
  height: 440px;

  &-title {
    font-family: Innerspace;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  &-image {
    max-width: 50%;
    margin-top: 1rem;
  }

  &_category {
    width: 30px;
    height: 30px;
    margin-top: -4px;
    @media (max-width: 750px) {
      width: 20px;
      height: 20px;
      margin-top: 0;
    }
  }

  &_link {
    color: #3849F9;
    font-weight: 700;
    margin-right: -20px;

    .arrow {
      margin: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  &-list {
    color: #3849F9;
    font-weight: 700;
  }

  &_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.813rem;
    line-height: 1.125rem;
    color: #333333;
    margin: 0.3rem;
    padding: 0;
  }
  &_icon{
    color: #AAAAAA;
    margin-right: 0.2rem;
  }
}
.card-footer {
  display: flex;
  flex-direction: row-reverse;
}
.actions_btn {
  border-radius: 50%;
  background-color: #494545b9;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  z-index: 2;
  display: flex;
  &:hover{
    opacity: 0.5;
  }
}

.status {
  width: 106px;
  height: 24px;

  border-radius: 16px;

  &_approved {
    color: green;
  }

  &_denied {
    color: red;
  }

  &_text {
    font-family: Innerspace;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }

  &_action {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.chip_approved {
  background: #99CD56;

}

.chip_denied {
  background: red;
}
.mat-card{
  max-width: 300px !important;
  padding:0 !important;
  margin: 1rem;
}
.mat-card-content,
.mat-card-footer{
  margin: 0 1rem !important;
}
.mat-card-header{
  margin:0 1rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    height: 20px;
  }
  img {
    margin-block-end: auto;
  }
}
.mat-card-image{
  margin-bottom:0 !important;
}
.actions {
  position: absolute;
  top: 0;
  right: 0;
}
