.card {
  &_category{
    width: 10%;
  }
  &_link{
    color: #3849F9;
    font-weight: 700;
    .arrow {
       margin: 1rem;
       font-size: 1rem;
       line-height: 1rem;
     }
  }
  &_text {
    padding: 0;
    margin: 0.5rem;
    font-size: 0.813rem;
    line-height: 1.125rem;
    color: #333333;
  }
}
.actions_btn {
  position: relative;
  top: 3rem;
  border-radius: 50%;
  background-color: #494545b9;
  padding: 0.5rem;
  margin:0.5rem;
  cursor: pointer;
  z-index: 2;
  &:hover{
    opacity: 0.5;
  }
}
::ng-deep .mat-card{
  padding:0;
}
::ng-deep .mat-card-content,
::ng-deep .mat-card-footer{
  margin: 0 1rem;
}
::ng-deep .mat-card-header{
  margin:0 1rem;
}
::ng-deep .mat-card-image{
  margin-bottom:0;
}
