.card {
  width: 300px;
  height: 440px;

  &-title{
    font-family: Innerspace;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  &-image{
    max-width: 50%;
    margin-top:1rem;
  }

  &_category{
    width: 10%;
  }
  &_link{
    color: #3849F9;
    font-weight: 700;
    .arrow {
       margin: 1rem;
       font-size: 1rem;
       line-height: 1rem;
     }
  }

  &-list{
    color: #3849F9;
    font-weight: 700;
  }
  &_text {
    padding: 0;
    margin: 0.5rem;
    font-size: 0.813rem;
    line-height: 1.125rem;
    color: #333333;
  }
}
.actions_btn {
  position: relative;
  top: 3rem;
  border-radius: 50%;
  background-color: #494545b9;
  padding: 0.5rem;
  margin:0.5rem;
  cursor: pointer;
  z-index: 2;
  &:hover{
    opacity: 0.5;
  }
}

.status{
  width: 106px;
  height: 24px;

  border-radius: 16px;

  &_approved{
    color: green;
  }

  &_denied{
    color:red;
  }

  &_text{
    font-family: Innerspace;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
  }

  &_action{
    cursor: pointer;

    &:hover{
      opacity: 0.5;
    }
  }
}
.chip_approved{
  background: #99CD56;

}
.chip_denied{
  background: red;
}
::ng-deep .mat-card{
  padding:0 !important;
}
::ng-deep .mat-card-content,
::ng-deep .mat-card-footer{
  margin: 0 1rem;
}
::ng-deep .mat-card-header{
  margin:0 1rem;
}
::ng-deep .mat-card-image{
  margin-bottom:0;
}
