.config {
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 16px rgb(0 0 0 / 8%);
  position: relative;
  padding: 20px 25px;
  background-color: #ffffff;
  margin-right: 2rem;
  margin-bottom: 2rem;

  &_edit-icon {
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 2;
    color: #3849f9;
  }
  .important {
    color: red;
  }
  .link {
    color: #3849f9;
    font-weight: 600;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .config {
    margin: 0 0 1rem 0;
  }
}
