.step{
  &-radio{
    margin:1rem;
  }
  &-label{
    font-weight: 500;
  }
  &-required{
    color:red;
  }
  &-input{
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding:0.5rem;

    &-date{
    width:30%;
    padding: 0.2rem;
    margin:0;
    }

    &-age{
      max-width: 80px;
      max-height: 40px;
    }
  }
  &-text{
    font-family:Open Sans;
    font-weight: 700;
    color: #AAAAAA;
    padding: 5px;
  }
  &-textarea{
    min-height: 200px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 1.2rem;
  }
  &-label-combined {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
  }
  &-characters-count {
    font-family:Open Sans;
    color: #AAAAAA;
  }
  &-border{
    border-bottom: 2px solid gray;
    margin-bottom: 1rem;
  }
  &-line-age{
    max-height: 0;
    border: 1px solid #E3E3E3;
    margin: 1rem 0 2rem 0;
    min-width: 10px;
    position: relative;
    top: 5px;
    margin: 10px;
  }
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
::placeholder {
  color:#333333;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}
.div-input{
  width: 95px;
  height: 58px;
  background: rgba(56, 73, 249, 0.1);
  border: 1px dashed #3849F9;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 1rem;

  &:hover{
    cursor:pointer;
    opacity: 0.5;
  }
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-label-wrapper {
  display: none;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom:0;
}
::ng-deep .mat-form-field-infix {
  border:none;
}
::ng-deep .mat-button-toggle-group{
  border-radius: 20px !important;
}
::ng-deep.mat-button-toggle-checked{
  color: #3849F9 !important;
  border: 2px solid blue;
}
.btn{
  color:white;
  background-color:#3849F9;
  border: 1px solid #3849F9;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2px 30px;
  margin: 0 1rem;
  &-reset, &-add{
    color: #3849F9;
  }
}
