.step{
  max-width: 28.5vw;
  min-width: 410px;
  margin: 0 40px;
  &-radio{
    margin: 1rem;
  }
  &-label{
    font-weight: 600;
  }
  &-required{
    color:red;
  }
  &-input{
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 0.5rem 1rem;


    &-date{
    width: 35%;
    min-width: 182px;
    padding: 0.1rem 1rem;
    }

    &-age{
      max-width: 80px;
      max-height: 40px;
    }
  }

  &-text{
    font-family: Open Sans;
    font-weight: 700;
    color: #AAAAAA;
    padding: 5px;
  }
  &-textarea{
    height: 200px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 1.1rem;
    &-short{
      height: 100px;
      margin-top: 1rem;
    }
  }
  &-label-combined {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
  }
  &-characters-count {
    font-family: Open Sans;
    color: #AAAAAA;
  }
  &-border{
    border-bottom: 2px solid gray;
    margin-bottom: 1rem;
  }
  &-line-age{
    max-height: 0;
    border: 1px solid #E3E3E3;
    margin: 1rem 0 2rem 0;
    min-width: 10px;
    position: relative;
    top: 5px;
    margin: 10px;
  }
  &-title{
    margin-bottom: 1rem;
  }
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
::ng-deep .placeholder {
  color:#333333;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}
.div-input{
  width: 95px;
  height: 58px;
  background: rgba(56, 73, 249, 0.1);
  border: 1px dashed #3849F9;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 1rem;

  &:hover{
    cursor: pointer;
    opacity: 0.5;
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0;
}
::ng-deep .mat-form-field-infix {
  border: none;
}
::ng-deep .mat-radio-label-content{
  padding: 0.8rem;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label{
  font-family: Open Sans;
  font-weight: 400;
  color:#444444;
}

.btn{
  color:white;
  background-color:#3849F9;
  border: 1px solid #3849F9;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2px 30px;
  margin: 0 1rem;
  &-reset, &-add{
    color: #3849F9;
  }
}
.mat-chip.mat-standard-chip{
  display: flex;
  font-family: Innerspace;
  font-size: 13px;
  background-color: white;
  color: #888888;
  border: 1px solid #888888;
  font-weight: bold;
  padding: 2px 10px;
  min-height: 24px;
}
.img-close{
  height: 12px;
  position: relative;
  bottom: 3px;
}
.mat-chip-input{
  margin: 8px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 13px;
  color: #333333;
}
.step-name__xs{
  display: none;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  color: #3849F9;
}

.step-label-input{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 650px) {
  .step{
    max-width: 65vw;
    margin:0 0 0 45px;
  }
  .step-name__xs{
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 550px) {
  .step{
    max-width: 85vw;
    min-width: 80vw;
    margin:0;
  }
}
