:host.hide,
.hide {
  animation: hide 0.6s linear 1 normal 0s forwards;
}

@keyframes hide {
  40% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
  }
}
