::ng-deep {
  .hint-menu {
    width: 600px;
    max-width: max-content;
    background: #ffffff;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 5px !important;
    padding: 1rem;
    .hint-menu.isMobile {
      width: 90vw;
    }

    .mat-mdc-menu-content {
      color: grey;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }

    .mat-form-field {
      .mat-form-field-wrapper {
        padding: 0;
      }
    }
  }
}

.activeInfoBtn {
  color: #3849f9;
}
.inactiveInfoBtn {
  color: #aaaaaa;
}
