.empty-list-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  background: #e5e6f1;
  border-radius: 5px;
  min-height: 66px;
  margin: 2rem 0 ;
}
.text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #272425;
  opacity: 1;
  margin: 0 2rem;
}
.add-wrapper{
  min-height: 66px;
  background: #e5e6f1;
  border-radius: 5px;
  padding: 20px 24px;
  margin-top: 20px;
}