.empty-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: #e5e6f1;
  border-radius: 5px;
  min-height: 66px;
  margin: 2rem 0;
  flex-wrap: wrap
}
.text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #272425;
  opacity: 1;
  margin: 0 2rem;
}
.add-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  background: #e5e6f1;
  border-radius: 5px;
  padding: 20px 24px;
  margin-bottom: 2rem;

  a{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .add-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;

    p{
      margin-bottom: 1rem;
      text-align: center;
    }

  }
}
