.empty-list-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  min-height: 66px;
  background: #ececec;
  border-radius: 5px;
  padding: 20px 24px;
  margin-top:20px;
}

.add-wrapper{
  min-height: 66px;
  background: #e5e6f1;
  border-radius: 5px;
  padding: 20px 24px;
  margin-top:20px;
}