:host ::ng-deep {
  .mat-mdc-tab-group:hover,
  .mat-mdc-tab-nav-bar:hover {
    --mat-tab-header-active-ripple-color: transparent;
  }

  .mdc-tab-indicator--active {
    .mat-ripple {
      color: #3849f9;
      background: rgba(56, 73, 249, 0.07);
      --mat-tab-header-active-ripple-color: #3849f9;
      border: 2px solid #3849f9;
      box-sizing: border-box;
      border-radius: 20px;
      opacity: 1;
    }

    .mat-mdc-ripple {
      box-sizing: border-box;
    }

    .mdc-tab-indicator {
      display: none;
    }
  }

  .mat-mdc-tab,
  .mdc-tab__content {
    max-height: 40px;
  }

  .mdc-tab__text-label {
    font-weight: 600;
  }

  .mat-mdc-tab-header {
    border: none;
    margin-bottom: 1rem;
  }

  .application-wrapper {
    .mat-mdc-tab-header {
      width: 80%;
    }
  }

  .mat-tab-label {
    min-width: min-content;
  }
}

@media (max-width: 1200px) {
  :host ::ng-deep {
    .application-wrapper {
      .mat-tab-header {
        width: 100%;
      }
    }
  }
}
