$primary-color: #3849f9;
$body-color: #f8f8f8;
$button-color-cancel: #444444;
$secondary-light-color: #aaaaaa;
$additional-light-color: #bbbbbb;
$disabled-color: #666666;
$secondary-disabled-color: #888888;
$light-primary-text: #ffffff;
$dark-primary-text: #000000;
$secondary-dark-text: #000000;
$secondary-cancel-color: #494545b9;
$light-form-input-color: #e3e3e3;
$error-color: #ff2d1c;
$list-text-color: #272425;

:root {
  --primary-accent-color: #{$primary-color};
  --error-color: #{$error-color};
  --body-color: #{$body-color};

  --primary-light-text-color: #{$light-primary-text};
  --secondary-light-text-color: #{$secondary-light-color};
  --additional-light-text-color: #{$additional-light-color};
  // color for not changing the text color
  --specific-light-text-color: #{$light-primary-text};
  --cancel-text-color: #{$button-color-cancel};
  --secondary-cancel-text-color: #{$secondary-cancel-color};
  --disabled-text-color: #{$secondary-disabled-color};
  --list-text-color: #{$list-text-color};
  --input-light-color: #{$light-form-input-color};
  --primary-dark-text-color: #{$dark-primary-text};
  // color for not changing the text color
  --secondary-dark-text-color: #{$secondary-dark-text};
  --primary-dark-bg-color: #{$dark-primary-text};
  --primary-light-bg-color: #{$light-primary-text};
  --secondary-light-bg-color: #{$secondary-light-color};

  --bg-disabled: #{$secondary-disabled-color};
  --bg-cancel-color: #{$button-color-cancel};
  --bg-light-additional: #{$additional-light-color};
}
