
::ng-deep .mat-button-toggle-group[_ngcontent-ufn-c204]{
  background-color: none !important;
}

::ng-deep .mat-button-toggle-button :active{
  color: #3849F9;
}
::ng-deep .mat-button-toggle-checked {
  color: #3849F9 !important;
  background-color: #E3E3E3;

}

::ng-deep .mat-button-toggle-group[_ngcontent-mxx-c204]{
  height: 2rem !important;
}

::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle{
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #E3E3E3;
  color: #2979FF;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 2px solid #3849F9;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  padding: 0px !important;
}

::ng-deep .mat-button-toggle-group .mat-button-toggle:nth-child(2){
 &.mat-button-toggle-checked{
   border-left: 2px solid #3849F9;
 }
}
.mat-button-toggle-group {
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  font-weight: bold;
     .mat-button-toggle{
       .mat-button-toggle-checked{
       border: 1px solid #3849F9;
       box-sizing: border-box;
       border-radius: 20px;
     }
  }
}