.step-input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, mat-form-field.step-input-date.ng-invalid.ng-touched {
  outline: none;
  border: 1px solid #C72A21;
}

// Check if needed later:
// input.birthDay.ng-invalid.ng-touched {
//   border: none;
// }

.disabled-button {
  opacity: 0.5;
}

.highlight-text {
  color: red;
}

mat-error {
  margin-top: 8px;
}

