// upload-excel.component styles
$duplicated-value: #fd0707b3;
$empty-field: #fd07071a;
$wrong-length: #0d138980;
$wrong-language: #22b01280;
$wrong-format: #ffff0080;
$length-warning-message: #ff0000;
