.chip {
  margin-left: 1rem;

  &-color {
    &-open {
      color: #fff;
      font-weight: bold;
      padding: 7px;
      border-radius: 16px;
      background-color: #99cd56;
    }
    &-close {
      color: #fff;
      font-weight: bold;
      padding: 7px;
      border-radius: 16px;
      background-color: red;
    }
    &-draft {
      color: #fff;
      font-weight: bold;
      padding: 7px;
      border-radius: 16px;
      background-color: #333333;
    }
  }
}
