[class^='chip-'] {
  font-family: Innerspace, sans-serif;
  font-size: 11px;
}

.chip {
  margin-left: 1rem;

  &-color {
    &-open,
    &-close,
    &-draft,
    &-pending,
    &-rejected {
      color: #fff;
      font-weight: bold;
      padding: 7px;
      border-radius: 16px;
    }

    &-open {
      background-color: #99cd56;
    }

    &-close,
    &-rejected {
      background-color: red;
    }

    &-draft {
      background-color: #333333;
    }

    &-pending {
      background-color: orange;
    }
  }
}
