<form [formGroup]="childFormGroup" fxLayout="column" fxLayoutAlign="start" (ngSubmit)="onSubmit()">
  <label>Прізвище*</label>
  <mat-form-field>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <label>Ім'я*</label>
  <mat-form-field>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <label>По-батькові</label>
  <mat-form-field>
    <input matInput formControlName="secondName">
  </mat-form-field>
  <label>Дата народження</label>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-stroked-button type="submit"  >Submit</button>

    <button mat-stroked-button (click)="show()" >Show Child</button>
  </div>
 </form>
