  .label-top{
    padding-top: 1rem;
  }
  .input{
    width: 410px;
    height: 34px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding-left: 20px;
    display: flex;
    &-date{
      max-width: 40%;
    }
  }
  label{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    
  }
  .button-reset{
    color: #3849F9;
    margin: 1rem;
  }
  .button-visible{
    display: block;
    border-bottom: 1px solid #E3E3E3;
  }
  .button-hidden{
    visibility: hidden;
  }
  
  ::ng-deep .mat-form-field-suffix .ng-tns-c88-6 .ng-star-inserted{
    margin-right: 0.5rem !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: inherit !important;
  }
  
  .requires{
    color: red;
  }
  ::ng-deep.mat-select-trigger{
    width: 410px;
    height: 34px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding-left: 20px;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #3849F9 !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color:#3849F9!important;  
  }
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#3849F9!important; 
  }
  .wrapper{
    display: flex;
    justify-content: center;
  }
  ::ng-deep .mat-form-field-infix{
    border-top: none !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
    padding: none !important;
  }
  ::ng-deep .mat-form-field-wrapper{
    padding-bottom: inherit;
  }
  ::ng-deep .mat-radio-group {
    padding-bottom: 1.25em;
  }
  .label-padding{
    padding: .4375em 0
  }
  ::ng-deep .mat-select-value{
    width: 92% !important;
  }
  ::ng-deep .mat-radio-label-content {
    padding-right: 1.5rem !important;
  }