form {
    display: flex;
    flex-direction: column;
    max-width: 628px;
    max-height: 795px;
    // left: 406px;
    // top: 130px;;
    padding: 2rem;
    margin: 1.5rem;
  }
.mat-input-element{
    width: 410px;
    height: 34px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding-left: 20px;
  }
  label{
    font-family: Innerspace;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    
  }
 ::ng-deep .mat-form-field .mat-form-field-flex{
    background-color: white !important; 
    padding: inherit;
  }
  .requires{
    color: red;
  }
  ::ng-deep.mat-select-trigger{
    width: 410px;
    height: 34px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding-left: 20px;
  }
  ::ng-deep .mat-radio-outer-circle {
    .mat-radio-checked & {
          border-color: #3849F9 !important;
        }
    }
    
    ::ng-deep .mat-radio-inner-circle {
        background-color: white !important;
    }
    
    ::ng-deep .mat-radio-ripple .mat-ripple-element {
        background-color:#3849F9 !important;
    }