@use '../../styles/components/create-form';

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-header {
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 0.938rem;
  color: var(--cancel-text-color);
}

.photo-subheader {
  font-weight: normal;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-bottom: 0.3rem;
  color: var(--secondary-light-text-color);
}

.logo {
  &_cancel {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
  }

  &_button {
    width: 100%;
    max-width: 95px;

    label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 95px;
      height: 58px;
      background: rgba(56, 73, 249, 0.1);
      border: 0.063rem dashed var(--primary-accent-color);
      box-sizing: border-box;
      border-radius: 0.313rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    label:hover {
      transition: all 0.3s ease-out;
      background: rgba(56, 73, 249, 0.3);
    }

    input {
      display: none;
    }
  }

  &_images {
    width: 95px;
    height: 58px;
    background: var(--primary-light-bg-color);
    img, .fallback {
      object-fit: cover;
      width: 95px;
      height: 58px;
      border-radius: 5px;
    }

    .fallback {
      box-sizing: border-box;
      border: 2px solid var(--error-color);;
      color: var(--error-color);;
      font-weight: bold;
      user-select: none;
    }
  }
}

mat-grid-tile img:hover + .logo_cancel, mat-grid-tile .fallback:hover + .logo_cancel {
  display: block;
}

.logo_cancel:hover {
  display: block;
}
mat-icon:hover {
  color: var(--error-color);
}
