<div class="create-form flex flex-col justify-center items-center">
  <div class="wrapper">
    <div class="create-form-header flex flex-col justify-center items-center">
      <h3 class="wrapper-title">{{ formTitle | translate | uppercase }}</h3>
      <p class="wrapper-text" *ngIf="!editMode">
        {{ 'FORMS.HEADERS.ADD_ADMINS_SUBHEADER' | translate }}
      </p>
    </div>
    <form [formGroup]="adminFormGroup" class="step form flex flex-col box-border items-stretch justify-between content-center">
      <label class="step-label">{{ 'FORMS.LABELS.LAST_NAME' | translate }}<span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="lastName" autocomplete="none" appTrimValue />
      </mat-form-field>
      <app-validation-hint
        [validationFormControl]="adminFormGroup.get('lastName')"
        [minCharacters]="ValidationConstants.INPUT_LENGTH_1"
        [maxCharacters]="ValidationConstants.INPUT_LENGTH_60">
      </app-validation-hint>

      <label class="step-label">{{ 'FORMS.LABELS.FIRST_NAME' | translate }}<span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="firstName" autocomplete="none" appTrimValue />
      </mat-form-field>
      <app-validation-hint
        [validationFormControl]="adminFormGroup.get('firstName')"
        [minCharacters]="ValidationConstants.INPUT_LENGTH_1"
        [maxCharacters]="ValidationConstants.INPUT_LENGTH_60">
      </app-validation-hint>

      <label class="step-label">{{ 'FORMS.LABELS.MIDDLE_NAME' | translate }}</label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="middleName" autocomplete="none" appTrimValue />
      </mat-form-field>
      <app-validation-hint
        [validationFormControl]="adminFormGroup.get('middleName')"
        [minCharacters]="ValidationConstants.INPUT_LENGTH_1"
        [maxCharacters]="ValidationConstants.INPUT_LENGTH_60">
      </app-validation-hint>

      <label class="step-label"> {{ 'FORMS.LABELS.PHONE' | translate }} <span class="step-required">*</span></label>
      <app-phone-form-control [parentFormControl]="adminFormGroup.get('phoneNumber')"> </app-phone-form-control>
      <app-validation-hint
        [validationFormControl]="adminFormGroup.get('phoneNumber')"
        [minCharacters]="ValidationConstants.PHONE_LENGTH"
        [isPhoneNumber]="true">
      </app-validation-hint>

      <label class="step-label">{{ 'FORMS.LABELS.SUBORDINATION' | translate }}<span class="step-required">*</span></label>
      <mat-form-field appearance="fill">
        <mat-select
          [compareWith]="compareInstitutions"
          disableOptionCentering
          panelClass="dropdown-panel"
          class="step-input"
          formControlName="institution"
          placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_SUBORDINATION' | translate }}">
          <mat-option *ngFor="let institution of institutions$ | async" [value]="institution" class="dropdown-option">
            {{ institution.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-validation-hint [validationFormControl]="institutionFormControl"></app-validation-hint>
      <ng-container *ngIf="isRegionAdmin || isAreaAdmin">
        <label class="step-label">{{ 'FORMS.LABELS.REGION' | translate }}<span class="step-required">*</span></label>
        <mat-form-field appearance="fill">
          <mat-select
            [compareWith]="compareCodeficators"
            disableOptionCentering
            panelClass="dropdown-panel"
            class="step-input"
            [formControl]="regionFormControl"
            placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_REGION' | translate }}">
            <mat-option *ngFor="let region of regions$ | async" [value]="region" class="dropdown-option">
              {{ region.fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-validation-hint [validationFormControl]="regionFormControl"></app-validation-hint>
      </ng-container>
      <ng-container *ngIf="isAreaAdmin && regionFormControl.valid && isRegionSelected">
        <label class="step-label">
          {{ 'FORMS.PLACEHOLDERS.SELECT_TERRITORIAL_COMMUNITY' | translate }}<span class="step-required">*</span>
        </label>
        <mat-form-field appearance="fill">
          <mat-select
            [compareWith]="compareCodeficators"
            disableOptionCentering
            panelClass="dropdown-panel"
            class="step-input"
            [formControl]="territorialCommunityFormControl"
            placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_TERRITORIAL_COMMUNITY' | translate }}">
            <mat-option *ngFor="let codeficator of codeficatorSearch$ | async" [value]="codeficator" class="dropdown-option">
              {{ codeficator.territorialCommunity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-validation-hint [validationFormControl]="territorialCommunityFormControl"></app-validation-hint>
      </ng-container>
      <label class="step-label"> {{ 'FORMS.LABELS.EMAIL' | translate }} <span class="step-required">*</span></label>
      <mat-form-field appearance="fill">
        <input
          matInput
          class="step-input"
          type="email"
          formControlName="email"
          appTrimValue
          [placeholder]="Constants.MAIL_FORMAT_PLACEHOLDER" />
      </mat-form-field>
      <app-validation-hint [validationFormControl]="adminFormGroup.get('email')"></app-validation-hint>
    </form>

    <div class="wrapper-check-box step flex flex-col justify-start items-start">
      <label class="checkbox-label">
        {{ 'AGREEMENTS.I_AGREE_FOR_ADMIN' | translate }}
        <a class="link" [routerLink]="'/info/rules'" target="_blank">
          {{ 'AGREEMENTS.PLATFORM_RULES' | translate }}
        </a>
        {{ 'AGREEMENTS.PERSONAL_DATA_USE' | translate }}
      </label>
    </div>
    <div class="footer flex flex-row justify-center items-center">
      <button mat-raised-button class="btn btn-cancel" (click)="onCancel()">
        {{ 'BUTTONS.CANCEL' | translate }}
      </button>
      <button [disabled]="!adminFormGroup.dirty || adminFormGroup.invalid" class="btn" mat-button type="submit" (click)="onSubmit()">
        {{ 'BUTTONS.SAVE' | translate }}
      </button>
    </div>
  </div>
</div>
