<div class="create-form" fxLayout="column" fxLayoutAlign="center center">
  <div class="wrapper">
    <div class="create-form-header" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="wrapper-title">
        ДОДАТИ {{ title[adminRole] }}
      </h3>
      <p class="wrapper-text">Дані для входу будуть надіслані на електронну пошту користувача для логування в систему. Пароль є тимчасовим і повинен бути заміненим при першому вході </p>
    </div>

    <form [formGroup]="AdminFormGroup" fxLayout='column' fxLayoutAlign='center space-between'
      class="step form">
      <label class="step-label">Прізвище<span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="lastName" autocomplete="none" appTrimValue>
      </mat-form-field>
      <app-validation-hint 
        [validationFormControl]="AdminFormGroup.get('lastName')"
        [minCharachters]="validationConstants.INPUT_LENGTH_1"
        [maxCharachters]="validationConstants.INPUT_LENGTH_60">
      </app-validation-hint>

      <label class="step-label">Ім'я<span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="firstName" autocomplete="none" appTrimValue>
      </mat-form-field>
      <app-validation-hint 
        [validationFormControl]="AdminFormGroup.get('firstName')"
        [minCharachters]="validationConstants.INPUT_LENGTH_1"
        [maxCharachters]="validationConstants.INPUT_LENGTH_60">
      </app-validation-hint>

      <label class="step-label">По-батькові</label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="middleName" autocomplete="none" appTrimValue>
      </mat-form-field>
      <app-validation-hint 
        [validationFormControl]="AdminFormGroup.get('middleName')"
        [minCharachters]="validationConstants.INPUT_LENGTH_1"
        [maxCharachters]="validationConstants.INPUT_LENGTH_60">
      </app-validation-hint>

      <label class="step-label"> Телефон <span class="step-required">*</span></label>
      <mat-form-field>
        <div fxLayout='row' fxLayoutAlign='start'>
          <span class="step-text">{{ phonePrefix }}</span>
          <input matInput class="step-input" type="tel" formControlName="phoneNumber" appDigitOnly 
          maxlength="{{validationConstants.PHONE_LENGTH}}" appTrimValue ui-number-mask ui-hide-group-sep>
        </div>
      </mat-form-field>
      <app-validation-hint 
        [validationFormControl]="AdminFormGroup.get('phoneNumber')"
        [minCharachters]="validationConstants.PHONE_LENGTH"
        [isPhoneNumber]="true">
      </app-validation-hint>

      <label class="step-label">Міністерство<span class="step-required">*</span></label>
      <mat-form-field floatLabel="never" appearance="none">
        <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input"
          formControlName="institution" placeholder="Оберіть підпорядкування">
          <mat-option *ngFor="let institution of (institutions$ | async)" [value]="institution" class="dropdown-option">
            {{institution.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-validation-hint 
        [validationFormControl]="AdminFormGroup.get('institution')"
        [isTouched]="AdminFormGroup.get('institution').touched">
      </app-validation-hint>

      <label class="step-label" > Електронна пошта <span class="step-required">*</span></label>
      <mat-form-field >
        <mat-label></mat-label>
        <input matInput class="step-input" type="email" formControlName="email" appTrimValue  >
      </mat-form-field>
    </form>

    <div fxLayout='column' fxLayoutAlign='start start' class="wrapper-check-box step">
      <p class="personal-info">Додаючи адміна я погоджуюсь з <a [routerLink]="'/info/rules'" target="_blank"
        class="about-link"><strong>Правилами користування</strong></a> та надаю Згоду на обробку персональних даних
      </p>qqq
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
      <button mat-raised-button class="btn btn-cancel" (click)="onBack()">Скасувати</button>
      <button class="btn" mat-button type="submit" (click)="onSubmit()">Зберегти</button>
    </div>
  </div>
</div>
     