<div class="filter__categories" fxLayout='colunm wrap' fxLayoutAlign='center'>
  <button mat-stroked-button>Спорт</button>
  <button mat-stroked-button>Музика</button>
  <button mat-stroked-button>Туризм</button>
  <button mat-stroked-button>Мистецвто</button>
  <button mat-stroked-button>Конструювання</button>
  <button mat-stroked-button>Драматургія</button>
  <button mat-stroked-button>Дошкільна підготовка</button>
  <button mat-stroked-button>Мови</button>
  <button mat-stroked-button>Програмування</button>
  <button mat-stroked-button>Наука</button>
</div>