.container {
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  max-width: 954px;
  width: 100%;

  .workshop {
    &-image {
      width: 100%;
      img {
        width: 100%;
        object-fit: none;
      }
    }

    &-icon{
      width: 3rem;
    }

    &__wrap {
      padding: 2rem;
      padding-top: 0;
    }

    &-header {
      margin: 1rem;
    }

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #3849F9;

      &:hover {
        color: #a6ade7;
      }
    }

    &-status {
      width: 106px;
      height: 24px;
      background: #99CD56;
      border-radius: 16px;

      &-text {
        font-family: Innerspace;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 12px;
        color: #FFFFFF;
      }
    }
  }
}

.title,
.nav {
  margin: 10px;
  font-weight: 700;
  opacity: 1;
}

.active {
  color: #3849F9;
  opacity: 1;
  border-bottom: 2px solid #3849F9;
}

::ng-deep .mat-tab-link {
  min-width: 0px !important;
  padding: inherit !important;
  margin: 10px;
}

@media(max-width: 600px) {
  .title {
    margin: 0 10px 0 0;
    font-size: 20px;
  }
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #333333;
  padding: 0;
}

.icon {
  color: #AAAAAA;
  margin-right: 0.2rem;
}
