<div class="flex justify-start max-h-10 relative">
  <div class="search-bar flex flex-row justify-start items-center" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <mat-icon
      class="search-icon mt-2"
      role="button"
      tabindex="0"
      style="transform: rotate(90deg)"
      (keydown.enter)="onValueEnter()"
      (click)="onValueEnter()"
      >search
    </mat-icon>
    <input
      matInput
      type="text"
      class="search"
      [placeholder]="for === WorkshopType.Workshop ? ('SEARCH_WORKSHOP' | translate) : ('SEARCH_COMPETITION' | translate)"
      disableOptionCentering
      autocomplete="off"
      appTrimValue
      [formControl]="searchValueFormControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin"
      (keyup.enter)="onValueEnter()" />
    <mat-autocomplete
      #auto="matAutocomplete"
      hideSingleSelectionIndicator="true"
      panelClass="dropdown-panel"
      (optionSelected)="onValueSelect()">
      <mat-option class="dropdown-option option search-dropdown-option" *ngFor="let result of filteredResults" [value]="result">
        <div class="w-[100%] flex justify-between items-center">
          <span class="option-value">{{ result }}</span>
          <mat-icon
            class="close-icon"
            (keydown.enter)="onDeletePreviousSearchValue(result, $event)"
            (click)="onDeletePreviousSearchValue(result, $event)">
            close
          </mat-icon>
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
