<div >
<mat-card class="child" fxLayoutAlign='center' fxLayout ="row">
  <img src ="" alt="Photo">
<mat-card-content fxLayoutAlign='space-between center' fxLayout ="column">
  <p> Прізвище: {{card.surname}}</p>
  <p> Ім'я: {{card.name}}</p>
  <p> По-батькові: {{card.lastName}}</p>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="Жінка">Жінка</mat-radio-button>
    <mat-radio-button value="Чоловік">Чоловік</mat-radio-button>
  </mat-radio-group>
  <!-- <mat-label>Оберіть дату : </mat-label> -->
  <!-- <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker> -->
 
  
        
</mat-card-content>
</mat-card>
</div>