
<div >
 <p>{{card.name}}</p>
 <p>{{card.surname}}</p>
</div>
<mat-card fxLayout='row' fxLayoutAlign='space-between center' class="child">
   <div fxLayout='row' fxLayoutAlign='start'>
     <div class="card__image">
       <img mat-card-image src="" alt="Photo">
     </div>
     <div fxLayout='column' fxLayoutAlign='start'>
      
     </div>
     <!-- <md-input-container class="input-container-fix">
      <md-select ng-model="someModel">
        <md-select-header>
          <span> Соціальна група :</span>
        </md-select-header>
       
      </md-select>
    </md-input-container> -->
   </div>
   
 </mat-card>