<div class="wrapper">
<h1>Налаштування</h1>
<mat-card class="card" fxLayoutAlign='space-between center' fxLayout ="row">
   <div>
      <img src ="" alt="Photo">
   </div>
   <mat-card-content>
           <div fxFlex="30" fxLayoutAlign="center center">
              <p>ІВанов</p>
           </div>
           <!-- <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="Жінка">Жінка</mat-radio-button>
            <mat-radio-button value="Чоловік">Чоловік</mat-radio-button>
          </mat-radio-group> -->
   </mat-card-content>
 </mat-card>
<h1>Інфо про дітей</h1>
<ng-container> 
   <app-child-card *ngFor="let card of cards" [card]="card"></app-child-card> 
 </ng-container>
</div>