<div class="wrapper" fxLayout ="column" fxLayoutAlign='space-between center'>
  <h1>Налаштування</h1>
  <mat-card class="parent" fxLayoutAlign='center' fxLayout ="row">
        <img src ="" alt="Photo">
     <mat-card-content fxLayoutAlign='space-between center' fxLayout ="column">
              <p> Прізвище: Іванов</p>
              <p> Ім'я: Іванов</p>
              <p> По-батькові: Іванович</p>
              <p> Телефон: 0930972494</p>
              
     </mat-card-content>
   </mat-card>
  <h1>Інфо про дітей</h1>
  <ng-container> 
     <app-child-card *ngFor="let card of cards" [card]="card"></app-child-card> 
   </ng-container>
  </div>