@use 'src/app/shared/styles/components/navigation-tabs';
@use 'src/app/shared/styles/components/info-hint';
@use 'src/app/shared/styles/components/buttons';

.wrapper {
  background: var(--primary-light-bg-color);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
  p {
    font-family:
      Open Sans,
      sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }
}
.line-break {
  white-space: pre-line;
}
.edit-icon {
  position: relative;
  color: var(--primary-accent-color);
}
.legal-address-wrapper {
  border-bottom: 2px solid var(--input-light-color);
  margin-bottom: 1rem;
}
.description {
  max-width: 35rem;
}
h3 {
  padding-bottom: 1rem;
}

@media (max-width: 750px) {
  .wrapper {
    width: 100%;
    padding: 1rem 0;
    p,
    h5,
    h3 {
      padding: 0 1rem;
    }
  }
}

.close-icon {
  color: var(--secondary-cancel-text-color);
  cursor: pointer;
  &:hover {
    opacity: 0.5;
    color: var(--primary-accent-color);
  }
}

.section-title {
  font-weight: 400;
  margin-top: 1rem;
}

.license-status {
  .Approved {
    color: #199953;
  }
  .Pending {
    color: #ffbd00;
  }
  .NotProvided {
    color: #888888;
  }
}
