<div class="wrapper">
  <div
    *ngIf="isProviderView && role === Role.provider && (subrole === Subrole.None || subrole === Subrole.ProviderDeputy)"
    class="flex flex-row justify-end">
    <a [routerLink]="['/create-provider', editLink]" (click)="onActivateEditMode()" class="edit-icon">
      <button mat-button><mat-icon>edit</mat-icon>{{ 'BUTTONS.EDIT' | translate }}</button>
    </a>
  </div>
  <div *ngIf="!isProviderView" class="justify-end">
    <a (click)="onCloseInfo()" class="close-icon">
      <mat-icon>close</mat-icon>
    </a>
  </div>

  <mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="{{ 'ENUM.NAV_BAR_NAME.INFORMATION_ABOUT_PROVIDER' | translate }}">
      <h5>{{ 'FORMS.LABELS.OWNERSHIP' | translate }}</h5>
      <p>{{ ownershipTypesEnum[provider.ownership] | translate }}</p>

      <ng-container *ngIf="provider.license">
        <div class="license-status flex flex-row justify-between items-center">
          <h5>{{ 'FORMS.LABELS.LICENSE' | translate }}</h5>
          <h5 [ngClass]="provider.licenseStatus">{{ licenseStatusEnum[provider.licenseStatus] | translate }}</h5>
        </div>
      </ng-container>

      <p>{{ provider.license }}</p>
      <h5>{{ 'FORMS.LABELS.INSTITUTION_CATEGORY' | translate }}</h5>
      <p>{{ institutionTypesEnum[provider.institutionType] | translate }}</p>
      <ng-container *ngIf="provider.type">
        <h5>{{ 'FORMS.LABELS.ORGANIZATION_TYPE' | translate }}</h5>
        <p>{{ provider.type.name }}</p>
      </ng-container>
      <ng-container *ngIf="provider.institution">
        <h5>{{ 'FORMS.LABELS.SUBORDINATION' | translate }}</h5>
        <p class="description">{{ provider.institution.title }}</p>
      </ng-container>
      <h5>{{ 'FORMS.LABELS.ORGANIZATION_STATUS' | translate }}</h5>
      <p class="description">{{ institutionStatusName }}</p>
      <h5>{{ 'FORMS.LABELS.FULL_ORGANIZATION_NAME' | translate }}</h5>
      <p>{{ provider.fullTitle }}</p>
      <h5>{{ 'FORMS.LABELS.SHORT_ORGANIZATION_NAME' | translate }}</h5>
      <p>{{ provider.shortTitle }}</p>
      <h5>
        {{ (provider.ownership === ownershipTypes.State ? 'FORMS.LABELS.EDRPO' : 'FORMS.LABELS.IPN') | translate }}
      </h5>
      <p>{{ provider.edrpouIpn }}</p>
      <h5>{{ 'FORMS.LABELS.PHONE' | translate }}</h5>
      <p>
        {{ provider.phoneNumber | phone }}
      </p>
      <h5>{{ 'FORMS.LABELS.EMAIL' | translate }}</h5>
      <p>{{ provider.email }}</p>
      <h5>{{ 'FORMS.LABELS.FOUNDER' | translate }}</h5>
      <p>{{ provider.founder }}</p>
      <h5>{{ 'FORMS.LABELS.DIRECTOR_NAME' | translate }}</h5>
      <p>{{ provider.director }}</p>
      <h5>{{ 'FORMS.LABELS.DIRECTOR_BIRTHDAY' | translate }}</h5>
      <p>
        {{ provider.directorDateOfBirth | date: constants.SHORT_DATE_FORMAT }}
      </p>
    </mat-tab>

    <mat-tab label="{{ 'TITLES.CONTACTS' | translate }}">
      <div class="legal-address-wrapper">
        <h3>{{ 'FORMS.HEADERS.LEGAL_ADDRESS' | translate }}</h3>
        <ng-container *ngIf="provider?.legalAddress; then LegalAddress"></ng-container>
      </div>
      <h3>{{ 'FORMS.HEADERS.ACTUAL_ADDRESS' | translate }}</h3>
      <ng-container *ngIf="provider?.actualAddress; else LegalAddress">
        <h5>{{ 'FORMS.LABELS.SETTLEMENT' | translate }}</h5>
        <p>{{ provider.actualAddress.codeficatorAddressDto.fullName }}</p>
        <h5 *ngIf="provider.actualAddress.codeficatorAddressDto.cityDistrict">{{ 'CITY_DISTRICT' | translate }}</h5>
        <p>{{ provider.actualAddress.codeficatorAddressDto.cityDistrict }}</p>
        <h5>{{ 'FORMS.LABELS.STREET' | translate }}</h5>
        <p>{{ provider.actualAddress.street }}</p>
        <h5>{{ 'FORMS.LABELS.BUILDING' | translate }}</h5>
        <p>{{ provider.actualAddress.buildingNumber }}</p>
      </ng-container>
    </mat-tab>

    <mat-tab label="{{ 'TITLES.DESCRIPTION' | translate }}">
      <ng-container *ngIf="provider.providerSectionItems?.length">
        <h5>{{ 'TITLES.ABOUT_THE_PROVIDER' | translate }}</h5>
        <div *ngFor="let item of provider.providerSectionItems">
          <h5 class="section-title">{{ item.sectionName }}</h5>
          <p class="line-break">{{ item.description }}</p>
        </div>
      </ng-container>

      <h5 *ngIf="provider.website">{{ 'FORMS.LABELS.WEBSITE' | translate }}</h5>
      <p>{{ provider.website }}</p>
      <h5 *ngIf="provider.facebook">Facebook</h5>
      <p>{{ provider.facebook }}</p>
      <h5 *ngIf="provider.instagram">Instagram</h5>
      <p>{{ provider.instagram }}</p>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #LegalAddress>
  <h5>{{ 'FORMS.LABELS.SETTLEMENT' | translate }}</h5>
  <p>{{ provider.legalAddress.codeficatorAddressDto.fullName }}</p>
  <h5 *ngIf="provider.legalAddress.codeficatorAddressDto.cityDistrict">{{ 'CITY_DISTRICT' | translate }}</h5>
  <p>{{ provider.legalAddress.codeficatorAddressDto.cityDistrict }}</p>
  <h5>{{ 'FORMS.LABELS.STREET' | translate }}</h5>
  <p>{{ provider.legalAddress.street }}</p>
  <h5>{{ 'FORMS.LABELS.BUILDING' | translate }}</h5>
  <p>{{ provider.legalAddress.buildingNumber }}</p>
</ng-template>
