@import "src/app/shared/styles/navigation-tabs.scss";
$basen-blue-color: #3849F9;
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
   p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }
}
.edit-icon{
  position: relative;
  color: $basen-blue-color;
}
.legal-address-wrapper{
  border-bottom: 2px solid #E3E3E3;
  margin-bottom: 1rem;
}
.description{
  max-width: 35rem;
}
h3{
  padding-bottom: 1rem;
}
@media(max-width: 750px) {
  .wrapper{
    width: 100%;
    padding: 1rem 0;
    p, h5, h3{
      padding: 0 1rem;
    }
  }
}

.close-icon {
  color: #ccc;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
    color: #3849f9;
  }
}

.section-title {
  font-weight: 400;
  margin-top: 1rem;
}