.star-icon{
  color: #AAAAAA;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{
  border: none;

}
.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border: none;
}
.mat-button-toggle-checked{
  background-color: transparent;
   .star-icon{
    color: #3849F9;
  }
}
