<mat-form-field class="dropdown-wrapper">
  <mat-label class="label" [ngClass]="{ 'disabled-field': entities?.length < 1 }">{{ getLabelTitle(entities?.length) | translate}}</mat-label>
  <mat-select
    [disabled]="entities?.length < 1"
    [formControl]="entityControl"
    multiple
    class="dropdown"
    disableOptionCentering
    panelClass="dropdown-panel application-dropdown"
  >
    <mat-select-trigger>
      <div *ngIf="entityControl.value?.length">
        <span *ngIf="entityControl.value?.length > 1"> {{ entityControl.value?.length | translateCases: Declination }} {{'SELECTED' | translate}} </span>
        <span *ngIf="entityControl.value?.length === 1"> {{ entityControl.value[0].title }} </span>
      </div>
    </mat-select-trigger>
    <mat-option class="dropdown-option" *ngFor="let entity of entities" [value]="entity">{{ entity.title }} </mat-option>
  </mat-select>
</mat-form-field>
