@import 'src/app/shared/styles/dropdown.scss';

.dropdown {
  max-width: 200px;
  background: #ffffff;
  font-weight: 500;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 0.8rem;
  color: #333333;
}

.dropdown-wrapper {
  z-index: 3;
  width: 120px;
}

.label {
  padding: 1rem;
}

mat-form-field mat-label {
  display: flex;
  justify-content: flex-start;
  font-weight: 800;
  font-size: 0.8rem;
  color: #333333;
  width: fit-content;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  display: none;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
  background: #3849f9;
}

:host ::ng-deep .mat-form-field-underline {
  height: 0;
}

::ng-deep .custom-overlay-panel .application-dropdown {
  max-width: 180px;
}

// ::ng-deep .mat-select-value {
//   max-width: 75px;
//   min-width: 65px;
//   white-space: nowrap;
// }

// ::ng-deep .mat-form-field-infix {
//   width: fit-content !important;
// }

::ng-deep .mat-select-trigger {
  display: flex;
  justify-content: space-between;
}
