@import "src/app/shared/styles/cards.scss";
@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
.card_label{
  font-family: "Innerspace";
  font-weight: 700;
}

.user_form{
  margin-top:1rem;
}