<div class="person-card">
  
  <div *ngIf="(CardType.child === cardType) then ChildView; else ParentView"></div>
  <div *ngIf="(CardType.user === cardType) then UserView"></div>
  
</div>

<ng-template #ChildView>

  <label class="card-label">ПІБ</label>
  <p>{{ card.lastName }} {{ card.firstName }} {{ card.middleName }} </p>
  <label class="card-label">Дата народження</label>
  <p> {{ card.dateOfBirth }} </p>
  <label class="card-label">Стать дитини</label>
  <p> {{ card.gender === 0 ? 'Чоловіча' : "Жіноча" }} </p>
  <label class="card-label">Соціальна група</label>
  <p> {{ card.socialGroupId === 0 ? 'Відстуня' : "Присутня" }} </p>

</ng-template>

<ng-template #ParentView>

  <label class="card-label">ПІБ</label>
  <p>{{ card.lastName }} {{ card.firstName }} {{ card.middleName }} </p>
  <label class="card-label">Телефон</label>
  <p> {{ card.phone }} </p>
  <label class="card-label">Емейл</label>
  <p> {{ card.email}} </p>

</ng-template>

<ng-template #UserView>
  <form [formGroup]="UserFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="use-_form">

    <label class="step-label">Дата народження<span class="step-required">*</span></label>
    <mat-form-field class="step-input step-input-date">
      <input matInput [matDatepicker]="picker" formControlName="birthDay" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label class="step-label">Стать<span class="step-required">*</span></label>
    <mat-radio-group formControlName="gender" color="primary">
      <mat-radio-button class="step-radio" [value]="0">Чоловіча</mat-radio-button>
      <mat-radio-button class="step-radio" [value]="1">Жіноча</mat-radio-button>
    </mat-radio-group>

    <label class="step-label">Соціальна група<span class="step-required">*</span></label>
    <mat-form-field>
      <mat-select class="step-input" formControlName="socialGroupId">
        <mat-option value="0" selected> Присутня </mat-option>
        <mat-option value="1"> Відсутня </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</ng-template>