<div class="statistics-filters">
  <div class="filter-wrapper">
    <span class="title">Період</span>
    <div class="filter-wrapper-date">
      <mat-form-field class="control control-date" floatLabel="never">
        <input matInput [matDatepicker]="dateFrom" />
        <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
        <mat-datepicker #dateFrom></mat-datepicker>
      </mat-form-field>

      <div class="separate-line"></div>

      <mat-form-field appPlaceholderStyling class="control control-date" floatLabel="never">
        <input matInput [matDatepicker]="dateTo" />
        <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="filter-wrapper">
    <span class="title">Міністерство</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" class="control control-select"> </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-wrapper">
    <span class="title">Область</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" class="control control-select"> </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-wrapper">
    <span class="title">ОТГ</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" class="control control-select"> </mat-select>
    </mat-form-field>
  </div>
  <button class="btn" mat-raised-button>Згенерувати звіт</button>
</div>
<div class="statistics-result">
  <ng-container *ngIf="true; then report; else noReport"></ng-container>
</div>

<ng-template #noReport>
  <span
    >У вас ще немає згенерованого звіту. <br />
    Задайте критерії і натисніть кнопку “Згенерувати звіт”, щоб побачити його тут</span
  >
</ng-template>

<ng-template #report>
  <button class="btn btn-transparent" mat-strocked-button><mat-icon class="download-icon">get_app</mat-icon> Завантажити</button>
</ng-template>
