<div *ngFor="let format of StatisticsFileFormat">
  {{ format }}
</div>

<div [formGroup]="filtersForm" class="statistics-filters">
  <div class="filter-wrapper">
    <span class="title">Часовий проміжок</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" formControlName="period" class="control control-select select">
        <mat-option [value]="StatisticsPeriod.WorkshopsDaily" class="dropdown-option">За останні 24 години</mat-option>
        <mat-option [value]="StatisticsPeriod.WorkshopsYear" class="dropdown-option">За рік</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-wrapper">
    <span class="title">Формат</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" formControlName="format" class="control control-select">
        <mat-option [value]="StatisticsFileFormat.CSV" class="dropdown-option">CSV</mat-option>
        <mat-option [value]="StatisticsFileFormat.XLSX" class="dropdown-option">XLSX</mat-option>
        <mat-option [value]="StatisticsFileFormat.HTML" class="dropdown-option">HTML</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button class="btn" mat-raised-button>Згенерувати звіт</button>
</div>
<div class="statistics-result">
  <ng-container *ngIf="isReport; then report; else noReport"></ng-container>
</div>

<ng-template #noReport>
  <span
    >У вас ще немає згенерованого звіту. <br />
    Задайте критерії і натисніть кнопку “Згенерувати звіт”, щоб побачити його тут</span
  >
</ng-template>

<ng-template #report>
  <button class="btn btn-transparent" mat-strocked-button (click)="onGenerateReport()">
    <mat-icon class="download-icon">get_app</mat-icon> Завантажити
  </button>
</ng-template>
