<div [formGroup]="filtersForm" class="statistics-filters">
  <div class="filter-wrapper">
    <span class="title">Часовий проміжок</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" formControlName="period" class="control control-select select">
        <mat-option [value]="StatisticPeriodType.WorkshopsDaily" class="dropdown-option">{{
          StatisticPeriodTitle.WorkshopsDaily
        }}</mat-option>
        <mat-option [value]="StatisticPeriodType.WorkshopsYear" class="dropdown-option">{{
          StatisticPeriodTitle.WorkshopsYear
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-wrapper">
    <span class="title">Формат</span>
    <mat-form-field>
      <mat-select disableOptionCentering panelClass="dropdown-panel" formControlName="format" class="control control-select">
        <mat-option [value]="StatisticFileFormat.CSV" class="dropdown-option">{{ StatisticFileFormat.CSV }}</mat-option>
        <mat-option [value]="StatisticFileFormat.XLSX" class="dropdown-option">{{ StatisticFileFormat.XLSX }}</mat-option>
        <mat-option [value]="StatisticFileFormat.HTML" class="dropdown-option">{{ StatisticFileFormat.HTML }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button class="btn" mat-raised-button (click)="onGenerateReport()">Згенерувати звіти</button>
</div>
<div class="statistics-result">
  <ng-container *ngIf="statisticReports; then report; else noReport"></ng-container>
</div>

<ng-template #noReport>
  <span
    >У вас ще немає згенерованих звітів. <br />
    Задайте критерії і натисніть кнопку “Згенерувати звіти”, щоб побачити їх тут</span
  >
</ng-template>

<ng-template #report>
  <div class="table-wrapper mat-elevation-z8">
    <table mat-table [dataSource]="statisticReports">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Назва</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="fileFormat">
        <th mat-header-cell *matHeaderCellDef>Формат</th>
        <td mat-cell *matCellDef="let element">{{ element.reportDataType }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Період</th>
        <td mat-cell *matCellDef="let element">{{ StatisticPeriodTitle[element.reportType] }}</td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Дата створення</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-transparent" mat-strocked-button [routerLink]="'/api/v1/StatisticReport/GetDataById/' + element.id">
            <mat-icon class="download-icon">get_app</mat-icon> Завантажити
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</ng-template>
