<div class="flex flex-col justify-center">
  <label *ngIf="!TeacherFormArray.controls.length" class="label">{{ 'FORMS.ADD_TEACHER_LATER' | translate }}</label>

  <ng-container>
    <app-teacher-form
      *ngFor="let form of TeacherFormArray.controls"
      [TeacherFormGroup]="form"
      [index]="TeacherFormArray.controls.indexOf(form)"
      [teacherAmount]="TeacherFormArray.controls.length"
      [isImagesFeature]="isImagesFeature"
      (deleteForm)="onDeleteForm($event)">
    </app-teacher-form>
  </ng-container>
  <div class="flex flex-col justify-center items-center">
    <button class="btn-add" mat-button (click)="onAddTeacher()" [disabled]="TeacherFormArray.invalid">
      <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_ANOTHER_TEACHER' | translate }}
    </button>
  </div>
</div>
