@import 'src/app/shared/styles/create-form-wrapper.scss';

.label {
  min-width: 410px;
  font-family: Innerspace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 0 50px;
  font-weight: 600;
  margin: 5px 0;
  padding: 1rem 2rem;
  color: #333333;
}
.btn-add {
  width: 20rem;
}
