<mat-card class="category" fxLayout="column" fxLayoutAlign="center center">
  <img class="icon" [src]="categoryIcons[direction.id]" alt="{{direction.title}}">

  <ng-container *ngIf="isEditMode">
    <div  [routerLink]="['./directions/create', direction.id]" class="config_edit-icon">
      <button mat-button class="config-button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="del-icon" (click)="onDelete($event)" >
    <button mat-button class="del-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  </ng-container>

  <div class="details">
    <h3 class="title">{{ direction.title }}</h3>
    <a class="link" [routerLink]="'/result'" (click)="selectDirection(direction)">
      {{ workshopsCount }} {{ getWord(workshopsCount) }} <span class="material-icons arrow">arrow_forward</span>
    </a>
  </div>
</mat-card>
