.category {
  width: 193px;
  height: 184px;
  padding: 24px 0;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  .icon {
    height: 100px;
  }
  .title {
    text-align: center;
    margin-bottom: 9px;
  }
  .link {
    display: flex;
    font-weight: bold;
    color: #3849F9;
    align-items: center;
    justify-content: center;
      .arrow {
        margin-left: 0.5rem;
        font-size: 15px;
        line-height: 24px;
      }
  }
  .link:hover {
    opacity: 0.5;
    color: #3849f9;
  }
}

.config_edit-icon {
  position: absolute;
  top: 12px;
  right: 35px;
  z-index: 2;
  color : #3849F9;
  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
  .mat-button {
    padding: 0px;
    min-width:auto;
    line-height: 16px;
  }
}
.del-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  color : #3849F9;
  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
  .mat-button {
    padding: 0px;
    min-width:auto;
    line-height: 16px;
  }
}

.config-support p {
  margin: 0;
}
