<mat-card
  [ngClass]="{ hoverOnCard: !workshopsCount }"
  class="category flex flex-col items-center justify-center"
  (click)="!workshopsCount && selectDirection(direction)">
  <div class="flex items-center justify-center">
    <img class="icon" [src]="categoryIcons[direction.id]" alt="{{ direction.title }}" />
  </div>

  <ng-container *ngIf="isEditMode">
    <div [routerLink]="['./create', direction.id]" class="config_edit-icon">
      <button mat-button class="config-button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="del-icon" (click)="onDelete($event)">
      <button mat-button class="del-button" data-testid="del-button">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-container>

  <div class="details">
    <h3 class="title">{{ direction.title }}</h3>
    <a *ngIf="workshopsCount" class="link" (click)="selectDirection(direction)">
      {{ workshopsCount | translateCases: WorkshopDeclination }}
      <span class="material-icons arrow">arrow_forward</span>
    </a>
  </div>
</mat-card>
