.category {
  width: 193px;
  height: 184px;
  padding: 24px 0;
  gap: 1rem;
  box-sizing: border-box;
  background: var(--primary-light-bg-color);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  .icon {
    height: 68px;
  }

  .title {
    text-align: center;
    margin-bottom: 9px;
    color: var(--primary-dark-text-color) !important;
  }

  .link {
    display: flex;
    font-weight: bold;
    color: var(--primary-accent-color);
    align-items: center;
    justify-content: center;
    font-family: Innerspace, sans-serif;
    line-height: 1;

    .arrow {
      margin-left: 0.5rem;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}

.config_edit-icon {
  position: absolute;
  top: 12px;
  right: 35px;
  z-index: 2;
  margin-right: 7px;

  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    color: var(--primary-accent-color);
  }

  .mdc-button {
    padding: 5px;
    min-width: 20px;
    height: 20px;
  }
}

.del-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;

  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    color: var(--primary-accent-color);
  }

  .mdc-button {
    padding: 5px;
    min-width: 20px;
    height: 20px;
  }
}

.config-support p {
  margin: 0;
}

.hoverOnCard:hover {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.241);
  cursor: pointer;
}

.link:hover {
  opacity: 0.5;
  color: var(--primary-accent-color);
  cursor: pointer;
}
