<form [formGroup]="AboutFormGroup" class="step flex flex-col justify-between items-stretch">
  <mat-checkbox class="step-label" color="primary" [formControl]="useProviderInfoCtrl">
    {{ 'FORMS.CONTROL_VALUES.USE_SERVICE_PROVIDER_CONTACT_DETAILS' | translate }}
  </mat-checkbox>

  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="1"
    [cropperConfig]="cropperConfig"
    [label]="'Фонове зображення'"
    formControlName="coverImage"
    [imageIdsFormControl]="AboutFormGroup.get('coverImageId')">
  </app-image-form-control>

  <label class="step-label">{{ 'FORMS.LABELS.TITLE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="title" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('title')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.SHORT_TITLE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="shortTitle" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('shortTitle')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.PHONE' | translate }}<span class="step-required">*</span></label>
  <app-phone-form-control [parentFormControl]="AboutFormGroup.get('phone')"> </app-phone-form-control>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('phone')"
    [minCharacters]="validationConstants.PHONE_LENGTH"
    [isPhoneNumber]="true">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.EMAIL' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appearance="fill">
    <input matInput class="step-input" type="email" formControlName="email" appTrimValue [placeholder]="mailFormPlaceholder" />
  </mat-form-field>
  <app-validation-hint [validationFormControl]="AboutFormGroup.get('email')"></app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.WEBSITE' | translate }}</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="website" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('website')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Facebook</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="facebook" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('facebook')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Instagram</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="instagram" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('instagram')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <div class="border-bottom"></div>

  <label class="step-label">{{ 'FORMS.LABELS.AGE_OF_PARTICIPANTS' | translate }}<span class="step-required">*</span></label>
  <div class="flex flex-row justify-start">
    <div class="flex flex-col justify-start items-start">
      <div class="flex flex-row justify-start items-center">
        <p class="step-text">{{ 'FROM' | translate }}</p>
        <mat-form-field>
          <input
            matInput
            class="step-input step-input-age"
            type="number"
            formControlName="minAge"
            appDigitOnly
            maxlength="2"
            appMinMax
            [directiveFormControl]="AboutFormGroup.get('minAge')"
            [max]="
              (AboutFormGroup.get('maxAge').value !== null ? AboutFormGroup.get('maxAge').value : validationConstants.BIRTH_AGE_MAX) - 1
            "
            autocomplete="none" />
        </mat-form-field>
      </div>
      <app-validation-hint [validationFormControl]="AboutFormGroup.get('minAge')"></app-validation-hint>
    </div>

    <div class="flex flex-col justify-start items-start">
      <div class="flex flex-row justify-start items-center">
        <p class="step-text">{{ 'TO' | translate }}</p>
        <mat-form-field>
          <input
            matInput
            class="step-input step-input-age"
            type="number"
            formControlName="maxAge"
            appDigitOnly
            maxlength="2"
            [directiveFormControl]="AboutFormGroup.get('maxAge')"
            appMinMax
            [max]="validationConstants.BIRTH_AGE_MAX"
            [min]="
              AboutFormGroup.get('minAge').value !== null || AboutFormGroup.get('maxAge').value === 0
                ? AboutFormGroup.get('minAge').value + 1
                : null
            "
            autocomplete="none" />
        </mat-form-field>
      </div>
      <app-validation-hint [validationFormControl]="AboutFormGroup.get('maxAge')"></app-validation-hint>
    </div>
  </div>

  <label class="step-label">{{ 'FORMS.LABELS.WORKING_HOURS' | translate }}<span class="step-required">*</span></label>
  <app-working-hours-form-wrapper
    [workingHoursFormArray]="workingHoursFormArray"
    [workshop]="workshop"
    (dataChangedInChild)="markFormAsDirtyOnUserInteraction()"></app-working-hours-form-wrapper>

  <label class="step-label">{{ 'FORMS.LABELS.FORM_OF_LEARNING' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group formControlName="formOfLearning" color="primary" class="flex flex-col justify-between items-stretch">
    <ng-container *ngFor="let formOfLearning of FormOfLearning | keyvalue: Util.keyValueNumericSorting">
      <mat-radio-button *ngIf="FormOfLearningEnum[formOfLearning.key]" [value]="formOfLearning.key">
        {{ FormOfLearningEnum[formOfLearning.key] | translate }}
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>

  <label class="step-label">{{ 'FORMS.LABELS.PRICE' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group [formControl]="priceRadioBtn" color="primary">
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">{{ 'FOR_FREE' | translate }}</mat-radio-button>
    <div class="container flex flex-row justify-between items-stretch">
      <div class="price flex flex-row justify-center items-center">
        <mat-radio-button #radio2 name="radioBtn2" [value]="true"
          ><input
            matInput
            class="step-input price-input"
            appDigitOnly
            appMinMax
            formControlName="price"
            type="number"
            [directiveFormControl]="priceControl"
            [min]="validationConstants.MIN_PRICE"
            [max]="validationConstants.MAX_PRICE" />
        </mat-radio-button>
        <p class="step-text price-only-uah">{{ 'FORMS.UAH' | translate }}</p>
      </div>
      <div class="pay-type flex flex-row items-center justify-center box-border">
        <div class="prices-texts flex flex-row">
          <p class="step-text price-text">{{ 'FORMS.UAH_FOR' | translate }}</p>
          <p class="step-text for-only-text">{{ 'FORMS.FOR' | translate }}</p>
        </div>
        <mat-select
          disableOptionCentering
          panelClass="dropdown-panel"
          class="step-input payment-type-input"
          formControlName="payRate"
          name="payRate"
          placeholder="{{ 'FORMS.PLACEHOLDERS.PAYMENT_TYPE' | translate }}">
          <ng-container *ngFor="let type of PayRateType | keyvalue">
            <mat-option *ngIf="PayRateTypeEnum[type.key]" [value]="type.key" class="dropdown-option">
              {{ PayRateTypeEnum[type.key] | translate }}
            </mat-option>
          </ng-container>
        </mat-select>
      </div>
    </div>
    <div class="pay-type__error">
      <app-validation-hint [validationFormControl]="payRateControl"></app-validation-hint>
    </div>
  </mat-radio-group>

  <div *ngIf="provider.ownership !== ownershipType.State" class="flex flex-col justify-between items-stretch">
    <div class="flex flex-row justify-between items-start">
      <label class="step-label">{{ 'FORMS.LABELS.AVAILABLE_PLACES' | translate }}<span class="step-required">*</span></label>
      <app-info-menu [type]="InfoMenuType.Text">
        {{ 'INFO_MENU.UNLIMITED' | translate }}
      </app-info-menu>
    </div>
    <mat-radio-group [formControl]="availableSeatsRadioBtnControl" color="primary">
      <mat-radio-button [value]="true">{{ 'UNLIMITED' | translate }}</mat-radio-button>
      <div class="container flex flex-row justify-between items-center">
        <div class="radio-button-wrap flex flex-row justify-center items-center">
          <mat-radio-button [value]="false">
            <input
              matInput
              class="step-input price-input"
              appDigitOnly
              formControlName="availableSeats"
              type="number"
              [min]="minSeats"
              [max]="UNLIMITED_SEATS" />
          </mat-radio-button>
          <app-info-menu
            *ngIf="isShowHintAboutWorkshopAutoClosing"
            [type]="InfoMenuType.Text"
            [isOpenByDefault]="isShowHintAboutWorkshopAutoClosing">
            {{ 'FORMS.WARNING_MESSAGE_ABOUT_CLOSING_THE_WORKSHOP' | translate }}
          </app-info-menu>
        </div>
      </div>
      <app-validation-hint [validationFormControl]="availableSeatsControl" [minNumberValue]="minSeats"></app-validation-hint>
    </mat-radio-group>
  </div>

  <app-institution-hierarchy
    [instituitionHierarchyIdFormControl]="AboutFormGroup.get('institutionHierarchyId')"
    [instituitionIdFormControl]="AboutFormGroup.get('institutionId')"
    [provider]="provider">
  </app-institution-hierarchy>
</form>
