<form [formGroup]="AboutFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  <mat-checkbox class="step-label" color="primary" [formControl]="useProviderInfoCtrl">Використати контактні дані
    надавача
    освітніх послуг
  </mat-checkbox>

  <app-image-form-control *ngIf="isRelease2" [imgMaxAmount]="1" [cropperConfig]="cropperConfig" [label]="'Фонове зображення'"
    formControlName="coverImage" [imageIdsFormControl]="AboutFormGroup.get('coverImageId')"></app-image-form-control>

  <label class="step-label">Назва<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="title" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="AboutFormGroup.get('title')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Телефон<span class="step-required">*</span></label>
  <mat-form-field>
    <div fxLayout='row' fxLayoutAlign='start center'>
      <span class="step-text">{{ phonePrefix }}</span>
      <input matInput class="step-input" type="tel" formControlName="phone" appDigitOnly appTrimValue ui-number-mask
        ui-hide-group-sep  maxlength="{{ validationConstants.PHONE_LENGTH }}">
    </div>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('phone')"
    [minCharachters]="validationConstants.PHONE_LENGTH"
    [isPhoneNumber]="true">
  </app-validation-hint>

  <label class="step-label">Електронна пошта<span class="step-required">*</span></label>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput class="step-input" type="email" formControlName="email" appTrimValue [placeholder]='mailFormPlaceholder'>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('email')">
  </app-validation-hint>

  <label class="step-label">Веб сайт</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="website" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('website')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Facebook</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="facebook" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('facebook')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Instagram</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="instagram" autocomplete="none" appTrimValue>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('instagram')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <div class="border-bottom"></div>

  <label class="step-label">Вік дітей<span class="step-required">*</span></label>
  <div fxLayout="row" fxLayoutAlign="start">
    <div fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="row"fxLayoutAlign="start center">
        <p class="step-text">Від</p>
        <mat-form-field>
          <input matInput class="step-input step-input-age" type="number" formControlName="minAge" appDigitOnly
            maxlength="2" appMinMax [directiveFormControl]="AboutFormGroup.get('minAge')" [min]="validationConstants.AGE_MIN"
            [max]="AboutFormGroup.get('maxAge').value ? AboutFormGroup.get('maxAge').value - 1 : validationConstants.AGE_MAX"
            autocomplete="none">
        </mat-form-field>
      </div>
      <app-validation-hint
        [validationFormControl]="AboutFormGroup.get('minAge')">
      </app-validation-hint>
    </div>

    <div fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <p class="step-text">До</p>
        <mat-form-field>
          <input matInput class="step-input step-input-age" type="number" formControlName="maxAge" appDigitOnly
            maxlength="2" [directiveFormControl]="AboutFormGroup.get('maxAge')" appMinMax
            [min]="AboutFormGroup.get('minAge').value ? AboutFormGroup.get('minAge').value + 1 : validationConstants.AGE_MIN"
            [max]="validationConstants.AGE_MAX" autocomplete="none">
        </mat-form-field>
      </div>
      <app-validation-hint
        [validationFormControl]="AboutFormGroup.get('maxAge')">
      </app-validation-hint>
    </div>
  </div>

  <label class="step-label">Розклад занять<span class="step-required">*</span></label>
  <app-working-hours-form-wrapper [workingHoursFormArray]="workingHoursFormArray" [workshop]="workshop"></app-working-hours-form-wrapper>

  <label class="step-label">Вартість<span class="step-required">*</span></label>
  <mat-radio-group [formControl]="priceRadioBtn" color="primary">
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">
      Безкоштовно</mat-radio-button>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="conteiner">
        <div fxLayout="row" fxLayoutAlign="center center" class="price">
          <mat-radio-button #radio2 name="radioBtn2" [value]="true"><input matInput class="step-input price-input"
              appDigitOnly appMinMax formControlName="price" type="number"
              [directiveFormControl]="AboutFormGroup.get('price')" [min]="validationConstants.MIN_PRICE"
              [max]="validationConstants.MAX_PRICE">
          </mat-radio-button>
        </div>
        <div fxLayoutAlign="center center" class="pay-type">
          <p class="step-text price-text">грн за</p>
            <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input" formControlName="payRate" name="payRate" 
            placeholder="Оберіть тип олати за гурток">
              <ng-container *ngFor="let type of PayRateType | keyvalue">
                <mat-option *ngIf="PayRateTypeUkr[type.key]" [value]="type.key" class="dropdown-option">
                  {{ PayRateTypeUkr[type.key] }} 
                </mat-option>
              </ng-container>
            </mat-select>
        </div>
      </div>
    <app-validation-hint
      [validationFormControl]="AboutFormGroup.get('payRate')"
      [isTouched]="AboutFormGroup.get('payRate').touched">
    </app-validation-hint>
  </mat-radio-group>

  <!-- <label class="step-label"> Конкурсний відбір </label>
  <mat-radio-group [formControl]="competitiveSelectionRadioBtn" color="primary" fxLayout='column'
    fxLayoutAlign='center space-between'>
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">Без конкурсного відбору</mat-radio-button>
    <mat-radio-button #radio2 name="radioBtn2" [value]="true">Є конкурсний відбір</mat-radio-button>
    <div class="step-label-combined">
      <label class="step-label"> Інформація про відбір<span class="step-required">*</span></label>
      <label class="step-characters-count">
        {{AboutFormGroup.get('competitiveSelectionDescription').value.length}}/{{constants.MAX_DESCRIPTION_LENGTH}}</label>
    </div>
    <textarea matInput class="step-textarea step-textarea-short"
      placeholder="Максимум {{constants.MAX_DESCRIPTION_LENGTH}} символів"
      formControlName="competitiveSelectionDescription" maxlength="{{constants.MAX_DESCRIPTION_LENGTH}}"></textarea>
  </mat-radio-group> -->
</form>
