<form [formGroup]="AboutFormGroup" class="step flex flex-col justify-between items-stretch">
  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="1"
    [entity]="Entities.Workshop"
    [cropperConfig]="cropperConfig"
    [label]="'FORMS.LABELS.COVER_IMAGE' | translate"
    formControlName="coverImage"
    [imageIdsFormControl]="AboutFormGroup.get('coverImageId')"
    (deleteImage)="onDeleteImage()">
  </app-image-form-control>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup"
    [formLevelValidation]="true"
    [isImage]="true"
    [minImages]="1"
    [maxImages]="1">
  </app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.WORKSHOP_TITLE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="title" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('title')"
    [minCharacters]="validationConstants.INPUT_LENGTH_3"
    [maxCharacters]="validationConstants.INPUT_LENGTH_250">
  </app-validation-hint>

  <div class="flex flex-row justify-between items-center">
    <label class="step-label">{{ 'FORMS.LABELS.SHORT_TITLE' | translate }}<span class="step-required">*</span></label>
    <app-info-menu [type]="InfoMenuType.Text">
      {{ 'INFO_MENU.SHORT_TITLE_DESCRIPTION' | translate }}
    </app-info-menu>
  </div>

  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="shortTitle" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="AboutFormGroup.get('shortTitle')"
    [minCharacters]="validationConstants.INPUT_LENGTH_3"
    [maxCharacters]="validationConstants.INPUT_LENGTH_120">
  </app-validation-hint>

  <label for="age" class="step-label">{{ 'FORMS.LABELS.AGE_OF_PARTICIPANTS' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group color="primary" formControlName="noAgeRestrictions" class="flex flex-col justify-between items-stretch">
    <mat-radio-button [value]="true">
      <span class="font-sans">
        {{ 'UNLIMITED' | translate }}
      </span>
    </mat-radio-button>
    <div>
      <mat-radio-button [value]="false" class="age-radio-btn">
        <div class="flex flex-row justify-start">
          <div class="flex flex-col justify-start items-start">
            <div class="flex flex-row justify-start items-center">
              <p class="step-text font-sans !font-normal !pl-0">{{ 'FROM' | translate }}</p>
              <input
                matInput
                class="step-input step-input-age"
                type="number"
                [min]="validationConstants.AGE_MIN"
                [max]="validationConstants.BIRTH_AGE_MAX"
                formControlName="minAge"
                appIntegerOnly />
            </div>
          </div>

          <div class="flex flex-col justify-start items-start">
            <div class="flex flex-row justify-start items-center">
              <p class="step-text font-sans !font-normal">{{ 'TO' | translate }}</p>
              <input
                matInput
                class="step-input step-input-age"
                type="number"
                [min]="validationConstants.AGE_MIN"
                [max]="validationConstants.BIRTH_AGE_MAX"
                formControlName="maxAge"
                appIntegerOnly />
            </div>
          </div>
        </div>
      </mat-radio-button>
      <div class="pl-[33px] flex flex-col">
        <div class="w-[300px]">
          <app-validation-hint
            [validationFormControl]="AboutFormGroup.get('minAge')"
            [isNumberValue]="true"
            [minValue]="validationConstants.AGE_MIN"
            [maxValue]="validationConstants.BIRTH_AGE_MAX"></app-validation-hint>
          <app-validation-hint [isAge]="true" [formLevelValidation]="true" [validationFormControl]="AboutFormGroup"></app-validation-hint>
        </div>
        <app-validation-hint
          class="w-[300px] ml-4"
          [validationFormControl]="AboutFormGroup.get('maxAge')"
          [isNumberValue]="true"
          [minValue]="validationConstants.AGE_MIN"
          [maxValue]="validationConstants.BIRTH_AGE_MAX"></app-validation-hint>
      </div>
    </div>
  </mat-radio-group>

  <div class="flex flex-row justify-between items-center">
    <label class="step-label">{{ 'FORMS.LABELS.STUDY_PERIOD' | translate }}<span class="step-required">*</span></label>
    <app-info-menu [type]="InfoMenuType.Text">
      {{ 'INFO_MENU.STUDY_PERIOD_RANGE' | translate }}
    </app-info-menu>
  </div>
  <div class="study-period-group flex flex-row justify-start" [formGroupName]="'studyPeriodDates'">
    <div class="flex flex-row justify-start">
      <div class="input-column mr-4">
        <div class="flex flex-row justify-start items-center">
          <p class="step-text">{{ 'FROM' | translate }}</p>
          <mat-form-field
            class="step-input step-input-date"
            [ngClass]="{ redBorder: studyPeriodDates.errors?.invalidDateRange && studyPeriodDates.touched }">
            <input
              matInput
              [matDatepicker]="startPicker"
              formControlName="startDate"
              placeholder="{{ 'FORMS.PLACEHOLDERS.STUDY_PERIOD_DATE_FORMAT' | translate }}"
              class="text-center" />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker [calendarHeaderComponent]="MonthOnlyHeaderComponent" #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <app-validation-hint [validationFormControl]="studyPeriodDates.get('startDate')" [errorMessagesMap]="errorMap">
        </app-validation-hint>
      </div>

      <div class="input-column">
        <div class="flex flex-row justify-start items-center">
          <p class="step-text">{{ 'TO' | translate }}</p>
          <mat-form-field
            class="step-input step-input-date"
            [ngClass]="{ redBorder: studyPeriodDates.errors?.invalidDateRange && studyPeriodDates.touched }">
            <input
              matInput
              [matDatepicker]="endPicker"
              formControlName="endDate"
              placeholder="{{ 'FORMS.PLACEHOLDERS.STUDY_PERIOD_DATE_FORMAT' | translate }}"
              class="text-center" />
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker [calendarHeaderComponent]="MonthOnlyHeaderComponent" #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <app-validation-hint [validationFormControl]="studyPeriodDates.get('endDate')" [errorMessagesMap]="errorMap"></app-validation-hint>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-between items-center">
    <label class="step-label">{{ 'FORMS.LABELS.WORKING_HOURS' | translate }}<span class="step-required">*</span></label>
    <app-info-menu [type]="InfoMenuType.Text">
      {{ 'INFO_MENU.WORKING_HOURS' | translate }}
    </app-info-menu>
  </div>
  <app-working-hours-form-wrapper
    [workingHoursFormArray]="dateTimeRangesArray"
    [workshop]="workshop"
    (dataChangedInChild)="markFormAsDirtyOnUserInteraction()">
  </app-working-hours-form-wrapper>

  <label class="step-label"> {{ 'FORMS.LABELS.TEACHING_LANGUAGE' | translate }}<span class="step-required">*</span></label>
  <mat-form-field appearance="fill">
    <mat-select
      formControlName="languageOfEducationId"
      panelClass="dropdown-panel select-with-form-field"
      class="step-input"
      placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_LANGUAGE_OF_INSTRUCTION' | translate }}">
      <mat-option *ngFor="let lang of languageList$ | async" [value]="lang.id" class="dropdown-option">
        {{ lang.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="AboutFormGroup.get('languageOfEducationId')"></app-validation-hint>

  <label class="step-label">{{ 'FORMS.LABELS.FORM_OF_LEARNING' | translate }}<span class="step-required">*</span></label>
  <mat-radio-group formControlName="formOfLearning" color="primary" class="flex flex-col justify-between items-stretch">
    <ng-container *ngFor="let formOfLearning of FormOfLearning | keyvalue: Util.keyValueNumericSorting">
      <mat-radio-button *ngIf="FormOfLearningEnum[formOfLearning.key]" [value]="formOfLearning.key">
        {{ FormOfLearningEnum[formOfLearning.key] | translate }}
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>

  <div *ngIf="provider.ownership !== ownershipType.State" class="flex flex-col justify-between items-stretch">
    <div class="flex flex-row justify-between items-center">
      <label class="step-label">{{ 'FORMS.LABELS.AVAILABLE_PLACES' | translate }}<span class="step-required">*</span></label>
      <app-info-menu [type]="InfoMenuType.Text">
        {{ 'INFO_MENU.UNLIMITED' | translate }}
      </app-info-menu>
    </div>
    <p class="sublabel">{{ 'FORMS.LABELS.AVAILABLE_PLACES_DESCRIPTION' | translate }}</p>
    <mat-radio-group [formControl]="availableSeatsRadioBtnControl" color="primary">
      <mat-radio-button [value]="true">{{ 'UNLIMITED' | translate }}</mat-radio-button>
      <div class="container flex flex-row justify-between items-center">
        <div class="radio-button-wrap flex flex-row justify-start items-center">
          <mat-radio-button [value]="false">
            <input
              matInput
              class="step-input price-input text-center"
              appIntegerOnly
              formControlName="availableSeats"
              type="number"
              [min]="minSeats"
              [max]="validationConstants.MAX_SEATS" />
          </mat-radio-button>
          <app-info-menu
            *ngIf="isShowHintAboutWorkshopAutoClosing"
            [type]="InfoMenuType.Text"
            [isOpenByDefault]="isShowHintAboutWorkshopAutoClosing">
            {{ 'FORMS.WARNING_MESSAGE_ABOUT_CLOSING_THE_WORKSHOP' | translate }}
          </app-info-menu>
        </div>
      </div>
      <app-validation-hint
        [validationFormControl]="availableSeatsControl"
        [isNumberValue]="true"
        [minValue]="minSeats"
        [maxValue]="validationConstants.MAX_SEATS"></app-validation-hint>
    </mat-radio-group>
  </div>
</form>
