@use 'create-form';
@use 'validation-form';
@use 'dropdown';
@use 'toggle-button';
@use 'info-hint';
@use 'calendar';

::ng-deep .dropdown-panel {
  max-height: 150px !important;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column !important;
    align-items: initial !important;
  }

  .step-input-age {
    max-width: 100%;
    height: 40px;
  }
}

@media (max-width: 410px) {
  .payment-type-input {
    width: 90%;
  }
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}

.step-input-age {
  background-color: transparent;
  color: var(--primary-light-text-color);
}

.price-input {
  background-color: transparent;
  color: var(--primary-light-text-color);
}

::ng-deep .age-radio-btn {
  .mdc-label {
    padding: 0;
    padding-left: 8px;
  }
}

.study-period-group {
  align-items: flex-start;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  flex-shrink: 0;
}
