<div class="flex flex-col lg:flex-row gap-0 lg:gap-8 justify-between items-stretch box-border">
  <ng-container *ngIf="isWorkshop; then WorkshopDetails; else ProviderDetails"></ng-container>
  <app-side-menu
    *ngIf="provider"
    [workshop]="workshop"
    [provider]="provider"
    [role]="role"
    [isMobileScreen]="isMobileScreen"
    [displayActionCard]="displayActionCard">
  </app-side-menu>
</div>

<ng-template #WorkshopDetails>
  <app-workshop-details
    *ngIf="workshop"
    class="workshop-page-wrap"
    [workshop]="workshop"
    [provider]="provider"
    [role]="role"
    [isMobileScreen]="isMobileScreen"
    [displayActionCard]="displayActionCard"></app-workshop-details>
</ng-template>

<ng-template #ProviderDetails>
  <app-provider-details *ngIf="provider" class="workshop-page-wrap" [provider]="provider" [role]="role"> </app-provider-details>
</ng-template>
