@media (max-width: 750px) {
  .wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 1280px) {
  app-side-menu {
    width: 100%;
  }
}

@media (min-width: 1110px) {
  .details-container {
    flex-direction: row;
    gap: 2rem;
  }
}

.workshop-page-wrap {
  width: 100%;
  overflow: hidden;
}
