<div class="container" fxLayout="column"
 [fxLayout.lt-lg]="(isMobileScreen$ | async) ? 'column' : 'row wrap'"
 [fxLayoutAlign]="(isMobileScreen$ | async) ? 'none' : 'center start'">


 <ng-conteiner *ngIf="!(isMobileScreen$ | async)">
  <app-actions *ngIf="(role !== Role.provider)" [role]="role" [workshop]="workshop"></app-actions>
 </ng-conteiner>


  <app-contacts [workshop]="workshop"></app-contacts>
  <!-- <app-schedule [workshop]="workshop"></app-schedule> TODO: for teh second release-->
</div>
