<form
  [formGroup]="ChildFormGroup"
  fxLayout="column"
  fxLayoutAlign="center space-between"
  class="step form"
  [ngClass]="{ 'step-border': !!childrenAmount }"
>
  <label class="step-label">Прізвище<span class="step-required">*</span></label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="lastName"
      autocomplete="none"
      appTrimValue
    />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('lastName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
  >
  </app-validation-hint>

  <label class="step-label">Ім'я<span class="step-required">*</span></label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="firstName"
      autocomplete="none"
      appTrimValue
    />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('firstName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
  >
  </app-validation-hint>

  <label class="step-label"
    >По-батькові<span class="step-required">*</span></label
  >
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="middleName"
      autocomplete="none"
      appTrimValue
    />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('middleName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60"
  >
  </app-validation-hint>

  <label class="step-label"
    >Дата народження<span class="step-required">*</span></label
  >
  <mat-form-field
    appPlaceholderStyling
    class="step-input step-input-date"
    floatLabel="never"
  >
    <input
      [min]="minDate"
      [max]="maxDate"
      matInput
      [matDatepicker]="picker"
      formControlName="dateOfBirth"
      [appKeyFilter]="dateFilter"
      [placeholder]="dateFormPlaceholder"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('dateOfBirth')"
    [isTouched]="ChildFormGroup.get('dateOfBirth').touched"
    minMaxDate="true"
  >
  </app-validation-hint>

  <label class="step-label">Стать<span class="step-required">*</span></label>
  <mat-radio-group formControlName="gender" color="primary">
    <mat-radio-button class="step-radio" [value]="0">Чоловіча</mat-radio-button>
    <mat-radio-button class="step-radio" [value]="1">Жіноча</mat-radio-button>
  </mat-radio-group>
  <app-validation-hint [validationFormControl]="ChildFormGroup.get('gender')">
  </app-validation-hint>

  <label class="step-label">Соціальна група</label>
  <mat-form-field appearance="none">
    <mat-select
      #select
      multiple
      disableOptionCentering
      panelClass="dropdown-panel"
      class="step-input"
      placeholder="Виберіть соціальні групи"
      [compareWith]="compareSocialGroups"
      [formControl]="socialGroupControl"
    >
      <mat-select-trigger>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let group of socialGroupControl.value"
            (removed)="onRemoveItem(group)"
          >
            <span>{{ group.name }}</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>
      <mat-option
        class="dropdown-option"
        *ngFor="let group of socialGroups"
        [value]="group"
        [disabled]="checkDisabled(group)"
      >
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label class="step-label">Місце проживання</label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="placeOfLiving"
      autocomplete="none"
      appTrimValue
    />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('placeOfLiving')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256"
  >
  </app-validation-hint>

  <label class="step-label">Місце навчання (заклад)</label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="placeOfStudy"
      autocomplete="none"
      appTrimValue
    />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('placeOfStudy')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256"
  >
  </app-validation-hint>

  <label class="step-label">Серія та номер свідоцтва про народження</label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="certificateOfBirth"
      autocomplete="none"
      appTrimValue
    />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="ChildFormGroup.get('certificateOfBirth')"
    [minCharachters]="validationConstants.INPUT_LENGTH_10"
    [maxCharachters]="validationConstants.INPUT_LENGTH_30"
  >
  </app-validation-hint>

  <div
    fxLayout="row"
    fxLayoutAlign="center"
    *ngIf="!!childrenAmount"
    class="addChild"
  >
    <button class="btn-reset" mat-button (click)="onDelete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити дані про
      дитину
    </button>
  </div>
</form>
