<form [formGroup]="ChildFormGroup" fxLayout='column' fxLayoutAlign='center space-between'
  [ngClass]="(childrenAmount>1) ? 'step-border' : ''">

  <label class="step-label"> Призвіще <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="lastName" required>
  </mat-form-field>
  <label class="step-label"> Ім'я <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="firstName" required>
  </mat-form-field>
  <label class="step-label"> По-батькові <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="middleName" required>
  </mat-form-field>

  <label class="step-label">Дата народження<span class="step-required">*</span></label>
  <mat-form-field class="step-input-date">
    <input class="step-input" [max]="today" matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <label class="step-label">Стать<span class="step-required">*</span></label>
  <mat-radio-group formControlName="gender" color="primary">
    <mat-radio-button class="step-radio" [value]="0">Чоловіча</mat-radio-button>
    <mat-radio-button class="step-radio" [value]="1">Жіноча</mat-radio-button>
  </mat-radio-group>

  <label class="step-label">Соціальна група<span class="step-required">*</span></label>
  <mat-form-field appearance="none">
    <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input" required
      placeholder="Соціальна група" formControlName="socialGroupId">
      <mat-option [value]="0" class="dropdown-option"> Відсутня </mat-option>
      <mat-option *ngFor="let group of socialGroups" [value]="group.id" class="dropdown-option">
        {{group.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout='row' fxLayoutAlign='center' *ngIf="childrenAmount > 1">
    <button class="btn-reset" type="reset" mat-button (click)="delete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити дані про дитину
    </button>
  </div>

</form>