<div class="application-status flex flex-row">
  <div class="application-popup-status {{ status }}">
    <span> <i class="status-icon {{ ApplicationIcons[status] }}"></i></span>
    <span> {{ ApplicationTitles[status] | translate }}</span>
  </div>
  <span (click)="onGetBlockedParent()">
    <app-info-menu (menuClosed)="onMenuClosed()" [type]="InfoMenuType.Text">
      <div class="application-popup-status {{ status }}">
        <span> <i class="{{ ApplicationIcons[status] }}"></i></span>
        <span> {{ ApplicationTitles[status] | translate }}</span>
      </div>
      <div
        *ngIf="ApplicationTitles[status] === ApplicationTitles.AcceptedForSelection"
        class="application-info-menu application-info-description-card">
        {{ competitiveSelectionDescription }}
      </div>
      <div
        *ngIf="ApplicationTitles[status] !== ApplicationTitles.AcceptedForSelection"
        class="application-info-menu application-info-description-card">
        ({{ ApplicationStatusDescription[status] | translate }})
      </div>
      <p *ngIf="reason" class="application-info-menu">{{ reason }}</p>
    </app-info-menu>
  </span>
</div>
