  <div class="application-status" fxLayout="row">
    <div class="application-popup-status {{status}}">
      <span> <i class="status-icon {{applicationIcons[status]}}"></i></span>
      <span> {{applicationTitles[status]}}</span>
    </div>
    <span><i class="material-icons status-info-icon" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" (hasBackdrop)="true"
      [ngClass]="trigger.menuOpen ? 'activeInfoBtn' : 'inactiveInfoBtn'" (click)="onGetBlockedParent()" (menuClosed)="onMenuClosed()">info_outline</i></span>
    <mat-menu class="status-menu"  #menu="matMenu" disabled [overlapTrigger]="false"
      xPosition="after" class="mat-application-menu">
        <div class="application-popup-status {{status}}">
          <span> <i class={{applicationIcons[status]}}></i></span>
          <span> {{applicationTitles[status]}}</span>
        </div>
        <div class="application-info-menu application-info-description-card">({{
          applicationStatusDescription[status] }})</div>
        <p *ngIf="reason" class="application-info-menu">{{reason | textSliceTransform}}</p>
    </mat-menu>
