<div class="create-form">
  <div class="wrapper">
    <div class="create-form-header" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="wrapper-title">РЕДАГУВАННЯ ПРО ПОРТАЛ</h3>
    </div>
    
    <form [formGroup]="AboutFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
      <div fxLayout="row" fxLayoutAlign="start center">
        <label class="step-label"> Заголовок </label>
        <i class="material-icons status-info-icon" (click)="isActiveHeaderInfoButton=!isActiveHeaderInfoButton"
        [ngClass]="isActiveHeaderInfoButton ? 'activeInfoBtn' : 'inactiveInfoBtn'">info_outline</i>
      </div>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="title">
      </mat-form-field>
      <app-validation-hint-for-input type="validTextField"
        [invalid]="AboutFormGroup.get('title').invalid && AboutFormGroup.get('title').touched"
        [forbiddenCharacter]="AboutFormGroup.get('title').errors?.pattern?.requiredPattern">
      </app-validation-hint-for-input>
    </form>

    <div fxLayout="column" fxLayoutAlign="center center">
      <ng-container>
        <app-about-form *ngFor="let form of AboutPortalItemArray.controls" [AboutItemFormGroup]="form"
          [index]="AboutPortalItemArray.controls.indexOf(form)" [aboutFormAmount]="AboutPortalItemArray.controls.length"
          (deleteForm)="onDeleteForm($event)"></app-about-form>
      </ng-container>
      <button *ngIf="amountOfSections < 10" class="btn-add" mat-button (click)="addAboutForm()">
        <mat-icon class="mat-icon-add">add</mat-icon>Додати ще один розділ
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
      <a [routerLink]="'/admin-tools/platform/about'"><button mat-raised-button
          class="btn btn-cancel">Скасувати</button></a>
      <button class="btn" mat-button type="submit"
        (click)="onSubmit()">Зберегти</button>
    </div>
  </div>
</div>