<mat-card >
  <ng-container *ngIf="(isMainPage || userRole !== role.provider) then UserActions; else ProviderActions;"></ng-container>

  <div [ngClass]="isHorizontalView ? 'horizontal-card': 'card'">
      <div class="card-img"><img mat-card-image src="assets/icons/workshopCard.png" alt="workshop-photo"></div>
    <div>

    <mat-card-header>
      <mat-card-title [matTooltip]="workshop.title" showTooltipIfTruncated [matTooltipPosition]="below">
        {{workshop.title}}</mat-card-title>
      <img class="card_category" src="assets/icons/lang.png" alt="workshop-category">
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">

      <div *ngIf="userRole === role.parent" fxLayout="row" fxLayoutAlign="space-between center" class="parent-status">
        <p class="{{application.status}} icon">
          <mat-icon>how_to_reg</mat-icon>{{
          applicationTitles[application.status] }}
        </p>
        <p class="card_link status_action" *ngIf="application.status === applicationStatus.Approved"
          (click)="onWorkshopLeave()">Залишити гурток
        </p>
      </div>

      <p class="card_text">
        <mat-icon class="card_icon">star</mat-icon> {{ workshop.rating }}
      </p>
      <p class="card_text">
        <mat-icon class="card_icon">home</mat-icon>{{ workshop.providerTitle }}
      </p>
      <p class="card_text" [ngClass]="isCreateApplicationView ? 'hide': ''">
        <mat-icon class="card_icon">person</mat-icon>{{ workshop.minAge }} - {{ workshop.maxAge }} років
      </p>
      <p class="card_text" *ngIf="!workshop.price">
        <mat-icon class="card_icon"> attach_money</mat-icon> Безкоштовно
      </p>
      <p class="card_text" *ngIf="workshop.price">
        <mat-icon class="card_icon"> attach_money</mat-icon> {{ workshop.price }} грн/
        {{ workshop.isPerMonth
        ? 'місяць' : 'заняття' }}
      </p>
    </mat-card-content>

    <mat-card-footer *ngIf="isCreateApplicationView" class="card-footer">
      <div>
        <a [routerLink]="['/workshop-details',workshop.workshopId ]" class="card_link">
          Детальніше
          <span class="material-icons arrow">arrow_forward</span>
        </a>
      </div>
    </mat-card-footer>
  
  </div>

  </div>
</mat-card>

<ng-template #ProviderActions>
  <div fxLayout="row" fxLayoutAlign="end start" class="actions">
    <div class="actions_btn action-icon" [routerLink]="['/create-workshop', workshop.id]">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="actions_btn action-icon" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</ng-template>

<ng-template #UserActions>
  <div *ngIf="!isHorizontalView" fxLayout="row" fxLayoutAlign="end start" class="actions" >

    <ng-container *ngIf="isFavorite then favorite; else notFavorite"></ng-container>
    <ng-template #favorite>
      <div (click)="parent && onDisLike(this.favoriteWorkshopId?.id)" class="actions_btn action-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </div>
    </ng-template>

    <ng-template #notFavorite>
      <div (click)="parent && onLike()" class="actions_btn action-icon">
        <mat-icon>favorite_border</mat-icon>
      </div>
    </ng-template>
  </div>
</ng-template>