@import "src/app/shared/styles/cards.scss";
.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.action-icon {
  color: #fff;
}
.favorite-icon {
  color: #ffbd00;
}
.parent-status{
  .approved{
    color:#199953
  }
  .pending{
    color: #FFBD00;
  }
  .acceptedForSelection{
    color: #27A3FF;
  }
  .rejected, .left, .blocked{
    color: #C72A21;
  }
}

.horizontal-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .card-img {
    display: flex;
    width: 100%;
    min-width: 150px;
    object-fit: cover;
    object-position: bottom;
  }
  .mat-card-image{
    width: 100%;
    margin: 0;
    margin-bottom: 0 !important;
  }
  .hide {
    display: block;
    @media (max-width: 750px) {
      display: none;
    }
  }
}
.mat-card {
  max-width: 100% !important;
}
.mat-card-image {
  width: 100%;
  margin: 0;
  margin-bottom: 20px !important;
  &:first-child {
    margin-top: 0;
  }
}

@media (max-width: 750px) {
  .horizontal-card {
    min-height: 150px;
    .card_text {
      margin: 0;
    }
    .mat-card-image {
      height: 150px;
      object-fit: cover;
      object-position: bottom;
    }
    ::ng-deep .mat-card-header-text {
      margin: 0;
    }
    .card-footer {
      flex-direction: row;
    }
    .mat-card-title {
      width: 150px;
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}
