<mat-card *ngIf="workshopData">
  <ng-container *ngIf="(isMainPage || userRoleView !== Role.provider) then UserActions; else ProviderActions;">
  </ng-container>

  <div [ngClass]="isHorizontalView ? 'horizontal-card': 'card'">
    <div class="card-img card-img-full" fxLayout="row" fxLayoutAlign="center">
      <img [ngClass]="{'card-img-full': workshopData.coverImageId}" mat-card-image [src]="workshopData['_meta']"
        alt="{{workshopData.title}}">
    </div>
    <div [ngClass]="isMainPage && isHorizontalView ? 'wrap-for-details wrap-for-details-map': 'wrap-for-details'">
      <mat-card-header>  
              
        <mat-card-title [matTooltip]="workshopData.title" showTooltipIfTruncated matTooltipClass="tooltip"
          [matTooltipPosition]="tooltipPosition" class="card-title">
          <a *ngIf="userRoleView === Role.provider" [routerLink]="['/details/workshop', workshopData.workshopId]">
            <mat-icon class="icon_launch">launch</mat-icon>
          </a>
          {{workshopData.title}}
        </mat-card-title>
        <ng-container *ngFor="let id of workshopData.directionsId">
          <img class="img" mat-card-image [src]="categoryIcons[id]">
        </ng-container>                
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
        <ng-container
          *ngIf="(isMainPage || userRoleView !== Role.provider) then UserWorkshopView; else ProviderWorkshopView;">
        </ng-container>
      </mat-card-content>

      <mat-card-footer *ngIf="!isCreateApplicationView" class="card-footer">                  
        <ng-container *ngIf="userRoleView !== Role.provider">
          <a class="more-details" [routerLink]="['/details/workshop', workshopData.workshopId]">
            <span class="card_link">Детальніше</span>
            <mat-icon>arrow_forward</mat-icon>
          </a>  
        </ng-container>             
        <ng-container *ngIf="userRoleView === Role.provider">
          <a class="more-details" [routerLink]="['/create-achievement', workshopData.workshopId]">                
            <mat-icon>add</mat-icon>
            <span class="card_link">Додати досягнення</span>
          </a>  
        </ng-container>
      </mat-card-footer>
    </div>
  </div>
</mat-card>

<ng-template #ProviderActions>
  <div fxLayout="row" fxLayoutAlign="end start" class="actions">
    <div class="actions_btn action-icon" [routerLink]="['/create-workshop', workshopData.workshopId]">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="actions_btn action-icon" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </div>
  </div> 
</ng-template>

<ng-template #UserActions>
  <div *ngIf="!isHorizontalView" fxLayout="row" fxLayoutAlign="end start" class="actions">
    <ng-container *ngIf="isFavorite then favorite; else notFavorite"></ng-container>
  </div>
</ng-template>

<ng-template #favorite>
  <div (click)="role === Role.parent && onDisLike(this.favoriteWorkshopId?.id)"
    class="actions_btn action-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </div>
</ng-template>

<ng-template #notFavorite>
  <div (click)="(role === Role.parent) ? onLike() : onOpenDialog()" class="actions_btn action-icon">
    <mat-icon>favorite_border</mat-icon>
  </div>
</ng-template>

<ng-template #ProviderWorkshopView>
  <div class="provider-content" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="card_text card_text_blue">
      <i class="fas fa-user-clock card_icon card_icon_blue"></i> Очікує підтвердження:
    </p>
    <span class="card_text card_text_blue"> {{ pendingApplicationAmount }}</span>
  </div>
</ng-template>

<ng-template #UserWorkshopView>
  <div *ngIf="userRoleView === Role.parent" fxLayout="row" fxLayoutAlign="space-between center" class="parent-status">
    <p class="{{application.status}} icon">
      <mat-icon>how_to_reg</mat-icon>{{
      applicationTitles[application.status] }}
    </p>
    <p class="card_link status_action" *ngIf="application.status === applicationStatus.Approved"
      (click)="onWorkshopLeave()">Залишити гурток
    </p>
  </div>

  <p *ngIf="!isHorizontalView" class="card_text">
    <mat-icon class="card_icon">star</mat-icon> {{ workshopData.rating }}
  </p>

  <a [routerLink]="['/details/provider',workshopData.providerId ]" class="provider-link" fxLayout="row"
    fxLayoutAlign="start center">
    <mat-icon class="card_icon">home</mat-icon>
    <p class="card_text_label" [matTooltip]="workshopData.providerTitle" showTooltipIfTruncated
      matTooltipClass="tooltip" [matTooltipPosition]="tooltipPosition">{{ workshopData.providerTitle }}</p>
  </a>

  <p class="card_text" *ngIf="ownershipType && !isHorizontalView">
    <mat-icon class="card_icon">account_balance</mat-icon> Форма власності: {{
    ownershipTypeUkr[workshopData.providerOwnership] }}
  </p>
  <p class="card_text" [ngClass]="isMainPage && isHorizontalView ? 'hide': ''">
    <mat-icon class="card_icon">person</mat-icon>{{ workshopData.minAge }} - {{ workshopData.maxAge }} років
  </p>
  <p class="card_text" *ngIf="!workshopData.price">
    <mat-icon class="card_icon"> attach_money</mat-icon> Безкоштовно
  </p>
  <p class="card_text" *ngIf="workshopData.price">
    <mat-icon class="card_icon"> attach_money</mat-icon> {{ workshopData.price }} грн/
    {{ workshopData.isPerMonth
    ? 'місяць' : 'заняття' }}
  </p>
  <div class="card_text">
    <mat-icon class="card_icon">location_on</mat-icon>
    <p class="card_text_label" [matTooltip]="workshopData.address.city + ', ' + workshopData.address.street + ', ' +
      workshopData.address.buildingNumber" showTooltipIfTruncated matTooltipClass="tooltip"
      [matTooltipPosition]="tooltipPosition">
      {{workshopData.address.city}},
      {{workshopData.address.street}}, {{workshopData.address.buildingNumber}}</p>
  </div>
</ng-template>