@import "src/app/shared/styles/cards.scss";
.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.action-icon {
  color: #fff;
}
.status{
  .approved{
    color:#199953
  }
  .pending{
    color: #FFBD00;
  }
  .acceptedForSelection{
    color: #27A3FF;
  }
  .rejected, .left, .blocked{
    color: #C72A21;
  }
}
