<mat-card *ngIf="workshopData">
  <ng-container *ngIf="role === Role.parent; then UserActions; else ProviderActions"></ng-container>

  <div [ngClass]="isHorizontalView ? 'horizontal-card' : 'card'">
    <div class="card-img card-img-full flex flex-row justify-center">
      <img
        [ngClass]="{ 'card-img-full': workshopData.coverImageId }"
        mat-card-image
        [src]="workshopData['_meta']"
        alt="{{ workshopData.title }}" />
    </div>

    <div [ngClass]="isHorizontalView ? 'wrap-for-details wrap-for-details-map' : 'wrap-for-details'">
      <mat-card-header>
        <mat-card-title matTooltipClass="tooltip" [matTooltipPosition]="tooltipPositionBelow" class="card-title !flex !flex-row">
          <a
            *ngIf="isCabinetView"
            matTooltip="{{ 'MORE_DETAILS' | translate }}"
            [matTooltipPosition]="tooltipPositionAbove"
            [routerLink]="['/details/workshop', workshopData.workshopId]">
            <mat-icon class="icon_launch">launch</mat-icon>
          </a>
          <div class="workshop-title-container">
            <span [matTooltip]="workshopData.title" showTooltipIfTruncated>{{ workshopData.title }}</span>
          </div>
        </mat-card-title>
        <ng-container *ngFor="let id of workshopData.directionIds">
          <img class="img" mat-card-image [src]="categoryIcons[id]" />
        </ng-container>
      </mat-card-header>

      <mat-card-content class="flex flex-col justify-between">
        <ng-container *ngIf="isCabinetView; then ProviderWorkshopView; else UserWorkshopView"></ng-container>
      </mat-card-content>

      <mat-card-footer *ngIf="!isCreateFormView" class="card-footer">
        <ng-container *ngIf="!isCabinetView">
          <a class="more-details" [routerLink]="['/details/workshop', workshopData.workshopId]">
            <span class="card_link">
              {{ 'MORE_DETAILS' | translate }}
            </span>
            <mat-icon>arrow_forward</mat-icon>
          </a>
        </ng-container>
        <ng-container *ngIf="isCabinetView">
          <a class="more-details" [routerLink]="['/create-achievement', workshopData.workshopId]">
            <mat-icon>add</mat-icon>
            <span class="card_link">
              {{ 'ADD_ACHIEVEMENT' | translate }}
            </span>
          </a>
        </ng-container>
      </mat-card-footer>
    </div>
  </div>
</mat-card>

<ng-template #WorkshopStatusClosed>
  <div class="flex justify-between">
    <div class="chip-color-close">
      {{ recruitmentStatusEnum.RecruitmentStoped | translate }}
    </div>
    <a
      *ngIf="canChangeWorkshopStatus"
      class="more-details"
      (click)="onChangeWorkshopStatus(workshopStatus.Open, modalConfirmationType.openSet)">
      <span class="card_link">{{ recruitmentStatusEnum.Open | translate }}</span>
    </a>
  </div>
</ng-template>

<ng-template #ProviderActions>
  <div *ngIf="isCabinetView" class="flex flex-row justify-end items-start actions">
    <div class="actions_btn action-icon" [routerLink]="['/create-workshop', workshopData.workshopId]">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="actions_btn action-icon" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</ng-template>

<ng-template #UserActions>
  <div *ngIf="!isHorizontalView" class="flex flex-row justify-end items-start actions">
    <ng-container *ngIf="isFavorite; then favorite; else notFavorite"></ng-container>
  </div>
</ng-template>

<ng-template #favorite>
  <div class="actions_btn action-icon favorite-icon" (click)="role === Role.parent && onDisLike()">
    <mat-icon>favorite</mat-icon>
  </div>
</ng-template>

<ng-template #notFavorite>
  <div (click)="role === Role.parent ? onLike() : onOpenDialog()" class="actions_btn action-icon">
    <mat-icon>favorite_border</mat-icon>
  </div>
</ng-template>

<ng-template #ProviderWorkshopView>
  <ng-container
    *ngIf="workshopData.status === workshopStatus.Open || workshopData.availableSeats === UNLIMITED_SEATS; else WorkshopStatusClosed">
    <div class="flex justify-between">
      <div class="chip-color-open">
        {{ recruitmentStatusEnum.RecruitmentOngoing | translate }}
      </div>
      <a
        *ngIf="canChangeWorkshopStatus"
        class="more-details"
        (click)="onChangeWorkshopStatus(workshopStatus.Closed, modalConfirmationType.closeSet)">
        <span class="card_link">{{ recruitmentStatusEnum.Stop | translate }}</span>
      </a>
    </div>
  </ng-container>
  <div *ngIf="workshopData.competitiveSelection" class="provider-content flex justify-between items-center">
    <p class="card_text"><i class="fas fa-user card_icon"></i> {{ 'COMPETITIVE_SELECTION' | translate }}</p>
  </div>
  <div class="provider-content flex justify-between items-center">
    <p class="card_text"><i class="fas fa-user card_icon"></i> {{ 'TOTAL_PARTICIPANTS' | translate }}:</p>
    <span class="card_text card_text_blue">
      {{ workshopData.takenSeats }}
      <ng-container *ngIf="workshopData.availableSeats !== UNLIMITED_SEATS"> / {{ workshopData.availableSeats }} </ng-container>
    </span>
  </div>
  <div class="provider-content flex justify-between items-center">
    <p class="card_text"><i class="fas fa-user-clock card_icon"></i> {{ 'AWAITING_CONFIRMATION' | translate }}:</p>
    <span class="card_text card_text_blue"> {{ workshopData.amountOfPendingApplications }}</span>
  </div>
  <div class="provider-content flex justify-between items-center">
    <p class="card_text"><i class="fas fa-solid fa-envelope card_icon"></i> {{ 'ENUM.NAV_BAR_NAME.MESSAGES' | translate }}:</p>
    <span class="card_text card_text_blue"> {{ workshopData.unreadMessages }}</span>
  </div>
</ng-template>

<ng-template #UserWorkshopView>
  <p *ngIf="!isHorizontalView" class="card_text">
    <mat-icon class="card_icon">star</mat-icon>
    {{ workshopData.rating }}&nbsp;
    <span class="rating-number">({{ workshopData.numberOfRatings }})</span>
  </p>

  <a [routerLink]="['/details/provider', workshopData.providerId]" class="provider-link flex items-center">
    <mat-icon class="card_icon">home</mat-icon>
    <p
      class="card_text_label"
      [matTooltip]="workshopData.providerTitle"
      matTooltipClass="tooltip"
      showTooltipIfTruncated
      [matTooltipPosition]="tooltipPositionBelow">
      {{ workshopData.providerTitle }}
    </p>
  </a>

  <p class="card_text">
    <mat-icon class="card_icon">school</mat-icon>
    {{ FormOfLearningEnum[workshopData.formOfLearning] | translate }}
  </p>
  <p class="card_text" *ngIf="OwnershipTypeEnum[workshopData.providerOwnership] && !isHorizontalView">
    <mat-icon class="card_icon">account_balance</mat-icon>
    {{ 'FORMS.LABELS.OWNERSHIP' | translate }}: {{ OwnershipTypeEnum[workshopData.providerOwnership] | translate }}
  </p>
  <p class="card_text">
    <mat-icon class="card_icon">person</mat-icon>
    {{ workshopData.minAge }} - {{ workshopData.maxAge }}
    {{ 'YEARS' | translate }}
  </p>
  <p class="card_text" *ngIf="!workshopData.price">
    <mat-icon class="card_icon">attach_money</mat-icon>
    {{ 'FOR_FREE' | translate }}
  </p>
  <p class="card_text" *ngIf="workshopData.price">
    <mat-icon class="card_icon">attach_money</mat-icon>
    {{ workshopData.price }} {{ 'UAH' | translate }}/
    {{ PayRateTypeEnum[workshopData.payRate] | translate }}
  </p>
  <div class="card_text">
    <mat-icon class="card_icon">location_on</mat-icon>
    <p
      class="card_text_label"
      [matTooltip]="
        workshopData.address.codeficatorAddressDto.settlement +
        ', ' +
        workshopData.address.street +
        ', ' +
        workshopData.address.buildingNumber
      "
      showTooltipIfTruncated
      matTooltipClass="tooltip"
      [matTooltipPosition]="tooltipPositionAbove">
      {{ workshopData.address.codeficatorAddressDto.settlement }}, {{ workshopData.address.street }},
      {{ workshopData.address.buildingNumber }}
    </p>
  </div>
</ng-template>
