#map {
  height: 100%;
  width: 100%;
}

.leaflet-interactive {
  cursor: grab !important;
}

.gps-button {
  width: 34px;
  height: 34px;
  position: absolute;
  padding: 0; 
  top: 100px; 
  left: 10px; 
  z-index: 1000;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: 2px #000;
  border-radius: 2px;

  &:hover {
    background-color: #f4f4f4;
  }
}