<form [formGroup]="PhotoFormGroup" class="step flex flex-col justify-between items-stretch">
  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="4"
    [entity]="'provider'"
    [cropperConfig]="cropperConfig"
    [label]="'FORMS.LABELS.PHOTOS' | translate"
    formControlName="imageFiles"
    [imageIdsFormControl]="PhotoFormGroup.get('imageIds')">
  </app-image-form-control>

  <app-info-form
    *ngFor="let form of SectionItemsFormArray.controls"
    [entity]="'provider'"
    [infoEditFormGroup]="form"
    [index]="SectionItemsFormArray.controls.indexOf(form)"
    [formAmount]="SectionItemsFormArray.controls.length"
    [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_2000"
    (deleteForm)="onDeleteForm($event)">
  </app-info-form>

  <button
    *ngIf="SectionItemsFormArray.controls.length < 10"
    class="btn-add"
    mat-button
    (click)="onAddForm()"
    [disabled]="SectionItemsFormArray.invalid">
    <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_ANOTHER_SECTION' | translate }}
  </button>
</form>
