<form [formGroup]="PhotoFormGroup" class="step flex flex-col justify-between items-stretch">
  <app-image-form-control
    *ngIf="isImagesFeature"
    [imgMaxAmount]="4"
    [cropperConfig]="cropperConfig"
    [label]="'Фото'"
    formControlName="imageFiles"
    [imageIdsFormControl]="PhotoFormGroup.get('imageIds')">
  </app-image-form-control>

  <label class="step-label">{{ 'FORMS.LABELS.WEBSITE' | translate }}</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="website" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="PhotoFormGroup.get('website')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Facebook</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="facebook" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="PhotoFormGroup.get('facebook')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Instagram</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="instagram" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="PhotoFormGroup.get('instagram')"
    [minCharacters]="validationConstants.INPUT_LENGTH_1"
    [maxCharacters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <app-info-form
    *ngFor="let form of SectionItemsFormArray.controls"
    [infoEditFormGroup]="form"
    [index]="SectionItemsFormArray.controls.indexOf(form)"
    [formAmount]="SectionItemsFormArray.controls.length"
    [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_2000"
    (deleteForm)="onDeleteForm($event)">
  </app-info-form>

  <button
    *ngIf="SectionItemsFormArray.controls.length < 10"
    class="btn-add"
    mat-button
    (click)="onAddForm()"
    [disabled]="SectionItemsFormArray.invalid">
    <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_ANOTHER_SECTION' | translate }}
  </button>
</form>
