<form [formGroup]="PhotoFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step">
  <!-- <app-image-form-control [imgMaxAmount]="4" [label]="'Фото'" formControlName="image">
  </app-image-form-control> TODO: Second release -->

  <label class="step-label">Статус</label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input"
      formControlName="institutionStatusId">
      <mat-option [value]="0" class="dropdown-option"> Відсутній </mat-option>
      <mat-option *ngFor="let status of (institutionStatuses$ | async)" [value]="status.id" class="dropdown-option">
        {{status.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label class="step-label">Тип закладу</label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input"
      formControlName="institutionType" placeholder="Оберіть підпорядкування">
      <mat-option *ngFor="let type of (institutionTypes | keyvalue)" [value]="type.key" class="dropdown-option">
        {{type.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label class="step-label">Підпорядкування</label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input"
      formControlName="institutionId" placeholder="Оберіть підпорядкування">
      <mat-option *ngFor="let institution of (institutions$ | async)" [value]="institution.id" class="dropdown-option">
        {{institution.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-info-form *ngFor="let form of SectionItemsFormArray.controls" [InfoEditFormGroup]="form"
    [index]="SectionItemsFormArray.controls.indexOf(form)" [formAmount]="SectionItemsFormArray.controls.length"
    [maxDescriptionLength]="validationConstants.MAX_DESCRIPTION_LENGTH_500" (deleteForm)="onDeleteForm($event)">
  </app-info-form>

  <button *ngIf="SectionItemsFormArray.controls.length < 10" class="btn-add" mat-button (click)="onAddForm()"
    [disabled] = "SectionItemsFormArray.invalid">
    <mat-icon class="mat-icon-add">add</mat-icon>Додати ще один розділ
  </button>
</form>