<div [ngClass]="styleClass" class="search shadow" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="search-city" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="icon">place</mat-icon>
    <app-city-filter></app-city-filter>
  </div>
  <div class="search-bar-wrap" fxLayout="row" fxLayoutAlign="space-between center">
    <app-searchbar class="search-bar" (invalidCharacterDetected)="showErrorMessage()" (validCharacterDetected)="hideErrorMessage()"></app-searchbar>
  </div>
</div>
<mat-error class="invalid-input" *ngIf="displayErrorMessage">{{ 'FORMS.VALIDATIONS.INVALID_SEARCH' | translate }}</mat-error>