<div class="search shadow flex flex-col">
  <div [ngClass]="styleClass" class="flex flex-row justify-between items-center">
    <div class="search-city flex flex-row justify-start items-center">
      <mat-icon class="icon">place</mat-icon>
      <app-city-filter></app-city-filter>
    </div>
    <div class="search-bar-wrap flex justify-between items-center">
      <app-searchbar
        class="search-bar"
        (invalidCharacterDetected)="showErrorMessage()"
        (validCharacterDetected)="hideErrorMessage()"></app-searchbar>
    </div>
  </div>
  <div class="validation-hint-wrapper">
    <app-validation-hint
      [validationFormControl]="displayErrorFormControl"
      class="invalid-input"
      [matTooltip]="'FORMS.VALIDATIONS.INVALID_SEARCH' | translate"
      isSearchBar="true"></app-validation-hint>
  </div>
</div>
