@import "src/app/shared/styles/validation-form.scss";

.step{
  &-input{
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding:0.5rem;
    margin-bottom:1rem;
  }
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

::placeholder {
  color: rgba(0,0,0,.42);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

input:focus::placeholder {
  color: transparent;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .step-input[_ngcontent-ywr-c273] {
  margin-bottom: none !important;
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-label-wrapper {
  display: none;
}

