<form [formGroup]="CategoryFormGroup" class="wrapper" fxLayout='column' fxLayoutAlign='center space-between'>
  <label class="step-label">Напрямок за яким здійснюється навчання<span class="step-required">*</span></label>
  <input matInput type="text" placeholder="Почніть вводити напрямок або виберіть зі списку" class="step-input"
    formControlName="directionId" [matAutocomplete]="auto" disableOptionCentering (click)="getFullDirectionList()"
    autocomplete="off">
  <mat-autocomplete class="dropdown-panel direction" #auto="matAutocomplete"
    (optionSelected)="onSelectDirection($event.option.value)" [displayWith]="optionDisplayDirection">
    <mat-option *ngFor="let direction of filteredDirections" [value]="direction" class="dropdown-option">
      {{ direction.title }}
    </mat-option>
  </mat-autocomplete>
  <app-validation-hint
    [validationFormControl]="directionIdControl">
  </app-validation-hint>

  <ng-container *ngIf="(departments$ | async)?.length">
    <label class="step-label">Відділ/профіль<span class="step-required">*</span></label>
    <input matInput type="text" placeholder="Почніть вводити відділ або виберіть зі списку" class="step-input"
      formControlName="departmentId" [matAutocomplete]="autoDepartment" disableOptionCentering
      panelClass="dropdown-panel" (click)="getFullDepartmentList()" autocomplete="off">
    <mat-autocomplete class="dropdown-panel direction" #autoDepartment="matAutocomplete"
      (optionSelected)="onSelectDepartment($event.option.value)" [displayWith]="optionDisplayDepartment">
      <mat-option *ngFor="let department of filteredDepartments" [value]="department" class="dropdown-option">
        {{ department.title }}
      </mat-option>
    </mat-autocomplete>
    <app-validation-hint
      [validationFormControl]="departmentIdControl">
    </app-validation-hint>
  </ng-container>

  <ng-container *ngIf="(classes$ | async)?.length">
    <label class="step-label">Клас<span class="step-required">*</span></label>
    <input matInput type="text" placeholder="Почніть вводити клас або виберіть зі списку" class="step-input"
      formControlName="classId" [matAutocomplete]="autoClasses" disableOptionCentering panelClass="dropdown-panel"
      (click)="getFullClassList()" autocomplete="off">
    <mat-autocomplete class="dropdown-panel direction" #autoClasses="matAutocomplete"
      [displayWith]="optionDisplayClass">
      <mat-option *ngFor="let classItem of filteredClasses" [value]="classItem" class="dropdown-option">
        {{ classItem.title }}
      </mat-option>
    </mat-autocomplete>
    <app-validation-hint
      [validationFormControl]="classIdControl">
    </app-validation-hint>
  </ng-container>

</form>
