.step{
  &-input{
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 21px;
    padding:0.5rem;
    margin-bottom:1rem;
  }
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

::placeholder {
  color:#333333;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-label-wrapper {
  display: none;
}