@import "src/app/shared/styles/dropdown.scss";
.select{
  min-width:200px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  box-sizing: border-box;
}
.select, .options{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17.7px;
  padding: 0.5rem 1rem;
  height: 40px;
}

::ng-deep .mat-form-field.mat-focused.mat-primary,
::ng-deep .mat-form-field-infix{
  border: 0;
}
