@import 'src/app/shared/styles/create-form-wrapper.scss';
@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';

form.reject-form {
  width: 100%;
}

.mat-input-element.step-textarea {
  max-width: 90%;
}

.step-label {
  margin-top: 15px;
}

.btn-cancel {
  margin-left: 16px !important;
}
