@use '../../../styles/components/create-form-wrapper';
@use '../../../styles/components/create-form';
@use '../../../styles/components/validation-form';

form.reject-form {
  width: 100%;
}

.mat-input-element.step-textarea {
  max-width: 90%;
}

.step-label {
  margin-top: 15px;
}

.btn-cancel {
  margin-left: 16px !important;
}
