<div fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title>{{ modalTitle | translate }}</h2>
  <p class="confirmation">{{ modalConfirmationText | translate }}</p>

  <form fxLayout="column" class="reject-form">
    <label class="step-label">
      {{ modalConfirmationDescription | translate }}
      <span class="step-required">*</span>
    </label>
    <mat-form-field appPlaceholderStyling floatLabel="never" appearance="none">
      <textarea matInput
                class="step-textarea"
                placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{ 'FORMS.PLACEHOLDERS.SYMBOLS' | translate }}"
                [formControl]="reasonFormControl"
                appTrimValue>
      </textarea>
    </mat-form-field>
    <app-validation-hint [validationFormControl]="reasonFormControl"
                         [minCharacters]="validationConstants.INPUT_LENGTH_1"
                         [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
    </app-validation-hint>

    <label *ngIf="isPhoneNumberRequired" class="step-label">
      {{ 'FORMS.LABELS.PHONE_FEEDBACK' | translate }}
      <span class="step-required">*</span>
    </label>
    <app-phone-form-control *ngIf="isPhoneNumberRequired"
                            [parentFormControl]="phoneNumberFormControl">
    </app-phone-form-control>
    <app-validation-hint *ngIf="isPhoneNumberRequired"
                         [validationFormControl]="phoneNumberFormControl"
                         [minCharacters]="validationConstants.PHONE_LENGTH"
                         [isPhoneNumber]="true">
    </app-validation-hint>
  </form>

  <mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="center center" class="footer">
    <button class="btn"
            mat-button
            (click)="onSubmit()"
            [disabled]="!formGroup.valid"
            cdkFocusInitial>
      {{ 'BUTTONS.CONFIRM' | translate }}
    </button>
    <button class="btn btn-cancel" mat-button (click)="onCancel()">
      {{ 'BUTTONS.CANCEL' | translate }}
    </button>
  </mat-dialog-actions>
</div>
