<div class="flex flex-col justify-center items-center">
  <h2 mat-dialog-title>{{ modalTitle | translate }}</h2>
  <p class="confirmation">{{ modalConfirmationText | translate }}</p>

  <form class="reject-form flex flex-col">
    <div class="flex flex-row justify-between">
      <label class="step-label"> {{ modalConfirmationDescription | translate }}<span class="step-required">*</span> </label>
      <div class="step-label">
        <label class="step-characters-count">
          {{ reasonFormControl.value.length }}/{{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }}
        </label>
      </div>
    </div>
    <mat-form-field appPlaceholderStyling appearance="fill">
      <textarea
        matInput
        class="step-textarea"
        placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ validationConstants.MAX_DESCRIPTION_LENGTH_500 }} {{
          'FORMS.PLACEHOLDERS.SYMBOLS' | translate
        }}"
        [formControl]="reasonFormControl"
        [maxlength]="validationConstants.MAX_DESCRIPTION_LENGTH_500"
        appTrimValue>
      </textarea>
    </mat-form-field>
    <app-validation-hint
      [validationFormControl]="reasonFormControl"
      [minCharacters]="validationConstants.INPUT_LENGTH_1"
      [maxCharacters]="validationConstants.MAX_DESCRIPTION_LENGTH_500">
    </app-validation-hint>

    <label *ngIf="isPhoneNumberRequired" class="step-label">
      {{ 'FORMS.LABELS.PHONE_FEEDBACK' | translate }}<span class="step-required">*</span>
    </label>
    <app-phone-form-control *ngIf="isPhoneNumberRequired" [parentFormControl]="phoneNumberFormControl"> </app-phone-form-control>
    <app-validation-hint
      *ngIf="isPhoneNumberRequired"
      [validationFormControl]="phoneNumberFormControl"
      [minCharacters]="validationConstants.PHONE_LENGTH"
      [isPhoneNumber]="true">
    </app-validation-hint>
  </form>

  <mat-dialog-actions class="footer flex flex-row flex-wrap justify-center items-center box-border">
    <button class="btn" mat-button (click)="onSubmit()" [disabled]="!formGroup.valid" cdkFocusInitial>
      {{ 'BUTTONS.CONFIRM' | translate }}
    </button>
    <button class="btn btn-cancel" mat-button (click)="onCancel()">
      {{ 'BUTTONS.CANCEL' | translate }}
    </button>
  </mat-dialog-actions>
</div>
