@import 'src/app/shared/styles/card-wrapper.scss';
@import 'src/app/shared/styles/cards.scss';

.mat-mdc-card {
  margin: 1.3rem;
}

.wrap-for-details {
  margin-top: 1em;
  align-items: flex-start !important;
  flex-direction: row;
}

.achievement_title {
  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card_title {
  font-size: 13px;
  font-weight: 700;
}

.card_achievement {
  width: 628px;
  min-height: 272px;
}

.achievement_icon {
  color: #fff;
}
.image {
  margin-right: 1em;
}
.achievement_descr {
  max-width: 480px;
  white-space: wrap;
  overflow-wrap: break-word;
}

.show-more {
  overflow: visible;
}
.more_btn {
  color: #3849f9;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.mat-mdc-card-content > :first-child {
  margin-top: 0;
}

@media (max-width: 750px) {
  .image {
    display: none;
  }
  .card_achievement {
    max-width: 350px;
    padding-top: 2rem;
  }
  .achievement_title {
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  .image {
    display: none;
  }
  .card_achievement {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .wrap-for-details {
    padding-left: 5px;
    padding-right: 5px;
  }
}
