
<form [formGroup]="departmentFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  <ng-conatiner *ngIf="!editMode; else editTmpl">
    <label class="step-label"> Назва нового відділення <span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="title">
      </mat-form-field>
      <app-validation-hint
      [validationFormControl]="departmentFormGroup.get('title')"
      ></app-validation-hint>
  </ng-conatiner>

  <ng-template #editTmpl>
    <mat-accordion>
      <mat-expansion-panel [expanded]="option === 0" (opened)="onOptionChange(0)" hideToggle class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="step-label">
            Додати новий відділ до напрямку
          </mat-panel-title>
          <mat-icon class="mat-icon-add">add</mat-icon>
        </mat-expansion-panel-header>

        <label class="step-label"> Назва нового відділення <span class="step-required">*</span></label>
        <mat-form-field>
          <input matInput class="step-input" type="text" formControlName="title">
        </mat-form-field>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="option === 1" (opened)="onOptionChange(1)" hideToggle class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="step-label">
             Редагувати існуюче відділення
          </mat-panel-title>
          <mat-icon class="mat-icon-add">edit</mat-icon>
        </mat-expansion-panel-header>

        <ng-container *ngTemplateOutlet="departmentDropdown"></ng-container>
        <ng-container *ngIf="departmentFormGroup.valid">
          <label class="step-label"> Нова назва відділення.</label>
          <mat-form-field fxLayout="column" fxLayoutAlign="start space-between">
            <input matInput class="step-input" type="text" formControlName="title">
          </mat-form-field>
          <small appValidationMessageStyling class="warning">Для редагування класів вибраного відділення перейдіть до наступного кроку.</small>
        </ng-container>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="option === 2" (opened)="onOptionChange(2)" hideToggle class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="step-label">
            Видалити існуюче відділення
          </mat-panel-title>
          <mat-icon class="mat-icon-add">delete</mat-icon>
        </mat-expansion-panel-header>

        <ng-container *ngTemplateOutlet="departmentDropdown"></ng-container>

        <ng-container *ngIf="departmentFormGroup.valid">
          <div fxLayout="column" fxLayoutAlign="center center">
            <small *ngIf="(classes$ | async)?.length" appValidationMessageStyling class="warning">Відділення не може бути видаленим, якщо містить класи.
              Видаліть спочатку усі існуючі класи.
            </small>

            <button class="btn-reset" mat-button (click)="onDelete()" [disabled]="(classes$ | async)?.length">
              <mat-icon class="mat-icon-delete">delete</mat-icon>Видалити відділення
            </button>
          </div>
        </ng-container>

      </mat-expansion-panel>

    </mat-accordion>

    <ng-template #departmentDropdown>
      <ng-container *ngIf="(departments$ | async)?.length; else noDepartmentsTmpl">
        <mat-form-field appearance="none" fxLayoutAlign="start space-between">
          <mat-select disableOptionCentering panelClass="dropdown-panel" class="step-input" name="department" placeholder="Усі відділення"
          [formControl]="departmentSelectControl" [(ngModel)]="selectedDepartment"  (selectionChange)="onDepartmentSelect()">
            <mat-option *ngFor="let department of departments$ | async" [value]="department" class="dropdown-option">
              {{department.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-template #noDepartmentsTmpl>
        <mat-label class="no-info">Відділів немає</mat-label>
      </ng-template>
    </ng-template>
  </ng-template>

  <div fxLayout="row" fxLayoutAlign="center center" class="footer">
    <button *ngIf="editMode" class="btn" mat-raised-button (click)="onStepBack()">Назад</button>
    <a [routerLink]="'/admin-tools/platform/directions'"><button mat-raised-button
      class="btn btn-cancel">Скасувати</button></a>
      <button class="btn" [disabled]="departmentFormGroup.invalid" (click)="onSubmit()" mat-raised-button>Далі</button>
  </div>
</form>
