@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';
@import 'src/app/shared/styles/calendar.scss';
@import 'src/app/shared/styles/info-hint.scss';

::ng-deep .mat-form-field {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.ownership-wrapper {
  position: relative;

  mat-form-field {
    width: 100%;
  }
}

.info-menu-wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: calc(100% + 10px);

  @media (max-width: 750px) {
    top: 0;
    bottom: 0;
    left: calc(100% - 40px);
  }
}
