<form [formGroup]="InfoFormGroup" fxLayout='column' fxLayoutAlign='center space-between' class="step">
  <label class="step-label">Форма властності<span class="step-required">*</span></label>

  <mat-form-field appearance="none">
    <mat-select class="step-input" formControlName="ownership" name="ownership" required
      placeholder="Оберіть форму властності">
      <ng-container *ngFor="let type of ownershipType | keyvalue">
        <mat-option *ngIf="ownershipTypeUkr[type.key]" [value]="+type.key">
          {{ ownershipTypeUkr[type.key] }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <label class="step-label">Тип організації<span class="step-required">*</span></label>

  <mat-form-field appearance="none">
    <mat-select class="step-input" formControlName="type" name="type" required placeholder="Оберіть тип організації">
      <ng-container *ngFor="let type of providerType | keyvalue">
        <mat-option *ngIf="providerTypeUkr[type.key]" [value]="+type.key">
          {{ providerTypeUkr[type.key] }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <label class="step-label"> Повна назва організації <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="fullTitle" required>
  </mat-form-field>

  <label class="step-label"> Скорочена назва організації <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="shortTitle" required>
  </mat-form-field>

  <label class="step-label"> ПІБ керівника <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="director" required>
  </mat-form-field>

  <label class="step-label">Дата народження керівника<span class="step-required">*</span></label>
  <mat-form-field class="step-input step-input-date">
    <input matInput [matDatepicker]="picker" formControlName="directorBirthDay" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <label class="step-label"> ЄДПРОУ/ІПН <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" appDigitOnly minlength="8" maxlength="8" formControlName="edrpouIpn"
      required>
  </mat-form-field>

  <label class="step-label"> Телефон <span class="step-required">*</span></label>
  <mat-form-field>
    <div fxLayout='row' fxLayoutAlign='start'>
      <span class="step-text">+38</span>
      <input matInput class="step-input" type="tel" formControlName="phoneNumber" appDigitOnly ui-number-mask
        ui-hide-group-sep minlength="10" maxlength="10" required>
    </div>
  </mat-form-field>

  <label class="step-label"> Емейл <span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="email" formControlName="email" required>
  </mat-form-field>

  <label class="step-label">Веб сайт</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="website">
  </mat-form-field>

  <label class="step-label">Facebook</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="facebook">
  </mat-form-field>

  <label class="step-label">Instagram</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="instagram">
  </mat-form-field>

  <label class="step-label">Засновник<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="founder">
  </mat-form-field>
</form>