<form [formGroup]="InfoFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  <app-image-form-control
    *ngIf="isRelease3"
    [imgMaxAmount]="1"
    [cropperConfig]="cropperConfig"
    [label]="'Фонове зображення'"
    formControlName="coverImage"
    [imageIdsFormControl]="InfoFormGroup.get('coverImageId')"></app-image-form-control>

  <label class="step-label">Форма власності<span class="step-required">*</span></label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select
      disableOptionCentering
      panelClass="dropdown-panel"
      class="step-input"
      formControlName="ownership"
      name="ownership"
      placeholder="Оберіть форму власності">
      <ng-container *ngFor="let type of ownershipType | keyvalue">
        <mat-option *ngIf="ownershipTypeUkr[type.key]" [value]="type.key" class="dropdown-option">
          {{ ownershipTypeUkr[type.key] }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('ownership')"
    [isTouched]="InfoFormGroup.get('ownership').touched">
  </app-validation-hint>

  <label class="step-label">Тип організації<span class="step-required">*</span></label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select
      disableOptionCentering
      panelClass="dropdown-panel"
      class="step-input"
      formControlName="type"
      name="type"
      placeholder="Оберіть тип організації">
      <ng-container *ngFor="let type of providerType | keyvalue">
        <mat-option *ngIf="providerTypeUkr[type.key]" [value]="+type.key" class="dropdown-option">
          {{ providerTypeUkr[type.key] }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('type')"
    [isTouched]="InfoFormGroup.get('type').touched">
  </app-validation-hint>

  <label class="step-label">Підпорядкування<span class="step-required">*</span></label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select
      disableOptionCentering
      panelClass="dropdown-panel"
      class="step-input"
      formControlName="institution"
      placeholder="Оберіть підпорядкування"
      [compareWith]="compareInstitutions">
      <mat-option *ngFor="let institution of institutions$ | async" [value]="institution" class="dropdown-option">
        {{ institution.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('institution')"
    [isTouched]="InfoFormGroup.get('institution').touched">
  </app-validation-hint>

  <label class="step-label"> Повна назва організації<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="fullTitle" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('fullTitle')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label"> Скорочена назва організації<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="shortTitle" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('shortTitle')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label"> ПІБ керівника<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="director" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('director')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_60">
  </app-validation-hint>

  <label class="step-label">Дата народження керівника<span class="step-required">*</span></label>
  <mat-form-field appPlaceholderStyling class="step-input step-input-date" floatLabel="never">
    <input
      [min]="minDate"
      [max]="maxDate"
      matInput
      [matDatepicker]="picker"
      formControlName="directorDateOfBirth"
      [appKeyFilter]="dateFilter"
      [placeholder]="dateFormPlaceholder" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('directorDateOfBirth')"
    [isTouched]="InfoFormGroup.get('directorDateOfBirth').touched"
    minMaxDate="true">
  </app-validation-hint>

  <label class="step-label">
    {{ this.InfoFormGroup.get('type').value ? 'ІПН' : 'ЄДРПОУ' }}<span class="step-required">*</span></label
  >
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      [minlength]="validationConstants.INPUT_LENGTH_8"
      [maxlength]="validationConstants.INPUT_LENGTH_10"
      formControlName="edrpouIpn"
      autocomplete="none"
      appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('edrpouIpn')"
    [minCharachters]="validationConstants.INPUT_LENGTH_8"
    [maxCharachters]="validationConstants.INPUT_LENGTH_10">
  </app-validation-hint>

  <label class="step-label"> Телефон<span class="step-required">*</span></label>
  <mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start">
      <span class="step-text">{{ phonePrefix }}</span>
      <input
        matInput
        class="step-input"
        type="tel"
        formControlName="phoneNumber"
        appDigitOnly
        appTrimValue
        ui-number-mask
        ui-hide-group-sep
        maxlength="{{ validationConstants.PHONE_LENGTH }}" />
    </div>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('phoneNumber')"
    [minCharachters]="validationConstants.PHONE_LENGTH"
    [isPhoneNumber]="true">
  </app-validation-hint>

  <label class="step-label"> Електронна пошта<span class="step-required">*</span></label>
  <mat-form-field appearance="standard">
    <input
      matInput
      class="step-input"
      type="email"
      formControlName="email"
      appTrimValue
      [placeholder]="mailFormPlaceholder"/>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="InfoFormGroup.get('email')"> </app-validation-hint>

  <label class="step-label">Веб сайт</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="website" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('website')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Facebook</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="facebook" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('facebook')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <label class="step-label">Instagram</label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="instagram" autocomplete="none" appTrimValue />
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="InfoFormGroup.get('instagram')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>
</form>
