@import 'src/app/shared/styles/navigation-tabs.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/list-wrappers.scss';
@import 'src/app/shared/styles/search.scss';

.table-wrapper {
  padding: 1rem;
}

.admins-wrapper {
  position: relative;
}

.tab-wrapper {
  margin-bottom: 4rem;
}

.search-bar {
  margin-right: 1rem;
}

.btn {
  margin: 0;
  height: 40px;

  mat-icon {
    height: auto;
  }
}

@media (max-width: 1340px) {
  .search-area {
    position: static;
    margin-bottom: 1rem;
    justify-content: space-between;

    .mat-menu-panel.header_menu {
      background-color: #fff;
    }

    .mat-menu-item {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}
