<div class="admins-wrapper">
  <div class="search-area">
    <div class="search-bar flex flex-row box-border justify-start items-center">
      <mat-icon class="search-icon mt-2" style="transform: rotate(90deg)">search</mat-icon>
      <input
        [formControl]="filterFormControl"
        matInput
        type="text"
        class="search"
        placeholder="{{ 'FORMS.PLACEHOLDERS.SEARCH_NAME_PHONE_EMAIL' | translate }}" />
    </div>

    <div>
      <button class="btn" mat-raised-button [matMenuTriggerFor]="add">
        {{ 'BUTTONS.ADD' | translate }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #add="matMenu" class="header_menu">
        <a *ngIf="role === Role.techAdmin" [routerLink]="['/create-admin', AdminRoles.ministryAdmin]">
          <button mat-menu-item>{{ 'ENUM.ADMINISTRATORS.MINISTRY_ADMIN' | translate }}</button>
        </a>
        <a *ngIf="canManageInstitution(role)" [routerLink]="['/create-admin', AdminRoles.regionAdmin]">
          <button mat-menu-item>{{ 'ENUM.ADMINISTRATORS.REGION_ADMIN' | translate }}</button>
        </a>
        <a *ngIf="canManageRegion(role)" [routerLink]="['/create-admin', AdminRoles.areaAdmin]">
          <button mat-menu-item>{{ 'ENUM.ADMINISTRATORS.AREA_ADMIN' | translate }}</button>
        </a>
      </mat-menu>
    </div>
  </div>

  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start" [mat-stretch-tabs]="false" (selectedTabChange)="onTabChange($event)" [selectedIndex]="tabIndex">
      <mat-tab *ngIf="role === Role.techAdmin" label="{{ AdminRolesTitles.ministryAdmin | translate }}">
        <ng-container *ngTemplateOutlet="AdminsList; context: { admins: adminsTable, adminType: Role.ministryAdmin }"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="canManageInstitution(role)" label="{{ AdminRolesTitles.regionAdmin | translate }}">
        <ng-container *ngTemplateOutlet="AdminsList; context: { admins: adminsTable, adminType: Role.regionAdmin }"></ng-container>
      </mat-tab>
      <mat-tab *ngIf="canManageRegion(role)" label="{{ AdminRolesTitles.areaAdmin | translate }}">
        <ng-container *ngTemplateOutlet="AdminsList; context: { admins: adminsTable, adminType: Role.areaAdmin }"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #AdminsList let-admins="admins">
  <ng-container *ngIf="!(isLoadingCabinet$ | async)">
    <ng-container *ngIf="admins?.length; else isEmptyList">
      <div class="table-wrapper">
        <app-users-list
          [statusesTitles]="statusesTitles"
          [users]="admins"
          [adminType]="adminType"
          [isEdit]="true"
          [displayedColumns]="displayedColumns"
          (delete)="onDelete($event)"
          (block)="onBlockUnblock($event)"
          (unblock)="onBlockUnblock($event)"
          (update)="onUpdate($event)"
          (sendInvitation)="onSendInvitation($event)">
        </app-users-list>
      </div>
      <app-paginator
        *ngIf="!(isLoadingCabinet$ | async) && adminsTable"
        [totalEntities]="totalEntities"
        [currentPage]="currentPage"
        [itemsPerPage]="adminParams.size"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)">
      </app-paginator>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noAdmins"></app-no-result-card>
</ng-template>
