<div class="admins-wrapper">
  <div class="search-area">
    <div class="search-bar" fxLayout="row" fxLayoutAlign="flex-start center">
      <mat-icon class="search-icon" style="transform: rotate(90deg)">search</mat-icon>
      <input
        #input
        [formControl]="filterFormControl"
        matInput
        type="text"
        class="search"
        placeholder="Пошук за ПІБ, електронною поштою, телефоном, містом чи статусом"
      />
    </div>

    <div>
      <button class="btn" mat-raised-button [matMenuTriggerFor]="add">Додати <mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #add="matMenu" class="header_menu">
        <a *ngIf="role === Role.techAdmin" [routerLink]="['/create-admin', adminRole.ministryAdmin]"
          ><button mat-menu-item>Адміністратор міністерства</button></a
        >
        <a><button mat-menu-item>Адміністратор області</button></a>
        <a><button mat-menu-item>Адміністратор ОТГ</button></a>
      </mat-menu>
    </div>
  </div>

  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [selectedIndex]="tabIndex">
      <mat-tab *ngIf="role === Role.techAdmin" label="{{ adminRoleUkr.ministryAdmin }}">
        <ng-container *ngTemplateOutlet="AdminsList; context: { admins: ministryAdminsTable }"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ adminRoleUkr.regionAdmin }}">
        <ng-container *ngTemplateOutlet="AdminsList"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ adminRoleUkr.territorialCommunityAdmin }}">
        <ng-container *ngTemplateOutlet="AdminsList"> </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #AdminsList let-admins="admins">
  <ng-container *ngIf="!(isLoadingCabinet$ | async)">
    <ng-container *ngIf="admins?.length; else isEmptyList">
      <div class="table-wrapper">
        <app-users-list [users]="admins" [isEdit]="true" (delete)="onDelete($event)" (block)="onBlock($event)" (update)="onUpdate($event)">
        </app-users-list>
      </div>
      <app-paginator
        *ngIf="!(isLoadingCabinet$ | async) && ministryAdminsTable"
        [totalEntities]="totalEntities"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage$ | async"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)"
      >
      </app-paginator>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noAdmins"></app-no-result-card>
</ng-template>
