<form class="wrapper-header" [formGroup]="filterGroup">
  <div class="search-area" *ngIf="!isModerator">
    <div class="search-bar h-[42px] flex flex-row flex-start justify-center align-start">
      <mat-icon class="search-icon" style="transform: rotate(90deg)">search</mat-icon>
      <input
        formControlName="searchBarFilter"
        matInput
        type="text"
        class="search"
        placeholder="{{ 'FORMS.PLACEHOLDERS.SEARCH_PROVIDER_EDRPO_MAIL_PHONE' | translate }}" />
    </div>
    <div class="reset" (keydown.enter)="onResetFilters()" (click)="onResetFilters()" *ngIf="!isAreaAdmin || !isModerator">
      <mat-icon class="reset__icon">refresh</mat-icon>
      <span class="reset__title">{{ 'HISTORY_LOG.RESET_FILTERS' | translate }}</span>
    </div>
  </div>
  <div class="filters-area">
    <div class="filter-dropdown">
      <mat-form-field *ngIf="isTechAdmin" appearance="fill">
        <mat-select
          disableOptionCentering
          formControlName="institution"
          panelClass="dropdown-panel"
          placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_SUBORDINATION' | translate }}"
          class="select">
          <mat-option *ngFor="let institution of institutions$ | async" [value]="institution" class="dropdown-option">
            {{ institution.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="region-filters-area">
      <div class="filter-dropdown institution-filter">
        <mat-form-field *ngIf="isTechAdmin || isMinistryAdmin" appearance="fill">
          <mat-select
            disableOptionCentering
            formControlName="region"
            panelClass="dropdown-panel"
            placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_REGION' | translate }}"
            class="select">
            <mat-option class="dropdown-option" *ngFor="let region of regions$ | async" [value]="region">
              {{ region.fullName | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter-dropdown">
        <mat-form-field *ngIf="isTechAdmin || isMinistryAdmin || isRegionAdmin" appearance="fill">
          <mat-select
            [compareWith]="compareCodeficators"
            disableOptionCentering
            formControlName="area"
            panelClass="dropdown-panel"
            placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_TERRITORIAL_COMMUNITY' | translate }}"
            class="select">
            <mat-option *ngFor="let codeficator of codeficatorSearch$ | async" [value]="codeficator" class="dropdown-option">
              {{ codeficator.territorialCommunity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>

<ng-container>
  <ng-container *ngIf="totalEntities; else isEmptyList">
    <div class="wrapper-workshop-list">
      <div class="wrapper-workshop-list-container">
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" appStretchTable>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by workshop title">
                {{ 'FORMS.LABELS.WORKSHOP_TITLE' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  [matTooltip]="element.title"
                  showTooltipIfTruncated
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="tooltipPosition"
                  class="tab-text">
                  {{ element.title | emptyValueTransform | translate }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="providerTitle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider title">
                {{ 'FORMS.LABELS.PROVIDER_TITLE' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  [matTooltip]="element.providerTitle"
                  showTooltipIfTruncated
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="tooltipPosition"
                  class="tab-text">
                  {{ element.providerTitle | emptyValueTransform | translate }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="providerOwnership">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider ownership">
                {{ 'FORMS.LABELS.OWNERSHIP' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  [matTooltip]="element.workshopDetails.providerOwnership"
                  showTooltipIfTruncated
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="tooltipPosition"
                  class="tab-text">
                  {{ OwnershipTypeEnum[element.workshopDetails.providerOwnership] | emptyValueTransform | translate }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="formOfLearning">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by form of learning">
                {{ 'FORMS.LABELS.FORM_OF_LEARNING' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  [matTooltip]="element.formOfLearning"
                  showTooltipIfTruncated
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="tooltipPosition"
                  class="tab-text">
                  {{ FormOfLearningEnum[element.formOfLearning] | emptyValueTransform | translate }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="seats">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by seats">
                {{ 'FORMS.LABELS.AVAILABLE_PLACES' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="tab-text">
                  {{ element.availableSeats !== UNLIMITED_SEATS ? element.availableSeats : ('UNLIMITED' | translate) }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="isPaid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by isPaid">
                {{ 'FORMS.LABELS.COST' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  [matTooltip]="(element.isPaid ? 'IS_PAID' : 'IS_FREE') | translate"
                  showTooltipIfTruncated
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="tooltipPosition"
                  class="tab-text">
                  {{ (element.isPaid ? 'IS_PAID' : 'IS_FREE') | translate }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="street">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by street">
                {{ 'FORMS.LABELS.ADDRESS' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div
                  [matTooltip]="element.workshopDetails.address | getAddress: ModeConstants.SHORT | emptyValueTransform | translate"
                  showTooltipIfTruncated
                  matTooltipClass="tooltip"
                  [matTooltipPosition]="tooltipPosition"
                  class="tab-text">
                  {{ element.workshopDetails.address | getAddress: ModeConstants.SHORT | emptyValueTransform | translate }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="status" stickyEnd>
              <th class="status-title" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
                {{ 'FORMS.LABELS.STATUS' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <ng-container
                  *ngTemplateOutlet="WorkshopStatusTmpl; context: { $implicit: element.draftStatus, titles: workshopDraftStatusTitles }">
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="rating" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="star-column" mat-cell *matCellDef="let element">
                <div class="icons">
                  <button mat-icon-button [matMenuTriggerFor]="actions">
                    <mat-icon class="action-icon">more_vert</mat-icon>
                  </button>
                  <button mat-icon-button (click)="onViewWorkshopInfo(element.workshopDetails)">
                    <mat-icon class="action-icon">remove_red_eye</mat-icon>
                  </button>
                  <a mat-icon-button [routerLink]="['/details/workshop/', element.id]">
                    <mat-icon class="action-icon">arrow_forward</mat-icon>
                  </a>
                </div>

                <mat-menu #actions="matMenu" class="header_menu">
                  <ng-container *ngIf="element.ownership !== ownershipTypes.Private">
                    <button *ngIf="element.draftStatus !== workshopDraftStatus.Rejected" mat-menu-item (click)="onRejectDraft(element)">
                      {{ 'BUTTONS.REQUEST_CHANGES' | translate }}
                    </button>
                    <button mat-menu-item (click)="onApproveDraft(element)">
                      {{ 'BUTTONS.CONFIRM' | translate }}
                    </button>
                  </ng-container>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div *ngIf="isInfoDisplayed" class="container">
          <app-workshop-info
            [workshop]="workshop"
            [isWorkshopView]="isInfoDisplayed"
            (closeInfo)="isInfoDisplayed = !isInfoDisplayed"></app-workshop-info>
        </div>
      </div>
    </div>
    <div class="paginator">
      <app-paginator
        [totalEntities]="totalEntities"
        [currentPage]="currentPage"
        [itemsPerPage]="workshopParameters.size"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)">
      </app-paginator>
    </div>
  </ng-container>
</ng-container>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noWorkshops"></app-no-result-card>
</ng-template>

<ng-template #WorkshopStatusTmpl let-status let-titles="titles">
  <div class="workshop-list-status {{ status }}">
    <span> <i class="status-icon {{ statusIcons[status] }}"></i></span>
    <span>{{ titles[status] | translate }}</span>
  </div>
</ng-template>
