<div class='category'>


  <mat-card class="category_card">
    <img class="category_pic" src="assets/icons/sport.png" alt="sport">
    <div class="category_details">
      <h3 class="category_title">Спорт</h3>
      <div class="category_link">
        <a href="#"> 254 гуртки -></a>
      </div>
    </div>
  </mat-card>
  <mat-card class="category_card">
    <img class="category_pic" src="assets/icons/art.png" alt="art">
    <div class="category_details">
      <h3 class="category_title">Мистецтво</h3>
      <div class="category_link">
        <a href="#"> 127 гуртки -></a>
      </div>
    </div>
  </mat-card>
  <mat-card class="category_card">
    <img class="category_pic" src="assets/icons/robo.png" alt="robo">
    <div class="category_details">
      <h3 class="category_title">Конструювання</h3>
      <div class="category_link">
        <a href="#"> 28 гуртки -></a>
      </div>
    </div>
  </mat-card>
  <mat-card class="category_card">
    <img class="category_pic" src="assets/icons/drama.png" alt="drama">
    <div class="category_details">
      <h3 class="category_title">Драматургія</h3>
      <div class="category_link">
        <a href="#"> 95 гуртки -></a>
      </div>
    </div>
  </mat-card>
  <mat-card class="category_card">
    <img class="category_pic" src="assets/icons/music.png" alt="music">
    <div class="category_details">
      <h3 class="category_title">Музика</h3>
      <div class="category_link">
        <a href="#"> 57 гуртки -></a>
      </div>
    </div>
  </mat-card>
  <mat-card class="category_card">
    <img class="category_pic" src="assets/icons/lang.png" alt="lang">
    <div class="category_details">
      <h3 class="category_title">Мови</h3>
      <div class="category_link">
        <a href="#"> 97 гуртки -></a>
      </div>
    </div>
  </mat-card>
</div>