.category{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  &_card{
    width: 193px;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 49px;
    justify-content: space-between;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    transition: 0.6s ease all;
    &:hover{
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.241);
    }
  }
  &_pic{
    height: 68px;
    width: 68px;
  }
  &_title{
    text-align: center;
    margin-bottom: 9;
  }
  &_link{
    font-weight: bold;
    line-height: 15px;
    color: #3849F9;
    text-align: center;
    text-decoration: none;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Innerspace";
    }
  }
}
