.star-icon-modal,
.grey-star-list,
.star-icon-list {
  color: var(--secondary-light-text-color);
}
.yellow-star-list {
  color: #ffbd00;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border: none;
  background-color: transparent;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle {
  border: none;
  background-color: transparent;
}
.selected-star {
  color: var(--primary-accent-color);
}
::ng-deep .mat-button-toggle-checked {
  .star-icon {
    color: var(--primary-accent-color);
  }
}
::ng-deep .stars-toggle-group .mat-button-toggle-focus-overlay {
  display: none;
}
::ng-deep .stars-toggle-group .mat-ripple:not(:empty) {
  z-index: -1;
}
