<div class="notifications-list" (click)="stopPropagation($event)">
  <ng-container *ngIf="notificationsData$ | async as notificationsData">
    <div class="notifications-list__header">
      <h3 class="notifications-list__title">{{ 'NOTIFICATIONS' | translate | uppercase }}</h3>
      <mat-icon class="icon" [matMenuTriggerFor]="actions">more_vert</mat-icon>
      <mat-menu #actions="matMenu" class="notifications-list-menu" xPosition="before">
        <button mat-menu-item [disabled]="!notificationsAmount?.amount" (click)="onReadAll(); stopPropagation($event)">
          {{ 'NOTIFICATION_DETAILS.READ_ALL' | translate }}
        </button>
        <button mat-menu-item [disabled]="!(notifications.length || notificationsGroupedByType.length)">
          {{ 'NOTIFICATION_DETAILS.DELETE_ALL' | translate }}
        </button>
      </mat-menu>
    </div>

    <ng-container *ngIf="notifications.length || notificationsGroupedByType.length; else isEmptyList">
      <ng-container *ngTemplateOutlet="Notifications"></ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #isEmptyList>
  <div class="no-message info info__description">
    {{ NoResults | translate }}
  </div>
</ng-template>

<ng-template #Notifications>
  <div class="accordions-wrapper">
    <cdk-accordion>
      <ng-container *ngIf="notificationsGroupedByType.length">
        <cdk-accordion-item *ngFor="let notificationGroupedByType of notificationsGroupedByType"
          #accordionGroupItem="cdkAccordionItem" role="button">
          <div [class]="notificationGroupedByType.isRead ? 'notification__wrapper' : 'notification__wrapper new'">
            <div class="header-notification header-notification__group"
              (click)="accordionGroupItem.toggle(); onReadGroup(notificationGroupedByType)">
              <div class="info">
                <span class="info__description">
                  {{ 'NOTIFICATION_DETAILS.YOU_HAVE' | translate }}
                  {{ notificationGroupedByType.amount | translateCases: ApplicationHeaderDeclinations }}
                </span>
              </div>
            </div>
            <div [style.max-height]="accordionGroupItem.expanded ? '100px' : '0px'"
              [style.overflow]="accordionGroupItem.expanded ? 'auto' : 'hidden'" role="region"
              class="body-notification__wrapper">
              <div *ngFor="let group of notificationGroupedByType.groupedByAdditionalData"
                class="body-notification__content body-notification__group info"
                (click)="onNavigate(group.type, group.groupedData)">
                <span class="info__description info__link">
                  {{ group.amount | translateCases: defineDeclination(group.groupedData) }}
                </span>
                <mat-icon class="icon icon__link">navigate_next</mat-icon>
              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </ng-container>
      <ng-container *ngIf="notifications.length">
        <cdk-accordion-item *ngFor="let notification of notifications" #accordionItem="cdkAccordionItem" role="button"
          [disabled]="!notification.data">
          <div [class]="notification.readDateTime ? 'notification__wrapper' : 'notification__wrapper new'">
            <div class="header-notification" (click)="accordionItem.toggle(); onReadSingle(notification)">
              <div class="header-notification__single info">
                <h4 class="info__workshop-name" *ngIf="notification.data.Title">
                  {{ notification.data.Title }}
                </h4>
                <span class="info__description">
                  {{ notification | notificationDescription: NotificationDescriptionType.Short }}
                </span>
                <h4 class="info__time">
                  {{ notification.createdDateTime | date: Constants.FULL_DATE_FORMAT_ONLY_DIGITS }}
                </h4>
              </div>
            </div>
            <div [style.max-height]="accordionItem.expanded ? '100px' : '0px'"
              [style.overflow]="accordionItem.expanded ? 'auto' : 'hidden'" role="region"
              class="body-notification__wrapper info info__description">
              <div class="body-notification__content body-notification__single"
                (click)="onNavigate(notification.type, notification.action)">
                <span class="info__description info__link">
                  {{ notification | notificationDescription: NotificationDescriptionType.Full }}
                </span>
                <mat-icon class="icon icon__link">navigate_next</mat-icon>
              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </ng-container>
    </cdk-accordion>
  </div>
</ng-template>
