<div class="notifications-list" (click)="stopPropagation($event)">
  <ng-container *ngIf="notificationsData$ | async as notificationsData">
    <div class="notifications-list__header">
      <h3 class="notifications-list__title">СПОВІЩЕННЯ</h3>
      <mat-icon class="icon" [matMenuTriggerFor]="actions">more_vert</mat-icon>
      <mat-menu #actions="matMenu" class="notifications-list-menu" xPosition="before">
        <button mat-menu-item [disabled]="!!notificationsAmount" (click)="onReadAll()">Позначити всі як прочитані</button>
        <button mat-menu-item [disabled]="!!notifications.length || groupsByType.length">Видалити всі</button>
      </mat-menu>
    </div>

    <ng-container *ngIf="notifications.length || groupsByType.length; else isEmptyList">
      <ng-container *ngTemplateOutlet="Notifications"> </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #isEmptyList>
  <div class="no-message info info__description">
    {{ NotificationsConstants.NO_MESSAGE }}
  </div>
</ng-template>

<ng-template #Notifications>
  <div class="accordions-wrapper">
    <cdk-accordion>
      <ng-container *ngIf="groupsByType.length">
        <cdk-accordion-item
          *ngFor="let groupByType of groupsByType"
          #accordionGroupItem="cdkAccordionItem"
          role="button"
          class="notification"
        >
          <div [class]="groupByType.isRead ? 'notification__wrapper' : 'notification__wrapper new'">
            <div class="header-notification header-notification__group-info" (click)="accordionGroupItem.toggle()">
              <div class="info">
                <span class="info__description">У вас {{ groupByType.amount | declination: ApplicationHeaderDeclinations }}</span>
              </div>
              <mat-icon [matMenuTriggerFor]="actions" class="icon" (click)="stopPropagation($event)">more_vert</mat-icon>
              <mat-menu #actions="matMenu" xPosition="before" class="notifications-list-menu">
                <button mat-menu-item [disabled]="!!groupByType.isRead" (click)="onReadGroup(groupByType); stopPropagation($event)">
                  Прочитати групу
                </button>
              </mat-menu>
            </div>
            <div
              [style.max-height]="accordionGroupItem.expanded ? '100px' : '0px'"
              [style.overflow]="accordionGroupItem.expanded ? 'auto' : 'hidden'"
              role="region"
              class="body-notification"
            >
              <div
                *ngFor="let group of groupByType.groupsByAdditionalData"
                class="header-notification header-notification__group-details info"
                (click)="onGroupByStatusClick(group)"
              >
                <mat-icon class="icon">navigate_next</mat-icon>
                <span class="info__description">{{ group.amount | declination: defineDeclination(group.groupedData) }}</span>
              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </ng-container>
      <ng-container *ngIf="notifications.length">
        <cdk-accordion-item
          *ngFor="let notification of notifications"
          #accordionItem="cdkAccordionItem"
          role="button"
          class="notification"
          [disabled]="notification.data ? 'false' : 'true'"
        >
          <div [class]="notification.readDateTime ? 'notification__wrapper' : 'notification__wrapper new'">
            <div class="header-notification" (click)="accordionItem.toggle()">
              <div class="header-notification__single-info info">
                <h4 class="info__workshop-name">{{ notification.data.Title }}</h4>
                <span class="info__description">{{
                  getNotificationDescription(NotificationDescriptionType.Short, notification.type, notification.data.Status)
                }}</span>
                <h4 class="info__time">{{ notification.createdDateTime | date: Constants.SHORT_TIME_24_HOUR_SYSTEM }}</h4>
              </div>
              <mat-icon [matMenuTriggerFor]="actions" class="icon" (click)="stopPropagation($event)">more_vert</mat-icon>
              <mat-menu #actions="matMenu" xPosition="before" class="notifications-list-menu">
                <button
                  mat-menu-item
                  [disabled]="!!notification.readDateTime"
                  (click)="onReadSingle(notification); stopPropagation($event)"
                >
                  Позначити як прочитане
                </button>
                <button mat-menu-item (click)="onDeleteSingle(notification); stopPropagation($event)">Видалити сповіщення</button>
              </mat-menu>
            </div>
            <div
              [style.max-height]="accordionItem.expanded ? '100px' : '0px'"
              [style.overflow]="accordionItem.expanded ? 'auto' : 'hidden'"
              role="region"
              class="body-notification info info__description"
            >
              <div class="body-notification__single">
                {{ getNotificationDescription(NotificationDescriptionType.Full, notification.type, notification.data.Status) }}
              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </ng-container>
    </cdk-accordion>
  </div>
</ng-template>
