.container {
  line-height: 35px;
  font-weight: bold;
  cursor: default;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding: 0 1rem 1rem 0;
}

.icon {
  color: #3849F9;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1rem;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.editing {
  line-height: normal;
  margin: 0.5rem 0;
  width: 200px;
  text-align: justify;
}

@media (max-width: 750px) {
  .editing {
    width: auto;
  }
}