@import "src/app/shared/styles/navigation-tabs.scss";
@import "src/app/shared/styles/buttons.scss";
@import "src/app/shared/styles/list-wrappers.scss";
@import "src/app/shared/styles/search.scss";
.search-area {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  position: absolute;
  right: 0;
}
.users-wrapper {
  padding: 0 1rem;
}
.wrapper {
  position: relative;
}
.tab-wrapper {
  width: 100%;
}
@media (max-width: 1070px) {
  .wrapper {
    display: flex;
    justify-content: start;
    top: 4rem;
  }
  .search-area {
    display: flex;
    z-index: 1000;
    top: -3rem;
  }
}