<div class="users-wrapper">
  <div class="search-area">
    <div class="search-bar flex flex-row justify-start items-center">
      <mat-icon class="search-icon mt-2" style="transform: rotate(90deg)">search</mat-icon>
      <input
        [formControl]="filterFormControl"
        matInput
        type="text"
        class="search"
        placeholder="{{ 'FORMS.PLACEHOLDERS.SEARCH_NAME_EMAIL_PHONE_CITY_STATUS' | translate }}" />
    </div>
  </div>

  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [selectedIndex]="tabIndex">
      <mat-tab label="{{ UserTabsTitles.all | translate }}">
        <ng-container *ngTemplateOutlet="UsersList; context: { $implicit: allUsers }"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ UserTabsTitles.parent | translate }}">
        <ng-container *ngTemplateOutlet="UsersList; context: { $implicit: allUsers }"> </ng-container>
      </mat-tab>
      <mat-tab label="{{ UserTabsTitles.child | translate }}">
        <ng-container *ngTemplateOutlet="UsersList; context: { $implicit: allUsers }"> </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #UsersList let-users>
  <ng-container *ngIf="!(isLoadingCabinet$ | async)">
    <ng-container *ngIf="users?.length; else isEmptyList">
      <div class="table-wrapper">
        <app-users-list
          [statusesTitles]="statusesTitles"
          [users]="users"
          [displayedColumns]="displayedColumns"
          (block)="onBlockUnblock($event)"
          (unblock)="onBlockUnblock($event)">
        </app-users-list>
      </div>
      <app-paginator
        [totalEntities]="totalEntities"
        [currentPage]="currentPage"
        [itemsPerPage]="childrenParams.size"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onTableItemsPerPageChange($event)">
      </app-paginator>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noUsers"></app-no-result-card>
</ng-template>
