@use 'src/app/shared/base-components/upload-excel/upload-excel.component.scss';
@use 'src/app/shared/styles/components/list-wrappers';
@use 'src/app/shared/styles/components/buttons';

.add-wrapper {
  margin: 0;
}

.errors-menu {
  width: 100%;
  margin-top: 2rem;
}
