@import 'src/app/shared/base-components/upload-excel/upload-excel.component.scss';
@import 'src/app/shared/styles/list-wrappers.scss';
@import 'src/app/shared/styles/buttons.scss';

.add-wrapper {
  margin: 0;
}

.errors-menu {
  width: 100%;
  margin-top: 2rem;
}
