.wrapper {
  margin: 15px;
}
.wrapper-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.search {
  padding-left: 10px;
}
.search-area {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  width: 26rem;
  padding: 8px 15px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 60px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
}
.search-icon {
  color: #aaaaaa;
}

.btn {
  cursor: pointer;
  color: white;
  background-color: #3849f9;
  border: 1px solid #3849f9;
  border-radius: 20px;
  padding: 5px 25px;
  width: 140px;
  box-sizing: border-box;
  height: 34px;
  font-weight: 600;
  @media (max-width: 767px) {
    margin-top: 15px;
  }

  &:hover {
    background-color: #5866fa;
  }
}

.mat-grid-tile {
  border-bottom: 1px solid #e3e3e3;
}
.mat-icon {
  color: #aaaaaa;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 3px;
}

.example-container {
  height: 400px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

td.mat-cell,
th.mat-cell {
  padding: 0 7px;
}

::ng-deepth .mat-sort-header-content {
  text-align: left;
  min-width: 85px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.icons {
  display: flex;
}

.provider-list-status {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  min-width: 137px;
  margin-left: 3px;
}
.status-title {
  padding-left: 7px;
}
.true {
  color: #199953;
}
.false {
  color: #ffbd00;
}
