@import "src/app/shared/styles/card-wrapper.scss";
.header-wrapper{
  margin-bottom: 2rem;
}

.title{
  margin-right: 1rem;
}

:host ::ng-deep app-full-search-bar {
  min-width: 300px;
  max-width: 550px;
  width: 100%;

  app-searchbar {
    input {
      min-width: auto !important;
    }
  }

  .search.shadow {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  }
}

:host ::ng-deep app-city-autocomplete {
  .city-filter.add-size {
    font-size: 13px;
  }
}

@media(min-width: 750px) {
  .shell-search {
    width: 50%;
  }
}

@media(max-width: 750px) {
  .header-wrapper{
    margin: 2rem 1rem;
  }
}