<div class="header-wrapper flex flex-row flex-wrap justify-start items-center">
  <h3 class="title">{{ 'ALL_DIRECTIONS' | translate }}</h3>
</div>

<ng-container *ngIf="filteredDirections$ | async as filteredDirections">
  <div class="card-wrapper">
    <app-category-card
      class="card"
      *ngFor="let direction of filteredDirections.entities"
      [direction]="direction"
      [workshopsCount]="direction.workshopsCount">
    </app-category-card>
  </div>
  <app-paginator
    [totalEntities]="filteredDirections.totalAmount"
    [currentPage]="currentPage"
    [itemsPerPage]="directionsParameters.size"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-paginator>
</ng-container>
