<div class="info-content">
  <div>
    <h2 class="info-title">{{ platformRules.title }}</h2>
  </div>
  <div class="info-text">
    <div *ngFor="let item of platformRules.companyInformationItems">
      <p><strong>{{ item.sectionName }}</strong></p>
      <p>{{ item.description }}</p>
    </div>
    <p>
      Ваші пропозиції по покращенню роботи сервісу можна надсилати:<a href="mailto:pozashkillia@gmail.com"
        target="_blank"><span class="info-link"> Pozashkillia@gmail.com</span></a>
    </p>
  </div>
</div>
