<div *ngIf="(platformRules$ | async)?.companyInformationItems.length; else noInfo">
  <div class="info-content">
    <div>
      <h2 class="info-title">{{ (platformRules$ | async)?.title }}</h2>
    </div>
    <div class="info-text">
      <div *ngFor="let item of (platformRules$ | async)?.companyInformationItems">
        <p><strong>{{ item.sectionName }}</strong></p>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #noInfo>
  <div class="info-no-content">Інформації поки немає</div>
</ng-template>
