<div class="actions-wrapper flex flex-row flex-wrap justify-between items-center">
  <div class="search-area justify-start">
    <div class="search-bar flex flex-row justify-start items-center">
      <mat-icon class="search-icon mt-2" style="transform: rotate(90deg)">search</mat-icon>
      <input
        [formControl]=""
        matInput
        type="text"
        maxlength="200"
        class="search"
        placeholder="{{ 'FORMS.PLACEHOLDERS.SEARCH_STUDY_SUBJECT' | translate }}" />
    </div>
  </div>

  <div class="header-column">
    <div class="filters-wrapper justify-end items-start">
      <div class="filters-period">
        <span>{{ 'HISTORY_LOG.PERIOD' | translate }}</span>
        <mat-form-field appPlaceholderStyling class="date" appearance="fill">
          <mat-label>{{ 'FORMS.PLACEHOLDERS.ENTER_DATE_RANGE' | translate }}</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="{{ 'FROM' | translate }}" formControlName="dateFrom" />
            <input matEndDate placeholder="{{ 'TO' | translate }}" formControlName="dateTo" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker>
            <mat-date-range-picker-actions>
              <div class="date-buttons">
                <button class="btn" mat-raised-button>{{ 'HISTORY_LOG.SHOW' | translate }}</button>
                <button class="btn btn-cancel" mat-raised-button>{{ 'BUTTONS.CANCEL' | translate }}</button>
              </div>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <div class="reset">
      <mat-icon class="reset__icon">refresh</mat-icon>
    </div>

    <a [routerLink]="['/create-study-subject', ModeConstants.NEW]">
      <button class="btn" mat-raised-button>{{ 'BUTTONS.ADD_SUBJECT' | translate }}</button>
    </a>
  </div>
</div>

<div class="table-wrapper">
  <!-- Subject name column -->
  <ng-container *ngIf="dataSource.data.length; else isEmptyList">
    <div [hidden]="!dataSource" *ngIf="isLoaded" class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort aria-describedby="subjects-table" appStretchTable>
        <ng-container matColumnDef="subj-name" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'FORMS.LABELS.SUBJECT_NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.subjName }}</td>
        </ng-container>

        <!-- Teaching language subject name column -->
        <ng-container matColumnDef="teaching-lang-subj-name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'FORMS.LABELS.TEACHING_LANGUAGE_SUBJECT_NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.teachingLangSubjName }}</td>
        </ng-container>

        <!-- Teaching Language Column-->
        <ng-container matColumnDef="teaching-lang">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'FORMS.LABELS.TEACHING_LANGUAGE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.teachingLang }}</td>
        </ng-container>

        <!-- Date of Creation Column-->
        <ng-container matColumnDef="creation-date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'FORMS.LABELS.CREATION_DATE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.creationDate | date: 'shortDate' }}</td>
        </ng-container>

        <!-- Date when last referred form other parts of the system Column-->
        <ng-container matColumnDef="last-referred">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'FORMS.LABELS.LAST_REFERRED' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.lastReferred | date: 'shortDate' }}</td>
        </ng-container>

        <ng-container matColumnDef="used-in">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'FORMS.LABELS.USED_IN' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.usedIn }}</td>
        </ng-container>

        <ng-container class="actions-column" matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef style="width: 5%"></th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="onEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </ng-container>
  <ng-template #isEmptyList>
    <div class="table-wrapper">
      <app-no-result-card [title]="noStudySubjects"></app-no-result-card>
    </div>
  </ng-template>
</div>
