<ng-container *ngIf="applicationCards">
  <h3 class="child-name">
    {{ child.firstName }} {{ child.lastName }} {{ child.middleName }} ({{child.dateOfBirth | date: constants.SHORT_DATE_FORMAT}})
  </h3>
  <div fxLayout="row" [fxLayoutAlign]="applicationCards.totalAmount > 1 ? 'center center' : 'start center'" fxLayoutGap="2rem">
    <app-workshop-card
      class="card"
      *ngFor="let application of applicationCards.entities"
      [workshop]="application.workshop"
      [isMainPage]="false"
      [userRoleView]="Role.parent"
      [application]="application"
      (leaveWorkshop)="leaveWorkshop.emit($event)">
    </app-workshop-card>
  </div>
  <app-paginator
    [totalEntities]="applicationCards.totalAmount"
    [currentPage]="currentPage"
    [itemsPerPage]="applicationsPerPage$ | async"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-paginator>
</ng-container>
