<div class="container" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="0.1rem">
  <h4 class="card-title">{{"CONTACTS" | translate}}</h4>
  <p class="contact-info">
    <mat-icon class="card_icon">location_on</mat-icon>
    <span fxLayout="row wrap" fxLayoutAlign="start">
      <span>{{ address.codeficatorAddressDto?.settlement }}, </span>
      <span 
        class="address-street" 
        showTooltipIfTruncated 
        [matTooltip]="getFullAddress"
        matTooltipClass="tooltip">
        {{ address.street }}
      </span>
      <span> , {{ address.buildingNumber }}</span>
    </span>
  </p>

  <a (click)="mapLink()" target="_blank" class="map">{{'SHOW_ON_THE_MAP' | translate}}</a>

  <p class="contact-info">
    <mat-icon class="card_icon">call</mat-icon
    ><a href="tel:{{ phonePrefix }}{{ contactsData.phone }}">{{ phonePrefix }}{{ contactsData.phone }}</a>
  </p>

  <p class="contact-info">
    <mat-icon class="card_icon">mail</mat-icon>
    <a href="mailto:{{ contactsData.email }}" target="_blank">{{ contactsData.email }}</a>
  </p>

  <p *ngIf="contactsData.website" class="contact-info">
    <mat-icon class="card_icon">language</mat-icon>
    <a [href]="contactsData.website" style="margin-left: 5px">{{ contactsData.website }}</a>
  </p>

  <div class="social" fxLayout="row" fxLayoutAlign="space-between center">
    <a href="{{ contactsData.instagram }}" [ngClass]="contactsData.instagram ? 'link' : 'disable'">
      <img src="assets/icons/inst.png" alt="instagram" />
    </a>
    <a href="{{ contactsData.facebook }}" [ngClass]="contactsData.facebook ? 'link' : 'disable'">
      <img src="assets/icons/facebook.png" alt="facebook" />
    </a>
  </div>
</div>
