<div class="container flex flex-col justify-between items-start gap-1">
  <h4 class="card-title">{{ 'CONTACTS' | translate }}</h4>
  <p class="contact-info">
    <mat-icon class="card_icon">location_on</mat-icon>
    <span class="flex flex-row flex-wrap justify-start">
      <span class="address-city">{{ address.codeficatorAddressDto?.settlement }}, </span>
      <span class="address-street" showTooltipIfTruncated [matTooltip]="getFullAddress" matTooltipClass="tooltip">{{
        address.street
      }}</span>
      <span>, {{ address.buildingNumber }}</span>
    </span>
  </p>

  <a (click)="mapLink()" target="_blank" class="map">{{ 'SHOW_ON_THE_MAP' | translate }}</a>

  <p class="contact-info">
    <mat-icon class="card_icon">call</mat-icon>
    <a href="tel:{{ contactsData.phone }}" rel="noopener">{{ contactsData.phone }}</a>
  </p>

  <p class="contact-info">
    <mat-icon class="card_icon">mail</mat-icon>
    <a href="mailto:{{ contactsData.email }}" target="_blank">{{ contactsData.email }}</a>
  </p>

  <p *ngIf="contactsData.website" class="contact-info">
    <mat-icon class="card_icon">language</mat-icon>
    <a [href]="contactsData.website" target="_blank" rel="noopener">{{ contactsData.website }}</a>
  </p>

  <div class="social flex flex-row justify-between items-center">
    <a *ngIf="contactsData.instagram" href="{{ contactsData.instagram }}" class="link" target="_blank" rel="noopener">
      <img src="assets/icons/inst.png" alt="instagram" />
    </a>
    <a *ngIf="contactsData.facebook" href="{{ contactsData.facebook }}" class="link" target="_blank" rel="noopener">
      <img src="assets/icons/facebook.png" alt="facebook" />
    </a>
  </div>
</div>
