@import 'src/app/shared/styles/side-menu-cards.scss';

.container .contact-info {
  max-width: 100%;
  a {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.mat-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  overflow: unset;
}

.address {
  &-city {
    width: 100%;
  }

  &-street {
    max-width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 750px) {
      max-width: 100%;
    }
  }
}
