<div *ngIf="child">
  <mat-card class="position">
    <div fxLayout="row" fxLayoutAlign="end start" class="actions">
      <div class="actions_btn" [routerLink]="['/create-child', child.id]">
        <mat-icon>edit</mat-icon>
      </div>
      <div class="actions_btn" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
    <div class="card" fxLayout="column" fxLayoutAlign="space-evenly space-between">
      <div fxLayout="row" fxLayoutAlign="center">
        <img class="card-image" mat-card-image src="assets/icons/child-{{child.gender}}.png" alt="child-photo">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title class="card-title"> {{child.lastName}} {{child.firstName}} {{child.middleName}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-between start">
          <p class="card_text">
            <mat-icon class="card_icon">calendar_today</mat-icon> {{child.dateOfBirth | date:
            'shortDate'}}
          </p>
          <h5 class="card_text">
            <mat-icon class="card_icon">apps</mat-icon>Гуртки 
          </h5>
          <div *ngIf="applications?.length; else NoWorkshops ">
            <div fxLayout="row" fxLayoutAlign="end start">
              <div  [routerLink]="['/workshop-details', application.workshop.workshopId]" class="card-list card-list-workshop" *ngFor="let application of applications">
                 {{application.workshop.title}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #NoWorkshops>
  <p class="card-list"> Гуртків поки немає! </p>
</ng-template>