.city-confirmation {
  position: absolute;
  color: #444444;
  width: 300px;
  min-height: 130px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(50 50 50 / 30%);
  background: #FFF;
  padding: 10px;
  z-index: 1000;
  top: 20px;
  p {
    text-align: center;
    font-size: 19px;
    margin-bottom: 0;
    span {
      font-weight: 700;
    }
  }

  .mat-icon {
    cursor: pointer;
    &:hover{
      color: #3849F9;
    }
  }
  &_button {
    width: auto;
    margin-top: 25px;
      .button {
        color: white;
        background-color: #3849F9;
        border: 1px solid #3849F9;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 0 30px;
        margin: 0 auto;
        &-change{
          color: #444444!important;
          background-color: transparent !important;
          border-color: #444444!important;
        }
      }
    }
}
.city-confirmation::before {
    content: "";
    position: absolute;
    left: 46%;
    width: 32px;
    height: 15px;
    background: #FFF;
    top: -14px;
    clip-path: polygon(50% 0,0 100%, 100% 100%);
}
// TO DO mobile view ...
@media(max-width: 750px) {
  .city-confirmation {
    width: 340px;
    border-radius: 0%;
    left: -50px;
  }
  .city-confirmation::before {
    display: none;
  }
}