<div class="city-confirmation" *ngIf="isDispalyed">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <p>Ви знаходитесь в місті <span>{{ (settelment$ | async)?.name }}</span>?</p>
    <mat-icon (click)="isDispalyed = false">clear</mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="city-confirmation_button">
    <button mat-button class="button" (click)="confirmCity()">Підтвердити</button>
    <button mat-button class="button button-change" (click)="changeCity()">Змінити</button>
  </div>
</div>
