<div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='1rem' fxLayout.xs="column"
  fxLayoutAlign.xs="center start">
  <div fxLayout='row' fxLayoutAlign='space-between' class="days-toggle">
    <div *ngFor="let day of days" class="toggle" fxLayout='row' fxLayoutAlign='center center'
      (click)="onToggleDays(day)" [ngClass]="(day.selected) ? 'toggle-selected' : '' ">
      {{day.value}}</div>
  </div>

  <form [formGroup]="workingHoursForm" fxLayout='row' fxLayoutAlign='center center'>
    <p class="text">Від</p>
    <input class="input" type="text" matInput [ngxMatTimepicker]="timepickerStart" format="24" required
      formControlName="startTime" [max]="getMaxTime()">

    <p class="text">До</p>
    <input class="input" type="text" matInput [ngxMatTimepicker]="timepickerEnd" format="24" required
      formControlName="endTime" [min]="getMinTime()">
  </form>

  <div fxLayout='row' fxLayoutAlign='center center' *ngIf="workingHoursAmount > 1">
    <mat-icon class="mat-icon-delete" (click)="delete()">delete</mat-icon>
  </div>
</div>

<ngx-mat-timepicker #timepickerStart></ngx-mat-timepicker>
<ngx-mat-timepicker #timepickerEnd></ngx-mat-timepicker>