<!--<div class="card-item">-->
<!--  <mat-card>-->
<!--    <img mat-card-image src="{{cards.img}}" alt="teacher photo">-->
<!--    <mat-card-title>{{cards.name}}</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--        {{cards.description}}-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
<div class="card-item">
  <div class="card-item_image">
    <img class="single-image" src="{{cards.img}}" alt="teacher photo">
  </div>
  <div class="card-item-content">
    <div class="card-item_header">{{cards.name}}</div>
    <div class="card-item_description">{{cards.description}}</div>
  </div>
</div>
