@import 'src/app/shared/styles/buttons.scss';

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    background: #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    .btn {
      align-self: flex-end;
      text-transform: uppercase;
      height: 40px;
    }
}
