@import 'src/app/shared/styles/navigation-tabs.scss';
@import 'src/app/shared/styles/buttons.scss';
@import 'src/app/shared/styles/list-wrappers.scss';
@import 'src/app/shared/styles/search.scss';

.table-wrapper {
  padding: 1rem;
}

.users-wrapper {
  position: relative;
}

.tab-wrapper {
  margin-bottom: 4rem;
}

.search-bar {
  margin-right: 1rem;
}

.btn {
  margin: 0;
}

.search-area {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  position: absolute;
  right: 12px;
}

@media (max-width: 1070px) {
  .tab-wrapper {
    bottom: 0;
  }

  .search-area {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .search-area {
    position: static;
    margin-bottom: 1rem;
    justify-content: space-between;

    .mat-menu-panel.header_menu {
      background-color: #fff;
    }

    .mat-menu-item {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

.search {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
