<div *ngIf="rating" class="wrapper flex flex-col box-border items-stretch justify-start content-between">
  <div class="flex flex-row flex-wrap justify-between items-center">
    <div class="flex flex-row flex-wrap justify-between items-center">
      <mat-icon class="star-icon">star</mat-icon> {{ workshop.rating }}
      <p class="rate-amount">({{ rating.totalAmount | translateCases: ReviewDeclination }})</p>
    </div>
    <div [matTooltip]="!isReviewed ? mustBeAccepted : alreadyRated" [matTooltipDisabled]="!(isReviewed || !isAllowedToReview)">
      <button
        mat-raised-button
        class="button"
        (click)="onRate()"
        *ngIf="role !== Role.provider"
        [disabled]="isReviewed || !isAllowedToReview">
        <mat-icon class="button-icon">edit</mat-icon>
        {{ 'RATE' | translate }}
      </button>
    </div>
  </div>

  <ng-container *ngIf="!(isLoading$ | async)">
    <ng-container *ngIf="rating.totalAmount; else isEmptyList">
      <div class="rate flex flex-row flex-wrap justify-between items-center" *ngFor="let rate of rating.entities">
        <div>
          <p class="rate-author">{{ rate.firstName }} {{ rate.lastName }}</p>
          <p class="rate-date flex flex-row justify-start items-center">
            <app-stars [rating]="rate.rate" class="star-icon"></app-stars>
            {{ rate.creationTime | date: 'shortDate' }}
          </p>
        </div>
        <app-rate [rate]="rate" (deleteRate)="onDelete($event)" *ngIf="role === Role.techAdmin"> </app-rate>
      </div>
      <app-paginator
        [totalEntities]="rating.totalAmount"
        [currentPage]="currentPage"
        [itemsPerPage]="rateParameters.size"
        (itemsPerPageChange)="itemsPerPageChange($event)"
        (pageChange)="pageChange($event)">
      </app-paginator>
    </ng-container>
  </ng-container>

  <ng-template #isEmptyList>
    <app-no-result-card [title]="noResultReviews"></app-no-result-card>
  </ng-template>
</div>
