.wrapper {
  margin: 1rem;
  font-family:
    Open Sans,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
}
.button {
  width: 254px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Innerspace, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: var(--list-text-color);

  &-icon {
    margin: 5px;
  }
}
.star-icon {
  color: #ffbd00;
}
.star-icon-gray {
  color: var(--secondary-light-text-color);
}
.rate-amount {
  color: var(--secondary-light-text-color);
  margin-left: 10px;
}
.rate {
  border-bottom: 1px solid var(--input-light-color);
  margin: 0;
  padding-bottom: 1rem;
  &-author {
    font-family: Innerspace, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    color: var(--primary-dark-text-color);
  }
  &-date {
    font-family:
      Open Sans,
      sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    color: var(--cancel-text-color);
  }
}
