<div class="wrapper" fxLayout='row' fxLayoutAlign='space-between center'>
  <p class="text">Тут ви можете створити гурток, секцію або групу для навчання</p>
  <a [routerLink]="'../../create-activity/param'"><button class="btn" mat-raised-button>Додати гурток</button></a>
</div>

<div *ngIf="(cards$ | async).length then WorkshopsList"></div>



<ng-template #WorkshopsList>
  <div class="wrapper-card">
    <ng-container>
      <div fxLayout='row wrap' fxLayoutAlign='space-evenly space-evenly' fxLayoutGap="20px grid">
        <app-workshop-card class="cards" *ngFor="let card of cards$ | async " [card]="card">
        </app-workshop-card>
      </div>
    </ng-container>
  </div>
</ng-template>