<div class="container">
  <div class="cards">
    <div class="card">
      <mat-card>
        <img mat-card-image src="assets/images/groupimages/teacher2.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Вікторія Левинська</mat-card-title>
        <mat-card-content>

          <p>
            Танцюрист міжнародного класу “S”,
            майстер спорту України, багаторазовий Чемпіон Украйни та Львівщини,
            володар Кубка України та Західної України,
            сьогодні один з найвідоміших спортсменів-танцюристів України
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <img mat-card-image src="assets/images/groupimages/teacher1.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Андрій Левинський</mat-card-title>
        <mat-card-content>

          <p>
            Танцюрист міжнародного класу “S”,
            майстер спорту України, багаторазовий Чемпіон Украйни та Львівщини,
            володар Кубка України та Західної України,
            сьогодні один з найвідоміших спортсменів-танцюристів України
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <img mat-card-image src="assets/images/groupimages/teacher3.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Марія Левинська</mat-card-title>
        <mat-card-content>

          <p>
            Тренер бальної хореографії,
            східних танців (belly dance),керівник напряму сучасних танців. Танцюристка
            міжнародного класу “S”, майстер спорту України,
            багаторазова Чемпіонка України та Львівщини.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
