* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@mixin form-style {
  width: 410px;
  height: 34px;
  padding: 8px 14px 8px 16px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 21px;

}

@mixin form-style-small {
  text-align: center;
  width: 85px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 20px;
}

@mixin divider {
  border-bottom: 1px solid #E3E3E3;
  width: 410px;
  margin-top: 32px;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 654px;
  height: 1369px;
  padding: 48px;
  background: #FFFFFF;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  .form-wrapper {
    padding: 0 122px 0 56px;
    display: flex;
    flex-direction: column;

    .header {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #444444;
    }

    .header-bottom {
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #AAAAAA;
      margin-top: 16px;
    }

    .form-ownership, .organization-type {
      margin-top: 16px;

      select {
        @include form-style;
        appearance: none;
        cursor: pointer;
      }

      .select {
        width: 410px;
        position: relative;

        .select-arrow {
          position: absolute;
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
        }
      }
    }

    .ceo-birthday {
      margin-top: 16px;

      &_date {
        width: 160px;
        position: relative;

        mat-datepicker-toggle {
          position: absolute;
          right: 5%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      input {
        appearance: none;
        padding-left: 16px;
        width: 160px;
        height: 34px;
        border: 1px solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 21px;
      }
    }

    .buttons1 {
      width: 410px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 32px;

      &_next {
        button {
          margin-left: 32px;
          width: 92px;
          height: 34px;
          background: #3849F9;
          border: 1px solid #3849F9;
          box-sizing: border-box;
          border-radius: 20px;
          font-weight: bold;
          font-size: 13px;
          line-height: 15px;
          color: #FFFFFF;
        }
      }
      &_reset {
        button {
          background: transparent;
          width: 139px;
          height: 34px;
          border: 1px solid #686868;
          box-sizing: border-box;
          border-radius: 20px;
          font-weight: bold;
          font-size: 13px;
          line-height: 15px;
          text-align: center;
          color: #444444;
        }
      }
    }

    .org-full-name, .org-short-name, .ceo-name, .id-code, .phone, .email,
    .web-page, .facebook, .instagram, .owner-name {
      margin-top: 16px;

      input {
        @include form-style;
      }
    }
  }
}


