<section>
  <div class="header">РЕЄСТРАЦІЯ НОВОГО ЗАКЛАДУ</div>
  <div class="subheader">Додайте свій заклад всього у 3 кроки</div>
  <div class="stepper">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="orgFormGroup">
        <form [formGroup]="orgFormGroup">
          <ng-template matStepLabel>Інформація про заклад</ng-template>
          <div class="form-wrapper">

            <div class="form-ownership">
              <label for="">Форма власності<span class="important">*</span></label>
              <div class="custom-select">
                <div class="select">
                  <div *ngIf="!valueOwnership" class="select-arrow"><img src="assets/icons/select_arrow.png" alt="">
                  </div>
                  <div *ngIf="valueOwnership" class="select-arrow"><img src="assets/icons/arrow_down.png" alt=""></div>
                  <input readonly
                         (click)="showSelect($event)"
                         formControlName="ownership" #ownership>
                </div>
                <div class="box" *ngIf="valueOwnership">
                  <ng-container *ngFor="let option of ownerShipList">
                    <div class="box-item" (click)="setValue(option, ownership)">{{option}}</div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="organization-type">
              <label for="">Тип організації<span class="important">*</span></label>
              <div class="custom-select">
                <div class="select">
                  <div *ngIf="!valueOrgType" class="select-arrow"><img src="assets/icons/select_arrow.png" alt=""></div>
                  <div *ngIf="valueOrgType" class="select-arrow"><img src="assets/icons/arrow_down.png" alt=""></div>
                  <input readonly
                         (click)="showSelect($event)"
                         formControlName="organizationType" #orgType>
                </div>
                <div class="box" *ngIf="valueOrgType">
                  <ng-container *ngFor="let option of organizationTypeList">
                    <div class="box-item" (click)="setValue(option, orgType)">{{option}}</div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="org-full-name">
              <label for="group-name-field">Повна назва організації<span class="important">*</span></label>
              <input
                type="text"
                id="group-name-field"
                formControlName="orgFullName"
                [ngClass]="{'error': !orgFormGroup.get('orgFullName').valid && orgFormGroup.get('orgFullName').touched}"
              >
            </div>
            <div class="org-short-name">
              <label for="group-short-name-field">Скорочена назва організації<span class="important">*</span></label>
              <input type="text" id="group-short-name-field" formControlName="orgShortName">
            </div>
            <div class="ceo-name">
              <label for="ceo-name-field">ПІБ керівника<span class="important">*</span></label>
              <input type="text" id="ceo-name-field" formControlName="ceoName">
            </div>
            <div class="ceo-birthday">
              <mat-label>Дата народження керівника<span class="important">*</span></mat-label>
              <div class="ceo-birthday_date">
                <input matInput [matDatepicker]="picker" placeholder="01.01.2010" formControlName="ceoBirthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
            <div class="id-code">
              <label for="id-code-field">ЄДРПОУ/ІПН<span class="important">*</span></label>
              <input type="text" id="id-code-field" formControlName="personalId">
            </div>
            <div class="phone">
              <label for="phone-form-field">Телефон<span class="important">*</span></label>
              <input type="text" id="phone-form-field" formControlName="phone" placeholder="380XXXXXXX">
            </div>
            <div class="email">
              <label for="email-form-field">Емейл<span class="important">*</span></label>
              <input type="email" id="email-form-field" formControlName="email">
            </div>
            <div class="web-page">
              <label for="webpage-form-field">Веб сайт</label>
              <input type="text" id="webpage-form-field" formControlName="webPage">
            </div>
            <div class="facebook">
              <label for="facebook-form-field">Facebook</label>
              <input type="text" id="facebook-form-field" formControlName="facebook">
            </div>
            <div class="instagram">
              <label for="instagram-form-field">Instagram</label>
              <input type="text" id="instagram-form-field" formControlName="instagram">
            </div>
            <div class="owner-name">
              <label for="owner-name-field">Засновник<span class="important">*</span></label>
              <input type="text" id="owner-name-field" formControlName="ownerName">
            </div>
            <div class="form-ownership-buttons">
              <button class="form-ownership-buttons_reset" type="button" (click)="formReset()">СКАСУВАТИ</button>
              <button class="form-ownership-buttons_next"
                      type="button"
                      matStepperNext [disabled]="!orgFormGroup.valid"
                      [ngClass]="{'disabled-button':!orgFormGroup.valid}"
              >ДАЛІ
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="addressFormGroup" label="Контакти">
        <form [formGroup]="addressFormGroup">
          <div class="form-wrapper">
            <ng-container formGroupName="legalAddress">
              <div class="header-address">Юридична адреса</div>
              <div class="region">
                <label for="region-field">Область<span class="important">*</span></label>
                <input type="text" id="region-field" formControlName="region">
              </div>
              <div class="city">
                <label for="city-form-field">Місто<span class="important">*</span></label>
                <input type="text" id="city-form-field" formControlName="city">
              </div>
              <div class="district">
                <label for="district-form-field">Район<span class="important">*</span></label>
                <input type="text" id="district-form-field" formControlName="district">
              </div>
              <div class="street">
                <label for="street-form-field">Вулиця<span class="important">*</span></label>
                <input type="text" id="street-form-field" formControlName="street">
              </div>
              <div class="building">
                <label for="building-form-field">Будинок<span class="important">*</span></label>
                <input type="text" id="building-form-field" formControlName="building">
              </div>
            </ng-container>
            <div class="divider">
            </div>
            <div class="header-address">Фактична адреса</div>
            <div class="checkbox">
              <mat-checkbox required>Співпадає з юридичною адресою
              </mat-checkbox>
            </div>
            <ng-container formGroupName="actualAddress">
              <div class="region">
                <label for="regionF-form-field">Область<span class="important">*</span></label>
                <input type="text" id="regionF-form-field" formControlName="region">
              </div>
              <div class="city">
                <label for="cityF-form-field">Місто<span class="important">*</span></label>
                <input type="text" id="cityF-form-field" formControlName="city">
              </div>
              <div class="district">
                <label for="districtF-form-field">Район<span class="important">*</span></label>
                <input type="text" id="districtF-form-field" formControlName="district">
              </div>
              <div class="street">
                <label for="streetF-form-field">Вулиця<span class="important">*</span></label>
                <input type="text" id="streetF-form-field" formControlName="street">
              </div>
              <div class="building">
                <label for="buildingF-form-field">Будинок<span class="important">*</span></label>
                <input type="text" id="buildingF-form-field" formControlName="building">
              </div>
            </ng-container>
            <div class="address-form-buttons">
              <button class="address-form-buttons_back" matStepperPrevious>НАЗАД</button>
              <button type="button" class="address-form-buttons_reset" (click)="formReset()">СКАСУВАТИ</button>
              <button class="address-form-buttons_next" matStepperNext
                      [ngClass]="{'disabled-button':!addressFormGroup.valid}"
                      [disabled]="!addressFormGroup.valid"
              >ДАЛІ
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Фото</ng-template>
        <form [formGroup]="photoFormGroup">
          <div class="form-wrapper">
            <app-image-input
            [imgMaxAmount]="4"
            [label]="'Фото'"
            (passPhotoFormArray)="onReceivePhotoFormArray($event)"></app-image-input>
            <div class="description">
              <div class="description_header">
                <label for="text-desc-form-field">Опис<span class="important">*</span></label>
                <p>
                  <span
                    [ngClass]="{'highlight-text': !(photoFormGroup.controls['text']).valid && (photoFormGroup.controls['text']).touched }"
                    class="default">{{(textValue) ? textValue.split('').length : '0'}}</span>/500</p>
              </div>
              <div class="description_form">
                <textarea name="" id="text-desc-form-field" cols="30" rows="10"
                          placeholder="Додайте опис вашого закладу"
                          [(ngModel)]="textValue"
                          formControlName="text"></textarea>
              </div>
            </div>
            <div class="photo-checkbox">
              <mat-checkbox formControlName="personalInfoAgreement">Я надаю згоду на обробку персональних даних
              </mat-checkbox>
              <mat-checkbox formControlName="notRobot">Я не робот
              </mat-checkbox>
            </div>
          </div>
          <div class="photo-form-buttons">
            <button matStepperPrevious class="photo-form-buttons_back">НАЗАД</button>
            <button class="photo-form-buttons_reset" (click)="formReset()">СКАСУВАТИ</button>
            <button matStepperPrevious class="photo-form-buttons_reg"
                    [ngClass]="{'disabled-button':!photoFormGroup.valid}"
                    [disabled]="!photoFormGroup.valid"
                    (click)="onAddNewProvider()"
            >ЗАРЕЄСТРУВАТИ
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>

