* {
  box-sizing: border-box;
}

@mixin form-style {
  width: 100%;
  height: 34px;
  padding: 0.5rem 0.875rem 0.5rem 1rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
  border: 0.063rem solid #E3E3E3;
  border-radius: 1.313rem;

}

@mixin form-style-small {
  text-align: center;
  width: 100%;
  max-width: 85px;
  height: 34px;
  background: #FFFFFF;
  border: 0.063rem solid #EBEBEB;
  border-radius: 1.25rem;
}

@mixin divider {
  border-bottom: 0.063rem solid #E3E3E3;
  width: 100%;
  max-width: 410px;
  margin-top: 2rem;
}

@mixin primary-button {
  margin-left: 2rem;
  width: 100%;
  max-width: 92px;
  height: 34px;
  background: #3849F9;
  border: 0.063rem solid #3849F9;
  box-sizing: border-box;
  border-radius: 1.25rem;
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 0.938rem;
  color: #FFFFFF;
}

@mixin white-button {
  background: transparent;
  width: 100%;
  max-width: 139px;
  height: 34px;
  padding: 0.625rem 1.875rem 0.563rem 1.875rem;
  border: 0.063rem solid #686868;
  box-sizing: border-box;
  border-radius: 1.25rem;
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 0.938rem;
  text-align: center;
  color: #444444;
}

@mixin button-container {
  width: 100%;
  max-width: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 654px;
  height: 100%;
  padding: 3rem;
  background: #FFFFFF;
  box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  .header {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.25rem;
    text-align: center;
    color: #444444;
    margin-top: 3rem;
  }

  .subheader {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 0.813rem;
    line-height: 1.125rem;
    text-align: center;
    color: #AAAAAA;
  }

  .important {
    color: red;
    margin-right: 0.031rem;
  }

  label {
    font-weight: bold;
    font-size: 0.813rem;
    line-height: 0.938rem;
    color: #333333;
  }

  .form-wrapper {

    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.25rem;
      text-align: center;
      color: #444444;
      margin-top: 0.75rem;
    }

    .header-address {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.25rem;
      color: #272425;
      margin-top: 1.125rem;
    }

    .divider {
      width: 100%;
      margin-top: 1.5rem;
      border-bottom: 0.063rem solid #E3E3E3;
    }

    .header-bottom {
      font-weight: bold;
      font-size: 0.813rem;
      line-height: 1.125rem;
      text-align: center;
      color: #AAAAAA;
      margin-top: 1rem;
    }

    .checkbox {
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: #444444;
      margin-top: 1.5rem;
    }

    .form-ownership, .organization-type {
      margin-top: 1rem;

      select {
        @include form-style;
        appearance: none;
        cursor: pointer;
      }

      .select {
        width: 100%;
        position: relative;

        .select-arrow {
          position: absolute;
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
        }
      }
    }

    .ceo-birthday {
      margin-top: 1rem;

      mat-label {
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 0.938rem;
        color: #333333;
      }

      &_date {
        width: 100%;
        max-width: 160px;
        position: relative;

        mat-datepicker-toggle {
          position: absolute;
          right: 5%;
          top: 58%;
          transform: translateY(-50%);
        }
      }

      input {
        margin-top: 0.5rem;
        appearance: none;
        padding-left: 1rem;
        width: 100%;
        height: 34px;
        border: 0.063rem solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 1.313rem;
      }
    }

    .photo-header {
      font-weight: bold;
      font-size: 0.813rem;
      line-height: 0.938rem;
      color: #333333;
    }

    .photo-subheader {
      margin-top: 0.5rem;
      font-weight: normal;
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: #AAAAAA;
    }

    .logo {
      width: 100%;
      height: 58px;
      display: flex;
      align-items: center;

      &_button {
        width: 100%;

        label {
          width: 100%;
          max-width: 95px;
          height: 58px;
          background: rgba(56, 73, 249, 0.1);
          border: 0.063rem dashed #3849F9;
          box-sizing: border-box;
          border-radius: 0.313rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        label:hover {
          transition: all 0.3s ease-out;
          background: rgba(56, 73, 249, 0.3);
        }

        input {
          display: none;
        }
      }

      &_images {
        margin-left: 0.5rem;
        width: 100%;
        max-width: 95px;
        height: 58px;
        box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.08);
        background: #FFFFFF;

        img {
          border-radius: 0.313rem;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .description {
      margin-top: 2.188rem;

      &_header {

        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &_form {
        textarea {
          width: 100%;
          height: 238px;
          resize: none;
          border: 0.063rem solid #E3E3E3;
          box-sizing: border-box;
          border-radius: 1.313rem;
          padding: 0.5rem 1.625rem 0.5rem 1rem;
        }
      }
    }

    .photo-checkbox {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      font-weight: normal;
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: #333333;

      mat-checkbox:nth-child(2) {
        margin-top: 1rem;
      }
    }

    .buttons1 {
      @include button-container;

      &_next {
        button {
          @include primary-button;
        }
      }

      &_reset {
        button {
          @include white-button;
        }
      }
    }

    .buttons2 {
      @include button-container;
      justify-content: space-between;

      &_next, &_back {
        @include primary-button;
        margin: 0;
      }

      .reset {
        @include white-button;
      }
    }
    .custom-select{
      margin: 0;
      width: 100%;
      position: relative;
      input {
        margin-top: 0.5rem;
        @include form-style;
        cursor: pointer;
      }
      .box{
        @include form-style;
        padding: 0;
        border-radius: 0.313rem;
        height: auto;
        position: absolute;
        z-index: 100;
        background: white;
        &_item{
          padding: 0.563rem 0 0.563rem 1rem;
          width: 100%;
          font-weight: normal;
          font-size: 0.813rem;
          line-height: 1.125rem;
          color: #000000;
          height: 36px;
          cursor: pointer;
        }
        &_item:hover{
          background: #F8F8F8;
        }
      }
    }
    .org-full-name, .org-short-name, .ceo-name, .id-code, .phone, .email,
    .web-page, .facebook, .instagram, .owner-name,
    .region, .city, .district, .street, .building {
      margin-top: 1rem;
      input {
        margin-top: 0.438rem;
        @include form-style;
      }
    }
  }

  .buttons3 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    &_back {
      @include primary-button;
    }

    .reset {
      @include white-button;
    }

    &_reg {
      @include primary-button;
      margin: 0;
      width: 100%;
      max-width: 169px;
    }
  }
}


