<section>
  <div class="header">РЕЄСТРАЦІЯ НОВОГО ЗАКЛАДУ</div>
  <div class="subheader">Додайте свій заклад всього у 3 кроки</div>
  <div class="stepper">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="orgFormGroup">
        <form [formGroup]="orgFormGroup">
          <ng-template matStepLabel>Інформація про заклад</ng-template>
          <div class="form-wrapper">
            <div class="form-ownership">
              <label for="formOwner">Форма власності<span class="important">*</span></label>
              <div class="select">
                <div class="select-arrow"><img src="assets/icons/select_arrow.png" alt=""></div>
                <select id="formOwner" formControlName="ownership">
                  <option value="Державна" selected>Державна</option>
                  <option value="Комунальна">Комунальна</option>
                  <option value="Приватна">Приватна</option>
                </select>
              </div>
            </div>
            <div class="organization-type">
              <label for="orgType">Форма власності<span class="important">*</span></label>
              <div class="select">
                <div class="select-arrow"><img src="assets/icons/select_arrow.png" alt=""></div>
                <select formControlName="organizationType" id="orgType">
                  <option value="ФОП" selected>ФОП</option>
                  <option value="Громадська організація">Громадська організація</option>
                  <option value="ТОВ">ТОВ</option>
                  <option value="ПП">ПП</option>
                  <option value="Заклад освіти">Заклад освіти</option>
                  <option value="Інше">Інше</option>
                </select>
              </div>
            </div>
            <div class="org-full-name">
              <label for="groupNameFull">Повна назва організації<span class="important">*</span></label>
              <input type="text" id="groupNameFull" formControlName="orgFullName">
            </div>
            <div class="org-short-name">
              <label for="groupNameShort">Скорочена назва організації<span class="important">*</span></label>
              <input type="text" id="groupNameShort" formControlName="orgShortName">
            </div>
            <div class="ceo-name">
              <label for="ceoName">ПІБ керівника*</label>
              <input type="text" id="ceoName" formControlName="ceoName">
            </div>
            <div class="ceo-birthday">
              <mat-label>Дата народження керівника<span class="important">*</span></mat-label>
              <div class="ceo-birthday_date">
                <input matInput [matDatepicker]="picker" placeholder="01.01.2010" formControlName="ceoBirthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
            <div class="id-code">
              <label for="idCode">ЄДРПОУ/ІПН<span class="important">*</span></label>
              <input type="number" id="idCode" formControlName="personalId">
            </div>
            <div class="phone">
              <label for="phoneForm">Телефон<span class="important">*</span></label>
              <input type="text" id="phoneForm" formControlName="phone">
            </div>
            <div class="email">
              <label for="emailForm">Емейл<span class="important">*</span></label>
              <input type="email" id="emailForm" formControlName="email">
            </div>
            <div class="web-page">
              <label for="webPageForm">Веб сайт</label>
              <input type="text" id="webPageForm" formControlName="webPage">
            </div>
            <div class="facebook">
              <label for="facebook">Facebook</label>
              <input type="text" id="facebook" formControlName="facebook">
            </div>
            <div class="instagram">
              <label for="instagram">Instagram</label>
              <input type="text" id="instagram" formControlName="instagram">
            </div>
            <div class="owner-name">
              <label for="ownerName">Засновник<span class="important">*</span></label>
              <input type="text" id="ownerName" formControlName="ownerName">
            </div>
            <div class="buttons1">
              <div class="buttons1_reset">
                <button>СКАСУВАТИ</button>
              </div>
              <div class="buttons1_next">
                <button mat-button matStepperNext>ДАЛІ</button>

                <!--                   [disabled]="!orgFormGroup.valid"  (click)="go()"-->

              </div>
            </div>
          </div>
        </form>

      </mat-step>
      <!-- #docregion label -->
      <mat-step [stepControl]="addressFormGroup" label="Контакти">
        <!-- #enddocregion label -->
        <form [formGroup]="addressFormGroup">
          <div class="form-wrapper">
            <ng-container formGroupName="legalAddress">
              <div class="header-address">Юридична адреса</div>
              <div class="region">
                <label for="region">Область<span class="important">*</span></label>
                <input type="text" id="region" formControlName="region">
              </div>
              <div class="city">
                <label for="city">Місто<span class="important">*</span></label>
                <input type="text" id="city" formControlName="city">
              </div>
              <div class="district">
                <label for="district">Район<span class="important">*</span></label>
                <input type="text" id="district" formControlName="district">
              </div>
              <div class="street">
                <label for="street">Вулиця<span class="important">*</span></label>
                <input type="text" id="street" formControlName="street">
              </div>
              <div class="building">
                <label for="building">Будинок<span class="important">*</span></label>
                <input type="text" id="building" formControlName="building">
              </div>
            </ng-container>
            <!--            -->
            <div class="divider">
            </div>
            <div class="header-address">Фактична адреса</div>
            <div class="checkbox">
              <mat-checkbox required>Співпадає з юридичною адресою
              </mat-checkbox>
            </div>
            <ng-container formGroupName="actualAddress">
              <div class="region">
                <label for="regionF">Область<span class="important">*</span></label>
                <input type="text" id="regionF" formControlName="region">
              </div>
              <div class="city">
                <label for="cityF">Місто<span class="important">*</span></label>
                <input type="text" id="cityF" formControlName="city">
              </div>
              <div class="district">
                <label for="districtF">Район<span class="important">*</span></label>
                <input type="text" id="districtF" formControlName="district">
              </div>
              <div class="street">
                <label for="streetF">Вулиця<span class="important">*</span></label>
                <input type="text" id="streetF" formControlName="street">
              </div>
              <div class="building">
                <label for="buildingF">Будинок<span class="important">*</span></label>
                <input type="text" id="buildingF" formControlName="building">
              </div>
            </ng-container>
            <div class="buttons2">
              <button class="buttons2_back" mat-button matStepperPrevious>НАЗАД</button>
              <button class="reset">СКАСУВАТИ</button>
              <button class="buttons2_next" mat-button matStepperNext (click)="go()">ДАЛІ</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Фото</ng-template>
        <form [formGroup]="photoFormGroup">
          <div class="form-wrapper">
            <div class="photo-header">Фото</div>
            <div class="photo-subheader">Додайте фото натистувши на “+”. Максимум 4 фото</div>
            <div class="logo">
              <div class="logo_button">
                <label for="customFile">
                  <input type="file" formControlName="photo" (change)="onFileSelected($event)"
                         accept=".jpg, .jpeg, .png" id="customFile">
                  <img src="assets/icons/plus.png" alt="logo_img">
                </label>
              </div>
              <ng-container *ngFor="let img of selectedLogos">
                <div class="logo_images">
                  <img src="{{img}}" alt="">
                </div>
              </ng-container>
            </div>
            <div class="description">
              <div class="description_header">
                <label for="text-desc">Опис*</label>
                <p>0/500</p>
              </div>
              <div class="description_form">
                <textarea name="" id="text-desc" cols="30" rows="10"
                          placeholder="Додайте опис вашого закладу" formControlName="text"></textarea>
              </div>
            </div>
            <div class="photo-checkbox">
              <mat-checkbox required>Я надаю згоду на обробку персональних даних
              </mat-checkbox>
              <mat-checkbox required>Я не робот
              </mat-checkbox>
            </div>
          </div>
        </form>
        <div class="buttons3">
          <button mat-button matStepperPrevious class="buttons3_back">НАЗАД</button>
          <button mat-button class="reset" (click)="stepper.reset()">СКАСУВАТИ</button>
          <button mat-button matStepperPrevious class="buttons3_reg" (click)="go()">ЗАРЕЄСТРУВАТИ</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>
