.mat-form-field {
  width: 100%;
  margin: 4px 0 !important;
  padding: 2.4px 3px !important;
  border: 1px solid #e3e3e3;
  border-radius: 21px;
  padding: 0.5rem 1rem;
  line-height: initial;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

  ::ng-deep .country-selector {
    opacity: unset;
    border-radius: 21px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2.75px;
  }

  ::ng-deep .phone-number-input {
    margin-left: 5px !important;
  }
}
