@use '@angular/material' as mat;
@import '@angular/material/theming';

@font-face {
  font-family: 'Innerspace';
  src:
    local('Innerspace'),
    url(./assets/fonts/Innerspace/Innerspace-normal.ttf) format('truetype'),
    url(./assets/fonts/Innerspace/Innerspace-bold.ttf) format('truetype');
}

$primary-color: #3849f9;

$config: mat.define-typography-config(
  $font-family: 'Innerspace',
  $button: mat.define-typography-level(13px, 15px, 700)
);

@mixin mat-button-toggle-typography($config) {
  .mat-button-toggle,
  .mat-button-toggle-button {
    @include mat.typography-level($config, button);
    font-family: 'Open Sans', sans-serif;
  }
}

@mixin mat-form-typography($config) {
  .mat-form-field {
    font-family: 'Open Sans', sans-serif;
  }
}

$primary-light-palette: mat.define-palette(
  (
    50: #eaeaff,
    100: #cacafe,
    200: #a4a8fe,
    300: #7b85fe,
    400: #5b67fd,
    500: $primary-color,
    600: #333fed,
    700: #2832e0,
    800: #1d24d5,
    900: #0000c5,
    A100: #d8bffc,
    A200: #bd93fb,
    A400: #8838f9,
    A700: #4c00e8,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text
    )
  )
);

$accent-palette: mat.define-palette(mat.$deep-orange-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-light-palette,
      accent: $accent-palette
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

$primary-dark-palette: mat-palette($mat-blue-grey, 500, 100, 900);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary-dark-palette,
      accent: $accent-palette
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated */
.light-theme {
  @include mat.all-legacy-component-themes($light-theme);
  @include angular-material-theme($light-theme);
}

.dark-theme {
  @include mat.all-legacy-component-themes($dark-theme);
  @include angular-material-theme($dark-theme);
}

/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated */
@include mat.legacy-core();
@include mat.core();

@include mat.button-toggle-typography($config);
@include mat.button-typography($config);
@include mat.fab-typography($config);
@include mat.icon-button-typography($config);
@include mat-form-typography($config);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  background-color: #f8f8f8;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Innerspace', sans-serif;
  color: #000000;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.6875rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.125rem;
}

h5 {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
}

h6 {
  font-size: 0.6875rem;
  line-height: 0.9375rem;
}

a {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

.mat-step-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700 !important;
  color: #aaaaaa !important;
}

.mat-step-icon {
  border: 2px solid #aaaaaa;
  box-sizing: border-box;
  color: #aaaaaa !important;
  background-color: transparent !important;
}

.mat-step-icon-selected {
  border: 2px solid $primary-color;
  box-sizing: border-box;
  color: $primary-color !important;
  background-color: transparent !important;
}

.mat-step-label-active.mat-step-label-selected {
  color: $primary-color !important;
}

.mat-step-label-active {
  color: black !important;
}

.mat-step-icon-state-done {
  color: black !important;
  border: 2px solid black;
}

.mat-badge-accent {
  .mat-badge-content {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: relative;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.mobile-sidenav ::-webkit-scrollbar {
  display: none;
}

.tooltip {
  overflow-wrap: break-word !important;
  white-space: normal !important;
}

.disabled-field {
  opacity: 0.3;
}

.mat-mdc-dialog-surface {
  --mdc-dialog-supporting-text-font: 'Open Sans', serif;
  padding: 10px 24px 24px;

  .mdc-dialog__title {
    margin-bottom: 11px;
  }
}

.mat-mdc-checkbox {
  .mdc-label {
    padding: 0;
    margin-left: 8px;
    font-size: 13px;
  }

  .mdc-checkbox {
    padding: 0;

    .mdc-checkbox__native-control {
      width: 18px;
      height: 18px;
      position: static;
    }

    .mdc-checkbox__background {
      top: 0;
      left: 0;
    }

    .mdc-checkbox__ripple {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 40px;
    }
  }
}

.mat-mdc-card-image:first-child {
  margin-top: 0 !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.cdk-overlay-container {
  .notification-menu {
    max-width: none;

    .mat-mdc-menu-content {
      padding: 0;
    }
  }

  .notifications-list-menu {
    border-radius: 5px !important;
    min-height: 0;

    .mat-mdc-menu-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .mat-mdc-menu-item-text {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 700 ;
      font-size: 13px;
      line-height: 18px;
    }

    .mat-mdc-menu-item {
      padding: 0.75rem !important;
      height: 36px;
      color: #272425;
    }
  }

  .application-menu {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  line-height: initial;
  font-family: 'Open Sans', sans-serif;
}

.mat-menu-panel {
  min-height: auto !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}

.mat-mdc-radio-button {
  .mdc-form-field .mdc-radio {
    padding: 0;
  }

  .mdc-label {
    padding: 0.8rem 0 0.8rem 8px;
    font-size: 13px;
  }

  .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background,
  .mdc-radio:hover .mdc-radio__native-control:enabled:checked + .mdc-radio__background,
  .mdc-radio:not(:disabled):active .mdc-radio__native-control:enabled:checked + .mdc-radio__background {
    .mdc-radio__outer-circle {
      border-color: $primary-color;
      border-width: 5px;
    }

    .mdc-radio__inner-circle {
      border-color: #fff;
    }
  }
}

button.mdc-button {
  .mat-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
    margin: 0 8px 0 0;
  }

  .mdc-button__label {
    line-height: 1;
  }
}

@import 'tailwind.css';
