$image-height: 400px;
$dots-height: 24px;
$icon-size: 24px;
$button-size: 50px;
$button-bg-color-hover: #3849f9;
$button-padding: 50px;

.image {
  object-fit: contain;
  width: 100%;
  height: $image-height;
  position: relative;
}

::ng-deep {
  .owl-prev,
  .owl-next {
    position: absolute;
    top: calc(50% - $dots-height);

    width: $button-size;
    height: $button-size;
    transform: translateY(-50%) !important;
    padding: 0 !important;
    border-radius: 50% !important;

    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s;

    &:hover {
      background-color: $button-bg-color-hover !important;
    }
  }

  .owl-prev {
    left: 0;
    margin-left: $button-padding !important;
  }

  .owl-next {
    right: 0;
    margin-right: $button-padding !important;
  }

  .owl-prev span {
    position: absolute;
    left: calc($button-size/2 - $icon-size/3);
  }

  .owl-dots {
    .owl-dot {
      &:hover span,
      &.active span {
        background-color: $button-bg-color-hover !important;
      }
    }
  }
}
