<div class="step">
  <div class="accordion-wrapper" class="flex flex-col">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let addressForm of addressesFormArray.controls; let index = index"
        class="mat-elevation-z0 accordion-item"
        [expanded]="stepIndex === index"
        (opened)="setStep(index)">
        <mat-expansion-panel-header>
          <mat-panel-title class="flex flex-row justify-between">
            <p class="step-label step-title">{{ 'FORMS.LABELS.ADDRESS' | translate }} {{ index + 1 }}</p>
            <button *ngIf="index !== 0" class="delete-block" mat-button (click)="deleteAddressForm(index, $event)">
              <mat-icon class="mat-icon-delete">delete</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="addressForm">
          <div class="flex flex-col address-form">
            <mat-checkbox class="step-label" color="primary" formControlName="isDefault">
              {{ 'BUTTONS.USE_ADDRESS_AS_PRIMARY' | translate }}
            </mat-checkbox>
            <label class="step-label" for="title">{{ 'FORMS.LABELS.ADDRESS_TITLE' | translate }}<span class="step-required">*</span></label>
            <mat-form-field class="flex items-stretch">
              <input matInput class="step-input" type="text" formControlName="title" autocomplete="none" appTrimValue />
            </mat-form-field>
            <app-validation-hint [validationFormControl]="addressForm.get('title')" [minCharacters]="3" [maxCharacters]="60">
            </app-validation-hint>
            <app-create-address-form
              [addressFormGroup]="addressForm.get('address')"
              [searchFormGroup]="addressForm.get('searchGroup')"
              [address]="address">
            </app-create-address-form>
            <div formArrayName="phones" class="flex flex-col">
              <label class="step-label">{{ 'FORMS.LABELS.PHONE' | translate }}<span class="step-required">*</span></label>
              <div *ngFor="let phoneField of addressForm.get('phones').controls; let jindex = index">
                <label class="step-label" for="phone-{{ jindex }}">{{ 'FORMS.LABELS.TYPE' | translate }}</label>
                <div class="flex flex-col grow" [formGroupName]="jindex">
                  <mat-form-field class="grow">
                    <input
                      formControlName="type"
                      matInput
                      class="step-input"
                      type="text"
                      [id]="'phone-' + jindex"
                      autocomplete="off"
                      appTrimValue />
                  </mat-form-field>
                  <app-validation-hint [validationFormControl]="phoneField.get('type')"></app-validation-hint>
                  <label class="step-label" for="{{ phoneField.get('number') }}">{{ 'FORMS.LABELS.PHONE' | translate }}</label>
                  <div class="flex flex-row">
                    <app-phone-form-control class="grow" [parentFormControl]="phoneField.get('number')"></app-phone-form-control>
                    <button
                      *ngIf="jindex !== 0"
                      class="delete-block"
                      mat-button
                      (click)="deleteFormField(addressForm.get('phones'), jindex)">
                      <mat-icon class="mat-icon-delete">delete</mat-icon>
                    </button>
                  </div>
                  <app-validation-hint
                    [validationFormControl]="phoneField.get('number')"
                    [minCharacters]="validationConstants.PHONE_LENGTH"
                    [isPhoneNumber]="true">
                  </app-validation-hint>
                </div>
              </div>
            </div>
            <div class="flex flex-row justify-start items-center content-center">
              <button class="btn-add" mat-button (click)="addPhoneField(addressForm)" [disabled]="addressForm.get('phones').invalid">
                <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_PHONE' | translate }}
              </button>
            </div>

            <div formArrayName="emails" class="flex flex-col">
              <label class="step-label" for="email-{{ jindex }}">
                {{ 'FORMS.LABELS.EMAIL' | translate }}<span class="step-required">*</span>
              </label>
              <div class="flex" *ngFor="let emailField of addressForm.get('emails').controls; let jindex = index">
                <div class="flex flex-col grow" [formGroupName]="jindex">
                  <label class="step-label" for="email-{{ jindex }}">{{ 'FORMS.LABELS.TYPE' | translate }}</label>
                  <mat-form-field class="grow">
                    <input
                      formControlName="type"
                      matInput
                      class="step-input"
                      type="text"
                      [id]="'email-' + jindex"
                      autocomplete="none"
                      appTrimValue />
                  </mat-form-field>
                  <app-validation-hint [validationFormControl]="emailField.get('type')"></app-validation-hint>
                  <label class="step-label" for="email-{{ jindex }}">{{ 'FORMS.LABELS.EMAIL' | translate }}</label>
                  <div class="flex flex-row">
                    <mat-form-field class="grow">
                      <input
                        formControlName="address"
                        matInput
                        class="step-input"
                        type="text"
                        [id]="'email-' + jindex"
                        autocomplete="none"
                        appTrimValue />
                    </mat-form-field>
                    <button
                      *ngIf="jindex !== 0"
                      class="delete-block"
                      mat-button
                      (click)="deleteFormField(addressForm.get('emails'), jindex)">
                      <mat-icon class="mat-icon-delete">delete</mat-icon>
                    </button>
                  </div>
                  <app-validation-hint [maxCharacters]="validationConstants.INPUT_LENGTH_254" [validationFormControl]="emailField.get('address')"></app-validation-hint>
                </div>
              </div>
            </div>
            <div class="flex flex-row justify-start items-center content-center">
              <button class="btn-add" mat-button (click)="addEmailField(addressForm)" [disabled]="addressForm.get('emails').invalid">
                <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_EMAIL' | translate }}
              </button>
            </div>

            <div formArrayName="socialNetworks" class="flex flex-col">
              <label class="step-label" for="socials-{{ jindex }}">
                {{ 'FORMS.LABELS.SOCIAL_NETWORKS' | translate }}
              </label>
              <div class="flex" *ngFor="let socialNetwork of addressForm.get('socialNetworks').controls; let jindex = index">
                <div class="flex flex-col grow" [formGroupName]="jindex">
                  <label class="step-label" for="type">{{ 'FORMS.LABELS.TYPE' | translate }}</label>
                  <mat-form-field class="grow">
                    <mat-select
                      formControlName="type"
                      class="step-input"
                      disableOptionCentering
                      panelClass="dropdown-panel select-with-form-field">
                      <mat-option *ngFor="let socialType of socialTypesKeys" [value]="socialType">
                        {{ socialTypes[socialType] }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <app-validation-hint [validationFormControl]="socialNetwork.get('type')"></app-validation-hint>
                  <label class="step-label" for="socials-{{ jindex }}">URL</label>
                  <div class="flex flex-row items-center">
                    <mat-form-field class="grow">
                      <input formControlName="url" matInput class="step-input" type="text" [id]="'socials-' + jindex" appTrimValue />
                    </mat-form-field>
                    <button class="delete-block" mat-button (click)="deleteFormField(addressForm.get('socialNetworks'), jindex)">
                      <mat-icon class="mat-icon-delete">delete</mat-icon>
                    </button>
                  </div>
                  <app-validation-hint [validationFormControl]="socialNetwork.get('url')" [maxCharacters]="2000"></app-validation-hint>
                </div>
              </div>
            </div>
            <div class="flex flex-row justify-start items-center content-center">
              <button
                class="btn-add"
                mat-button
                (click)="addSocialsField(addressForm)"
                [disabled]="addressForm.get('socialNetworks').invalid">
                <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_SOCIAL_NETWORK' | translate }}
              </button>
            </div>
            <div class="map">
              <app-map
                [mapId]="index"
                [settelmentFormGroup]="addressForm.get('searchGroup').get('settlement')"
                [addressFormGroup]="addressForm"
                (addressSelect)="onAddressSelect($event, addressForm)">
              </app-map>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="flex flex-row justify-start items-center content-center">
      <button class="btn-add" mat-button (click)="addAddressGroup()" [disabled]="addressesFormArray.invalid">
        <mat-icon class="mat-icon-add">add</mat-icon>{{ 'BUTTONS.ADD_MORE_ADDRESS' | translate }}
      </button>
    </div>
  </div>
</div>
