.directions-tree {
  background-color: transparent;

  .mat-tree-node {
    color: var(--primary-light-text-color);
  }
}

.directions-tree ul,
.directions-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.directions-tree-invisible {
  display: none;
}

.direction-checkbox,
.subdirection-checkbox {
  margin-right: 8px;
}

:host ::ng-deep {
  --mdc-checkbox-selected-focus-state-layer-opacity: 0;
  --mdc-checkbox-selected-hover-state-layer-opacity: 0;
  --mdc-checkbox-selected-pressed-state-layer-opacity: 0;
  --mdc-checkbox-unselected-focus-state-layer-opacity: 0;
  --mdc-checkbox-unselected-hover-state-layer-opacity: 0;
  --mdc-checkbox-unselected-pressed-state-layer-opacity: 0;
}
