@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/buttons.scss";

.direction{
  color: gray;
  margin-bottom: 25px;
}
.del-icon {
  width: 20px;
  top: 12px;
  right: 12px;
  z-index: 2;
  color : #3849F9;
  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
  .mat-button {
    padding: 0px;
    min-width:auto;
    line-height: 16px;
  }
}