<form *ngIf="direction" [formGroup]="departmentFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  <div fxLayout="row" fxLayoutAlign="start center">
    <label class="step-label"> Назва напряму </label>
  </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="direction">{{ direction.title }}</div>
  <ng-container *ngIf='!editMode'>
  <div fxLayout="row" fxLayoutAlign="start center">
    <label class="step-label"> Назва відділення <span class="step-required">*</span></label>
  </div>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="title">
  </mat-form-field>
  <app-validation-hint-for-input type="requiredEmptyField"
    [isEmptyCheck]="departmentFormGroup.get('title').errors?.required">
  </app-validation-hint-for-input>
  <app-validation-hint-for-input type="validTextField"
    [forbiddenCharacter]="departmentFormGroup.get('title').errors?.pattern?.requiredPattern">
  </app-validation-hint-for-input>
 </ng-container>

  <ng-container *ngIf='editMode'>
    <mat-radio-group color="primary" fxLayout='column' [formControl]="editOptionRadioBtn"
    fxLayoutAlign='center space-between'>
    
    <mat-radio-button #radio1 name="radioBtn1" [value]="false">Додати нове відділення</mat-radio-button>
    <ng-container *ngIf="!editOptionRadioBtn.value">
      <input matInput class="step-input" type="text" formControlName="title"
      placeholder="Введіть назву відділення" autocomplete="none">
    </ng-container>

    <mat-radio-button #radio2 name="radioBtn2" [value]="true">Редагувати існуюче відділення</mat-radio-button>
    <ng-container *ngIf="editOptionRadioBtn.value">
    <div fxLayout="row" fxLayoutAlign="start center">
      <input matInput type="text" formControlName="editOptionsDesc" placeholder="Почніть вводити відділ або виберіть зі списку" class="step-input"
        formControlName="departmentId" [matAutocomplete]="autoDepartment" disableOptionCentering
        panelClass="dropdown-panel" (click)="getFullDepartmentList()" autocomplete="off">
      <mat-autocomplete class="dropdown-panel direction" #autoDepartment="matAutocomplete"
        (optionSelected)="onSelectDepartment($event.option.value)" [displayWith]="optionDisplayDepartment">
        <mat-option *ngFor="let department of filteredDepartments" [value]="department" class="dropdown-option">
          {{ department.title }}
        </mat-option>
      </mat-autocomplete>
      <app-validation-hint-for-input type="requiredField"
      [invalid]="departmentIdControl.invalid && departmentIdControl.touched">
      </app-validation-hint-for-input>
      <app-validation-hint-for-input type="notExistClass"
      [invalid]="departmentFormGroup.get('title')===department?.title">
      </app-validation-hint-for-input>
    </div>
    <ng-container *ngIf="(departments$ | async)?.length">
      <div fxLayout="row" fxLayoutAlign="start center">
        <label class="step-label" > Змінити назву відділення </label>
      </div>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="title">
      </mat-form-field>
      <app-validation-hint-for-input type="requiredEmptyField"
        [isEmptyCheck]="departmentFormGroup.get('title').errors?.required">
      </app-validation-hint-for-input>
      <app-validation-hint-for-input type="validTextField"
        [forbiddenCharacter]="departmentFormGroup.get('title').errors?.pattern?.requiredPattern">
      </app-validation-hint-for-input>
    </ng-container>
    </ng-container>

    <mat-radio-button #radio3 name="radioBtn3" [value]="true">Видалити відділення</mat-radio-button>
    <ng-container *ngIf="editOptionRadioBtn.value">
      <div fxLayout="row" fxLayoutAlign="start center">
        <input matInput type="text" formControlName="editOptionsDesc" placeholder="Почніть вводити відділ або виберіть зі списку" class="step-input"
          formControlName="departmentId" [matAutocomplete]="autoDepartment" disableOptionCentering
          panelClass="dropdown-panel" (click)="getFullDepartmentList()" autocomplete="off">
        <mat-autocomplete class="dropdown-panel direction" #autoDepartment="matAutocomplete"
          (optionSelected)="onSelectDepartment($event.option.value)" [displayWith]="optionDisplayDepartment">
          <mat-option *ngFor="let department of filteredDepartments" [value]="department" class="dropdown-option">
            {{ department.title }}
          </mat-option>
        </mat-autocomplete>
        <app-validation-hint-for-input type="requiredField"
        [invalid]="departmentIdControl.invalid && departmentIdControl.touched">
        </app-validation-hint-for-input>
        <app-validation-hint-for-input type="notExistClass"
        [invalid]="departmentFormGroup.get('title')===department?.title">
        </app-validation-hint-for-input>
      </div>
      <div class="del-icon" (click)="onDelete()">
        <button mat-button class="del-button">
          <mat-icon>delete</mat-icon> відалити відділення
        </button>
      </div>
      <ng-container *ngIf="(classes$ | async)?.length">
      <app-classes-check-box-list [classes]="classes$ | async" (iClassCheck)="oniClassSelect($event)"></app-classes-check-box-list>
    </ng-container>
  </ng-container>
  </mat-radio-group>
</ng-container>


    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
      <a [routerLink]="'/admin-tools/platform/directions'"><button mat-raised-button
        class="btn btn-cancel">Скасувати</button></a>
        <button class="btn" (click)="onSubmit()" mat-raised-button>Далі</button>
    </div>
</form>

  



