<form *ngIf="direction" [formGroup]="departmentFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">
  <div fxLayout="row" fxLayoutAlign="start center">
    <label class="step-label"> Назва напряму </label>
    <i class="material-icons status-info-icon" (click)="isActiveDirectionInfoButton=!isActiveDirectionInfoButton"
    [ngClass]="isActiveDirectionInfoButton ? 'activeInfoBtn' : 'inactiveInfoBtn'">info_outline</i>
  </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="direction">{{ direction.title }}</div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <label class="step-label"> Назва відділення <span class="step-required">*</span></label>
    <i class="material-icons status-info-icon" (click)="isActiveDepartmentInfoButton=!isActiveDepartmentInfoButton"
    [ngClass]="isActiveDepartmentInfoButton ? 'activeInfoBtn' : 'inactiveInfoBtn'">info_outline</i>
  </div>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="title">
  </mat-form-field>
  <app-validation-hint-for-input type="requiredEmptyField"
    [isEmptyCheck]="departmentFormGroup.get('title').errors?.required"
    [invalid]="departmentFormGroup.get('title').invalid && departmentFormGroup.get('title').touched">
  </app-validation-hint-for-input>
  <app-validation-hint-for-input type="validTextField"
    [invalid]="departmentFormGroup.get('title').invalid && departmentFormGroup.get('title').touched"
    [forbiddenCharacter]="departmentFormGroup.get('title').errors?.pattern?.requiredPattern">
  </app-validation-hint-for-input>
  <div fxLayout="row" fxLayoutAlign="center center" class="footer">
    <a [routerLink]="'/admin-tools/platform/directions'"><button mat-raised-button
        class="btn btn-cancel">Скасувати</button></a>
        <button class="btn" (click)="onSubmit()" mat-raised-button>Далі</button>
  </div>
</form>

