@import "src/app/shared/styles/create-form.scss";
@import "src/app/shared/styles/validation-form.scss";
@import "src/app/shared/styles/create-form-wrapper.scss";
@import "src/app/shared/styles/buttons.scss";
@import "src/app/shared/styles/dropdown.scss";

.mat-icon-add {
  vertical-align: middle;
  height: 26px;
  font-weight: bold;
  color : #3849F9;
}
.warning {
  font-size: 14px !important;
  padding-bottom: 1rem;
}
.btn-reset:disabled .mat-icon-delete{
  color: #9596a5; //TODO: fix button style
}
.expansion-panel {
  box-shadow: none !important;
}
:host ::ng-deep .mat-form-field{
  display: block !important;
}
.no-info {
  color: #444444b5;
  font-weight: bold;
  }
