<div class="create-form">
  <div class="wrapper">
    <div class="create-form-header" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="wrapper-title">РЕДАГУВАННЯ ОСОБИСТОЇ ІНФОРМАЦІЇ</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <form [formGroup]="userEditFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step">

        <label class="step-label"> Прізвище <span class="step-required">*</span></label>
        <mat-form-field>
          <input matInput class="step-input" type="text" formControlName="lastName" appTrimValue>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="userEditFormGroup.get('lastName')"
          [minCharachters]="validationConstants.INPUT_LENGTH_1"
          [maxCharachters]="validationConstants.INPUT_LENGTH_60">
        </app-validation-hint>

        <label class="step-label"> Ім'я <span class="step-required">*</span></label>
        <mat-form-field>
          <input matInput class="step-input" type="text" formControlName="firstName" appTrimValue>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="userEditFormGroup.get('firstName')"
          [minCharachters]="validationConstants.INPUT_LENGTH_1"
          [maxCharachters]="validationConstants.INPUT_LENGTH_60">
        </app-validation-hint>

        <label class="step-label"> По-батькові <span class="step-required">*</span></label>
        <mat-form-field>
          <input matInput class="step-input" type="text" formControlName="middleName" appTrimValue>
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="userEditFormGroup.get('middleName')"
          [minCharachters]="validationConstants.INPUT_LENGTH_1"
          [maxCharachters]="validationConstants.INPUT_LENGTH_60">
        </app-validation-hint>

        <label class="step-label"> Телефон <span class="step-required">*</span></label>
        <mat-form-field>
          <div fxLayout='row' fxLayoutAlign='start center'>
            <span class="step-text">{{ phonePrefix }}</span>
            <input matInput class="step-input" type="tel" formControlName="phoneNumber" appDigitOnly ui-number-mask
              ui-hide-group-sep maxlength="{{validationConstants.PHONE_LENGTH}}" appTrimValue>
          </div>          
        </mat-form-field>
        <app-validation-hint 
          [validationFormControl]="userEditFormGroup.get('phoneNumber')"
          [minCharachters]="validationConstants.PHONE_LENGTH">
        </app-validation-hint>

      </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
      <a [routerLink]="'/personal-cabinet/config'"><button mat-raised-button
          class="btn btn-cancel">Скасувати</button></a>
      <button [disabled]="!userEditFormGroup.valid" class="btn" mat-button type="submit"
        (click)="onSubmit()">Зберегти</button>
    </div>

  </div>
</div>