<div fxLayout='row' fxLayoutAlign='center center'>
  <div class="wrapper">
    <div class="title" fxLayout='column' fxLayoutAlign='center center'>
      <h3 class="wrapper-title"> РЕДАГУВАННЯ ОСОБИСТОЇ ІНФОРМАЦІЇ</h3>
    </div>
    <form [formGroup]="userEditFormGroup" fxLayout='column' fxLayoutAlign='center space-between'>

      <label class="step-label"> Прізвище <span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="lastName">
      </mat-form-field>
      <app-validation-hint-for-input type="requiredEmptyField"
        [isEmptyCheck]="userEditFormGroup.get('lastName').errors?.required"
        [invalid]="userEditFormGroup.get('lastName').invalid && userEditFormGroup.get('lastName').touched">
      </app-validation-hint-for-input>
      <app-validation-hint-for-input type="validTextField"
        [invalid]="userEditFormGroup.get('lastName').invalid && userEditFormGroup.get('lastName').touched"
        [forbiddenCharacter]="userEditFormGroup.get('lastName').errors?.pattern?.requiredPattern">
      </app-validation-hint-for-input>

      <label class="step-label"> Ім'я <span class="step-required">*</span></label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="firstName">
      </mat-form-field>
      <app-validation-hint-for-input type="requiredEmptyField"
        [isEmptyCheck]="userEditFormGroup.get('firstName').errors?.required"
        [invalid]="userEditFormGroup.get('firstName').invalid && userEditFormGroup.get('firstName').touched">
      </app-validation-hint-for-input>
      <app-validation-hint-for-input type="validTextField"
        [invalid]="userEditFormGroup.get('firstName').invalid && userEditFormGroup.get('firstName').touched"
        [forbiddenCharacter]="userEditFormGroup.get('firstName').errors?.pattern?.requiredPattern">
      </app-validation-hint-for-input>

      <label class="step-label"> По-батькові </label>
      <mat-form-field>
        <input matInput class="step-input" type="text" formControlName="middleName">
      </mat-form-field>
      <app-validation-hint-for-input type="validTextField"
        [invalid]="userEditFormGroup.get('middleName').invalid && userEditFormGroup.get('middleName').touched"
        [forbiddenCharacter]="userEditFormGroup.get('middleName').errors?.pattern?.requiredPattern">
      </app-validation-hint-for-input>

      <label class="step-label"> Телефон <span class="step-required">*</span></label>
      <mat-form-field>
        <div fxLayout='row' fxLayoutAlign='start center'>
          <span class="step-text">+380</span>
          <input matInput class="step-input" type="tel" formControlName="phoneNumber" appDigitOnly ui-number-mask
            ui-hide-group-sep maxlength="{{constants.PHONE_LENGTH}}">
        </div>
      </mat-form-field>
      <app-validation-hint-for-input type="requiredEmptyField"
        [isEmptyCheck]="userEditFormGroup.get('phoneNumber').errors?.required"
        [invalid]="userEditFormGroup.get('phoneNumber').invalid && userEditFormGroup.get('phoneNumber').touched">
      </app-validation-hint-for-input>
      <app-validation-hint-for-input type="minDigitsLength"
        [minLength]="userEditFormGroup.get('phoneNumber').errors?.minlength"
        [invalid]="userEditFormGroup.get('phoneNumber').invalid && userEditFormGroup.get('phoneNumber').touched"
        [minCharachters]="userEditFormGroup.get('phoneNumber').errors?.minlength?.requiredLength">
      </app-validation-hint-for-input>

    </form>
    <div class="footer">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap.xs='5px'>
        <a [routerLink]="'/personal-cabinet/config'">
          <button mat-raised-button class="btn btn-cancel">Скасувати</button>
        </a>
        <button [disabled]="!userEditFormGroup.valid" class="btn" mat-button type="submit" (click)="onSubmit()">Зберегти</button>
      </div>
    </div>
  </div>
</div>
