@use '../../styles/components/create-form';
@use '../../styles/components/validation-form';
@use '../../styles/components/buttons';

.step {
  padding: 0 !important;
}

.error-wrapper {
  max-width: 478px;
}

.multiline {
  white-space: pre-line;
}
