<form [formGroup]="InfoEditFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step"
  [ngClass]="(formAmount > 1) ? 'step-border' : ''">

  <label class="step-label"> Назва розділу<span class="step-required">*</span></label>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="sectionName" appTrimValue>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="InfoEditFormGroup.get('sectionName')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="validationConstants.INPUT_LENGTH_256">
  </app-validation-hint>

  <div class="step-label-combined">
    <label class="step-label"> Опис <span class="step-required">*</span></label>
    <label class="step-characters-count">
      {{InfoEditFormGroup.get('description').value.length}}/{{maxDescriptionLength}}</label>
  </div>
  <mat-form-field appearance="none">
    <textarea matInput class="step-textarea" placeholder="Максимум {{maxDescriptionLength}} символів"
      formControlName="description" maxlength="{{maxDescriptionLength}}" appTrimValue></textarea>
  </mat-form-field>
  <app-validation-hint 
    [validationFormControl]="InfoEditFormGroup.get('description')"
    [minCharachters]="validationConstants.INPUT_LENGTH_1"
    [maxCharachters]="maxDescriptionLength">
  </app-validation-hint>
  
  <div fxLayout="row" fxLayoutAlign="center" *ngIf="formAmount > 1">
    <button class="btn-reset" type="reset" mat-button (click)="onDelete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити дані
    </button>
  </div>
</form>