<form
  [formGroup]="infoEditForm"
  class="step flex flex-col justify-between items-stretch"
  [class.step-border]="formAmount > 1 && index !== formAmount - 1">
  <label class="step-label" for="section-name">{{ 'FORMS.LABELS.SECTION_TITLE' | translate }} <span class="step-required">*</span></label>
  <mat-form-field>
    <input
      matInput
      class="step-input"
      type="text"
      formControlName="sectionName"
      appTrimValue
      (focusout)="onFocusOut('sectionName')"
      id="section-name" />
  </mat-form-field>
  <div class="error-wrapper">
    <app-validation-hint
      [validationFormControl]="infoEditFormGroup.get('sectionName')"
      [minCharacters]="ValidationConstants.INPUT_LENGTH_3"
      [maxCharacters]="ValidationConstants.INPUT_LENGTH_100">
    </app-validation-hint>
  </div>

  <div class="step-label-combined">
    <label class="step-label" for="description"> {{ 'TITLES.DESCRIPTION' | translate }} <span class="step-required">*</span></label>
    <span class="step-characters-count"> {{ infoEditFormGroup.get('description').value?.length }}/{{ maxDescriptionLength }}</span>
  </div>
  <mat-form-field appearance="fill">
    <textarea
      matInput
      class="step-textarea"
      placeholder="{{ 'FORMS.PLACEHOLDERS.MAXIMUM' | translate }} {{ maxDescriptionLength }} {{ 'FORMS.PLACEHOLDERS.SYMBOLS' | translate }}"
      formControlName="description"
      maxlength="{{ maxDescriptionLength }}"
      appTrimValue
      (focusout)="onFocusOut('description')"
      id="description"></textarea>
  </mat-form-field>
  <app-validation-hint
    [validationFormControl]="infoEditFormGroup.get('description')"
    [minCharacters]="ValidationConstants.INPUT_LENGTH_3"
    [maxCharacters]="maxDescriptionLength">
  </app-validation-hint>

  <div class="flex flex-row justify-center" *ngIf="formAmount > 1">
    <button class="btn-reset" type="reset" mat-button (click)="onDelete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon> {{ 'BUTTONS.REMOVE_DATA' | translate }}
    </button>
  </div>
</form>
