<form [formGroup]="AboutItemFormGroup" fxLayout="column" fxLayoutAlign="center space-between" class="step"
  [ngClass]="(aboutFormAmount > 1) ? 'step-border' : ''">

  <div fxLayout="row" fxLayoutAlign="start center">
    <label class="step-label"> Назва розділу </label>
    <i class="material-icons status-info-icon" (click)="isActiveSectionInfoButton=!isActiveSectionInfoButton"
      [ngClass]="isActiveSectionInfoButton ? 'activeInfoBtn' : 'inactiveInfoBtn'">info_outline</i>
  </div>
  <mat-form-field>
    <input matInput class="step-input" type="text" formControlName="sectionName">
  </mat-form-field>
  <app-validation-hint-for-input type="validTextField"
    [invalid]="AboutItemFormGroup.get('sectionName').invalid && AboutItemFormGroup.get('sectionName').touched"
    [forbiddenCharacter]="AboutItemFormGroup.get('sectionName').errors?.pattern?.requiredPattern">
  </app-validation-hint-for-input>

  <div class="step-label-combined">
    <label class="step-label"> Опис <span class="step-required">*</span></label>
    <label class="step-characters-count">
      {{AboutItemFormGroup.get('description').value.length}}/{{constants.MAX_DESCRIPTION_ABOUT_LENGTH}}</label>
  </div>
  <mat-form-field appearance="none">
    <textarea matInput class="step-textarea" placeholder="Максимум {{constants.MAX_DESCRIPTION_ABOUT_LENGTH}} символів"
      formControlName="description" maxlength="{{constants.MAX_DESCRIPTION_ABOUT_LENGTH}}"></textarea>
  </mat-form-field>
  <app-validation-hint-for-input type="requiredField"
    [invalid]="AboutItemFormGroup.get('description').invalid && AboutItemFormGroup.get('description').touched">
  </app-validation-hint-for-input>
  <div fxLayout="row" fxLayoutAlign="center" *ngIf="aboutFormAmount > 1">
    <button class="btn-reset" type="reset" mat-button (click)="onDelete()">
      <mat-icon class="mat-icon-delete">delete</mat-icon>Вилучити дані
    </button>
  </div>
</form>