<div class="container" *ngIf="(userRole === role.provider) then isProvider; else isParent"></div>

<ng-template #isProvider>
  <app-workshop-checkbox-dropdown class="dropdown" [workshops]="workshops$ | async"
    (workshopCheck)="onWorkshopsSelect($event)">
  </app-workshop-checkbox-dropdown>
  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="{{applicationStatusUkr[applicationStatus.all]}}">
        <ng-container *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async }">
        </ng-container>
      </mat-tab>
      <mat-tab label="{{applicationStatusUkr[applicationStatus.pending]}}">
        <ng-container *ngTemplateOutlet="Applications; context:{$implicit: applications$| async }">
        </ng-container>
      </mat-tab>s
      <mat-tab label="{{applicationStatusUkr[applicationStatus.approved]}}">
        <ng-container *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async }">
        </ng-container>
      </mat-tab>
      <mat-tab label="{{applicationStatusUkr[applicationStatus.rejected]}}">
        <ng-container *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async }">
        </ng-container>
      </mat-tab>
      <mat-tab label="{{applicationStatusUkr[applicationStatus.left]}}">
        <ng-container *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async }">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

</ng-template>

<ng-template #isEmptyList>
  <p class="no-application-wrapper">Заявок поки немає</p>
</ng-template>

<ng-template #isParent>
  <div *ngIf="(children$| async)">
    <div *ngFor="let child of (children$| async)">

      <div *ngIf="(applications$ | async | applicationChildFilter : child)?.length then ChildApplication"></div>

      <ng-template #ChildApplication>
        <h3> {{ child.firstName }} {{ child.lastName }} {{ child.middleName }}</h3>
        <ng-container
          *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async | applicationChildFilter : child }">
        </ng-container>
      </ng-template>

    </div>
  </div>

</ng-template>

<ng-template #Applications let-applications>
  <div class="container" *ngIf="(applications$ | async)?.length  then ApplicationList; else isEmptyList">
  </div>

  <ng-template #ApplicationList>
    <app-application-card *ngFor="let application of applications" [application]="application" [userRole]="userRole"
      (approved)="onApprove($event)" (rejected)="onReject($event)" (leave)="onLeave($event)"
      (infoShow)="onInfoShow($event)" (infoHide)="onInfoHide()">
    </app-application-card>
  </ng-template>
</ng-template>

<ng-template appInfoBoxHost></ng-template>