<div class="container" *ngIf="(applications$ | async)?.length then isApplications; else isEmptyList"></div>

<ng-template #isApplications>
  <div class="container" *ngIf="(user.role === role.provider) then isProvider; else isParent"></div>
</ng-template>

<ng-template #isProvider>
  <app-workshop-checkbox-dropdown fxLayout='row' fxLayoutAlign='end' [workshops]="workshops$ | async"
    (workshopCheck)="workshopList = $event">
  </app-workshop-checkbox-dropdown>
  <div class="tab-wrapper">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Усі">
        <ng-container
          *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async | applicationSort : applicationStatus.pending : 'date' | workshopFilter: workshopList }">
        </ng-container>
      </mat-tab>
      <mat-tab label="Очікують підтвердження">
        <ng-container
          *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async | applicationFilter : applicationStatus.pending | workshopFilter: workshopList }">
        </ng-container>
      </mat-tab>
      <mat-tab label="Підтвердженні">
        <ng-container
          *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async | applicationFilter : applicationStatus.approved | workshopFilter: workshopList }">
        </ng-container>
      </mat-tab>
      <mat-tab label="Відхилені">
        <ng-container
          *ngTemplateOutlet="Applications; context:{$implicit: applications$ | async | applicationFilter : applicationStatus.rejected | workshopFilter: workshopList}">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

</ng-template>

<ng-template #isEmptyList>
  Заявок поки немає
</ng-template>

<ng-template #isParent>
  <div *ngIf="(children$| async)">
    <div *ngFor="let child of (children$| async)">

      <div *ngIf="(applications$ | async | applicationChildFilter : child)?.length then ChildApplication"></div>

      <ng-template #ChildApplication>
        <h3> {{ child.firstName }} {{ child.lastName }} {{ child.middleName }}</h3>
        <ng-container
          *ngTemplateOutlet="Applications; context:{$implicit: applications | applicationChildFilter : child }">
        </ng-container>
      </ng-template>

    </div>
  </div>

</ng-template>

<ng-template #Applications let-applications>
  <app-application-card *ngFor="let application of applications" [application]="application" [userRole]="user.role"
    (approved)="onApprove($event)" (rejected)="onReject($event)" (infoShow)="onInfoShow($event)"
    (infoHide)="onInfoHide()">
  </app-application-card>
</ng-template>

<ng-template appInfoBoxHost></ng-template>