@import "src/app/shared/styles/navigation-tabs.scss";

.container{
  width: 100%;
}
.tab-wrapper{
  bottom: 4rem;
  position: relative;
}
.dropdown{
  display: flex;
  justify-content: end;
}
@media (max-width: 1024px) {
  .tab-wrapper{
    bottom: 0;
  }
  .dropdown{
    display: flex;
    justify-content: start;
  }
}
.activeInfoBtn {
  color: #3849f9;
  font-size: 30px;
}
.inactiveInfoBtn {
  font-size: 30px;
}
.status-info-icon {
  cursor: pointer;
  margin: auto 1rem;
}