@import "src/app/shared/styles/navigation-tabs.scss";

.container{
  width: 100%;
}
.tab-wrapper{
  bottom: 4rem;
  position: relative;
}
.dropdown{
  display: flex;
  justify-content: end;
}
@media (max-width: 1024px) {
  .tab-wrapper{
    bottom: 0;
  }
  .dropdown{
    display: flex;
    justify-content: start;
  }
}
