.mobile-navigation {
  color: #fff;

  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
  }

  .arrow-back {
    display: flex;
    margin-bottom: 1px;
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin-left: 5px;
    }
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pointer {
    cursor: pointer;
  }

  a {
    font-weight: bold;
    font-size: 16px;
  }
}
