@use 'src/app/shared/styles/components/validation-form';
@use 'src/app/shared/styles/components/create-form';
@use 'src/app/shared/styles/components/dropdown';

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

:host ::ng-deep .mat-select-disabled,
.mat-select-content,
.mat-disabled,
mat-select.mat-disabled {
  opacity: 0.5;
  background-color: rgb(83, 81, 81) !important;
  pointer-events: none;
}
