<div class="wrapper" fxLayout="column" fxLayoutAlign="center space-between">
  <label class="step-label">{{ 'FORMS.LABELS.SUBORDINATION' | translate }}</label>
  <mat-form-field floatLabel="never" appearance="none">
    <mat-select
      [formControl]="instituitionIdFormControl"
      disableOptionCentering
      panelClass="dropdown-panel"
      placeholder="{{ 'FORMS.PLACEHOLDERS.SELECT_SUBORDINATION' | translate }}"
      class="step-input"
    >
      <mat-option *ngFor="let institution of institutions$ | async" [value]="institution.id" class="dropdown-option">
        {{ institution.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-validation-hint [validationFormControl]="instituitionIdFormControl">
  </app-validation-hint>

  <ng-container *ngFor="let hierarchy of hierarchyArray">
    <ng-container *ngIf="hierarchy.shouldDisplay">
      <label class="step-label">{{ hierarchy.title }}</label>
      <mat-form-field floatLabel="never" appearance="none">
        <mat-select
          [formControl]="hierarchy.formControl"
          disableOptionCentering
          panelClass="dropdown-panel"
          class="step-input"
          (selectionChange)="onHierarchyLevelSelect($event.value, hierarchy)"
        >
          <mat-option *ngFor="let option of hierarchy.options" [value]="option.id" class="dropdown-option">
            {{ option.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-validation-hint [validationFormControl]="hierarchy.formControl">
      </app-validation-hint>
    </ng-container>
  </ng-container>
</div>
