<div class="child-activities-wrapper" *ngIf="child.activitiesList.length > 0">
  <h2>{{child.name}}</h2>
  <div *ngFor="let activity of child.activitiesList" class="activity" fxLayoutAlign="space-between none">
    <div class="activity-info">
      <h2><a src="#">{{activity.activityName}}</a></h2>
      <h3><a src="#">{{activity.providerName}}</a></h3>
      <p>{{activity.address}}</p>
    </div>
    <div class="activity-status" fxLayoutAlign="flex-start flex-end" fxLayout="column">
      <h3>Статус: {{activity.status}}</h3>
      <div [ngSwitch]="activity.status">
        <button *ngSwitchCase="'підтверджено'" mat-stroked-button>Залишити</button>
        <button *ngSwitchCase="'очікує підтвердження'" mat-stroked-button>Скасувати запит</button>
      </div> 
    </div>
  </div>
</div>
