
.support {

  &-content {
    text-align: center;
  }
  &-picture {
    width: -webkit-fill-available;
  }
  &-title {
    padding-top: 15px;
    font-size: 33px;
  }
  &-text {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  &-contact {
    font-weight: 700;
    margin: 0;
    padding: 2px 0;
  }
  &-link {
    text-decoration: underline;
    color: blue;
    font-weight: 300;
  }
}
