<ng-container *ngIf = "type === 'requiredField' && invalid; then requiredInput"></ng-container>
<ng-container *ngIf = "type === 'requiredEmptyField' && isEmptyCheck && invalid; then requiredInput"></ng-container>
<ng-container *ngIf = "type === 'validEmail' && isEmailCheck && invalid; then incorrectEmail"></ng-container>
<ng-container *ngIf = "type === 'minDigitsLength' && minLength && invalid; then notEnoughDigits"></ng-container>
<ng-container *ngIf = "type === 'minCharachtersLengthFOP' && minLength && invalid; then notEnoughCharactersFOP"></ng-container>
<ng-container *ngIf = "type === 'validTextField' && forbiddenCharacter && invalid; then incorrectTextField"></ng-container>
<ng-container *ngIf = "type === 'validAddressField' && forbiddenCharacter && invalid; then incorrectAddressField"></ng-container>
<ng-container *ngIf = "type === 'validBuildingNumberField' && forbiddenCharacter && invalid; then incorrectBuildingNumberField"></ng-container>
<ng-container *ngIf = "type === 'validLength' && (minLength || maxLength) && invalid; then invalidLength"></ng-container>

<ng-template #requiredInput>
  <small appValidationMessageStyling>
    Це поле є обов'язковим
  </small>
</ng-template>

<ng-template #incorrectEmail >
  <small appValidationMessageStyling>
    Введіть коректний імейл
  </small>
</ng-template>

<ng-template #notEnoughDigits>
  <small appValidationMessageStyling>
    Це поле має містити {{minCharachters}} цифр
  </small>
</ng-template>

<ng-template #notEnoughCharactersFOP>
  <small appValidationMessageStyling>
    Введіть 10 цифр з ІПН. <br> У випадку внесення паспортних даних введіть 2 перші букви кирилиці та 6 цифр або 9 цифр 
  </small> 
</ng-template>

<ng-template #incorrectTextField>
  <small appValidationMessageStyling>
    "Перевірте введені данні. <br> Використовуйте будь ласка тільки кирилицю та символи ( ' - )"
  </small> 
</ng-template>

<ng-template #incorrectAddressField>
  <small appValidationMessageStyling>
    "Перевірте введені данні. <br> Використовуйте будь ласка тільки кирилицю, цифри та символи ( ' - )"
  </small> 
</ng-template>

<ng-template #incorrectBuildingNumberField>
  <small appValidationMessageStyling>
    "Перевірте введені данні. <br> Використовуйте будь ласка тільки кирилицю, цифри та символи ( ' - / , . )"
  </small> 
</ng-template>

<ng-template #invalidLength>
  <small appValidationMessageStyling>
    "Це поле має містити від {{ minCharachters }} до {{ maxCharachters }} символів"
  </small>
</ng-template>