<form class="city-search">
  <mat-form-field
    fxLayoutAlign="start space-between"
    fxLayout="column"
    class="input-wrapper"  
    appearance="none">
    <input 
      #search 
      ngClass="{{className}}" 
      type="text" 
      matInput 
      [formControl]="cityFormControl" 
      [matAutocomplete]="auto" 
      (focusout)="onFocusout(auto)">
    <mat-autocomplete 
      #auto="matAutocomplete"
      class="city-autocomplete"
      disableOptionCentering
      panelClass="dropdown-panel"
      [displayWith]="displayCityName" 
      (onKeyPress)="onSelect($event)" 
      (optionSelected)="onSelect($event)">
      <mat-option class="dropdown-option" *ngFor="let city of cities" [value]="city" [disabled]="(city.name === noCity)">
        {{city.name}} <br>
        <span class="city-region">{{city.region}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>