:host ::ng-deep .mat-form-field-wrapper{
  padding: 0;
}
:host ::ng-deep .mat-form-field-infix{
  border: none;
}
.city-search{
  min-width: min-content;
}
input {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #161414;
  opacity: 0.4;
  max-width: 100px;
}