
@import "src/app/shared/styles/dropdown.scss";
:host ::ng-deep .mat-form-field-wrapper,
:host ::ng-deep .mat-form-field-infix  {
  padding: 0;
  border: none;
}
.input-wrapper {
  padding: 0.5rem 0;
}
.city-filter {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-transform: capitalize;
}
.city-region {
  color: #161414;
  opacity: 0.6;
  font-size: 14px;
  &:hover{
    background-color: transparent;
  }
}
.mat-option {
  line-height: 20px;
}
