<form class="city-search">
  <mat-form-field appearance="none">
    <input type="text" matInput [formControl]="cityControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (onKeyPress)="onSelect($event)"
      (optionSelected)="onSelect($event)" [displayWith]="displayCityName">
      <mat-option [disabled]="isCity | async" *ngFor="let city of cities$ | async" [value]="city">
        {{city.name}}
      </mat-option>
    </mat-autocomplete>
    <app-city-confirmation *ngIf="isConfirmCity$ | async"></app-city-confirmation>
  </mat-form-field>
</form>