@use 'src/app/shared/styles/components/create-form-wrapper';
@use 'src/app/shared/styles/components/create-form';
@use 'src/app/shared/styles/components/buttons';
@use 'src/app/shared/styles/components/validation-form';
@use 'src/app/shared/styles/components/dropdown';

.warning-box {
  width: 410px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffdab9;

  i {
    color: orange;
  }
}

mat-select {
  img {
    width: 20px;
    height: 20px;
  }
}
