@use 'create-form-wrapper';
@use 'create-form';
@use 'buttons';
@use 'validation-form';
@use 'dropdown';

.warning-box {
  width: 410px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffdab9;

  i {
    color: orange;
  }
}

mat-select {
  img {
    width: 20px;
    height: 20px;
  }
}
