@use 'create-form';
@use 'validation-form';
@use 'dropdown';

:host {
  margin: 5px 0;
}

:host ::ng-deep .mat-form-field-wrapper,
:host ::ng-deep .mat-form-field-infix {
  padding: 0;
  border: none;
}

.address-wrapper,
.address-wrapper-border {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.address-wrapper-border {
  border-bottom: 2px solid var(--input-light-color);
}

.additional-text {
  opacity: 0.5;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 1rem;
}
.custom-input-autocomplete {
  padding: 0.1rem 1rem;
  border: 1px solid var(--input-light-color);
  margin-top: 5px;
  border-radius: 21px;
  line-height: initial;
  box-sizing: border-box;
  height: 36px;
  margin-bottom: 10px;
}

.input-wrapper {
  padding: 0.5rem 0;
}

.redBorder {
  outline: none;
  border: 1px solid var(--error-color);
}

.option-sub-text {
  color: var(--primary-light-text-color);
  opacity: 0.6;
  font-size: 14px;
  &:hover {
    background-color: transparent;
  }
}

.mat-option {
  line-height: 20px;
}
