@import 'src/app/shared/styles/create-form.scss';
@import 'src/app/shared/styles/validation-form.scss';
@import 'src/app/shared/styles/dropdown.scss';

:host ::ng-deep .mat-form-field-wrapper,
:host ::ng-deep .mat-form-field-infix {
  padding: 0;
  border: none;
}

.address-wrapper,
.address-wrapper-border {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.address-wrapper-border {
  border-bottom: 2px solid #e3e3e3;
}

.additional-text {
  opacity: 0.5;
  margin-left: 1rem;
}

h4 {
  margin-bottom: 1rem;
}
.custom-input-autocomplete {
  padding: 0.1rem 1rem;
  border: 1px solid #e3e3e3;
  border-radius: 21px;
  line-height: initial;
  box-sizing: border-box;
}

.redBorder {
  outline: none;
  border: 1px solid #c72a21;
}

.input-wrapper {
  padding: 0.5rem 0;
}

.option-sub-text {
  color: #161414;
  opacity: 0.6;
  font-size: 14px;
  &:hover {
    background-color: transparent;
  }
}

.mat-option {
  line-height: 20px;
}
