.search {
  background: white;
  margin: 1rem 0;
  width: 100%;
  border-radius: 60px;

  .search-city {
    min-width: 219px;
    max-width: 230;
    display: flex;
    justify-content: flex-start;
  }

  .search-bar-wrap {
    width: 100%;
    border-left: 1px solid #E3E3E3;

    .search-bar {
      width: 100%;
    }
  }
}
.max-height{
  max-height: 40px;
}
.city {
  padding-right: 1rem;
}

.icon{
  margin: 1rem;
  color: #AAAAAA;
  line-height: 26px;
}
