@import 'src/app/shared/styles/tables';

.application-status {
  font-weight: 500;
}
.Pending {
  color: #ffbd00;
}
.Approved {
  color: #199953;
}
.Rejected {
  color: #c72a21;
}

td {
  word-break: break-word;
}

#test {
  max-width: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
}