<div [ngClass]="(isMobileScreen$ | async) ? 'container container-mobile' : 'container'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap='1.5rem'>
  <h4 class="card-title" *ngIf="workshop.price" fxFlexAlign="center"> {{ workshop.price }} грн/{{ PayRateTypeUkr[workshop.payRate] }} </h4>
  <h4 class="card-title" *ngIf="!workshop.price"> Безкоштовний гурток </h4>
    <button mat-raised-button class="button button-application" fxLayout="row" fxLayoutAlign="center center" [disabled]="hideApplicationSubmission">
      <a
      [ngClass]="{'disable': hideApplicationSubmission}"
      [routerLink]="['/create-application', workshop.id]" (click)="onOpenDialog()">ПОДАТИ ЗАЯВУ</a>
    </button>

  <!-- <button mat-raised-button class="button button-msg" (click)="login()">
    <img class="button-msg-icon" src="assets/icons/message.png" alt="email">
    Надіслати повідомлення
  </button> TODO: second release-->

  <ng-container *ngIf="isFavorite then disLike; else like"></ng-container>

  <ng-template #disLike>
    <button mat-button class="button button-msg" fxLayout="row" fxLayoutAlign="center center"
      (click)="role === Role.parent && onDisLike()">
      <mat-icon>favorite</mat-icon>
      Додано в улюблені
    </button>
  </ng-template>

  <ng-template #like>
    <button mat-button class="button button-msg" fxLayout="row" fxLayoutAlign="center center"
      (click)="(role === Role.parent) ? onLike() : onOpenDialog()">
      <mat-icon>favorite_border</mat-icon>
      Додати в улюблені
    </button>
  </ng-template>
</div>
