@use '../../../../shared/styles/components/buttons';
@use '../../../../shared/styles/components/side-menu-cards';

.mat-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
  margin: 0 4px 0 0;
}

.button-msg {
  background-color: var(--primary-light-bg-color);
  color: var(--primary-dark-text-color);
}

.button-application:disabled {
  color: var(--secondary-dark-text-color);
}
