<div
  [ngClass]="(isMobileScreen$ | async) ? 'container container-mobile' : 'container'"
  class="flex flex-col justify-center items-center gap-6">
  <h4 class="card-title justify-center" *ngIf="workshop.price">
    {{ workshop.price }} {{ 'UAH' | translate }}/{{ PayRateTypeEnum[workshop.payRate] | translate }}
  </h4>
  <h4 class="card-title" *ngIf="!workshop.price">{{ 'FREE_WORKSHOP' | translate }}</h4>
  <a [ngClass]="{ disable: hideApplicationSubmission }" (click)="onOpenDialog(ModalTypeAction.unregisteredApplicationWarning)">
    <button
      class="button button-application flex flex-row justify-center items-center"
      mat-raised-button
      [disabled]="hideApplicationSubmission">
      {{ 'APPLY_AN_APPLICATION' | translate }}
    </button>
  </a>

  <a (click)="onOpenDialog(ModalTypeAction.unregisteredMessageWarning)">
    <button mat-raised-button class="button button-msg"><mat-icon> email</mat-icon> {{ 'SEND_A_MESSAGE' | translate }}</button>
  </a>

  <ng-container *ngIf="isFavorite; then dislike; else like"></ng-container>

  <ng-template #dislike>
    <button mat-button class="button button-msg flex flex-row justify-center items-center" (click)="role === Role.parent && onDislike()">
      <mat-icon>favorite</mat-icon>
      {{ 'ADDED_TO_FAVORITES' | translate }}
    </button>
  </ng-template>

  <ng-template #like>
    <button
      mat-button
      class="button button-msg flex flex-row justify-center items-center"
      (click)="role === Role.parent ? onLike() : onOpenDialog(ModalTypeAction.unregisteredFavoriteWarning)">
      <mat-icon>favorite_border</mat-icon>
      {{ 'ADD_TO_FAVORITES' | translate }}
    </button>
  </ng-template>
</div>
