table {
  width: 100%;
  mat-icon {
    color: #888;
  }
}
.provider-admin-status {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.Accepted {
  color:#199953;
}
.NeverLogged {
  color: #FFBD00;
}
.Blocked {
  color: #C72A21;
}