@import "src/app/shared/styles/tables.scss";
.statuses {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.Accepted {
  color:#199953;
}
.NeverLogged {
  color: #FFBD00;
}
.Blocked {
  color: #C72A21;
}
.Cancel {
  color:#3849F9;
  font-weight: 500;
}
.tab-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab{
  max-width: 50px;
}