<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="pib" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      ПІБ
    </th>
    <td mat-cell *matCellDef="let element"> {{element.pib}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
      Емейл
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
      Телефон
    </th>
    <td mat-cell *matCellDef="let element">{{constants.PHONE_PREFIX}}{{element.phoneNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="place">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by place">
      Населений пункт
    </th>
    <td mat-cell *matCellDef="let element"> {{element.place || ''}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="deputy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">
      Роль
    </th>
    <td mat-cell *matCellDef="let element"> {{element.deputy}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
      Статус
    </th>
    <td mat-cell *matCellDef="let element"> {{element.status || 'Очікує логування'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="actions" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by actions">

    </th>
    <td mat-cell *matCellDef="let element"> {{'...'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
