@import 'src/app/shared/styles/tables.scss';
.statuses {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.Accepted {
  color: #199953;
}
.NeverLogged {
  color: #ffbd00;
}
.Blocked {
  color: #c72a21;
}
.Cancel {
  color: #3849f9;
  font-weight: 500;
}
.tab-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab {
  max-width: 50px;
}

:host ::ng-deep .mat-icon-button{
  width: auto !important;
}