<div class="wrapper">
  <div [hidden]="!dataSource" class="table-container mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      aria-describedby="users-table"
      appStretchTable>
      <!-- Name Column -->
      <ng-container matColumnDef="pib" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          {{ 'FORMS.LABELS.FULL_NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="tab">
          <div
            [matTooltip]="element.pib"
            showTooltipIfTruncated
            matTooltipClass="tooltip"
            [matTooltipPosition]="tooltipPosition"
            class="tab-text">
            {{ element.pib }}
          </div>
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
          {{ 'FORMS.LABELS.EMAIL' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="tab">
          <div
            [matTooltip]="element.email"
            showTooltipIfTruncated
            matTooltipClass="tooltip"
            [matTooltipPosition]="tooltipPosition"
            class="tab-text">
            {{ element.email }}
          </div>
        </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by phone">
          {{ 'FORMS.LABELS.PHONE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber | phone }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="institution">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by institution">
          {{ 'FORMS.LABELS.SUBORDINATION' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.institutionTitle }}</td>
      </ng-container>

      <!-- Region Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by region">
          <ng-container>
            {{ 'FORMS.LABELS.REGION' | translate }}
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.regionName }}</td>
      </ng-container>

      <!-- Territorial community Column -->
      <ng-container matColumnDef="territorialCommunity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by territorial community">
          <ng-container>
            {{ 'FORMS.LABELS.TERRITORIAL_COMMUNITY' | translate }}
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.catottgName }}</td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">
          {{ 'FORMS.LABELS.ROLE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.role | translate }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
          {{ 'FORMS.LABELS.STATUS' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.isBlocked; else notBlockedUser">
            <div class="statuses {{ userStatuses.Blocked }}">
              <span><i class="status-icon {{ statusIcons[userStatuses.Blocked] }}"></i></span>
              <span> {{ statuses[userStatuses.Blocked] | translate }}</span>
            </div>
          </ng-container>
          <ng-template #notBlockedUser>
            <div class="statuses {{ element.status }}">
              <span> <i class="status-icon {{ statusIcons[element.status] }}"></i></span>
              <span> {{ statusesTitles[element.status] | translate }}</span>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by actions" style="width: 7%"></th>
        <td mat-cell *matCellDef="let user">
          <div class="icons flex flex-row justify-between items-center">
            <button *ngIf="role !== Role.providerDeputy" mat-icon-button [matMenuTriggerFor]="actions">
              <mat-icon class="action-icon">more_vert</mat-icon>
            </button>
          </div>

          <mat-menu #actions="matMenu" class="header_menu">
            <button *ngIf="isEdit" mat-menu-item (click)="update.emit(user)">{{ 'BUTTONS.EDIT_USER' | translate }}</button>
            <!-- user.isBlocked is for Parent's blocking, user.status is for Admin's or Employee's blocking -->
            <ng-container *ngIf="user.isBlocked || user.status === userStatuses.Blocked; then unBlock; else Block"></ng-container>
            <ng-template #Block>
              <button mat-menu-item (click)="block.emit({ user, isBlocking: true })">
                {{ 'BUTTONS.BLOCK_USER' | translate }}
              </button>
            </ng-template>
            <ng-template #unBlock>
              <button mat-menu-item (click)="unblock.emit({ user, isBlocking: false })">
                {{ 'BUTTONS.UNBLOCK_USER' | translate }}
              </button>
            </ng-template>
            <ng-container *ngIf="user.isAdmin && user.status === userStatuses.NeverLogged">
              <button mat-menu-item (click)="sendInvitation.emit({ user, adminType })">{{ 'BUTTONS.SEND_INVITATION' | translate }}</button>
            </ng-container>
            <button mat-menu-item (click)="delete.emit(user)">{{ 'BUTTONS.DELETE_USER' | translate }}</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
