@import 'src/app/shared/styles/tables.scss';
.statuses {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
}
.Accepted,
.Confirmed {
  color: #199953;
}

.NeverLogged,
.Pending {
  color: #ffbd00;
}
.Blocked {
  color: #c72a21;
}

.tab-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab {
  max-width: 50px;
}

:host ::ng-deep .mat-icon-button {
  width: auto !important;
}

::ng-deep .mat-mdc-menu-content {
  padding: 8px 0;
}
