<div *ngIf="(userRole === role.provider) then isProvider; else isParent"></div>

<ng-template #isProvider>
  <div class="add-wrapper" fxLayout='row' fxLayoutAlign='space-between center'>
    <p class="text">Тут ви можете створити гурток, секцію або групу для навчання</p>
    <a [routerLink]="['/create-workshop', '']"><button class="btn" mat-raised-button>Додати гурток</button></a>
  </div>
  <ng-container *ngIf="(workshops$ | async)?.length then ProviderWorkshops; else isEmptyList;"></ng-container> >
</ng-template>

<ng-template #isParent>
  <ng-container *ngIf="(applications$ | async)?.length then ParentWorkshops; else isEmptyList;"></ng-container> >
</ng-template>

<ng-template #ProviderWorkshops>
  <app-workshop-card class="cards" *ngFor="let workshop of workshops$ | async " [workshop]="workshop"
    [isMainPage]="false" [userRole]="userRole" (deleteWorkshop)="onDelete($event)"></app-workshop-card>
</ng-template>

<ng-template #ParentWorkshops>
  <div *ngFor="let child of children">
    <h3> {{ child.firstName }} {{ child.lastName }} {{ child.middleName }} ({{ child.dateOfBirth | date
      :'shortDate'}})</h3>
    <div fxLayout='row' fxLayoutAlign='start center'>
      <app-workshop-card class="cards"
        *ngFor="let application of (applications$ | async | applicationChildFilter : child)"
        [workshop]="application.workshop" [isMainPage]="false" [userRole]="userRole" [application]="application"
        (deleteWorkshop)="onDelete($event)" (leaveWorkshop)="onLeaveWorkshop($event)">
      </app-workshop-card>
    </div>
  </div>
</ng-template>

<ng-template #isEmptyList>
  <p class="empty-list-wrapper">Гуртків поки немає</p>
</ng-template>