<div *ngIf="(userRole === role.provider) then isProvider; else isParent"></div>

<ng-template #isProvider>
  <div class="add-wrapper" fxLayout='row' fxLayoutAlign='space-between center'>
    <p class="text">Тут ви можете створити гурток, секцію або групу для навчання</p>
    <a [routerLink]="['/create-workshop', '']"><button class="btn" mat-raised-button>Додати гурток</button></a>
  </div>
  <ng-container *ngIf="(workshops$ | async)?.length then ProviderWorkshops;"></ng-container>
</ng-template>

<ng-template #isParent>
  <ng-container *ngIf="!(isLoadingCabinet$ | async)">
    <ng-container *ngIf="(applications$ | async)?.length then ParentWorkshops; else isEmptyList;"></ng-container>
  </ng-container>
</ng-template>

<ng-template #ProviderWorkshops>
  <div fxLayout='row wrap' fxLayoutAlign='space-evenly' fxLayoutGap="20px grid" #WorkshopsWrap>
    <app-workshop-card class="cards" *ngFor="let workshop of workshops$ | async " [workshop]="workshop"
      [isMainPage]="false" [userRole]="userRole" (deleteWorkshop)="onDelete($event)"></app-workshop-card>
    <app-workshop-card *ngFor="let workshop of getEmptyCards(workshopsWrap,  widthOfWorkshopCard , workshops$|async)"
      [workshop]="workshop" class="empty-card" [isMainPage]="true">
    </app-workshop-card>
  </div>
</ng-template>

<ng-template #ParentWorkshops>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Активні">
      <ng-container
        *ngTemplateOutlet="ParentApplications; context:{$implicit: applications$ | async  | applicationFilter : [applicationStatus.Pending , applicationStatus.Approved, applicationStatus.AcceptedForSelection] }">
      </ng-container>
    </mat-tab>
    <mat-tab label="Неактивні">
      <ng-container
        *ngTemplateOutlet="ParentApplications; context:{$implicit: applications$ | async  | applicationFilter : [applicationStatus.Rejected, applicationStatus.Left] }">
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #isEmptyList>
  <app-no-result-card [title]="noParentWorkshops"></app-no-result-card>
</ng-template>

<ng-template #ParentApplications let-applications>
  <ng-container *ngIf="applications?.length else isEmptyList;">
    <div *ngFor="let child of (childrenCards$ | async)?.entities">
      <div *ngIf="isApplications(applications, child)">
        <h3> {{ child.firstName }} {{ child.lastName }} {{ child.middleName }} ({{ child.dateOfBirth | date
          :'shortDate'}})</h3>
        <div fxLayout='row' fxLayoutAlign='start center'>
          <app-workshop-card class="cards" *ngFor="let application of applications | applicationChildFilter : child"
            [workshop]="application.workshop" [isMainPage]="false" [userRole]="userRole" [application]="application"
            (leaveWorkshop)="onLeaveWorkshops($event)">
          </app-workshop-card>
        </div>
      </div>
    </div>
  </ng-container>

</ng-template>