@import "src/app/shared/styles/list-wrappers.scss";
@import "src/app/shared/styles/navigation-tabs.scss";
@import "src/app/shared/styles/buttons.scss";
@import "src/app/shared/styles/card-wrapper.scss";
.text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#272425;
}
.child-name {
  color: #444444;
  font-family: 'Innerspace';
  font-weight: 700;
  font-size: 18px;
  margin: 2rem 0;
}
